[2014-08-14 11:23] yvaucher opened #32 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:41] #32 closed, assigned to nobody

[2014-10-17 20:11] agb80 opened #49 "Issue whit multicompany switching"
At this moment I don't have isolate if this is a problem with web_easy_switch_company module or with odoo itself as don't know in deep how the context works.

The situation is as follows:
1.- User have been working with with company A and switch to company B
2.- User tries to print a quotation or a so and gets and permission denied error on partner object, because user object in report thread have

[2014-10-17 23:15] legalsylvain commented on #49
Can you do the same process without web_easy_switch_company installed ?

[2014-10-24 13:37] Alembo opened #50 "Date format"
Dates are exported as "General" format which makes excel calculations a problem. Can you revert this back to the way it was? Export dates as "Date" format.

[2014-10-27 11:29] legalsylvain commented on #50
Could you realize a Pull Request with the correct patch that fix this bug ?
Regards.

[2014-10-27 11:58] Alembo commented on #50
Sorry but I have no experience with Github. I know that in 7.0.1.0 it was working good. After we updated to 7.0.1.1 we have this problem. Can we just download and overwrite 7.0.1.1 with 7.0.1.0 until u guys fix this?

[2014-10-27 12:04] legalsylvain commented on #50
Do you use modules from OCA/Web repository for this extract ? if yes, witch ? and since when there is a problem?
Regards.

[2014-10-27 12:31] Alembo commented on #50
From lp:web-addons/7.0 and update was done via GUI.

[2014-10-27 12:35] legalsylvain commented on #50
and you use the module 'web_export_view', with the button 'export current view' ?

[2014-10-27 13:15] Alembo commented on #50
Yes.
Don't u have this issue?

[2014-10-29 15:06] legalsylvain opened #51 "'web_color' module doesn't work"
Hi all,

I tried today to use 'web_color' module, but it failed. Description of the module is very small. Are some people that use it in some custom modules ?
Regards.

My code:

[From Model]

[code]

[From view]

[code]

[from openerp file]

[code]

At the end, i have a Javascript error. (Mozilla / Chrome)

[code]

[2014-10-29 15:21] max3903 commented on #51
Yes, we use it here :
https://github.com/OCA/management-system/blob/7.0/mgmtsystem_kpi/mgmtsystem_kpi_view.xml#L108

[2014-10-29 15:26] legalsylvain commented on #51
Hi,
Thanks @max3903 for your quick answer. It works fine in non editable tree view, i didn't tested that, but it's ok.
In form view and in tree view (editable=xxx), it fails.

Do you have the same issue ?

Regards.

[2014-10-29 15:31] max3903 commented on #51
I haven't tested it. I guess I would.

[2014-10-29 15:31] pedrobaeza commented on #51
I found the same problem. There's a PR with a better widget as the author @karim-omran says that we could replace with: #37

[2014-10-29 15:35] legalsylvain commented on #51
Yes, this is a 8.0 PR.
Maybe we can imagine to change for the new lib, for 8.0 serie, to fix the problem.

+++

[2014-11-20 21:59] pedrobaeza opened #55 "'help_online' must reside on website repo, not here"
This module is linked to website repo, not web (in the concept of modifications to web client).

[2014-11-20 23:30] legalsylvain commented on #55
Hi Pedro, I don't know this module. In fact it depend of 'website' and doesn't depend of 'web'.
But I don't know if it's a good idea to move a repository in a version used in production. Because if people are using this repository, they will loose the module when pulling last version.
So maybe we can plan to mark this module "to be moved" and plan the move for the 9.0 serie.

What is your point of

[2014-11-21 01:40] pedrobaeza commented on #55
Well, this module has been merged only a while ago (3 weeks), and v8 use is not still widespread, so I don't think it's going to make a lot of harm, but let others say.

[2014-11-21 19:51] foutoucour commented on #55
I agree with @legalsylvain and this refactory should be suggested in master rather in v8.0
It is actually pretty hard to mesure the impact of a such move in the current state

:-1:

[2014-11-22 00:10] pedrobaeza commented on #55
It's not a refactory, only a reubication. As I said, this module lives in OCA only for a couple of weeks, and it's for v8. The impact is minimal, but if we keep here, for v9 the movement it's going to be more difficult.

[2014-11-22 09:33] legalsylvain commented on #55
Hi again. For V9, we can imagine that we'll do the movement before release, and so without impact.
IE:
we move web/8.0/web_online -> website/9.0/__ unported __.

[2014-11-22 09:40] legalsylvain commented on #55
BTW I don't see the OCA/website project (https://github.com/OCA/website) on http://odoo-community.org/page/website.List, do you know where is it ?

[2014-11-23 11:03] pedrobaeza commented on #55
OCA web is still not updated for this project. We should warn someone of OCA board of that. @jgrandguillaume, can you check it, please?

[2014-11-24 09:24] lmignon commented on #55
@pedrobaeza I understand your concern on a technical point of view. Nevertheless, in a functional point of view, the module allows you to write documentation available from the lists and forms in Odoo. IOW,  it allows you to document your 'forms' and 'lists' based on the module  'web'. The entry point for this documentation is a button placed on these lists and forms. The module doesn't extend the

[2014-11-24 10:10] Cedric-Pigeon commented on #55
I agree with @lmignon. We didn't add any features to website module or even changed its behavior. We simply use it as a tool. The real added-value of help_online module is on the backend and not on the website side.

[2014-11-24 10:22] sbidoul commented on #55
That said, hidden inside help_online is the export feature, which is completely generic and could be factored out as a new website_export module.

But that is left as an exercise for future contributors :smile:

[2014-11-24 16:54] pedrobaeza commented on #55
OK, we leave this module here as is.

Thanks for your explanations.

[2014-11-24 16:54] #55 closed, assigned to nobody

[2014-12-25 13:54] lapagept opened #65 "Unable to uninstall, get an error"
[code]

[2014-12-25 13:55] lapagept opened #66 "Get an error each time I log into Odoo"
Only web_shortcuts is installed.

[code]

[2014-12-26 16:06] bwrsandman commented on #66
I don't know web_shortcuts, but it looks like the model doesn't exist.
This is likely the expression that's failing:

[code]

I'm assuming this is the line which causes the error:

https://github.com/OCA/web/blob/61637c566fe34853fa263eac942e3c8f9cbf113d/web_shortcuts/static/src/js/web_shortcuts.js#L49

Ping @adrienpeiffer

[2014-12-26 19:53] pedrobaeza opened #67 "web_sheet_full_width should also expand chatter"
I think that we should also resize chatter area to extend it to full width area. What do you think?

[2014-12-26 22:16] njeudy commented on #67
I agree :)

I did it on v7, we try to PR it this week

[2015-01-02 16:59] njeudy commented on #67
how to add a label on this ? (need review ) :)

[2015-01-02 17:00] pedrobaeza commented on #67
Labels can only by applied by OCA maintainers, sorry. I have added it anyway.

[2015-01-02 17:03] njeudy commented on #67
Ok no problem :)

thanks,

[2015-01-03 18:36] #67 closed, assigned to nobody

[2015-01-05 08:53] mohamedhagag opened #73 "Suggestion web-lang a language based CSS"
Dears,

I would suggest the web-lang module to be added to OCA.

this module adds support for language based css files to load modules and attributes like language direction and styles.

Also there are other general modules like:
- sale and invoice discount information in the web and in reports.
- report-rtl for RTL reports.

https://github.com/mohamedhagag/dvit-odoo8

Regards,

[2015-01-05 09:46] pedrobaeza commented on #73
Hi, Mohamed,

Indeed it's very welcome. You have to clone current repository, add your module as a new commit, and make a PR against the general one.

Regards.

[2015-01-09 16:19] Alembo commented on #50
Do you have a update about this issue? Can I download the earlier version(s) somewhere?

[2015-01-09 17:01] ferdiga opened #75 "web_export_view "Export current view" is not created for Accounting/Journal Items"
as in the title, the  "Export current view" is not created for Accounting/Journal Items - but for all others I have checked it works

IIRC the journal view is somewhat hard coded (hint)

[2015-01-09 17:07] ferdiga opened #76 "web_export_view "Export current view" should be placed in "More" drop down"
to be consistent with odoo "More" policy the  "Export current view"  should be placed in the drop down list and not beside (although I find it quite useful to have it as an extra button)

[2015-01-09 22:58] pedrobaeza commented on #76
This can be easily achieved if people agrees to do it.

[2015-01-09 23:03] nhomar commented on #76
I am agreed with @ferdiga

[2015-01-30 11:02] yvaucher commented on #65
@lapagept Which module are you are you trying to install on odoo 8.0 version?

[2015-01-30 11:06] legalsylvain commented on #49
Hi,
Any news about that bug ?

[2015-01-30 11:14] pedrobaeza commented on #49
We can close it until further notices

[2015-01-30 11:14] #49 closed, assigned to nobody

[2015-01-30 11:15] legalsylvain commented on #75
Can you mention the version of odoo ?
Regards.

[2015-01-30 11:23] ferdiga commented on #75
the journal view is somewhat hard coded.

On 2015-01-30 12:15, Sylvain LE GAL wrote:

[2015-02-16 08:35] pablocm-aserti opened #84 "web_export_view Breaks native xls exportation"
When web_export_view is installed, the xls exportation through "More"->"Export" and changing csv to Excel stops working and raises the following javascript error:

[code]

Tested with 6c9f88b794ef968cc8a553f7059371ec59f2aedb and Odoo version 25b1df2

[2015-02-16 14:14] pedrobaeza commented on #84
Do you have any suspect?

[2015-02-16 15:38] pablocm-aserti commented on #84
The response is a 404 and the native exportation starts working again if you remove the ExcelExport inheritance, so I guess it has to do with the index redefinition.

[2015-02-16 16:40] pablocm-aserti commented on #84
When you have both services - /web/export/xls_view and /web/export/xls - pointing to the same index method, only /web/export/xls_view is in the map rules when [looking for the handler](https://github.com/odoo/odoo/blob/f9d8493ee999f27eb33208c5eb4e52c76656d868/openerp/addons/base/ir/ir_http.py#L61), but I have yet to find why. If I rename index to anything else, both paths are present.

[2015-02-16 18:01] pablocm-aserti commented on #84
[This](http://werkzeug.pocoo.org/docs/0.10/routing/) might be the problem:

[2015-02-19 23:47] pedrobaeza commented on #84
I see. Can we use the same service name for both things?

[2015-03-02 12:55] alejandrosantana opened #88 "web_nocreatedb: Trying to port to v8, unsuccessfully"
Hi,

I am trying to port module _web_nocreatedb_ to v8, without success, so far.

I have some doubts regarding the qweb inheritance, as well as I see difference usage in v7 and v8.
- In v7, the template to inherit and modify (with "Manage Databases" link) is in: `web/static/src/xml/base.xml`, which is added in 'qweb' within __openerp__.py
- In v8, such template is in: `web/views/webclient_template

[2015-03-02 13:16] hbrunn commented on #88
In xpath, you need to prefix attributes in predicates with an `@`. Try
`<xpath expr="//div[@class='oe_single_form_footer']" position="replace">`

But in the template, you'll see that the database manager part is wrapped in
`<t t-if="not disable_database_manager">`
why don't you simply that this flag from the module?

[2015-03-02 13:31] alejandrosantana commented on #88
I thought about it, but... how do I set that flag? t-set? Shouldn't it be done inside the t-call (which I do not know how to reference)?

[2015-03-02 14:00] alejandrosantana commented on #88
@hbrunn Got it!
This is working:

[code]

I will prepare the pull request in the afternoon for review.

[2015-03-02 14:13] alejandrosantana commented on #88
No, it is not working, though it worked once. But reloading it, just make it reappear.
I will work on it.

[2015-03-02 14:21] alejandrosantana commented on #88
It is only working if I select the database in which I installed manually the module.
If I choose another database, it shows again.
Therefore, either `--load=web,web_nocreatedb` or `auto_install = True` are failling.

Any clue?

[2015-03-02 14:47] hbrunn commented on #88
makes sense: `auto_install = True` only has an effect if you update your module list and upgrade modules. v8 style templates only live in the database, so they must be installed in every database you want this to be in effect, and `--load` only causes the code to load, not database changes being done.

What to do? As it's only a cosmetic module anyways (we can still access the database manager by

[2015-03-02 16:52] alejandrosantana commented on #88
So auto_install and --load ares almost useless in this situation.
OK, I will explain it in module description.

[2015-03-03 01:30] alejandrosantana commented on #88
Solved and made a pull request here: https://github.com/OCA/web/pull/89

[2015-03-03 01:30] #88 closed, assigned to nobody

[2015-03-05 11:22] pablocm-aserti commented on #84
I think we can't, but I haven't seen any drawback to renaming the method. Both native and view exportation work when you rename it.

[2015-03-05 11:24] pedrobaeza commented on #84
OK, let's see if there is any problem in the review process that we haven't seen.

[2015-03-09 10:19] #84 closed, assigned to nobody

[2015-03-09 18:13] matthieuchoplin commented on #66
Hi,

I do not think that the use case given is acurrate enough to reproduce the issue.

I think this is likely what has happened (and what I have reproduced):
- the app web_shortcuts is installed, so the star icon is created to be able to add shortcut
- the app web_shortcuts is uninstalled, the end user expects that the star icon gets removed but it is still there
- the end user click on it the st

[2015-03-14 08:49] pedrobaeza opened #97 "Migration of web_tree_many2one_clickable to 8.0"
I'm performing it, so that anyone starts the work separately.

[2015-03-20 11:25] hbrunn commented on #51
I confirm the module doesn't work for forms in 7.0. Backporting the 8.0 module seems the simplest solution to me

[2015-03-29 00:30] ghost opened #106 "Web module to replace Window tabs - 'Odoo' page Titles"
Hi
Can you please create a module for replacing all page titles in Odoo ?
it would be much appreciated.

[2015-04-15 15:11] thomaspaulb opened #116 "web_easy_switch_company: menu items wrapping"
I've noticed an issue that when the "easy switch company" menu item is inserted into the top bar, the other menu items don't "contract" to make space for this new item, and thus the new item wraps to the next line.

However, on screen resize the "menu_bound" event is executed and the size of the section with normal menu items is recalculated, some items are shifted to the "More" menu, and it all f

[2015-04-15 15:16] legalsylvain commented on #116
Hi, thanks for reporting this bug. Can you indicate the version you use ? 7.0 / 8.0 ?
- i use this module in 7.0, and I don't have any problem, but I'll take a look.
- I didn't test the  module ported in V8.0.

[2015-04-15 15:21] sbidoul commented on #116
Hi, we are using the module on 8.0 and I did not notice anything wrong. Can you post a small screenshot or video illustrating the issue?

[2015-04-15 15:48] pedrobaeza commented on #116
Hi, I confirm that this happens sometimes when you update browser page, switching for example the company, but I don't have an exact trace.

[2015-04-15 16:00] antiflu commented on #116
![screenshot from 2015-04-15 17 58 48](https://cloud.githubusercontent.com/assets/1466356/7163255/56a5515e-e399-11e4-8cd3-e92e5a112c67.png)

[2015-04-15 16:03] thomaspaulb commented on #116
![screenshot](https://cloud.githubusercontent.com/assets/1466356/7163338/b8f50b7e-e399-11e4-9668-0dc855ef8f23.png)

[2015-04-15 20:47] legalsylvain commented on #116
@antiflu : Could you realize a PR with your fix ?

[2015-04-16 08:20] pedrobaeza commented on #97
I close it, because it's done.

[2015-04-16 08:20] #97 closed, assigned to nobody

[2015-04-16 08:20] pedrobaeza commented on #97
For the records, the PR was https://github.com/OCA/web/pull/113

[2015-04-16 09:34] thomaspaulb commented on #116
It feels like an ugly workaround but at least it works for my client. In my experience this only occurs in 8.0, in Chrome, and only when there are a lot of menu items obviously. Also, the problem disappears when you somehow resize the screen (eg by opening the Javascript console or moving the window). That's also the nature of this workaround it triggers a resize event after things are rendered

[2015-04-17 11:56] pedrobaeza opened #121 "Migrate new features of web_m2x_options to 8.0"
Done in #120

[2015-04-20 08:34] ecino opened #123 "Standardize web_m2x_options boolean parameters"
Boolean parameters in module web_m2x_options are declared with lowercase characters in views (true/false) and in capital letters in the system parameters (True/False).

One way should be chosen and used everywhere, or they should be automatically put to lowercase so that the user can use both ways.

[2015-04-20 08:36] pedrobaeza commented on #123
I think we can make it tolerant to upper/lowercase, uniformizing on the comparison to any of them.

[2015-05-12 08:40] iceship opened #136 "web_export_view "Export current view" exports with image filed."
I'm using the 'web_tree_image' module.

But I couldn't export image field.

Is there any way that export to excel with image?

Thank you

[2015-05-12 08:55] pedrobaeza commented on #136
Not for now. If you want to develop it...

[2015-05-12 15:55] lukebranch commented on #136
@iceship ,

Do you need an image thumbnail in the excel spreadsheet, or just base64?

If you're just looking for a method to add an image to an excel spreadsheet I suggest using Aeroo reports.

You'll need to create a custom report template to place the image on the spreadsheet, however I use this quite often for invoices, product catalogs and other reports.

I'll post a few templates as examples

[2015-05-13 01:25] iceship commented on #136
Thanks a lot!
 I'll try to use Aeroo reports.

[2015-05-13 01:25] #136 closed, assigned to nobody

[2015-05-13 13:15] lukebranch commented on #136
@iceship ,

no problem. i'd recommend subscribing to that forum post I mentioned above. I'll post some updates and a link to another forum post with some basics on getting started with building Aeroo reports templates in the next few days when I can find an hour or two to spare.

In the meantime i'd recommend hitting the help.odoo.com forum and the forum on alistek.com, and this tutorial:

http://

[2015-05-18 19:32] michaeljohn32 opened #137 "web_export_view - Export all rows of view"
When a user checks the "check all" check box at the top of a tree, web_export_view should export all rows of the related tree view using the domain, not just the currently visible rows.

[2015-05-18 19:34] pedrobaeza commented on #137
I don't agree. If you want that behaviour, click on Unlimited on record number and then click again on "Check all". Anyways, technically, to perform what you ask, all the code must change to accomodate to the new approach, so is nothing that cannot be done easily.

[2015-05-18 19:34] #137 closed, assigned to nobody

[2015-05-18 20:39] michaeljohn32 commented on #137
As I think about it, that is a reasonable workaround.  Thanks for considering this issue.

[2015-06-01 14:39] gurneyalex opened #141 "[7.0] web_pytz: prevents from connecting to instance"
When this addon is installed, the instance becomes unusable.

[code]

this is from web_pytz.js (line 55, col 12)

[2015-06-01 14:40] gurneyalex commented on #141
@hbrunn if you have any idea what is amiss your advice is welcome.

[2015-06-01 14:47] hbrunn commented on #141
I'd start with verifying that `static/lib/moment-timezone.min.js` is loaded

[2015-06-01 14:56] OSguard commented on #141
i just figure out that this is the reason why runbot not working:
http://2947807-7-0-5b1147.runbot2.odoo-community.org/?db=2947807-7-0-5b1147-all&debug=

[2015-06-01 16:23] OSguard commented on #141
after installing web_list_html_widget together with web_pytz it fails, i will validate this with a new database

[2015-06-01 16:47] OSguard commented on #141
now the error hits after installing "web_nocreatedb" Oo

[2015-06-01 17:07] OSguard commented on #141
you need to install this 13 modules to reproduce the error:
            name             |                                 author
-----------------------------+------------------------------------------------------------------------
 web_m2x_options             | Tuxservices,Odoo Community Association (OCA)
 web_list_html_widget        | initOS GmbH & Co. KG,Odoo Community Association (OCA)
 web_r

[2015-06-01 17:58] hbrunn commented on #141
@OSguard any chance `web_relativedelta` is the culprit? This also pulls `moment.js`, but in an older version (2.6.0 vs. 2.8.3). The first who loads wins, and it seems like that's the case for the 2.6.0 version. Maybe `moment-timezone.js` refuses to load with this version?

It _should_ not be a problem to simply update `web_relativedelta`'s `moment.js` For a quick and dirty test, I'd simply copy `w

[2015-06-01 18:02] hbrunn commented on #141
...if you do the update, don't repeat my mistake and use the non-minified versions. OpenERP minifies them anyways, and this way, you save a lot of headaches when debugging

[2015-06-01 18:07] OSguard commented on #141
only installing both modules are fine. Having all other modules install always failing. So this was also my first idea but i find no evidence for that. But i can try to replace it in my broken installation. (but not today)

[2015-06-01 18:18] hbrunn commented on #141
have a look at load order. On the runbot you linked, `web_pytz`'s momentjs is loaded first and then probably overwritten by `web_relativedelta`'s version. If on your isolated database this order is reversed, then things should be fine. So the trick is for your test to manipulate load order to test both cases.

[2015-06-01 18:19] hbrunn commented on #141
Of course not today, now you code sprinters should go for the well deserved belgian beers!

[2015-06-01 18:23] hbrunn commented on #141
another hypothesis: The `lib`-mechanism should avoid loading the same library multiple times, and to my knowledge, this goes by filename. But here, one is called `moment.min.js` while the other is `moment.js`, possibly this screws up things? Try changing the `min`-version to just `moment.js` and see if odoo still loads both. If everything works then, you might still give the update a try in order

[2015-06-02 07:38] OSguard commented on #141
- rename to `moment.js` loads both with the same name and error still there
- replacing the older version with '2.8.3' also did not solve the problem.

[2015-06-02 07:41] OSguard commented on #141
removing one `moment.js` from one of the modules solves the problem.
I suggest either:
- merge the two modules in one
- make a single module with only holds the lib for moments.js

@hbrunn and @gurneyalex what do you think?

[2015-06-02 07:58] hbrunn commented on #141
depending both on a module `web_moment` seems the proper choice then in my opinion.

[2015-06-02 08:31] OSguard commented on #141
@hbrunn can you do this, as you are more familiar with this modules?

[2015-06-02 08:33] hbrunn commented on #141
yes, but not before end of this week

[2015-06-03 08:33] hbrunn commented on #141
@OSguard @gurneyalex I proposed a fix in #142

[2015-06-09 10:11] hbrunn commented on #141
closed as of #142

[2015-06-09 10:11] #141 closed, assigned to hbrunn

[2015-06-12 05:06] szufisher opened #146 "web_advanced_search_x2x one2many field error"
after install web_advanced_search_x2x  successfully,
for one2many field, there is error message

 Odoo Client Error

Error: cannot call methods on autocomplete prior to initialization; attempted to call method 'widget'

http://localhost:8080/web/js/web.assets_common/fc0ec0a:216

[2015-06-12 05:34] hbrunn commented on #146
please activate debug mode and post the error message it provides then

[2015-06-23 15:56] RoelAdriaans opened #151 "[8.0] web_ckeditor4 does not work in email templates/mako"
With the web_ckeditor4 enabled, editing an email template breaks the template.

The code before saving is, for example:

[code]

and after saving:

[code]

The missing enters break the mako formatting engine, you have to edit the template by hand..
This is in 8.0.
(Ninja edit, `%endif` is not removed)

[2015-06-23 15:59] pedrobaeza commented on #151
And `% endif` is also removed?

@antespi, you have also this issue, doesn't it?

[2015-06-23 16:07] RoelAdriaans commented on #151
@pedrobaeza %end if is not removed, it's on a new line with the next % if next to it.
I've updated my paste..

https://github.com/0k/web_ckeditor/issues/4 seems to be the same issue

[2015-06-26 22:31] shriramrs31 opened #157 "web tree view presenting download link instead of picture"
I  installed both the apps web_tree_image and product_image_list_view and I am still getting only download links instead of images in tree view. In sale order line, I am able to see an image. But when I edit the product.template tree view (warehouse -> products) to add "<field name="image_small" widget='image'/>" I am seeing only download link instead of the images.

After some debugging, I found

[2015-06-28 03:06] pedrobaeza commented on #151
I think that has to be treated on the ckeditor4 JS widget itself, not here, but @hbrunn should say about this

[2015-06-29 06:29] hbrunn commented on #151
To fix this, we'll have to dive into ckeditor's internals, I think. http://docs.ckeditor.com/#!/api/CKEDITOR.htmlDataProcessor seems to be a good starting point. Or this looks even better: http://docs.ckeditor.com/#!/api/CKEDITOR.config-cfg-protectedSource

[2015-06-29 10:12] antespi commented on #151
@pedrobaeza yes, we have the same issue.
@hbrunn yes, protectedSource regex maybe fix this.

[2015-06-29 22:44] rafaelbn commented on #151
@hbrunn did you detect the same issue using https://github.com/OCA/crm/tree/8.0/newsletter when creating/editing emails templates Under Sales/Configuration/Newsletter type? (as newsletter installs ckeditor)

[2015-06-30 06:48] hbrunn commented on #151
@RoelAdriaans-B-informed @pedrobaeza @antespi @rafaelbn

I think @lfreeke mentioned this problem once.

Should be fixed by #158

[2015-06-30 06:50] #51 closed, assigned to hbrunn

[2015-07-06 14:52] rafaelbn opened #166 "[8.0] web_advanced_search_x2x - Javascript error"
module: web_advanced_search_x2x
version: 8.0

**Steps to reproduce**
- Install project module
- Go to project -> tasks
- Unfold advanced search
- Select "stage" field
- click on the down arrow

**Current behavior**

The following client error appears:

`Uncaught Error: NameError: name 'project_id' is not defined`

**Expected behavior**

The drop-down appears allowing to select the stage

[2015-07-06 14:52] rafaelbn commented on #166
cc @hbrunn

[2015-07-14 15:38] rafaelbn opened #175 "[8.0] web_advanced_search_x2x - Fields translated in Odoo are not seen translated in the advaced seach"
module: web_advanced_search_x2x
version: 8.0

**Steps to reproduce**
- Go to any field and select "is in selection"
- In the new pop-up window Unfold advanced search
- All fields of model appears in English even though fields are translated

**Current behavior**

Inside advance search all fields appears not translated

**Expected behavior**

See translated all fields that are already traslated in

[2015-07-14 18:01] lefeverd opened #176 "[8.0] web_ckeditor4 javascript error in Webkit based navigators when saving"
module: web_ckeditor4
version: 8.0

**Steps to reproduce**
- Open a record containing a text_html widget in a Webkit based navigator (Chrome, Safari)
- Edit, leave the value in the text_html empty
- Save

**Current behaviour**
It raises the following error:
TypeError: undefined is not an object (evaluating 'self.editor.name').

**Expected behaviour**
The record should be saved without errors

 /cc

[2015-07-16 16:08] clonedagain opened #177 "web_advanced_search_x2x : field names are not translated in the advanced search of the search popup"
If using another language but English, when you make an advanced search > in selection, and in the search popup you make another advanced search, the names if the fields are not translated.
![capture du 2015-07-16 18 05 28](https://cloud.githubusercontent.com/assets/391953/8728485/a7cc0c50-2be5-11e5-977d-0ebab401bc0b.png)

[2015-07-17 09:00] hbrunn commented on #177
duplicate of #175

[2015-07-17 09:00] #177 closed, assigned to nobody

[2015-07-17 09:33] clonedagain opened #179 "web_advanced_search_x2x automatically excludes inactive records"
If I use web_advanced_search_x2x for example in reporting>invoice analysis, to search for articles with certain features (for example a specific pricelist), it automatically also restricts to the active articles only.
Inactive articles are excluded and can't be re-included afterwards.
If want to include inactives, I must search for products with "my criteria AND (active=true OR active=false)".

It

[2015-07-17 10:05] hbrunn commented on #179
This is odoo's standard behavior, to change this, we'd have to put `{'active_test': False}` into the context by default. I dont think this is a good idea, because then we'd also see objects that are inactive for good reasons.

[2015-07-17 16:31] bjoliveau opened #183 "traceback info with runbot on "settings" menu"
Get this traceback in http://3110944-8-0-206567.runbot1.odoo-community.org

Odoo Server Error

Traceback (most recent call last):
  File "/srv/openerp/instances/openerp-oca-runbot/parts/odoo-extra/runbot/static/build/3110944-8-0-206567/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/srv/openerp/instances/openerp-oca-runbot/

[2015-07-20 09:05] clonedagain commented on #179
I'm not convinced it's right to accept and extend Odoo's default behavior in this case.
The behavior users expect is that the _main_ model is filtered on "Active=True", not the related models.
i.e. when a partner is inactive, you can still find it's related invoices.

The problem is that, as it is now, the implicit criteria "active=True" makes the "user experience" inconsistent.
For example:
- sea

[2015-07-23 09:37] Yenthe666 opened #185 "Implementing color picker in forms / calendar items"
Hi guys,

The module 'web_widget_color' is really great and cool. I was wondering if it would be possible to add support for (calendar) items in kanban view? There is currently nothing built that gives the ability to modify colors on calendar items and/or calendar users.
Give me some ideas / input and I will try to contribute. I personally need the ability to set colors on agenda items so I'll try

[2015-07-23 09:41] Yenthe666 commented on #185
@ah-taktik, @OSguard and @pedrobaeza could you guys give input on this please? :+1:
One of the things that I already tried in the popup for calendar items:

[code]

But somehow the color picker is not even showing up.

[2015-07-23 16:44] StefanRijnhart commented on #176
@lefeverd can you test #186 and post your review? I have set it to Work-in-progress until I have your confirmation that this fixes the issue.

[2015-07-25 14:26] alanljj opened #189 "can't open in Local Models"
after installed, I can't open it in Local models, here is pop error message:

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/openerp/http.

[2015-07-25 18:00] dreispt commented on #189
Your traceback seems to be related to rendering an RST module description to HTML.
Where you trying to see a module in form view? Which module?

[2015-07-26 03:48] alanljj commented on #189
Thank you for your reply. The model is Web Option Auto Color / web_option_auto_color.

I just click Setting - Models - Local Models, then click the icon of Web Option Auto Color

[2015-07-26 13:43] dreispt commented on #189
I reproduced the issue:

[code]

[2015-07-26 14:51] #176 closed, assigned to StefanRijnhart

[2015-07-27 13:57] Yenthe666 commented on #185
@dreispt a little ping to you too :blush:

[2015-07-27 14:01] dreispt commented on #185
@Yenthe666 I'm sorry, I'm not familiar with that module.

[2015-07-27 14:10] Yenthe666 commented on #185
No problem @dreispt , it was just a wild attempt! If you know anybody feel free to drop them a ping. I'd love to build this and share it with OCA / the community.

[2015-07-30 17:49] pedrobaeza commented on #179
I agree with @clonedagain about the reasoning on the feature, but I think that there's a technical problem to implement this correctly. @hbrunn, is this correct?

[2015-07-30 19:12] hbrunn commented on #179
In most cases, it should be enough to put `active_test: False` in the context, analyze the current search domain if it contains the active field, the model if it has an active field, and finally add `('active', '=', True)` if all this checks go right.
But still, we'll run into subtle weirdnesses as described in https://github.com/odoo/odoo/issues/3939 - especially the explanation linked in the sec

[2015-07-30 19:13] #175 closed, assigned to hbrunn

[2015-08-01 12:26] bealdav opened #191 "web_environment_ribbon, hides menu bar"
Thanks for you nice work on it, but.

module: web_environment_ribbon
version: 8.0
current firefox

**Steps to reproduce**
- install the module

**Current behavior**
The ribbon hides the menu bar

**Expected behavior**
Could you add a margin-top, please

[2015-08-01 12:34] pedrobaeza commented on #191
In my tests I haven't had any special problem clicking on the parts I want. It's right that the ribbon makes impossible to click what is behind it, but as the ribbon itself is thin, it doesn't hide completely any element. Maybe this behaviour changes across browsers?

[2015-08-01 19:12] pedrobaeza commented on #179
Well, looking at the issue, this is only due to the child_of operator and the partner hierarchy implementation, which is not one of the allowed in the advanced search, so I still think that we can provide this facility in the module, and 99% of cases will be correctly treated.

[2015-08-02 19:24] #189 closed, assigned to nobody

[2015-08-02 19:26] pedrobaeza commented on #189
I have fixed it directly due to the severity.

[2015-08-03 04:54] amonang opened #193 "help_online not working in Chrome"
Tried the help_online module today but it did not work on Chrome (Latest - Version 44.0.2403.125 m). Opened up the same site on Firefox and it worked. Is this a known issue? Are there workarounds?

[2015-08-03 04:55] amonang commented on #193
Odoo version is 8.

[2015-08-03 11:47] pedrobaeza commented on #193
I have tried it on runbot and the module is working fine in both browsers, so it should be something on your side. Please try to reproduce the problem in runbot.odoo-community.org.

I close this for now.

[2015-08-04 04:05] amonang commented on #193
tested the module on runbot although the module installed the button generated is not clickable on Chrome. the tool tip is also not showing ("Create Help page for...")

[2015-08-04 05:59] nhomar commented on #193
2015-08-03 23:05 GMT-05:00 amonang notifications@github.com:

If you share a little vide, trying it in runbot (not locally, runbot) it
will be more easy to help you @amonang

##

---

Saludos Cordiales

CEO at Vauxoo https://www.vauxoo.com Odoo's Gold Partner.

[image: --]
Nhomar Hernandez
[image: http://]about.me/nhomar
http://about.me/nhomar?promo=email_sig

[2015-08-04 06:53] nhomar commented on #106
@Beast141 You can make a PR help is welcome, and without enought information of the use cases you need I will mark this as invalid and question.

Actually in odoo you can overwrite with a simple xmls all title as you wish.

[2015-08-04 06:53] #106 closed, assigned to nobody

[2015-08-04 06:57] nhomar commented on #66
@matthieuchoplin did you clear your cachñe, it is extrange it do not disappear with the uninstallation.,

[2015-08-04 09:13] RoelAdriaans commented on #151
#158 did not fix this issue

[2015-08-05 08:49] rafaelbn commented on #151
As #158 didn't fix this issue, are any of you interested in fixing it? Are you using this module en production enviroments? We are still not using this module as corrupts many standards functionalities.

[2015-08-05 12:46] rafaelbn opened #194 "[8.0] web_advanced_search_x2x - Usability in Popup window"
module: web_advanced_search_x2x
version: 8.0

Steps to reproduce
- Go To Clients
- Unfold advanced search
- Select "Company" (for example)
- Choose option "is in selection"
- In the pop-up window you can check as in the picture that 'X' to close windows hides a little bit

Current behavior

https://cloud.githubusercontent.com/assets/8736623/9080061/83cfe75c-3b50-11e5-811c-90f066c1e066.png

Expecte

[2015-08-05 15:19] dreispt commented on #193
I confirm the issue. It works with Firefox and Edge.
But tried with Chrome (v 44), and the help button does nothing.

[2015-08-05 15:29] pedrobaeza commented on #193
Uhm, it seems then a regression introduced in a new version of Chrome, because in my version (v38) it works.

[2015-08-05 15:58] pedrobaeza commented on #194
I also faced this problem.

@hbrunn, can you please check?

[2015-08-06 07:02] nhomar opened #197 "[TEST] The module help_online has incorrect dependencies."
The module help_online depende of anybox for testing, is that ok for us? when you run with test enabled and such modules intitated you receive this message:

[code]

[2015-08-06 07:12] pedrobaeza commented on #197
We shouldn't depend in anything outside OCA, so at first instance, it should be not.

[2015-08-06 07:16] nhomar commented on #197
Ok, then I will try to remove such tests and include some of them using nose (de official one)

[2015-08-06 07:23] nhomar opened #198 "[IMP] help_online and help_popup should be merged."
Both modules has interesting concepts and basically the same bad things.

I did something like this concepts for v7.0 and I think the concept is almost mandatory, then to bring back a strong solution I propose:
- [ ] From help_online the concept of a functional user editing the help is cool.
- [ ] From help_popup the concept of mnantain original help, technical help and functional help is good.
-

[2015-08-06 07:48] lmignon commented on #197
@pedrobaeza, the depency rules is for modules not for python lib. anybox.testing.openerp is a pythonlib that ease the way to write tests for Odoo. IMO, the rule is not applicable to this case.

[2015-08-06 07:50] lmignon commented on #197
@nhomar IMO, you don't need to refactor the tests. You just need to install anybox.testing.openerp with pip

[2015-08-06 07:57] pedrobaeza commented on #197
OK, I didn't know about pip package existence. Sorry for the confusion.

[2015-08-06 07:57] nhomar commented on #197
I know with a pip it can be solved, no issue with that, but until the rule is saves and anybox tests are under the OCA maintainance there is no way to have modules with such external dependencies which are redundant function from the core ones.

nosetest can do the same job (in a different way) but it can.

[2015-08-06 07:59] nhomar commented on #197
I read your test, and all what you do there with anybox can be done for sure with base test case. Can you  enlight me what is the real difference between the tool you used and the unittest2 or nose?

[2015-08-06 08:35] lmignon commented on #197
@nhomar SharedSetupTransactionCase inherit from  openerp.tests.common.SingleTransactionCase that inherit from BaseCase that inherit fom unittest2.TestCase. Therefore is a conventional unittest2.
SharedSetupTransactionCase provides a way to reduce the time required to run tests. It's not redundant to the core it's an enhancement of what is provided by the core. see https://bitbucket.org/anybox/anyb

[2015-08-06 08:46] dreispt opened #199 "Favicon feature"
It would be nice to be have a feature allowing to set the favicon for an Odoo instance or, if possible, depending on the active Company.

Can experts comment if this is feasible? Given some guidelines I could try a PR.

[2015-08-06 08:54] hbrunn commented on #199
This should amount to a module that puts `<link rel="shortcut icon" ...` in the template `website.layout`. This could read the current (current as in the website's) company for the icon itself. But without multi website, you'll be stuck with the company your website isl inked to.

[2015-08-06 08:55] hbrunn commented on #199
PS: I think this is an issue for https://github.com/OCA/website

[2015-08-06 08:56] lmignon commented on #198
@nhomar When building a solution for a client, the documentation to provide is the final one IOW it must describe how the user can do its job with the apps.

In the final solution, it's common to have a lot of modules assembled to cover the needs of the client. Therefore, there are no proper way to merge the doc provided by each modules individually  in a user readable form. The goal behind 'help_

[2015-08-06 09:06] dreispt commented on #198
@nhomar The point for `help_popup` is to not he the `website` dependency, and that's why both exist.
Maybe they should be named `web_help` and `website_help`...

Other than that (different content editing strategy), I agree features provided should tend to be the same for both. Not easy but maybe `website_help` could be written as an extension for `web_help`.

[2015-08-06 09:12] dreispt commented on #199
My personal "pain point" is that my browser as tabs opened in multiple Odoo environments, and a different favicon per instance (or instance/company) would be very helpful.They may not have website enable, so this would be best as a `web` feature.

[2015-08-06 09:14] nhomar commented on #199
@hbrunn We did ii, at the end we will need 2 modules website_favicon and web_favicon let me port what we did for www.vauxoo.com which is already working (wired in our theme but I can extract it).

It is fairly simple.

[2015-08-06 09:15] hbrunn commented on #199
ah, then you'll need to change it in two places anyways, one `web_favicon` and `website_favicon` that depends on this

[2015-08-06 09:15] hbrunn commented on #199
@nhomar I wrote my stuff before I saw yours, exactly that

[2015-08-06 09:16] nhomar commented on #199
jejejeje yes....

[2015-08-06 09:24] nhomar commented on #198
@dreispt exactly that's what I tried to say.

[2015-08-06 09:26] nhomar commented on #198
@lmignon Absolutly agreed.
But we can have a first approach for the doc and a section for the customized part.

That concept the module from akretion is respecting it perfectly, techincal section / odoo section / functional section / and.... integaration section.

You module is really cool but IMHO both modules are overlapping functional conceptps but they are complimentary.

[2015-08-06 09:32] lmignon commented on #198
@nhomar Curious to see how it's possible to assemble documentation on the same model provided by 2 different modules?

[2015-08-06 09:36] dreispt commented on #198
@lmignon not possible, but the "vision" is that `website` could be seen as an upgrade path for `web` module. Maybe some sort of migration scripts could be added?

[2015-08-06 09:37] dreispt commented on #199
So, I get to choose then... :wink:

[2015-08-06 10:08] lmignon commented on #198
@dreispt Sorry but I don't understand what you say.

[2015-08-06 13:18] dreispt commented on #198
I mean that, ideally, `website`would depend on `web` and it would provide a migration for the `web` help content to the `website` format.
From the end user side, they almost wouldn't notice the difference.
From the content creator side, it would just be that the content authoring engine is different.

[2015-08-06 16:42] nhomar commented on #197
2015-08-06 3:35 GMT-05:00 Laurent Mignon (ACSONE) notifications@github.com
:

No.

What I think is simple and straight forward.

IF: The extralib give me an really good enhancement.... coo! I installit
and all ok.

But If we have declared one repository and only for 1 tests which can be
done with base I need to dedicate to make a pip install with something not
which I do not know why it adds value

[2015-08-07 09:17] lmignon commented on #197
@nhomar  you are free to change the code. The module has been developed in the context of a large project where we taken advantage of the functionalities provided by the SharedSetupTransactionCase to speed up our tests and ease their developments. The choice of using this library in our projects is a maturely considered choice.

[2015-08-12 03:14] muhammadfarizarya opened #202 "Html tag show on odoo pdf report"
![screenshot from 2015-08-12 10 3a08 3a55](https://cloud.githubusercontent.com/assets/3858791/9215868/cbb0ab1c-40da-11e5-8395-bdaf21128aa9.png)
Anyone know how to fix this?

[2015-08-12 04:20] hbrunn commented on #202
the reports does a `t-esc` while it should be a `t-raw`

[2015-08-12 06:37] #202 closed, assigned to nobody

[2015-08-15 16:07] sbidoul commented on #197
Can't this be solved by simply adding anybox.testing.openerp in `external_dependencies` ?

[2015-08-15 18:34] nhomar commented on #197
@sbidoul

Yes, but the point is not which external dependency we should add, the point is that If the dependency really add a value in an specific OCA module then cool.

On this especific case and just on this specific case (I am not generalizing) it do not add any, because even such tests are possible to be done without such dependency.

And the impact of add an extra dependency is not always as

[2015-08-20 14:15] ckasimis opened #208 "When web_relativedelta will be ported to 8.0?"

[2015-08-20 14:16] hbrunn commented on #208
when somebody pays for it

[2015-08-20 14:23] pedrobaeza commented on #208
...or contribute with its migration

[2015-08-27 20:46] rafaelbn commented on #146
@szufisher please reproduce issue and post here as indicated. If not please close issue. We cannot reproduce this error.

[2015-08-27 20:47] rafaelbn commented on #194
Please the usability also affect like this, could you give us a tip @hbrunn ?
![09-09-2015 20-03-20](https://cloud.githubusercontent.com/assets/8736623/9770010/e1e47c06-572d-11e5-9096-5a25e5e26183.png)

[2015-08-27 20:50] rafaelbn commented on #166
Hi, any ideas to solve this issue? Thanks
cc @antespi

[2015-08-28 20:19] hbrunn commented on #194
this must be caused by some interaction between this module and something else. In a nearly vanilla database, it looks like this:
![ss1](https://cloud.githubusercontent.com/assets/2563186/9556081/43e5f3ae-4dd2-11e5-9e5e-2d91341c7d54.png)
which is not astoundingly beautiful, but that's a known bug. What I see here makes it unusable, but is there chance that this is caused by a tree view (plus conte

[2015-08-28 20:23] hbrunn commented on #194
to stay in @rafaelbn's example from the beginning: How does the 'Search more' screen look for many2one fields referring to companies? That should have the same problem, I guess

[2015-08-28 20:25] hbrunn commented on #166
@rafaelbn please turn on debug mode and post the js backtrace of this problem. I assume the addon should evaluate a context or domain here while it doesn't.

[2015-08-28 21:41] #208 closed, assigned to nobody

[2015-09-02 13:28] amonang commented on #193
Was trying this again and I hope this info will help.
I did these steps and made the button clickable.
1. On chrome, Right click then inspect element on the button.
2. Drill through until the <a> tag
3. Right click then edit as html
4. Place a letter in between the <a>tags
5. Hover on botton shows the tool tip.
6. Click on button shows the add page dialog box

Although this method adds another ico

[2015-09-02 13:30] amonang commented on #193
With the tags I mean the < a > tag

[2015-09-04 09:34] hbrunn commented on #146
closing due to obious lack of interest from the side of issue creator

[2015-09-04 09:34] #146 closed, assigned to nobody

[2015-09-04 09:36] hbrunn commented on #121
done in #209

[2015-09-04 09:36] #121 closed, assigned to nobody

[2015-09-04 13:55] amonang commented on #193
solved this. but I don't know how to send solutions via github.
in the css file help_online.css change display from block to inline-block

[code]

[2015-09-07 16:54] dreispt commented on #193
@lmignon Can you try the fix?

[2015-09-08 07:36] lmignon commented on #193
@amonang Thank you for the fix! Your change seems to fix the issue. I'm not a CSS guru but with your change, the button works again on chrome.
@dreispt The submitted fix works on chrome.

[2015-09-08 10:05] amonang commented on #193
@lmignon You're welcome. I'm the one who should be thanking you guys for the incredible work you've been doing. Happy to contribute what I can.

[2015-09-09 18:01] rafaelbn opened #222 "[8.0][BUG] web_advanced_search_x2x - Wrong queries in filters"
Hi @hbrunn ,

This happends with any query but I will show here only one.

I would like to filter projects which User (uid) is "manager" OR "member" or "follower".

In Odoo core we cannot make this search because the follower are res.partner and not res.user then we need to select Follower -> Is in selection and then in res.parter search User -> the user.

When Odoo creates the filter for this you

[2015-09-11 07:11] hbrunn commented on #222
the trick is that you need to submit your search after the first selection. If you add conditions in advances search, the terms will be joined by conjunction. If you apply first, and then add the second condition, you'll get the disjunction.

[2015-09-29 20:10] anajuaristi opened #234 "Bugs related to mrp_production_real_cost and mrp_production_stimated_cost"
Testing the last versions of those modules I could find the following errors on them
1. The button "upload cost" to product is uploading the price negative (-206.60) to product form. It should be positive (206.60)
2. Real cost is informing the fields avg_cost and manual_stimated_cost in analytic line. This is incorrect. They should be zero. Real cost must assing a value only in field amount on ana

[2015-09-29 20:11] anajuaristi commented on #234
Closing this one since I reported on wrong branch.
Sorry.

[2015-09-29 20:11] #234 closed, assigned to nobody

[2015-10-10 16:23] GoodERPJeff opened #239 "web_export_view : standard export function not working after install this"
# openerp 8.0
# install web_export_view
# on module list, more-export, select a field to export, then select excel format

result:
## Uncaught SyntaxError: Unexpected token T

http://localhost:4069/web?#page=0&limit=80&view_type=list&model=ir.module.module&action=37:7

export as csv format is working

export excel format without web_export_view is working

[2015-10-14 00:57] pedrobaeza opened #240 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] help_online - By @lmignon - #378
- [ ] help_popup
- [x] support_branding - ~~By @angelmoya - #430~~ - By @hbrunn - #469
- [ ] web_action_conditionable - By @ovnicraft - #457
- [ ] web_advanced_search_wildcard
- [ ] web_advanced_search_x2x - By @Yajo / @cubells - #555
- [ ] web_ckeditor4
- [x] ~

[2015-10-15 12:13] eLBati commented on #239
Hello @OpenERPJeff , just tried the step you describe on
http://3117128-8-0-99c83e.runbot1.odoo-community.org/web?db=3117128-8-0-99c83e-base
and I am able to download the excel file.
So, I can't reproduce the error

[2015-10-15 16:33] GoodERPJeff commented on #239
Thank you for you reply!

I did check my version and found there is a old version module(8.0.1.2 at Feb 2015) in my addons path

I removed it and install newest version in my db, it works now

I guess this patch fixed this issue https://github.com/OCA/web/commit/fc0c62e411361b25de8f5498323e3a5afb46795a

[2015-10-15 16:33] #239 closed, assigned to nobody

[2015-10-23 18:00] rafaelbn commented on #222
Hi @hbrunn , I leaved this without answer and without solving.

Let's say conditions in Projects.
- A: is manager (res.user) = 145 results
- B: is member (res.user) = 15 results
- C: is follower (we want follower for res.user and not from res.partner) = 149 results

I'm looking (in this example) for **A OR B OR C = 154**

`the trick is that you need to submit your search after the first selection.

[2015-10-26 10:40] angelmoya opened #246 "Suggestion table head float"
I would be nice if table head were float, like in this link:

http://mkoryak.github.io/floatThead/

[2015-10-26 11:12] angelmoya commented on #246
I try to add js lib in xml, and then put this code in javascrit console and works... but I don't how can I do a module with this code

[code]

[2015-10-26 11:39] angelmoya commented on #246
I'm working in #247

[2015-10-30 13:26] oihane opened #249 "[8.0] web_group_expand - expand buttons shown multiple times"
Checked on runbot, when you go to Sales > Products > Products by Categories, and you enter into a product and then go back, the expand buttons are shown in multiple cases. This has been spotted only here, but I think that is a problem with this kind of view.

![image](https://cloud.githubusercontent.com/assets/2323616/10846657/a0547046-7f11-11e5-8388-3e1708fa7699.png)

![image](https://cloud.githu

[2015-11-05 11:21] #191 closed, assigned to nobody

[2015-11-11 10:20] sergio-teruel opened #255 "[8.0][BUG] web_advanced_search_x2x - Favorites filter not show"
When you selects 'is in selection' option, the favorite filters not showed.
![issue01](https://cloud.githubusercontent.com/assets/7689807/11088914/21b8c40e-8866-11e5-960a-34fe2737500f.png)

CC @rafaelbn

[2015-11-14 18:02] pedrobaeza opened #256 "[8.0] web_readonly_bypass: Doesn't work on children popup views"
When you have a view that contains a one2many field, and this field opens a popup for the form window, fields that are readonly in this sub-model are not saved although you pass the correct context.

@JonathanNEMRY, @petrus-v, have you faced this case?

[2015-11-16 09:03] petrus-v commented on #256
@pedrobaeza,

I've no idea, can you let an example of your definition view, what do you mean by 'you pass the correct context'? I wonder if the context is forwarded to the popup and if it should be retrieved in the same way as a form view. Did you try to add context on the one2many field that open the popup?

[2015-11-16 09:13] JonathanNEMRY commented on #256
@pedrobaeza normally this case is covered...can you explain What you mean by "correct context" ? and where do you add it?

[2015-11-16 09:36] pedrobaeza commented on #256
Thanks for your replies.

Yeah, I tried both. Let me draft one quick example (the one where I tried was on MRP routing line sub-sub-screen, so it's very difficult to see full example with that):

[code]

[2015-11-16 14:07] JonathanNEMRY commented on #256
@pedrobaeza
The right place to set the readonly_by_pass attribute is into the context of the action.
But with some missing args into Odoo, it appears that the options dictionary is not well passed.
So I propose an added value with this https://github.com/OCA/web/pull/258

hope this solves this issue

-jne

[2015-11-17 01:25] rafaelbn commented on #151
Check https://github.com/OCA/web/pull/213/ @hbrunn update ckeditor version

[2015-11-17 01:41] rafaelbn commented on #255
Interesting, take a look here @sergio-incaser https://github.com/OCA/web/issues/222

[2015-11-20 12:55] hbrunn commented on #222
@rafaelbn thanks for elaborating, it's fixed in #263

[2015-11-20 12:58] hbrunn commented on #222
About your other questions: negative operators on x2many fields in odoo are nearly never treated the way a user would expect, so implementing it on this level is a recipe for frustration.

For your use cases, use https://github.com/OCA/web/tree/7.0/web_advanced_filters

[2015-11-20 13:05] hbrunn commented on #179
wontfix for reasons stated above

[2015-11-20 13:05] #179 closed, assigned to nobody

[2015-11-20 13:06] hbrunn commented on #194
not caused by this module, must be fixed elsewhere

[2015-11-20 13:06] #194 closed, assigned to hbrunn

[2015-11-20 13:14] hbrunn commented on #255
not reproducable on runbot. This is controled by the context key `search_disable_custom_filters`, see if this is set in your case

[2015-11-20 13:14] #255 closed, assigned to nobody

[2015-12-08 16:23] njeudy commented on #240
How to works ? one merge request by module ? or one big merge request for multiple module ?

[2015-12-08 16:27] pedrobaeza commented on #240
One PR by module, please, to ease the review.

[2015-12-09 07:20] JayVora-SerpentCS commented on #240
+1

[2015-12-10 23:00] jjrevilla opened #272 "[8.0] web_widget_x2many_2d_matrix: Doesn't work with Many2one fields for axis 'x' and 'y'"
I want to use the oca widget to display and edit some data in a 2D Matrix.
In this repo: https://github.com/jjrevilla/test_widget_matrix, I tried to reproduce the image of example at readme of project:
![screenshot](https://cloud.githubusercontent.com/assets/7389368/11730433/213b2e0e-9f63-11e5-8346-e0f19c3c6c15.png)

Main Model:

[code]

Related Model:

[code]

Form View:

[code]

But the view tha

[2015-12-10 23:45] hbrunn commented on #272
what you posted looks perfectly fine to me. I assume you open this in some wizard where you fill in defaults for the from and to dates? The thing is that `web_widget_x2many_2d_matrix` is only a widget, it takes care of displaying stuff. You need to take care of the content yourself.

So if you give the field content like

[code]

you should see something more intersting

[2015-12-14 23:19] jjrevilla commented on #272
@hbrunn , Thanks for your reply.
I tried what you advised me and this is my new view:
![seleccion_002](https://cloud.githubusercontent.com/assets/7389368/11796752/ff0db6d6-a28b-11e5-8c0b-b8831c6207ce.png)

In this code i used the zip function only for save time

[code]

This seems good, but the only thing that i don't understand is about the values of the dictionary 'defaults['task_id']', I mean:

[2015-12-15 08:48] hbrunn commented on #272
a couple of things:
- `project_id` and `employee_id` are declared as Many2one in your example, so pass the ids you have
- the way you create your data, you'll never get a full matrix. Do something like

[code]

  it's two dimensional after all, so two loops.
- you don't need the names, the widget looks that up by itself and if I remember correctly, even makes the names links that open the referenc

[2015-12-15 21:53] rafaelbn commented on #166
Hi @hbrunn ,

Message is : https://runbot-saas.antiun.net/web/static/lib/py.js/lib/py.js:370

Any clue?

Thanks

[2015-12-15 21:55] rafaelbn commented on #166
Sorry I didn't see fix... I'm going to test it. thanks!

[2015-12-15 22:53] rafaelbn commented on #166
Solved in https://github.com/OCA/web/pull/253

[2015-12-15 22:53] #166 closed, assigned to hbrunn

[2015-12-16 00:13] rafaelbn commented on #151
@sergio-incaser @carlos-incaser as you are using web_ckeditor4 module I think you are interested in this issue. We are not using web_ckeditor4 by the moment. We need time to fix this issue and test it deeper to use with customers.

[2015-12-17 10:18] diezcode opened #275 "Tested with Aeroo Templates?"
Hi, I have try to test the ckeditor4 modul with aeroo templates.
But the aeroo templates are printed with the html-codes from the editor.
for example:

<p></p> .

Have anyone a fix for the aeroo Templates ? or something?
Thanks...

[2015-12-17 10:37] lukebranch commented on #275
@diezcode ,

Could you provide a bit more information about what you're trying to do with Aeroo, and your environment?

I'm not involved with the OCA, or Aeroo for that matter, but from reading your issue report it's a little hard to understand what issue you're having without the context.

[2015-12-17 10:48] diezcode commented on #275
I don't know if I'm on the right place, I think it's a Aeroo-Reports problem, but I try it here.
Thank you for your fast answer.

I have a textfield in odoo then I add the widget="text_ckeditor4" to this textfield. Now I can use the ckeditor4 and make my text , bold, with colors etc...

Then I have a Aeroo-Template configurated to this textfield. When I'm printing this Textfield as Aeroo without t

[2015-12-17 11:13] lukebranch commented on #275
@diezcode ,

Could you post an example of what you're trying to do online (eg. https://gist.github.com/) so I can take a look? A screenshot of the issue might also help me understand as well.

[2015-12-17 22:38] aliomattux opened #277 "web_tree_image 8.0 causes broken widget"
In my tests on 8.0, installing this module provides functionality to have an image on a line, but also breaks image widget on product and partner form view. Installing for me removed the widget completely from the product form

[2015-12-17 22:43] pedrobaeza commented on #277
See if https://github.com/OCA/web/pull/273 fixes it

[2016-01-04 02:42] jaronemo opened #282 "web_advanced_search_x2x ..question"
I install this module: web_advanced_search_x2x

my odoo instance show this error

![image](https://cloud.githubusercontent.com/assets/8476734/12082588/cd1e37be-b2cf-11e5-8ca4-bb3312c1dd86.png)

how can resolve this question?

[2016-01-04 10:08] hbrunn commented on #282
seems like this file is missing on your installation. Check if it exists in the file system

[2016-01-05 08:15] jaronemo commented on #282
web.assets_backend?

[2016-01-05 09:39] hbrunn commented on #282
no, `web_advanced_search_x2x/static/src/css/web_advanced_search_x2x.css`. This should have come as part of the download

[2016-01-05 14:15] jaronemo commented on #282
Ok,I will check it.Thanks

Date: Tue, 5 Jan 2016 01:39:16 -0800
From: notifications@github.com
To: web@noreply.github.com
CC: jaronemo@msn.com
Subject: Re: [web] web_advanced_search_x2x ..question (#282)

no, web_advanced_search_x2x/static/src/css/web_advanced_search_x2x.css. This should have come as part of the download

—
Reply to this email directly or view it on GitHub.

[2016-01-05 15:55] jaronemo commented on #282
Dear Sir
I check this module....on my server

![image](https://cloud.githubusercontent.com/assets/8476734/12119615/b74f3120-b407-11e5-901b-3f744ca6e544.png)

it's here

[2016-01-05 16:07] hbrunn commented on #282
next option would be that the permissions are messed up in a way that the file is not readable for the user odoo runs at. in case you don't run your server as jason, su to the user in question and try if you can cat the file.

[2016-01-06 12:21] jaronemo commented on #282
Dear Sir
Sorry....
This problem has been solved.Resolved as follows:Re-copyRestart odooinstallation

Date: Tue, 5 Jan 2016 08:07:23 -0800
From: notifications@github.com
To: web@noreply.github.com
CC: jaronemo@msn.com
Subject: Re: [web] web_advanced_search_x2x ..question (#282)

next option would be that the permissions are messed up in a way that the file is not readable for the user odoo runs at.

[2016-01-06 13:25] hbrunn commented on #282
@jaronemo glad to hear it's solved, then it probably indeed was a permission problem. Please close the issue then

[2016-01-07 00:02] thomaspaulb opened #286 "web_switch_company_warning: Does nothing on newest Chrome"
I'd really love to use this module, but it does nothing. I installed it, then checked if, when switching companies with web_easy_switch_company on one tab, a warning comes on another tab, but it doesn't. What can I test to fix this?

[2016-01-11 10:28] diezcode opened #288 "ckeditor odoo8 paste image base64 from clipboard"
I have add a plugin http://ckeditor.com/addon/pastebase64

But this is not working, have someone an idea? The installation is right.

[2016-01-13 18:05] JayVora-SerpentCS commented on #240
#290 for web_tree_image

[2016-01-18 15:49] hbrunn commented on #272
@jjrevilla is your question answered?

[2016-01-20 16:37] #282 closed, assigned to nobody

[2016-01-20 16:46] jjrevilla commented on #272
Yes, thanks so much for your help and time now i have a better understanding of odoo's widgets. I'm sorry for late response.

[2016-01-20 16:46] #272 closed, assigned to nobody

[2016-01-22 11:47] JordiBForgeFlow opened #299 "[web_ckeditor4] Cannot read property 'getComputedStyle' of undefined"
Symptoms:
When a user closes the sales order line detail window the following message appears:
Uncaught TypeError: Cannot read property 'getComputedStyle' of undefined

Steps to reproduce:
- Install modules "sale", "sale_note_flow" (https://github.com/OCA/sale-reporting), web_ckeditor4
- Assign to admin user to group "Properties on lines".
- Create a sales order and add a line (pop-up window appea

[2016-01-23 21:46] nhomar commented on #198
@lmignon I am retaking this topic.

You are right about that is not necesary the help on the module itself being proposed, that should be in a section (original help) or something like that, but not part of this topic now.

You can find some improvements being done here:

https://github.com/Vauxoo/web/pull/3

[2016-01-30 16:11] kittiu opened #301 "[8.0] web_widget_x2many_2d_matrix: multi values in both X and Y result in client error."
I have tried this module. With following syntax,

`<field name="crossovered_budget_line" widget="x2many_2d_matrix" field_x_axis="period_id" field_y_axis="activity_id" field_value="planned_amount" />`

If we have multiple values in X (activity) and only 1 value in Y (period), it works fine.

![067](https://cloud.githubusercontent.com/assets/1973598/12696824/89de359e-c7a6-11e5-8d97-a358a6d372a9.png)

[2016-01-30 18:45] hbrunn commented on #301
the widget expects a balanced matrix, that is, there's a value for every x/y combination it encounters. Do you have that? Please post the code you use to generate values

[2016-02-01 13:17] thomaspaulb commented on #286
It works now, turns out I had to refresh all my tabs to start the SharedWorker on all the tabs.

[2016-02-01 13:46] bealdav opened #303 "ckeditor configuration"
module: web_ckeditor4
version: 1.1

Nice addition to Odoo ecosystem, thanks

**Current behavior**
The full version of ckeditor is ok, but how to customize it ?

**Expected behavior**
What is the best way to customize the editor and choose an other package (ie standard) ?
I would like avoid to change 'config.js' in the lib folder to not break git pull command ?

[2016-02-05 08:28] kittiu commented on #301
Thanks for the prompt reply, and sorry I just come back to check. Yes, now, it seem to be as what you said. If I have all combination, it will work.
By the way, I am using it with budget screen, and in real life, it will not possible nor convenient to add value for every combination.

Here is the code I use,

`<field name="crossovered_budget_line" widget="x2many_2d_matrix" field_x_axis="period_id"

[2016-02-08 09:23] hbrunn commented on #301
well, a lot of the javascript code expects that the matrix is balanced, and ui wise, it will look quite weird if this is not the case. So if you can't fill in the missing values, I don't think this widget is the right choice for you.

[2016-02-08 09:23] #301 closed, assigned to nobody

[2016-02-10 12:22] ecosoft-odoo commented on #301
Thank you for clarification. That's ok. I think we can still use it (no other solution can come close), we will at the back auto create the missing value, and it should work too.

[2016-02-19 06:41] jas-odoo commented on #240
I want to contribute.How should I proceed?

[2016-02-19 08:37] pedrobaeza commented on #240
Hi, @jas-odoo, tell us which module do you want to migrate for noting here and avoid that other people start to work in the same, and make the PR against the branch when you have it.

[2016-02-19 17:27] jas-odoo commented on #240
Hello,
I have already worked on web_widget_many2many_tags_multi_selection and developed it.
I have created branch too but it doesn't allow me to push to same.Is it necessary to submit ICLA form for pushing to same?

[2016-02-19 17:30] pedrobaeza commented on #240
You have to make a PR, not to push. You push to your forked branch (personal or company branch), and then propose a PR against OCA branch.

[2016-02-19 17:35] jas-odoo commented on #240
:+1:
Thank you.I will do the same.
I had migrated 'web_widget_many2many_tags_multi_selection' module.

[2016-02-20 15:16] jas-odoo commented on #240
#312 for web_widget_many2many_tags_multi_selection

[2016-02-24 09:27] codingforfun opened #314 "[8.0] Window action target `new` -- Readonly option"
Currently popups opened via `ir.actions.act_window` using option `target='new'` always open in edit mode. This make perfect sense for wizards, but sometimes we also need to show form view of objects linked somehow to another object. E.g. by triggering a button on a form view returning a window action. In this case the popup shouldn't open in edit mode.

Currently there seam to be no standard way o

[2016-02-24 09:29] codingforfun commented on #314
@pedrobaeza @hbrunn
I'm thinking about implementing this, because I need for a current project. What do you think about this? Which approach would you prefer? Thx.

[2016-02-24 09:29] codingforfun commented on #314
@OSguard
ping

[2016-02-24 10:45] hbrunn commented on #314
if you have control over the actions, you can pass this in the `flags` dictionary of the action (https://github.com/OCA/OCB/blob/8.0/addons/web/static/src/js/views.js#L374) which will be merged at some place with the view's `options` dictionary, so you should be able to simply write `'flags': {'initial_mode': 'view'}`: https://github.com/OCA/OCB/blob/8.0/addons/web/static/src/js/view_form.js#L116

[2016-02-24 12:52] codingforfun commented on #314
@hbrunn
Nice idea. Unfortunately this isn't working because it gets overridden here:
https://github.com/OCA/OCB/blob/8.0/addons/web/static/src/js/views.js#L697

https://github.com/OCA/OCB/blob/8.0/addons/web/static/src/js/views.js#L697 also is the part of the code I thought to implement approach (1)

A workaround I found looks like that:

[code]

However this is not a nice general solution.
Solvin

[2016-02-29 20:57] angelmoya opened #317 "[8.0][BUG] web_advanced_search_x2x - Exception with domains in models"
Searching a field with domain in model, exception appears because Odoo is not able to locate fields of domain.

For example:

In model:

[code]

Error searching values of states:

[code]

[2016-03-01 02:27] hbrunn commented on #317
weird, this sounds exactly like #166 You probably run the latest version? Please put a breakpoint at https://github.com/OCA/web/blob/8.0/web_advanced_search_x2x/static/src/js/web_advanced_search_x2x.js#L79 so see what's going on here

[2016-03-01 16:49] angelmoya commented on #317
Sorry for the noise, I updated code before create this issue, and update in database with -u web_advanced_search_x2x, but maybe chache mantain js or watelse... after restart and -u all it is work well

[2016-03-01 16:49] #317 closed, assigned to hbrunn

[2016-03-09 10:33] DayssamAgora opened #321 "[8.0][web_widget_x2many_2d_matrix] Cannot read property 'id' of undefined"
Hi everyone,

I got this error when i want to re show the matrix

Uncaught TypeError: Cannot read property 'id' of undefined
http://localhost:3000/web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js:215

I debuged the javascript code

the error was in this function

`// return row id of a coordinate
        get_xy_id: function(x, y)
        {
            return this.by_x_axis[

[2016-03-09 10:45] hbrunn commented on #321
This widget is quite picky about the data. What code do you use to populate the field and how does the internal data structure look?

[2016-03-09 11:59] DayssamAgora commented on #321
![matrix2d](https://cloud.githubusercontent.com/assets/16352291/13634507/e226c882-e5ed-11e5-8bc6-e76719f0d12e.png)

The python code :

[code]

The XML CODE :

<field name="saisie_ligne_id" widget="x2many_2d_matrix"
                            field_x_axis="parametre_id" field_y_axis="marque_id" field_value="value"
                            attrs="{'readonly': [('state', '=', 'valide')]}" />

[2016-03-09 12:00] DayssamAgora commented on #321
@hbrunn :

I will make a video showing you the scenario which produce the error

[2016-03-09 12:01] hbrunn commented on #321
that will be helpful. From your code it looks very good, I don't see anything that might be causing the problem

[2016-03-10 09:56] DayssamAgora commented on #321
@hbrunn
https://youtu.be/s_W5yhPilLk

The error was in this function

// return row id of a coordinate get_xy_id: function(x, y) { return this.by_x_axis[x][y]['id']; },

when i logged the x & y values

It gives me the value of x is "undefined"

x=1 y=1
x=2 y=1
x=3 y=1
x=4 y=1
x=5 y=1
x=6 y=1
x=7 y=1
x=8 y=1
x=9 y=1
x=10 y=1
x=11 y=1
x=undefined y=1

[2016-03-10 10:04] hbrunn commented on #321
interesting. So something seems to go wrong if the widget is build repeatedly. Do you see any patterns here, like the 3rd time you open this, the error occurs? Any patterns in the values filled in? And does a reload fix the problem temporarily?

[2016-03-10 10:20] DayssamAgora commented on #321
Always the error occurs. but when i save the form there is no problem,

[2016-03-11 12:53] DayssamAgora commented on #321
@hbrunn

The error occurs in the changed field.

when i change x1y1 it stops @ x1y1

when i change x3y1 it  stops @ x3y1

[2016-03-11 15:29] DayssamAgora commented on #321
@hbrunn

Any idea about sorting the x fields or y fields (not sorted by id by default) ?

[2016-03-15 10:30] hbrunn commented on #321
hmmm, I'm running out of ideas here. I think I need to debug what's going on here. Could you please provide a minimal example module that exposes this behavior when being installed in an empty database with demo data? Then we should be able to fix the problem.

[2016-03-15 14:40] DayssamAgora commented on #321
@hbrunn
Can i send it to you in private ?

[2016-03-15 18:09] hbrunn commented on #321
yes, makes sense, you should find my mail address on the github profile or the oca site

[2016-03-15 19:28] DayssamAgora commented on #321
@hbrunn
Its done

[2016-03-17 10:09] hbrunn commented on #321
@DayssamAgora this should be fixed in #327. Next time somebody asks you for a minimal example that produces the error, please actually provide a minimal example. I had to dive through a lot of unnecessary code, and you're lucky I was curious about that problem, otherwise I'd have put this back to you

[2016-03-17 11:11] mhabou commented on #321
@hbrunn :+1:

Many thanks ,

I will post a minimal example that produce the error.

[2016-03-17 11:12] hbrunn commented on #321
now it's solved, so not necessary now. That was just a tip for the future

[2016-03-17 11:20] hbrunn commented on #321
but please review my PR and if it solves your problem, give a thumbs up there. This issue will be closed automatically when the code is merged

[2016-03-17 11:25] DayssamAgora commented on #321
it's done :+1:

[2016-03-24 11:41] mdziurzynski opened #334 "[8.0][web_tree_dynamic_colored_field] Runtime error, s is undefined"
Hello

I wanted to try out the web_tree_dynamic_colored_field module. After installation I made a small module that should change background color of partner cell in invoice tree view:

[code]

When I try to view invoice tree view I get this runtime error:

[code]

I tried with different Odoo 8 builds (from different dates) but the error persists.

[2016-04-02 14:39] max3903 opened #338 "File manager"
The idea is to extend the current Odoo views (mainly kanban and list) to make a file browser:
- in Kanban or list view, opening a directory displays its content (subdirectories and files)
- opening a file open the form view
- we can add as many actions as we want in the Actions dropdown list without losing usability and userfriendliness
- opening the attachments of a record would display the conte

[2016-04-02 14:40] bud-e commented on #240
https://github.com/OCA/web/pull/337  for `web_searchbar_full_width`

[2016-04-08 20:36] stellar-pulse commented on #240
https://github.com/OCA/web/pull/341 for web_widget_color

[2016-04-08 23:26] pedrobaeza commented on #240
@stellar-pulse, there's already an open PR for this module (#270). Why a new PR?

[2016-04-11 18:53] jan-sedivy opened #342 "web_m2x_options code does not agree with the specification"
Hi,
please correct me, if I am wrong, but I see in the module documentation
https://www.odoo.com/apps/modules/8.0/web_m2x_options/
that there should be new options available at the field level called "create" and "create_edit", but there are none such used in the get_search_result(). Instead the function looks for no_create, no_create_edit and no_quick_create not mentioned in the documentation.
On

[2016-04-12 16:25] msalim-c opened #343 "[9.0] help_popup : templateViewManagerAction does not exist"
Hello,
The installation of help_popup module failed because of ViewManagerAction that don't exist any more in Odoo v9 community edition.
Is their any solution to correct this issue ?
Best regards.

[2016-04-12 16:27] pedrobaeza commented on #343
The module is not migrated, so that's why it fails. A proper migration is needed. You can do it yourself, wait for someone to do it, or pay someone to do it for you.

[2016-04-12 16:27] #343 closed, assigned to nobody

[2016-04-14 15:21] msalim-c commented on #343
Thanks for your response.

[2016-04-18 15:05] lasley commented on #199
I just saw this new module, which fills a gap that currently had to be custom configured. I'll go ahead and upgrade this to v9, but I was wondering if the community had any interest in retina friendly favicons?

In order to accomplish this, we would just need a few additional image fields that provide the proper scaling - similar to products with image_small, _medium, etc.

Example of retina favic

[2016-04-18 15:19] hbrunn commented on #199
that's what @pedrobaeza would have liked to have had in #252, but it didn't work out. I think your code will be welcome, even though I personally couldn't care less. But you should implement it in a way that the fancy stuff isn't mandatory.

This issue is done btw, so I'll close it. Forgot that on merge time.

[2016-04-18 15:19] #199 closed, assigned to hbrunn

[2016-04-18 15:22] pedrobaeza commented on #199
Hi, @lasley, I have already migrated the module to v9. Please check https://github.com/OCA/web/pull/344. About retina display icons, please check the Known issues section, where I took into account that. In /static/src/img I have put image samples and HTML basic configuration also for all the possibilities.

[2016-04-18 15:24] lasley commented on #199
Copy, thanks for the insight @hbrunn

Hooray I love it when work I am planning is already done! I'll check into your PR right now, thanks @pedrobaeza

[2016-04-19 09:28] dreispt commented on #199
@lasley that's what it's like to work in community :wink:

[2016-04-26 22:32] hbrunn commented on #338
I think you should elaborate this in Odoo's technical terms or use cases. And be clear if 'directory' and 'file' means `document.folder` and `ir.attachment` or the appropriate entities in the local file system.

If the file system is meant, a lot of things (like showing a list of local files and offering Odoo actions on them) are simply impossible because the browser won't allow it. This is for se

[2016-04-28 07:26] dreispt commented on #338
@max3903 AFAICS that can be implemented with the features already available for kanban views:
- a click action on a Directory kanban card would open the same kanban view with a different parent_id domain filter;
- a click action on a Document/Attachment would open the corresponding form.

Of course, the devil is in the details.

[2016-04-29 13:04] mad-odoo opened #350 "[8.0] [web_ckeditor4] Script error :0"
Hello,

I am facing an bug while using web_ckeditor4.
http://goo.gl/UPUvoU

**Current Behaviour and steps to reproduce:**
1) Open a orderline form from sale order
2) Write somewhat longer description about product with some misspelled words.
3) Now enable SCAYT
4) Keep misspelled words as it is and click on Save button. You will get an error as shown in screenshot.

**Expected Behaviour:**
While c

[2016-05-09 07:14] levkar opened #353 "web_widget_digitized_signature addon doesn't work on mobile devices"
It's something in js library level.

Current Js library (http://keith-wood.name/signature.html) doesn't work on mobile devices. Serpent already updated code with jSignature (https://github.com/willowsystems/jSignature):

https://github.com/JayVora-SerpentCS/SerpentCS_Contributions-v8/tree/8.0/web_digital_sign

[2016-05-15 11:28] bud-e commented on #240
https://github.com/OCA/web/pull/356 for `web_dialog_size`

[2016-05-16 09:26] hbrunn commented on #321
fixed by merging #327 a while ago

[2016-05-16 09:26] #321 closed, assigned to hbrunn

[2016-05-18 13:27] ghost opened #359 "8.0 - Proposal of new module to force saving form fields"
Hi contributors, in different odoo projects, I add an issue with web fields in form view.

When a field is readonly, Odoo does not save it to the database. So, for example, if you have an onchange that triggers a modification on that field, you end up with unexpected behavior.

My solution for that is to override the method _process_save of openerp.web.FormView in javascript code. I add a new opti

[2016-05-18 13:54] pedrobaeza commented on #359
It's already done in https://github.com/OCA/web/tree/8.0/web_readonly_bypass

[2016-05-20 18:26] ghost commented on #359
@pedrobaeza thanks

[2016-05-20 18:26] #359 closed, assigned to nobody

[2016-05-23 12:27] intero-chz opened #361 "[8.0] web_ck4editor ck4editor version"
Why does the readme say it's version 4.6.6 when it actually is 4.5.4?

How hard is it to upgrade to a newer version? I really want to upgrade, but never looked deeper into this module. Can you please provide me some information on that topic?

kind regards

[2016-05-27 15:38] sbidoul opened #365 "[8.0] web_dialog_size default maximize has no effect"
Apparently, the README of web_dialog_size is inconsistent.

It says both `By default, all dialog boxes are expanded.` and `By default, the module respects the caller's dialog_size option. If you want to override this and have all dialogs maximized by default, set the configuration parameter web_dialog_size.default_maximize to 1.`.

In my test, dialogs are expanded by default, but `web_dialog_size.

[2016-05-27 15:39] pedrobaeza commented on #365
I remember that the option was included to allow to configure the dialog size at your instance. Maybe the value should be `false`, `False`, or `0` to activate it?

[2016-05-27 15:43] sbidoul commented on #365
@pedrobaeza If I understand well, since ir.config.parameter are strings, "false", "False", "0" all evaluate to `true` in javascript. And this code has no effect.https://github.com/OCA/web/blob/3f947ac8c5a60e2f6fa9641c2f72faf69ab9d987/web_dialog_size/static/src/js/web_dialog_size.js#L19 ?

[2016-05-27 15:45] pedrobaeza commented on #365
Then it seems that the only option is to remove the key right now. The JS code can be improved to allow one of these values or execute some kind of eval.

[2016-05-27 15:49] sbidoul commented on #365
Does not work for me. Even without the key, dialogs are all expanded. I just tested on runbot.

[2016-05-27 16:02] pedrobaeza commented on #365
Uhm, then it needs to be definitively fixed... Can you...?

[2016-05-27 16:19] sbidoul commented on #365
@pedrobaeza I tried to debug the js code, and for every dialog it falls there https://github.com/OCA/web/blob/3f947ac8c5a60e2f6fa9641c2f72faf69ab9d987/web_dialog_size/static/src/js/web_dialog_size.js#L13 so the default_maximize is never evaluated.

I don't know where this "large" option is coming from.

[2016-05-27 16:21] pedrobaeza commented on #365
My knowledge of JS is limited so we need a JS magician like @hbrunn

[2016-05-27 17:46] hbrunn commented on #365
https://github.com/OCA/OCB/blob/8.0/addons/web/static/src/js/chrome.js#L92, so if this is not set to some other value by the caller, it will indeed maximize. I don't really have an opinion if it's better to adapt the readme to the facts or change the code. What do you think? Maybe overwrite the value with a config parameter named `default_dialog_size`?

[2016-05-27 19:54] sbidoul commented on #365
@pedrobaeza @hbrunn I propose #366

[2016-05-28 08:14] #365 closed, assigned to nobody

[2016-06-06 18:16] max3903 commented on #338
@hbrunn @dreispt To bring great ideas to the discussion, I would like to mention @lmignon PR in https://github.com/OCA/connector-cmis/pull/15

[2016-06-10 14:26] JayVora-SerpentCS commented on #240
#373 for web_group_expand

[2016-06-15 12:26] yvaucher commented on #240
Add #369 and sorted those modules alphabetically

[2016-06-20 07:24] michaelkarrer81 commented on #342
+1 - would be very nice if this would be merged

[2016-06-20 09:31] jan-sedivy commented on #342
There was a small copy-paste error it the above attached diff. Here is a fixed version we use already for several months [form_fixed.txt](https://github.com/OCA/web/files/323078/form_fixed.txt)

[2016-06-20 21:24] max3903 opened #375 "[8.0] web_widget_x2many_2d_matrix"
Hello,

I am trying to configure the sale order view to display one dimension (size: XS, S, M, L, XL) as the columns and the product template (dress) and the other dimensions (Color) as lines.

I have also installed the following modules: https://github.com/OCA/sale-workflow/tree/8.0/sale_order_add_variants

How do I customize the view to achieve this?

[2016-06-21 04:37] hbrunn commented on #375
what have you tried? Mind you that this widget as it is needs all combinations of your values being available already in the x2many it's meant to display, so you'll probably have to prepopulate this in `default_get` or the like.

[2016-06-21 13:17] max3903 commented on #375
@hbrunn I tried adding the widget in the order_line and product fields. No success. I understand from your question that some development are required. It answers my question at this point. Thanks!

[2016-06-21 13:17] #375 closed, assigned to nobody

[2016-06-29 15:14] lmignon commented on #240
https://github.com/OCA/web/pull/378 for help_online

[2016-07-09 00:35] rafaelbn commented on #222
@pedrobaeza  @antespi  if we want to implement negative operator we must take care on https://github.com/OCA/web/issues/222#issuecomment-158392396 and maybe discuss with @hbrunn

[2016-08-10 08:42] studentule opened #399 "Update module Internet (web) in Odoo8"
Hi,

When update module Internet (web) from Settings / Installed Modules / Internet (web) Odoo8 give this infos:

The value "LGPL-3" for the field "ir.module.module.license" is not in the selection

Please advise!

PS need the Internet (web) update for this one: web_advanced_search_x2x

[2016-08-10 08:59] pedrobaeza commented on #399
You need to update your Odoo base installation.

[2016-08-10 08:59] #399 closed, assigned to nobody

[2016-08-10 08:59] pedrobaeza commented on #399
You need to update your Odoo base installation.

[2016-08-10 09:06] studentule commented on #399
I'm Newbie on this: update Odoo base installation, because:

I use Synology NAS 216 play and not an usual server.

Please advise!

[2016-08-10 09:58] pedrobaeza commented on #399
Sorry, but this is out of the scope of the issue. You should update the code of your Odoo base installation. It depends on the followed procedure (deb, git...).

[2016-08-10 18:13] lasley opened #403 "Blueprint: Community Web v2"
I am creating this issue to track the progress of the development relating to creating a fully mobile compliant backend interface for Odoo.

Following are the blocker tasks:
- [x] [A module that provides an app drawer and new menu bar for mobile compliant navigation](https://github.com/OCA/web/pull/396)
- [x] An update to the module that adds responsive styling using Bootstrap LESS variables in th

[2016-08-10 20:00] rvalyi commented on #403
@lasley IMHO consider achieving this on the future v10 only: in v10 finally Odoo web module is the same in the Enterprise and Community editions (they updated the web module in community) so it should be far easier to achieve. As for the folks stuck on 9.0, they may consider migrating to v10 instead as it should not be that hard this time.

[2016-08-11 07:07] yajo commented on #403
v10 is scheduled to October, so it's not a bad idea @rvalyi, but could you please elaborate a bit on _why_ the v10 web module makes this easier to achieve?

[2016-08-11 15:51] rvalyi commented on #403
@Yago because v9 community web module didn't evolver over over v8. v9 enterprise is web friendly but it's a fork of the community web module. Meaning you will have hard time achieving Enterprise like features using the spoilt community web module. In v10 on the contrary the Enterprise web module is built on top of the revamped community web module, meaning that the OCA can more easily complete it

[2016-08-11 20:34] lasley commented on #403
Thanks for the elaboration @rvalyi - this is a huge revelation & definitely saves a bunch of work.

Could you provide a bit more insight into what is planned (or point me to a spot to look), specifically:
- Will there be an Apps Screen in Community similar to that in Enterprise now?
- Have they unified the web and website widgets in any way, or is there still a divide as we see today?

If we wait

[2016-08-11 22:29] rvalyi commented on #403
@lasley all I know is from some Twitter announcement and and git commit in the master web module where they announced what I told. Also I had seen the Enterprise web module once and what was committed in master really matches parts that was missing in community 9.0.

Now there is still lots of features in the Enterprise version only, this is clear if you try their saas demo vs the community master

[2016-08-12 07:54] yajo commented on #403
Thanks for the info, but today I have checked the HTML output of the same form in community master vs enterprise master and it's almost the same.

I see no bootstrap classes anywhere.

So I realized they took a different approach. They must have simply created a responsive LESS theme using their core selectors. If we do the same, we can skip steps 1 and 2. I think it's a very good approach. And it

[2016-08-12 08:13] nhomar commented on #403
Hello.

Why force use bootstrap classes if we have already all Less/Sass avilables?

IMHO manipulate the DOM namespace will bring huge quantity of non expected behavior.

https://github.com/odoo/odoo/tree/9.0/addons/web/static/src/less

It means by the end the change is make responsive the original Less attributes, it iwll bring more work in term of test/try but less job and better compatibility.

[2016-08-12 15:38] lasley commented on #403
Interesting thought @nhomar - I agree that this seems like the cleanest approach that pretty much amounts to making a generic, non-customizable theme. LESS would still technically allow us to leverage the wonders of Bootstrap as well, just as mixins instead of DOM classes.

Maybe I'm getting ahead of myself, but it's definitely within scope of an OCA web interface - do we also need a nice OCA them

[2016-08-12 15:45] pedrobaeza commented on #403
We were talking about making Odoo widgets bootstrap compatible and that was the idea for injecting the operations, or am I confused with the scope?

About an open source theme, I know this one: https://github.com/Openworx/themes/tree/9.0/united_backend_theme

[2016-08-12 15:55] lasley commented on #403
Scope of this issue is for a v2 of web for OCA that conforms to current UI standards (mainly mobile), which boiled down to a few tasks - two of which were focused around the injection of bootstrap classes into the widgets on the DOM to allow for the mobile compliance.

There is the valid point that we can have some far-reaching consequences with the plan of manipulating the DOM in such a heavy han

[2016-08-16 07:18] yajo commented on #403
About what you said of making a _non-customizable_ theme, that's not exactly true.

Given Bootstrap 3 comes from LESS directly in v9, it inherits its ability of [using variables before they get assigned](http://lesscss.org/features/#variables-feature-lazy-loading). That means you can use any of [bootstrap variables](https://github.com/twbs/bootstrap/blob/v3.3.6/less/variables.less) in your theme,

[2016-08-16 14:34] lasley commented on #403
Well that's nifty, I have yet to delve into LESS. I was admittedly trying to hold off because Bootstrap 4 is SASS instead 😑 .

Ok so I do think this is a solid plan then, I'll update the main issue & start looking through all these variables.

[2016-08-16 14:43] yajo commented on #403
[Yes, and bootstrap 5 will be PostCSS](https://twitter.com/mdo/status/591364406816079873), this people is a bit indecisive :laughing:

Today [there's an official Sass port of BS3](https://github.com/twbs/bootstrap-sass), but the really important thing is that [Odoo uses the LESS version](https://github.com/odoo/odoo/tree/9.0/addons/web/static/lib/bootstrap/less), so we should stick to that for now

[2016-08-22 11:54] #249 closed, assigned to nobody

[2016-08-31 15:11] eLBati opened #414 "[10] web_widget_digitized_signature"
I'm opening this just to let you know that we started working on porting `web_widget_digitized_signature` to v10 and we'll make a PR as soon as the 10.0 branch will be available.

If someone is interested, we can share the code

[2016-09-02 14:03] rafaelbn commented on #222
Solved in https://github.com/OCA/web/pull/263

[2016-09-02 14:03] #222 closed, assigned to hbrunn

[2016-09-12 07:08] pedrobaeza commented on #256
Solved already, so I close.

[2016-09-12 07:08] #256 closed, assigned to nobody

[2016-09-12 13:24] eLBati commented on #414
Also, we would like to know if it is possible to change the license of the module to LGPL.
Is it possible? How should it be done? Should we contact the copyright owners + OCA board?
Thanks

[2016-09-12 14:18] dreispt commented on #414
My opinion:
the Authors can (re)license it. I think the Author here is .Serpent Consulting Services.
Serpent's CLA to the OCA allows the board to license that work, but that is expected to be a "just in case" possibility, and should be considered only if really needed.
My advice is to contact the Authors (Serpen CS) and propose the relicensing.

cc @gurneyalex

[2016-09-12 14:46] gurneyalex commented on #414
@eLBati you need to contact the copyright owners. This includes Serpent CS and the people listed as contributors in the README file. All and every of them should agree.

A way of having this could be to ask them to say so on a github issue and to refer to that issue on the commit changing the license.

[2016-09-28 17:55] jgrandguillaume commented on #403
Hi,

I was wondering how much days you think it'll take to build all this... I know this question is kind of stupid one, but I'm not familiar with webdevs and I need an order of magnitude here. The reason is I might have a sponsor for that, so my idea (just an idea for now) would be to crowdfunds a responsive and clean community webclient.

Any hints or advices for me here ?

Thanks,

Joël

[2016-09-28 18:03] JordiBForgeFlow commented on #403
I asked a company specialized in web responsive apps in odoo. They say, to do properly it is in the order of magnitude if 6 months. Very complex. We'll need to join forces and have an experienced frontend team if we want to succeed.

[2016-09-28 18:21] lasley commented on #403
My eval is the same as @jbeficent - the App Drawer initiative was only one piece of a rather large puzzle. We're almost done there, with the big item of redesigning the LESS next up to the chopping block.

Realistically the LESS could probably be hacked together in a matter of days (<1k lines), but testing against all the widgets in all edge cases is going to be the real kicker.

We also need to d

[2016-09-28 18:46] pedrobaeza commented on #403
I see this no trivial task, but not for that scale. One person full time will need one month for the work, not 6. 6 months is more a deadline date, because as @lasley said, this has been a side project for all of us till now.

[2016-09-28 19:19] pedrobaeza commented on #275
Closed by inactivity.

[2016-09-28 19:19] #275 closed, assigned to nobody

[2016-09-28 19:20] pedrobaeza commented on #361
You should check if the calls to the initialization and so on have changed from one version to the other. It requires some JS knowledge.

[2016-09-28 19:20] #361 closed, assigned to nobody

[2016-09-28 19:25] pedrobaeza commented on #353
@JayVora-SerpentCS, can you update the OCA module with this?

[2016-09-28 19:26] pedrobaeza commented on #342
Please make a PR for these changes.

[2016-09-28 19:26] #286 closed, assigned to nobody

[2016-09-28 19:27] pedrobaeza commented on #303
This can go to the "Known issues" section, but AFAIK, it's not possible to select the editor to use.

[2016-09-28 19:27] #303 closed, assigned to nobody

[2016-09-28 19:28] pedrobaeza commented on #314
Is this finally solved in any way?

[2016-09-28 19:30] pedrobaeza commented on #277
No answer from long time, so closing

[2016-09-28 19:30] #277 closed, assigned to nobody

[2016-09-28 19:30] pedrobaeza commented on #198
Are you going to work on this on OCA?

[2016-09-28 19:31] pedrobaeza commented on #193
This should be solved now.

[2016-09-28 19:31] #193 closed, assigned to nobody

[2016-09-28 19:33] pedrobaeza commented on #116
Was this fixed in OCA?

[2016-09-28 19:33] pedrobaeza commented on #334
@hbrunn, can you check this?

[2016-09-28 19:33] pedrobaeza commented on #350
This should be fixed now.

[2016-09-28 19:33] #350 closed, assigned to nobody

[2016-09-28 19:34] pedrobaeza commented on #299
Is this still happening? Or the problem got solved with latest module version?

[2016-09-28 19:35] pedrobaeza commented on #157
Please use latest version.

[2016-09-28 19:35] #157 closed, assigned to nobody

[2016-09-28 19:35] pedrobaeza commented on #75
This can go to "Known issues" section, but no real problem with the module itself.

[2016-09-28 19:36] pedrobaeza commented on #75
Sorry, crossed comment in wrong issue

[2016-09-28 19:36] pedrobaeza commented on #76
This can go to "Known issues" section, but no real problem with the module itself. As no PR has been proposed, I close this.

[2016-09-28 19:36] #76 closed, assigned to nobody

[2016-09-28 19:37] pedrobaeza commented on #183
Is this still happening?

[2016-09-28 19:38] pedrobaeza commented on #185
For this, the widget should be modified for being registered in the calendar view, but it requires a bit of development.

[2016-09-28 19:39] pedrobaeza commented on #73
As no feedback given, I close this.

[2016-09-28 19:39] #73 closed, assigned to nobody

[2016-09-28 19:40] pedrobaeza commented on #66
This shouldn't be due to the module, and no feedback is given, so I close.

[2016-09-28 19:40] #66 closed, assigned to nobody

[2016-09-28 19:40] #65 closed, assigned to nobody

[2016-09-28 19:41] pedrobaeza commented on #50
As no PR has been proposed, I close.

[2016-09-28 19:41] #50 closed, assigned to nobody

[2016-09-28 19:42] pedrobaeza commented on #246
Closing as there is a PR on progress.

[2016-09-28 19:42] #246 closed, assigned to nobody

[2016-09-28 19:43] pedrobaeza commented on #197
As there's no PR changing tests, I close the issue.

[2016-09-28 19:43] #197 closed, assigned to nobody

[2016-09-28 19:44] pedrobaeza commented on #288
You should adapt the module for accepting this plugin, so I close this.

[2016-09-28 19:44] #288 closed, assigned to nobody

[2016-09-29 08:25] levkar commented on #353
@pedrobaeza  @JayVora-SerpentCS

I already made a PR here:

https://github.com/OCA/web/pull/394

[2016-09-29 12:21] pedrobaeza commented on #353
OK, I close this issue and continue with the PR. I can't say too much about the widget itself, as I don't use it.

[2016-09-29 12:21] #353 closed, assigned to nobody

[2016-09-29 20:39] levkar commented on #353
PR works with few glitches caused by Javascript library. There is no perfect solution for getting signature from browser.

[2016-10-02 06:45] fmdl opened #431 "[9.0] web_widget_float_formula"
Hello

This module don't works when I use in fload field (I have use this formula : =2*3), I have an error message :

Uncaught TypeError: Cannot read property 'toString' of undefined
http://localhost:8069/web/content/1080-ac38307/web.assets_backend.js:7187
Traceback:
TypeError: Cannot read property 'toString' of undefined
    at OdooClass._process_formula (http://localhost:8069/web/content/1080-ac

[2016-10-02 10:01] lasley commented on #431
@IguanaYachts - Thanks for the report, issue confirmed.

For further information, the error is superficial and only occurs once per page load. The math still seems to be taking place correctly despite the error, and subsequent formulas do not yield an error.

Offending code. Solution is to check if `formula` is defined before regex. I will submit a PR in the next few days

[code]

[2016-10-03 09:31] #431 closed, assigned to nobody

[2016-10-03 15:18] codingforfun commented on #314
I solved this for my original project following the approach @hbrunn suggested, but didn't code any further.

[2016-10-06 11:47] jan-sedivy commented on #342
should be there as #434

[2016-10-06 14:13] pedrobaeza opened #435 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] help_online - By @lmignon - #526
- [ ] help_popup - By @daramousk - #624
- [x] support_branding - ~~By @nikiwaibel - #465~~ By @robertrottermann - #465
- [x] web_access_rule_buttons - By @daramousk - #628
- [ ] web_action_conditionable - By @daramousk - #635
- [x] web_advanced_search_wildcard

[2016-10-09 08:09] Garamotte commented on #435
Migration of web_environment_ribbon here : https://github.com/OCA/web/pull/436
I added a note in the comment which could be added in the migration page of the wiki.

[2016-10-13 23:16] pedrobaeza commented on #342
Closing as there's a PR

[2016-10-13 23:16] #342 closed, assigned to nobody

[2016-10-14 01:13] pedrobaeza commented on #314
I close this then

[2016-10-14 01:13] #314 closed, assigned to nobody

[2016-10-16 23:19] legalsylvain commented on #435
Migration of web_sheet_full_width available here : #449

[2016-10-16 23:25] legalsylvain commented on #435
Removing web_easy_switch_company : #450

[2016-10-20 12:28] pedrobaeza commented on #116
No news, so I close.

[2016-10-20 12:28] #116 closed, assigned to nobody

[2016-10-20 12:28] pedrobaeza commented on #123
This was fixed, so I close.

[2016-10-20 12:28] #123 closed, assigned to nobody

[2016-10-20 12:28] pedrobaeza commented on #183
No news, so I close.

[2016-10-20 12:28] #183 closed, assigned to nobody

[2016-10-20 12:29] pedrobaeza commented on #185
I close this issue until further development.

[2016-10-20 12:29] #185 closed, assigned to nobody

[2016-10-20 12:30] pedrobaeza commented on #334
@hbrunn is this a real bug?

[2016-10-20 12:30] pedrobaeza commented on #198
No answer, so I close.

[2016-10-20 12:30] #198 closed, assigned to nobody

[2016-10-20 12:30] pedrobaeza commented on #299
No answer, so I close.

[2016-10-20 12:30] #299 closed, assigned to nobody

[2016-10-20 12:32] pedrobaeza commented on #338
OCA/web is the ideal repository for this?

[2016-10-20 12:33] pedrobaeza commented on #414
As the PR has been done in https://github.com/OCA/web/pull/438, I close this.

[2016-10-20 12:33] #414 closed, assigned to nobody

[2016-10-20 12:39] hbrunn commented on #334
I never check stuff when I have to ask back for a proper stacktrace first. That provided, I might have a look

[2016-10-21 14:06] lasley opened #452 "Web modules missing from Apps Store"
It was reported in #439 that web_widget_color for v10 is not on the Odoo Apps store.

Looking a bit further, it seems that our sync is not working properly. I searched for another module, [web_sheet_full_width](https://www.odoo.com/apps/modules/category/web/browse?search=web_sheet_full_width), and not even the 9.0 version is showing & [web_environment_ribbon](https://www.odoo.com/apps/modules/9.0/

[2016-10-21 14:10] pedrobaeza commented on #452
The publication in Odoo apps must be done manually, and it hasn't been done. Imagine that this makes us to create 200 manual records...

[2016-10-21 14:12] lasley commented on #452
Well that's highly inconvenient. I thought that Odoo apps were pushed through repo branches automatically?

Let me know if there's something I can do to help here

[2016-10-21 14:16] pedrobaeza commented on #452
I'm afraid not. I will try to reach their Odoo via XML-RPC to see if we can automate this in any way.

[2016-10-22 06:29] yelizariev commented on #452
One can contact apps store support team ( apps@odoo.com )
and ask them to export all 9.0 records, replace 9.0 to 10.0 in csv file and import back

[2016-10-22 16:51] lasley commented on #452
@yelizariev That will include modules that we haven't ported though I think.

@pedrobaeza I was just playing around with the Apps Store using one of my own repos, and applications are adding automatically as long as I have the branch configured as a separate repo.

Are we not just configuring repos for OCA, and instead pushing the apps individually?

I feel like there's something we're missing her

[2016-10-22 16:54] sbidoul opened #453 "web_readonly_bypass limitations"
Currently, web_readonly_bypass needs to be activated with a flag in the context.

Since a given form may be used in many different situations, it is difficult to properly set the context in all actions where the form is used directly or indirectly.

A possible solution is to activate the behaviour as a field-level option in the view (1), or better as an field-level option in the orm (2).

(1) can

[2016-10-22 16:56] pedrobaeza commented on #453
I agree that with the new API, onchange are not by view, so it's more suitable to change this as an attribute in the field definition.

[2016-10-22 16:59] pedrobaeza commented on #452
All 9.0 OCA branches were previously activated. The problem comes that we have to create one record per repository branch. Imagine the long list of repositories we have (you only need to go to https://github.com/OCA/ to see them):
- web
- website
- event
- vertical-medical
- ...

That's why I say is a tedious and huge work to do it manually.

But this hasn't have to be done module by module. Publi

[2016-10-22 17:09] lasley commented on #452
Cool thanks for the elaboration @pedrobaeza - I had a feeling I was just misunderstanding the problem.

I agree that we need a way to publish these branches via XML-RPC, possibly as part of our migrate_branch procedure. I'll play around and see if I can come up with something as well.

[2016-10-25 07:55] Martronic-SA opened #455 "License error for web_widget_image_download v8.0"
Throwing Wrong value for ir.module.module.license: 'LGPL-3'
Fixed using AGPL-3 for License in **openerp**.py

[2016-10-25 08:01] yajo commented on #455
Sorry, that addon's license is LGPL-3. That's not a bug :wink:

[2016-10-25 08:04] pedrobaeza commented on #455
You have to update your Odoo installation to avoid the error (that license was introduced later, not in the beginning of version 8)

[2016-10-25 08:04] #455 closed, assigned to nobody

[2016-10-26 08:54] Martronic-SA commented on #455
Ok, thank you very much for your replies!

[2016-10-28 10:54] yelizariev commented on #452
@pedrobaeza could someone register 10.0 branch manually for OCA/web at least, before xml-rpc way is ready. Really need it to resolve dependency issue on app store. I guess I am not the only one.

[2016-10-28 11:35] pedrobaeza commented on #452
I prefer to do it all together, but I will try to work on this today.

[2016-10-28 12:36] HardikG commented on #338
Hi @max3903 , I am thinking the same way as you thinking here for the attachments.
I am going to develop this functionality.  here (https://github.com/HardikG/Odoo-DMS) is the repo, right now it is in development.
I am wondering to replace the current drop down of attachment with the button.
On the click of that button File Manager will open, containing attached file or folder for particular recor

[2016-11-01 07:51] yelizariev commented on #452
I've registered OCA/web#10.0 branch myself
https://apps.odoo.com/web#id=6726&view_type=form&model=loempia.repo&action=129&menu_id=126

I authorize apps store team to move ownership of the record to OCA if needed.

web_widget_color 10.0 is available on app store now:
https://apps.openerp.com/apps/modules/10.0/web_widget_color/
![screenshot-apps odoo com 2016-11-01 12-50-54](https://cloud.githubuser

[2016-11-01 10:30] pedrobaeza commented on #452
And how do you exactly have authorized that thing?

[2016-11-01 10:50] yelizariev commented on #452
I mean, that I agree to transfer ownership, i.e. if you will ask app store team to do it and they will have doubts, you can reference to my comment.

[2016-11-02 02:38] nikiwaibel commented on #435
Migration of web_favicon: https://github.com/OCA/web/pull/459

[2016-11-04 06:19] pedrobaeza commented on #334
Any news on this?

[2016-11-07 13:18] AaronHForgeFlow opened #466 "m2x options for view"
An error is showing when opening crm_claim form view, after merging [IMP] 7.0 add m2x options for view: https://github.com/OCA/web/pull/305

To reproduce it:
- Go to runbot http://3271007-7-0-64d3bd.runbot1.odoo-community.org/?db=3271007-7-0-64d3bd-all
- Install crm_claim
- Go to Sales -> After-Sale-Services-> Claims.
- Open a claim or click on "Create" button.

Then you get the following:

![imag

[2016-11-08 14:48] Cedric-Pigeon opened #472 "web_widget_x2many_2d_matrix: unable to have name_get value of many2one"
Hello,

I am trying to use the widget web_widget_x2many_2d_matrix on a wizard.

My field is a one2many and my x and y fields are many2one.

Unfortunately the widget is unable to get the name-get value of my x and y fields. So on screen I see the id which is not very optimal.

Here is my field on view:

`<field nolabel="1" name="orderpoint_ids" widget="x2many_2d_matrix" field_x_axis="location_id"

[2016-11-08 14:54] JordiBForgeFlow commented on #472
Hi Cédric,

I faced the same issue.

See here how I'm solving the problem:
https://github.com/OCA/stock-logistics-warehouse/pull/211

On Tue, Nov 8, 2016 at 3:48 PM, Cédric Pigeon (ACSONE) <
notifications@github.com> wrote:

##

Jordi Ballester Alomar
CEO & Founder | Eficent
(+34) 629530707 | jordi.ballester@eficent.com | http://www.eficent.com
Twitter: https://twitter.com/jbeficent_erp | Linkedin

[2016-11-08 14:55] pedrobaeza commented on #472
You need this workaround, that is not something about the widget itself: https://github.com/OCA/sale-workflow/blob/6955c5d5992f7ef71e3d436860eec018c90a6853/sale_order_variant_mgmt/wizard/sale_manage_variant.py#L17.

Anyway, you can see a full example in https://github.com/OCA/sale-workflow/tree/9.0/sale_order_variant_mgmt

[2016-11-08 14:55] #472 closed, assigned to nobody

[2016-11-08 14:57] JordiBForgeFlow commented on #472
@pedrobaeza Hmm, good to know.. Really a hack!

[2016-11-08 16:40] Cedric-Pigeon commented on #472
Thanks !

[2016-11-09 09:22] weehock commented on #75
Hi, how do I fix this for journal items? Appreciate the advise.

[2016-11-09 09:48] yajo commented on #334
@mdziurzynski, what @hbrunn is trying to say is that you should provide the stack trace within developer mode.

[2016-11-09 10:36] yelizariev commented on #452
@pedrobaeza now one can register batch of repos in once simply using built-in export-import tool. (There were access issues, but support team has resolved them). So, to do it
- export 9.0 branches to csv file
- replace 9.0 to 10.0
- import csv back with ignoring first column **id**
- wait 1 day -- repos has to be scanned

[2016-11-09 11:09] pedrobaeza commented on #452
Cool, thanks for telling me this trick! I'll do it ASAP, although I'm having very hard days with work overload .

[2016-11-09 12:17] mdziurzynski commented on #334
@Yajo, I posted the whole JS stacktrace, there is no error/message in odoo log - its clientside error. What more should i post here?

When running odoo JS Tests i get following error connected to the module:

[code]

[2016-11-09 12:55] yajo commented on #334
Just do what you did in comment 1, but in developer mode, and paste the trace.

[2016-11-09 13:02] mdziurzynski commented on #334
JS console trace while being in developer mode:

[code]

Is that what you mean?

[2016-11-09 13:12] mdziurzynski commented on #334
OK, i got what the problem was. In my example I make a mistake, the colors cannot be defined without expression. No expression causes expression parsing part of code to throw this error.

And so this:

`<attribute name="bg_color">red</attribute>`

has to be changed at least to this:

`<attribute name="bg_color">red:True</attribute>`

@Yajo, thanks for help:)

[2016-11-09 13:12] #334 closed, assigned to nobody

[2016-11-09 14:31] pedrobaeza commented on #75
You should develop this option if you want it.

[2016-11-09 14:33] leorochael commented on #435
Migration of web_tree_image: #464

[2016-11-11 16:41] augustosamame opened #479 "[10.0] web_export_view error when trying to migrate to v10"
Hi. I am trying to migrate this module to version 10.

I have followed the migration instructions in the OCA wiki here:

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0

However, upon installing the module I get the following error:

[code]

There is no reference to the first_invoice_date field in the code.
I am a newbie at Odoo.
Any help would be appreciated.

[2016-11-11 16:43] pedrobaeza commented on #479
That migration guide is only for starting correctly. Then, you need to do the rest of the work of the migration itself. Anyway, this module has been already migrated here: https://github.com/OCA/web/pull/444

[2016-11-11 16:43] #479 closed, assigned to nobody

[2016-11-11 18:22] vincentcoll commented on #272
@hbrunn
Hi, I am having basically the same issue except I want to use it for the Landed Cost Valuation Adjustment where in value_x I want the Cost Lines and in the value_y I want the product_ids. So I had this but the form do not show at all. The values in the Many2Many are populated when I hit the compute button in the landed cost. I'm kinda lost in the process. Can you guide me?

[code]

[2016-11-12 13:25] hbrunn commented on #272
first, don't use the widget at all to inspect the values with a normal many2many widget. then, check if the values in there will form a balanced matrix at all, and then post whatever `get_value` gets as arguments

[2016-11-15 20:30] cvinh opened #483 "[10.0 web_favicon] Included in standard Odoo"
Hello all

I think web_favicon has to be deprecated for v10.0 as the setup appears to be included in Odoo v10.0c
Check "Website Administration/Configuration"

Best Regards

[2016-11-15 20:31] cvinh commented on #483
My bad, maybe it's included for website and web_favicon is for backend ?
Please confirm

[2016-11-15 20:36] pedrobaeza commented on #483
Yeah, that's it.

[2016-11-15 20:36] #483 closed, assigned to nobody

[2016-11-17 12:13] yelizariev commented on #452
@pedrobaeza according to my information, possibility of using import-export to register repos in app store is removed for security reasons. So, xml-rpc is the only way to automate registration now.

[2016-11-17 12:21] pedrobaeza commented on #452
Ouch, I should do it when I had the opportunity, hehe. My pile of TODO is increasing more and more...

[2016-11-17 15:40] legalsylvain commented on #452
What about include this feature in the module github_connector_odoo ? An xml-rpc call should not be hard to do ?
CC : @gurneyalex.
kind regards.

[2016-11-18 04:54] JayVora-SerpentCS commented on #435
Working on web_notify #491

[2016-11-18 08:20] lasley commented on #452
Excellent idea @legalsylvain - just what we need for scaling our repos!

Odoo SA confirmed that this is indeed possible through RPC, so I think this would be a great idea to include into the existing Github integration.

A bit out of scope in terms of Github itself, but when paired with the context of Odoo it totally makes sense that anyone with this connector installed & monitoring Odoo repos wou

[2016-11-21 01:30] gdgellatly commented on #466
Similar Error, under Opportunities Kanban click any item, and you get TypeError: widget.view is undefined.

This commit should be reverted until the issue resolved.

Copying authors and approvers
@azoellner @hbrunn @pedrobaeza

[2016-11-21 11:56] azoellner commented on #466
Hopefully fixed this issue in pull request #493

[2016-11-23 11:34] Cedric-Pigeon opened #494 "[8.0] web_widget_x2many_2d_matrix: axis order does not respect _order of model"
Hello,

I am using this widget and whatever I do the axis are always sorted by id. Although I have an _order attributes on my model.

Any ideas ?

Thanks

[2016-11-23 11:47] hbrunn commented on #494
the qweb template reads the values through a https://github.com/OCA/web/blob/8.0/web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml#L15 which is defined in https://github.com/OCA/web/blob/8.0/web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js#L217 - this doesn't care for the order at all. So you'll probably have to save a list of ordered ids somewhere

[2016-11-23 11:47] #494 closed, assigned to nobody

[2016-11-28 06:43] george-mengelberg opened #503 "web_export_view - 'instance' not defined"
I am receiving an 'instance' not defined error when a list view has columns with floats.
commit d6de619666d8656ef325cc500ac1257f2128622d

Uncaught ReferenceError: instance is not defined
http://localhost:9069/web_export_view/static/src/js/web_export_view.js:78
Traceback:
ReferenceError: instance is not defined
    at String.<anonymous> (http://localhost:9069/web_export_view/static/src/js/web_expor

[2016-12-04 15:46] njeudy commented on #435
web_send_message_popup here #504

[2016-12-08 13:17] pedrobaeza opened #505 "[9.0] web_readonly_bypass: Missing features"
The commit e4e0b72ea07f57074551411cbe5a9e9f79efd1f2 is not included in current module for v9.

@JonathanNEMRY, as you are the original author of that module, can you tell me if you can forward port that feature to version 9?

[2016-12-19 14:00] tandrieuxx opened #508 "Color picker doesn't work in custom settings"
I haven't managed to make the color picker work on a custom settings page for my own module. All it does is changing the background color of the text input field, but not dynamically, I need to refresh the page to see the new color. When I click on it, the color picker doesn't show up but I can see the page height growing by 1px. I tried to edit manually an existing settings page (Settings -> Gene

[2016-12-19 14:02] pedrobaeza commented on #508
If it's working on other field, it's working correctly, so there's not a bug. Follow README instructions and you will get it, or learn what is the problem in your code.

[2016-12-19 14:02] #508 closed, assigned to nobody

[2016-12-20 09:10] tandrieuxx commented on #508
I've tried to put the same XML code on a basic form view, it works. It doesn't if it's a configuration form. I declared my char field exactly like README says (even by adding size=7), and my field with a widget="color" in XML. There's not much more to do actually. The HTML code I get in my browser is exactly the same (near text input field) as I got with a regular form view (where widget worked),

[2016-12-28 13:32] rousseldenis opened #512 "[10.0] web_responsive Main menu title"
@lasley @danieltorres7  Is it possible to add (if it isn't scheduled yet) the app Title between the toggle button and the first menu element to recall user in which app he is (e.g. 'Sales') ?

As in some cases it is not obvious if applications have the same menus.

[2016-12-30 16:30] danieltorres7 commented on #512
Yes, it's possible and I already have it working on my custom backend template. Should I create a PR on it @lasley?

[2016-12-30 16:31] pedrobaeza commented on #512
Better title or icon?

[2016-12-30 16:33] pedrobaeza commented on #512
As I'm seeing, Odoo enterprise uses the title with other font style:

![seleccion_005](https://cloud.githubusercontent.com/assets/7165771/21568584/0634143a-ceb6-11e6-86de-49afb7a57c84.png)

[2016-12-30 16:35] danieltorres7 commented on #512
Yes, its also available on https://www.odoo.com/apps/themes/10.0/backend_theme_v10/ and other backend themes.

[2016-12-30 16:36] rousseldenis commented on #512
@pedrobaeza Exactly what I thought about !

[2016-12-30 16:47] danieltorres7 commented on #512
![captura de tela de 2016-12-30 14-46-04](https://cloud.githubusercontent.com/assets/18170025/21568834/d865eebe-ce9e-11e6-9ac7-d82d76271e99.png)
![captura de tela de 2016-12-30 14-46-38](https://cloud.githubusercontent.com/assets/18170025/21568836/dc90859e-ce9e-11e6-8a31-98fdfd2f90a8.png)

Here is my web_responsive customizations on App Title.

[2016-12-30 17:21] pedrobaeza commented on #512
It seems good enough for me.

[2016-12-30 17:31] danieltorres7 commented on #512
OK, I will organize things and make some comments on code so I can commit and PR asap...

[2016-12-30 18:57] lasley commented on #512
Hooray thanks everyone! This will be an awesome addition IMO

[2017-01-05 09:59] RaffaeleT opened #516 "web_export_view - 'tmp is not defined'"
I am getting this error when exporting a tree view, on an Odoo 9 on Ubuntu 14.04.
The tree contains:

- a date field
- some char fields
- one integer field
- three float fields with float_time widget
I tried removing the float fields but the error persists.

`Uncaught ReferenceError: tmp is not defined
http://sydev9:8069/web/content/525-0bf94ad/web.assets_backend.js:6545
Traceback:
ReferenceError:

[2017-01-05 10:03] pedrobaeza commented on #516
Please update your module. It was fixed yesterday.

[2017-01-05 10:03] #516 closed, assigned to nobody

[2017-01-05 13:38] RaffaeleT commented on #516
Hallo thank you.
I pulled and installed the module today, so I assume it is the latest version available (9.0.1.0.1)
The error above results from Chrome.
For reference sake, in IE11 it gives:
`Variable undefined in strict mode
http://sydev9:8069/web/content/525-0bf94ad/web.assets_backend.js:6545
Traceback:
ReferenceError: Variable undefined in strict mode
   at Anonymous function (http://sydev9:80

[2017-01-13 08:36] dreispt opened #525 "RFC: Odoo Web Dashboards"
I was looking for an open source solution for a web dashboard to have self updated KPIs displayed in a dedicated screen. The `web_dashboard_tile` doesn't meet the requirements for this.

I found [Freeboard](https://github.com/Freeboard/freeboard): it is an extensible JS client webapp, and looks very promising. AFAICT it wouldn't be too hard to plug it in Odoo.

Thoughts? Any other dashboard altern

[2017-01-13 09:08] dreispt commented on #525
An addition inspiring link: the [Panic Status Board](http://panic.com/blog/the-panic-status-board/) and a [HTML/CSS implementation](https://github.com/nickschwab/PanicStrap/tree/master/PanicStrap) of it.

[2017-01-13 09:40] legalsylvain commented on #525
Hi  @dreispt, what are the missing features ? Maybe we could improve web_dashboard_tile ?
Anyway, very interested to review such work.

[2017-01-13 10:12] dreispt commented on #525
Web_dashboard_tile would need more widget types: gauges, sparklines/line charts, etc. But that's achievable.
A harder requirement is that it should automatically update itself, preferably without page reloads.
Also, I would like the dashboard to be able to be displayed in full screen, without the menu bars (top and left), and other navigation elements.

[2017-01-13 10:49] legalsylvain commented on #525
Interesting !

* For the first point, maybe it's not the purpose of this module, and should be done in an other module. Tiles are very little and I do not figure out how to display correclty a graph in there little squares. (A new module web_dashboard_graph ?) @OSguard, What do you think about that ?

* For the second point, it could be a good improvment of the current module, implementing a reloa

[2017-01-13 10:54] bealdav commented on #525
Inside or not ?

Outside:

https://github.com/airbnb/superset/blob/master/README.md
https://github.com/metabase/metabase/blob/master/README.md

[2017-01-13 13:07] dreispt commented on #525
I'm not excluding either.
It would be nice to have that feature into Odoo.
But I don't mind setting up a service just for that, that connects to Odoo to get the needed data.

`superset` looks nice and it's Python.

[2017-01-13 13:09] dreispt commented on #525
@legalsylvain The first one should be easy: Odoo already implemented large Kanban cards with gauges and line graphs. But the other two ones mean going into JS and CSS-land, and I'm not too familiar with that.

[2017-01-13 13:24] bealdav commented on #525
So am I, `superset` just do that for us: good brains and activity there.
We only need to focus to materialized sql view to avoid join (unsuported by superset) and that's all: et la magie opère.

[2017-01-13 13:30] bealdav commented on #525
You can setting up a service for bi and make it available for all your Odoo projects.

Set up can be easy like here: https://github.com/EBII/voodoo/blob/499ea33ba4c6e61da34f9716d8116301d13556c8/voodoo/odoo/docker-compose.yml#L2-L13 for voodoo project with metabase

[2017-01-18 21:32] lasley commented on #525
I've used `superset` in the past & like it very much.

The real challenge if you were going to integrate something like that is that it already has a pretty killer UI. Something like the Etherpad integration in projects might work, but I think the page would still be constricted by the standard Odoo frame.

Am I misunderstanding the goals?

[2017-01-18 21:34] lasley commented on #512
We're good to close this I think. Looks like all the features here are in the new, significantly better looking version.

[2017-01-18 21:34] #512 closed, assigned to nobody

[2017-01-18 21:45] dreispt commented on #525
@lasley My particular use case does not need to be framed inside Odoo UI, so a something like `superset` running alongside with Odoo would do the trick. I'll be trying that.

[2017-01-19 08:04] bealdav commented on #525
We 'll work on February with @legalsylvain on this matter too.
With superset, maybe opensource java BI tools (pentaho, spago, etc) 'll have no future for us.

[2017-01-19 10:57] SodexisTeam commented on #435
Started migration of web_tree_many2one_clickable for 10.0

[2017-01-20 14:59] yweng8111 opened #534 "Problem with web_translate_dialog"
I have a problem with translation. If I create a product. No Translation data of ir.translation will be created for other language automatically. So if I use this translation dialog and want just change the English name of this product. All other users who uses another language will also see this change.  Has anyone idea to resolve this problem? Thanks for any Tips.

[2017-01-23 00:04] lasley commented on #452
Alright so this is starting to get on my nerves, so I believe I'm going to make a script to knock this out. Is [`maintainer-tools/oca_projects.py`](https://github.com/OCA/maintainer-tools/blob/master/tools/oca_projects.py#L17) the  most definitive list of module repos we have?

[2017-01-23 00:09] pedrobaeza commented on #452
Use this method for getting a dynamic list of repositories: https://github.com/OCA/maintainer-tools/blob/71871be3ff392b3994383b6661f56371f10a5e24/tools/oca_projects.py#L161

[2017-01-23 00:15] lasley commented on #452
Cool even better, thanks @pedrobaeza. I'm not going to claim that this solution will be elegant in the least bit, but it will at least work yearly when we need it 😄

[2017-01-23 00:35] lasley commented on #452
Oh yeah, especially because XML-RPC is locked down. This is about to be a straight up screen scraper.

[2017-01-23 14:11] abdallamhafeez opened #535 "[8.0] web_dashboard_tile Views belong to action"
Hello
I have problem when i choose "Action" when create dashboard tile. It doesn't open related form and tree view belong to it as when use it in Customer Invoices it open form that belong to Supplier invoice.

[2017-01-27 22:45] pedrobaeza opened #540 "[9.0] web_responsive: Some bugs + improvements"
The mobile view is still not perfect, as you can see in this screenshot:

![seleccion_026](https://cloud.githubusercontent.com/assets/7165771/22390038/0946f07c-e4e9-11e6-8def-291e41f97771.png)

Other things that can be improved:

* When clicking on a menu, hide all the rolled-up menus to the right button, as you don't want to click there again or scroll down for seeing the part you have click on.

[2017-01-30 09:21] yajo commented on #540
Can you point to how to get to screenshot 1?

[2017-01-30 09:27] pedrobaeza commented on #540
In Firefox, go to mobile view, and see a sales order in form view.

[2017-02-01 17:32] samichege opened #542 "Web Crush after installing web_responsive"
Completely unable to load the web interface after installing this module. How do i uninstall this module on the command Prompt?

2017-01-25 10:16:54,859 19870 INFO 19011 werkzeug: 41.75.79.4 - - [25/Jan/2017 10:16:54] "POST /web/dataset/call_kw/ir.config_parameter/get_param HTTP/1.1" 200 -
2017-01-25 10:16:55,933 19870 INFO 19011 odoo.addons.base.module.module: Downloading module `web_responsive`

[2017-02-01 17:46] pedrobaeza commented on #542
Sorry, but the problem is in your side. Maybe other conflictive module, or not service restarted/module updated. If you reproduce the problem in runbot, then put it here.

[2017-02-01 17:46] #542 closed, assigned to nobody

[2017-02-01 17:48] samichege commented on #542
Most Probably So.

How do i uninstall the Module in command prompt?

Sami

On 1 Feb 2017, at 6:46 PM, Pedro M. Baeza <notifications@github.com> wrote:

Sorry, but the problem is in your side. Maybe other conflictive module, or not service restarted/module updated. If you reproduce the problem in runbot, then put it here.

—
You are receiving this because you authored the thread.
Reply to this emai

[2017-02-01 17:53] pedrobaeza commented on #542
That's not possible. Odoo doesn't offer that possibility. You can change the state of the module to "to uninstall" via DB and restart to try.

[2017-02-01 17:59] samichege commented on #542
Thanx for you prompt response guys. Very much appreciated.

Kindly, give me a guide on how to change the state of the module to "to uninstall" via DB.

Please.

On 1 Feb 2017, at 6:53 PM, Pedro M. Baeza <notifications@github.com> wrote:

That's not possible. Odoo doesn't offer that possibility. You can change the state of the module to "to uninstall" via DB and restart to try.

—
You are receiving

[2017-02-01 18:02] pedrobaeza commented on #542
Sorry, that's out of scope of this. You should contact an Odoo integrator if you are not able to do it on your own.

[2017-02-01 18:03] samichege commented on #542
Thanx Team.

Very much appreciated.

Sami - Over and Out

On 1 Feb 2017, at 7:02 PM, Pedro M. Baeza <notifications@github.com> wrote:

Sorry, that's out of scope of this. You should contact an Odoo integrator if you are not able to do it on your own.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://github.com/OCA/web/issues/542#iss

[2017-02-04 10:51] bud-e commented on #435
https://github.com/OCA/web/pull/549 - `web_searchbar_full_width`

[2017-02-04 18:48] bud-e commented on #435
https://github.com/OCA/web/pull/550 - `web_dialog_size`

[2017-02-06 15:02] qtheuret opened #551 "[10.0] web_export_view: Uncaught error"
After installing 'web_export_view' module, when I go to a list view, I have this error :

Uncaught Error: QWeb2: Template 'WebExportTreeViewXls' not found

http://localhost:20069/web/content/251-bd08794/web.assets_common.js:2908
Traceback:
Error: QWeb2: Template 'WebExportTreeViewXls' not found
    at Object.exception (http://localhost:20069/web/content/251-bd08794/web.assets_common.js:2908:7)

[2017-02-07 14:35] eLBati commented on #551
Hello @qtheuret , just tried on runbot http://3279665-10-0-c23684.runbot1.odoo-community.org to export invoice list and got no error.
Did you do any particular step/configuration?

[2017-02-07 21:11] lasley commented on #452
So I believe this may be impossible, at least without a lot of effort.

The main issue here is that Odoo Apps is OAuth based login - this seems impossible over XML-RPC.

I tried screen scraping, but the dance between odoo.com & apps.odoo.com is really maddening using requests and BeautifulSoup 😖

[2017-02-07 21:14] pedrobaeza commented on #452
What a pity! I'm going to try to contact them to see if there's any solution.

[2017-02-07 21:17] lasley commented on #452
I actually contacted them immediately after this ticket was opened. Here's the reply, but the TL;DR is they don't know either:

It pretty much stopped there. I have no vision into their infrastructure that he's asking me questions about, so I figured it was a fool's errand continuing that - particularly because my ticket was closed immediately after their response.

[2017-02-07 21:21] pedrobaeza commented on #452
Uhm, it seems a bit vague. I'm thinking about pinging someone like @odony or @mart-e about this thing. Guys, sorry for pinging you outside of Odoo, but it's to follow context. In a nutshell, we are wondering if there's is any way we can mass-update 10.0 OCA branches in Odoo apps account for avoiding to register one by one by hand, and to make this process regular on each new version. Can you help

[2017-02-08 08:00] dmo-odoo commented on #452
@lasley My question was not specific to the appstore. Oauth and user passwords are standard Odoo features so I don't really know why you thought you could not answer them. I'm going to assume your answer to my question was "No, I can't change the password of my own account", so I need to assign a password to one particular account on apps.odoo.com that you could use for your xmlrpc calls. Can one

[2017-02-08 08:17] mart-e commented on #452
Hello,

This is not really what we are saying. If you want to make xmlrpc, you must have a local password. This can be done using the "change password" button.
Once you have a xmlrpc access, you can `copy` all your registered repositories just changing the version. Should not be too hard.

[2017-02-08 08:24] pedrobaeza commented on #452
Thanks for the information, Martin, and sorry if we have misunderstood your words. I'll try to change the OCA account password that way and connect via XML-RPC to see. I'll let you know if any problem.

[2017-02-08 08:25] dmo-odoo commented on #452
@lasley Besides, I did not close your ticket right after replying to it. I replied on November 2nd and the ticket got closed automatically on November 10th after one week with no reply from your part.

[2017-02-08 08:53] DidierLACOMBE opened #552 "help page missing for the "mass mailing module""
Hello

under 9C community W10

I am using help_online and it works well

But I can't create help page for the "mass mailing module"

Am I missing something ?

The page is created, but the ? button stay in red

help

thanks

[2017-02-08 09:17] qtheuret commented on #551
My bad, it seems that there is a non-compatibility between the web_export_view module and a backend module I downloaded on apps.odoo.com.
I close this issue.

[2017-02-08 09:17] #551 closed, assigned to nobody

[2017-02-08 09:26] astrazzari72 opened #553 "web_access_rule_buttons: edit mode and back/forward buttons"
The addon disables the Edit button on the form views if the user cannot edit the current record according to the record access rules, but if the user goes in edit mode of a record he can edit and then he moves to the previous or next record with the < > buttons going to a record he can't edit the form view remains incorrectly in edit mode

[2017-02-08 11:22] pedrobaeza commented on #552
@Cedric-Pigeon I think this one is for you

[2017-02-08 11:48] psyray commented on #151
Hi,
This bug is still present, result after saving is the same as @RoelAdriaans-B-informed reports.
![image](https://cloud.githubusercontent.com/assets/1230954/22735955/6c7853b8-edfc-11e6-970c-115c33fdd81d.png)
![image](https://cloud.githubusercontent.com/assets/1230954/22736138/0e937952-edfd-11e6-9ef3-27f7c891e7e9.png)

Is this planned to be resolved ?

[2017-02-08 11:49] pedrobaeza commented on #151
If the PR already merged doesn't resolve it, I don't think so, as most of us have moved on to 9.0 or uninstall the module, but I can't speak for all.

[2017-02-08 11:51] psyray commented on #151
Thanks for quick reply ;)
Is there a way to disable ck_editor for email templating ? Or must i use this module for all html content ?

[2017-02-08 11:54] pedrobaeza commented on #151
Not now AFAIK, as this one replaces default HTML editor.

[2017-02-08 11:55] psyray commented on #151
Ok thanks, I will disable this module.

[2017-02-08 15:24] DidierLACOMBE commented on #552
Hello Pedro

I guess this is for VAT reporting
not for missing help page isn'it ?

Many thanks

Didier Lacombe

didier.lacombe303@gmail.com

Tél  : 00 33 (0) 6 20 57 32 20
Fax : 00 33 (0) 4 78 42 11 58

2017-02-08 12:22 GMT+01:00 Pedro M. Baeza <notifications@github.com>:

[2017-02-08 18:08] lasley commented on #452
@dmo-odoo Definitely apologies for the misinterpretation, I understood it to be specific for the App Store. It seems like you're running a more locked down version than I'm used to, but maybe that's just my lack of familiarity with Enterprise.

Hrmm maybe I'm thinking of another one then. My apologies on that as well. Full of fail it seems.

Thanks for the help & all that you do, guys.

@pedrobaez

[2017-02-13 11:17] tarteo commented on #240
Hey! Can I migrate web_shortcuts? Do I have to change the name to web_shortcut (singular)?

[2017-02-13 11:33] pedrobaeza commented on #240
Yes and yes, please!

[2017-02-15 06:35] Cedric-Pigeon commented on #552
Hello @DidierLACOMBE ,

We are not aware of such limitations.
I tested your case on runbot and it works succesfully.

It seems something is wrong on your instance.

[2017-02-15 10:11] dreispt opened #556 "[9.0][10.0] web_responsive conflicts with web_menu_collapsible: Drop down menus don't expand"
Inside an app, you can't access second level menu items. I'm using Firefox 53.0a2.

For example, in the Settings app, click on the "Technical" menu and it won't expand, making it's options unavailable.

![2017-02-15 09_54_57-dashboard - odoo - firefox developer edition](https://cloud.githubusercontent.com/assets/1246629/22969538/c45f2a38-f366-11e6-99ae-f7117142896c.png)

[2017-02-15 10:22] pedrobaeza commented on #556
I'm using the same and I have no problem. Check NoScript or similar.

[2017-02-15 19:08] DidierLACOMBE commented on #552
hello

here is the link to the backup wich has the problem

regards

https://drive.google.com/file/d/0BwJb4lZkb0KqWk5UcFFXcmlKcDg/view?usp=sharing

Didier Lacombe

didier.lacombe303@gmail.com

Tél  : 00 33 (0) 6 20 57 32 20
Fax : 00 33 (0) 4 78 42 11 58

2017-02-15 7:36 GMT+01:00 Cédric Pigeon (ACSONE) <notifications@github.com>:

[2017-02-16 10:14] DarkChamp opened #558 "web_export_view - null values for Monetary fields"
When a field is defined as 'fields.Monetary' and currency symbol is placed before the value (i.e. '$ 55.67', '£ 11.23') then resulting value parsed from QWeb (web_export_view/static/src/js/web_export_view.js:on_sidebar_export_treeview_xls) to controller is null.

For the values where currency symbol is after value (i.e. '0.55€') is parsed and exported correctly.

[2017-02-16 11:22] pedrobaeza commented on #556
@dreispt I have found what is the problem: _web_menu_collapsible_ is screwing the thing.

I anticipated some kind of overlap, but not conflict in https://github.com/OCA/web/pull/463#issuecomment-258158226, but it totally conflicts.

@tarteo, as your module landed later, please assure the compatibility with web_responsive. I still don't understand why not putting web_responsive and forget all the p

[2017-02-18 10:39] tarteo commented on #556
@pedrobaeza Those modules are not meant to be installed along each other. It's like complaining when 'web_theme_blue' and 'web_theme_green' are conflicting each other (just a metaphor). This will probably only happen in a Runbot installation.

Since you're really convinced about the module not being relevant anymore, please, please, please, just remove the module. I really don't care if the module

[2017-02-18 16:11] lasley commented on #556
@tarteo - I'm ok with a completely incompatible modules, it is what it is. We're in a rock and a hard place with testing though, because we definitely can't have two modules conflicting with each other on Runbot.

As a note, I specifically made `web_responsive` compatible with other modules that I did not believe should be installed alongside it so that it can be tested in Runbot along with everyt

[2017-02-18 16:13] lasley commented on #556
It may also be possible to combine the two modules, allowing for a customizable interface. I don't fully understand what your module does, but if it just hides the left bar - we can probably make that functionality work as an option in `web_responsive`. I didn't get rid of any of the elements, I simply hid them.

[2017-02-20 19:36] tarteo commented on #556
@lasley

 If web_menu_collapse is compatible with the web_responsive module there is nothing to test in Runbot anyway. Because I've to totally disable web_menu_collapsible's functionality, or over rule web_responsive's functionality to be compatible with web_responsive.

web_menu_collapsible makes the second top menu (the purple ones) collapsible which are in the web_responsive module moved to the

[2017-02-20 19:57] pedrobaeza commented on #556
One thing: Travis file is independent from Runbot. Runbot installs everything in the repo, unless you have a whitelist for installing modules. The problem is that runbot doesn't have the possibility right now to blacklist a module, which is what we need here.

[2017-02-20 20:56] lasley commented on #556
@pedrobaeza - this is incorrect now that we have Dockerized our Runbot. Travis2Docker uses the first `TESTS=1` that is found in the Travis file matrix, which can contain an exclude statement.

@tarteo - Ohhhhh I really like the centralized menu module installing whatever you actually want. We could then use the exclude statement in Travis file to exclude both of them, then have checking the settin

[2017-02-20 21:55] pedrobaeza commented on #556
OK, I didn't know about the exclude in Travis2docker. Cool then and it can be a solution.

[2017-02-21 18:21] lasley opened #562 "[RFC] web_react: React.js Widget"
The intent of this module will be to provide a basic React implementation in Odoo.

I'm currently back and forth on whether one of the intents will also be to integrate with our existing Backbone.js model & router framework. I have played around with this a bit by hand now and have it working well, we won't be able to use some of the great performance tuning features like `shouldComponentUpdate` d

[2017-02-21 18:26] pedrobaeza commented on #562
Do you know  https://github.com/trobz/openerp-web-unleashed?

[2017-02-21 18:37] lasley commented on #562
Interesting, I did not - thanks @pedrobaeza!

This looks to be exactly what I'm looking for! Too bad there's no licensing - I created trobz/openerp-web-unleashed#11 to find out & will report back.

[2017-02-22 17:06] lasley commented on #562
Alright so looks like it's licensed under AGPL. Unfortunately that's a blocker for me, I need LGPL, so will need to create a competitor.

Do you have any experience with this library? It would be really nice to know shortcomings of it from experience in order to design around them.

[2017-02-22 17:16] pedrobaeza commented on #562
I'm afraid not. I only know it as a global ecosystem observer, but I haven't done anything with it.

[2017-02-22 17:28] lasley commented on #562
No worries- I'll play around with it a bit before I get started then 😄

[2017-02-23 08:38] yajo commented on #562
What would be your goal with this?

[2017-02-23 17:06] lasley commented on #562
I'm having trouble making any sort of complicated view outside of the Odoo frame when it involves a data model. The goal here will be to provide the ability to create a React component coupled with a data model, using the Odoo widget framework. I'm also thinking some basic widgets are in order, like a o2m.

The component would be included in a standard website template as would would any normal Re

[2017-02-23 19:47] lasley commented on #562
Actually now that I'm thinking about this in context of website, the React components wouldn't be widgets but would instead be `snippet.animation`. I need full controller routes in my use cases, but some components could be great in the website editor.

[2017-02-23 20:07] pedrobaeza commented on #562
If you can wait a bit, @ged-odoo told us on Odoo days that they are preparing a big refactoring to decouple web widgets from web client architecture with one of the goals being to use them also on website. He was not sure if this is going to be ready on v11. Géry, maybe you can update us the status of this?

[2017-02-24 08:48] ged-odoo commented on #562
well, we are indeed doing a huge refactoring of the odoo JS framework.  Maybe some people will be interested in an update, and since we don't have an official odoo technical blog, I might as well give some info in this issue. If it is of interest to you, you can have a look at the current code in the master-web-views branch.

We are rewriting (almost) from scratch all the views.  We take this oppo

[2017-02-24 09:04] pedrobaeza commented on #562
Thank you very much for the update, Géry. I'm also excited to have this soon!

[2017-02-24 09:08] simahawk commented on #562
@ged-odoo thanks for the update! @lasley I'd wait for this :)

Meanwhile, if your main issue is to easily build front-end forms you could have a look at https://github.com/OCA/website-cms/pull/9. My plan is to add a minimal support for onchanges & co. so that you won't have to plug custom JS everytime.

Right now it works w/ every model and every field. Widgets are still a WIP tough -especially o2

[2017-02-24 10:42] astirpe commented on #240
Porting of web_shortcuts (renamed to `web_shortcut`) #564

[2017-02-24 15:40] lasley commented on #562
Wow @ged-odoo this is possibly some of the best news I've gotten in a long time, thank you for providing it to us!

After looking at the code in `master-web-view`, I agree that it is a good idea to hold off here. These views are way more modular - I'm loving the new abstract classes!

Géry was not joking - I think this new architecture may cover my requirements fairly well. I'm going to play aroun

[2017-02-24 17:04] nafex commented on #562
@ged-odoo thank you very much for this good news :-)
Will the new framework resolve this issue https://github.com/odoo/odoo/issues/2693 too?

[2017-02-24 19:37] ged-odoo commented on #562
@nafex not sure right now, because those issues are quite subtle.  But what is sure is that our BasicModel has thousand of lines of tests for various combinations of onchanges/field types/default_get.  Also, it is vastly simpler than the previous code (it only deals with data, not rendering, and it has been designed to represent properly relations). So far, our goal is to stabilise the code and to

[2017-02-25 16:37] moylop260 commented on #562
@ged-odoo that is great! Thanks for the update.
If you are testing many cases could be a good moment to support js-coverage measure to know what methods are not tested?
@lasley has ideas about

[2017-02-26 08:35] yelizariev commented on #452
Hi guys,
I am going to develop simple tool (a module) to work with repositories. It's just a wizard to call ``[Scan Repo]`` button, but anyone could extend it for his own needs. Any idea what is proper place (repository) for such module?
As for now, we have working instruction about changing password and connecting via xmlrpc. Thanks to @dmo-odoo.
https://gist.github.com/yelizariev/9cfddc011e709c4

[2017-02-26 12:24] yelizariev commented on #452
The module is here for a while:
https://github.com/it-projects-llc/addons-dev/pull/186. Direct link: https://github.com/it-projects-llc/addons-dev/tree/misc-addons-8.0-apps_odoo_com/apps_odoo_com

[2017-02-27 15:12] tarteo commented on #435
I've started the migration of web_shortcuts / web_shortcut (9.0 https://github.com/OCA/web/pull/564 to 10.0)

[2017-02-28 18:07] guohuadeng opened #566 "odoo10,web_tree_image got Template 'ListView.row.image' not found"
i use web_tree_image like this.
[code]

and the error info is

[2017-02-28 18:29] guohuadeng commented on #566
get the update from odoo.com

[2017-02-28 18:29] #566 closed, assigned to nobody

[2017-03-01 10:00] LeartS commented on #435
`web_listview_custom_element_number` isn't needed in v10 because it's already possible to set any number of records to show.

[2017-03-01 17:56] ispottahiti opened #568 "Uncaught Error: QWeb2: Template 'WebExportTreeViewXls' not found"
Hi, I have this err comming out : Uncaught Error: QWeb2: Template 'WebExportTreeViewXls' not found
Module is not installed so i can not remove, Odoo version 10
http://78.46.242.162/web/content/251-6fb7904/web.assets_common.js:2908
Retraçage :
Error: QWeb2: Template 'WebExportTreeViewXls' not found
    at Object.exception (http://78.46.242.162/web/content/251-6fb7904/web.assets_common.js:2908:7)

[2017-03-06 06:39] huzzy143 commented on #525
@bealdav Is there any update with integrating a dashboard like superset with Odoo. even we want to have a dashboard like superset for analyzing odoo data

[2017-03-06 08:21] bealdav commented on #525
Other tool with python/flask and react:
http://bowtie-py.readthedocs.io/en/latest/index.html
https://github.com/jwkvam/bowtie

[2017-03-06 08:22] bealdav commented on #525
@huzzy143 sorry no project on this matter for now but there is a new version of superset recently

[2017-03-06 09:24] dreispt commented on #525
Great pointer @bealdav !
The Bowtie [comparison page](http://bowtie-py.readthedocs.io/en/latest/comparison.html) also has some nice links.

[2017-03-07 05:56] JayVora-SerpentCS commented on #435
web_hide_db_manager_link -> #571

[2017-03-07 06:01] JayVora-SerpentCS commented on #435
web_search_alphabetic - Work in Progress #572

[2017-03-07 11:38] JayVora-SerpentCS commented on #435
web_group_expand and web_last_viewed_records too

[2017-03-07 13:02] JuanJoseGomez opened #574 "[10.0] web_responsive conflicts with base_location: half-hidden field."
The last changes in web_responsive generate some incompatibilities with the presentation of some views.
For example in the res.partner form of the base_location module the zip field (and others) appears half-hidden by another field.

I think the problem may be on line 36 of web_responsive/static/src/less/form_view.less:
white-space: nowrap;
Maybe it should be:
white-space: initial;

![image](https

[2017-03-07 15:59] lasley commented on #435
Updated, thanks @JayVora-SerpentCS

[2017-03-10 12:55] JayVora-SerpentCS commented on #435
web_translate_dialog - #577

[2017-03-10 16:13] lasley commented on #435
Updated

[2017-03-13 18:20] astirpe commented on #574
cc @tarteo

[2017-03-14 15:21] JayVora-SerpentCS opened #580 "[8.0] : web_group_expand : Error on TREE view"
The problem appears on Tree view, with multiple clicks:
![screenshot from 2017-03-09 18 38 13](https://cloud.githubusercontent.com/assets/5909386/23907692/f2157e04-08f7-11e7-9784-50c4d3d76d5c.png)
![screenshot from 2017-03-09 18 37 33](https://cloud.githubusercontent.com/assets/5909386/23907694/f21ba612-08f7-11e7-8b8e-a5875bcf1b82.png)
![screenshot from 2017-03-09 18 33 54](https://cloud.githubuse

[2017-03-14 16:18] pedrobaeza commented on #580
Fixed in #581. Next time, better to just open the PR and put the issue report in it.

[2017-03-14 16:18] #580 closed, assigned to nobody

[2017-03-16 15:28] tarteo opened #583 "Problem with odoo.http.request in unit tests / travis"
I don't know where to report this kind of issue.
I've made unit tests for a web controller that work on my local (and other) machine but fails when ran by Travis. It throws _RuntimeError 'Object unbound'_ whenever I try to use request.env

[code]

Problem occurs in https://github.com/OCA/web/pull/548 and https://github.com/OCA/website/pull/317

Does anyone have an idea on what the problem may be?

[2017-03-16 18:32] bealdav commented on #525
https://github.com/facebookresearch/visdom with python again

[2017-03-18 16:07] pedrobaeza commented on #583
@Yajo @lasley can you help?

[2017-03-18 16:11] hbrunn commented on #583
the problem is that this global variable is only instantiated in a request context. So either assign a mock object for the tests, or run it within a request: https://github.com/OCA/OCB/blob/10.0/odoo/tests/common.py#L232

[2017-03-20 09:44] yajo commented on #583
Yeah, check this out too: https://github.com/odoo/odoo/pull/13902

[2017-03-20 09:44] #583 closed, assigned to nobody

[2017-03-20 09:47] tarteo commented on #583
Thanks @hbrunn and @Yajo !

[2017-03-21 16:37] zeroheure opened #586 "[wish] web_environment_ribbon display database name by default"
This is a very little wish:
It would be nice if web_environment_ribbon could display database name by default (instead of "TEST")

[2017-03-21 16:39] pedrobaeza opened #587 "[10.0] web_responsive: accesskey conflict"
On v10, global acceskey for editing a record is 'A' (Ctrl+Shift+A usually in most browsers), but that's the one we are using for the AppDrawer. So we have 2 options:

1) Change our AppDrawer accesskey to other
2) Change standard Odoo edit accesskey back to 'E', which I don't know why really they have changed it without any meaning.

I would be in favor of 2.

[2017-03-22 04:32] lukebranch commented on #586
this would be pretty handy actually. I have been doing this manually myself.

[2017-03-22 04:44] moylop260 commented on #586
Database name could be too much big for the ribbon
Do you prefer another option?
Maybe a environment variable

[2017-03-22 07:11] lukebranch commented on #586
you're right. yes, I think an environment variable could be handy. Running runbots for customers, this could be really useful, as they tend to get a bit lost sometimes without the ribbon telling them which DB they are in.

[2017-03-22 12:59] moylop260 commented on #586
In fact, IMHO we should install this module by default for all builds of runbot from MQT

[2017-03-23 18:17] pedrobaeza commented on #586
Closing as there's now a PR.

[2017-03-23 18:17] #586 closed, assigned to nobody

[2017-03-23 18:17] pedrobaeza commented on #534
This should be fixed in latest versions

[2017-03-23 18:17] #534 closed, assigned to nobody

[2017-03-23 18:19] pedrobaeza commented on #568
No reproducible on runbot, so I close.

[2017-03-23 18:19] #568 closed, assigned to nobody

[2017-03-24 13:50] pedrobaeza commented on #558
Can you make the corresponding PR?

[2017-03-28 18:07] lasley commented on #587
Bah worst part about undocumented features is that they can change for absolutely no reason whatsoever.

I agree with option 2. `A` for `Edit` is just weird IMO. I can't find anything occupying the `E` namespace, so I think this change should be safe enough.

[2017-03-28 18:09] pedrobaeza commented on #587
Closing for being tracked in #591

[2017-03-28 18:09] #587 closed, assigned to yajo, lasley

[2017-03-29 15:34] pedrobaeza commented on #558
Solved in e0fc91a

[2017-03-29 15:34] #558 closed, assigned to yajo

[2017-04-07 12:41] m3dbedb opened #597 "[10.0] help online Error: QWeb2: Template 'HelpOnline.Button' not found"
After module  installation, an arror uppears every time I switch to another Odoo application:
`Odoo client error: Error: QWeb2: Template 'HelpOnline.Button' not found`

[2017-04-12 19:47] bistaray opened #598 "[v10] web_export_view: Export only contains the visible lines [80 by default]"
Odoo (which also used to export only the visible lines [80 by default]) is now exporting ALL records, so this behavior is now inconsistent

[2017-04-12 23:06] pedrobaeza commented on #598
Do you mean with web_export_view? Please include the module name in the title.

[2017-04-12 23:08] bistaray commented on #598
Sorry - yes!

[2017-04-12 23:11] pedrobaeza commented on #598
Well, that's not the way it has worked, but it can be good. I have always see this as a "printscreen" export, so exporting what is visible is the correct thing, but the other use can be also interesting. Anyway, to achieve what you want will require a total refactoring, as this extracts data from the HTML DOM via JS, which is not possible exporting all domain.

[2017-04-12 23:19] bistaray commented on #598
OK.  Appreciate the fast feedback.  I'll tell my users regular Export is the way to go if they want all records.

[2017-04-12 23:19] #598 closed, assigned to nobody

[2017-04-12 23:22] pedrobaeza commented on #598
The other option is to change the number of displayed records to "Unlimited" and press the button to export.

[2017-04-12 23:27] bistaray commented on #598
Yes - works until the number of records overwhelms browser storage.  Thanks again.

[2017-04-17 19:30] bistaray opened #599 "[10.0] web_tree_many2one_clickable (improvement)"
With the Enterprise Edition, the fields are not significantly different from regular fields:

![image](https://cloud.githubusercontent.com/assets/13910162/25101381/f016bf2e-2368-11e7-9ce7-5fe96715ea18.png)

User feedback was that it was too easy to accidentally click on a many2one without realizing, thinking they were clicking on the record.

What I did was add underline to the field and it makes

[2017-04-17 20:08] legalsylvain commented on #598
What about a new button "Export All" ? and rename the other by "Export Selected items".

[2017-04-19 10:30] msadiq1411 commented on #435
#601 Can we add this @pedrobaeza as updates will be received soon

[2017-04-19 10:31] pedrobaeza commented on #435
Well, when the migration works, then I'll change it.

[2017-04-20 12:28] jmawad-bobbies commented on #551
Hi,

Actually this module breaks the enterprise edition (10.0).

Is this module compatible with Odoo 10 Enterprise?

![capture d ecran 2017-04-20 a 14 27 36](https://cloud.githubusercontent.com/assets/11539032/25230782/9bf524a2-25d5-11e7-9ae5-658455c0faf5.png)

[2017-04-21 09:07] axatech01 opened #603 "Chrome Fallback on web_widget_image_webcam.flash"
I have been playing with the module and it worled on FF, when testing the module on Chrome it raises an error, so:

Where to set the  **web_widget_image_webcam.flash_fallback_mode**  to 1? , the help refers to "configuration parameter", but where is it localted on Odoo 9?.

Odoo: V9
Browsers tested: FF and Chrome.
Linux Dist: CentOS 7.2

Please help.

[2017-04-21 09:15] pedrobaeza commented on #603
In Configuration > System parameters.

[2017-04-21 09:15] #603 closed, assigned to nobody

[2017-04-23 10:20] JonathanStein commented on #435
You have mentioned pull request #605 on "web_ir_actions_act_window_page" - it is actually for "web_ir_actions_act_window_message"

[2017-04-23 10:23] pedrobaeza commented on #435
Thanks for checking. I have mixed them. Changed.

[2017-04-24 18:22] pedrobaeza opened #608 "[8.0] web_x2m_filter: Moving with pager through records doesn't reapply the filter"
Using https://github.com/OCA/web/tree/8.0/web_x2m_filter, if you move to the next/previous record and you have a filter applied, the filter is not reapplied on the new record. There's 2 options:

* Reset the pressed filter button to the "All" one.
* Reapply the pressed filter.

[2017-04-24 18:58] hbrunn commented on #608
did you try doing that in the field widget's setValue function?

[2017-04-25 06:52] kingsleyuk2003 opened #609 "Generates "instance is not defined" error for float computed fields"
module: web_export_view
version: 9.0.1.0.2

This is the error as show below;
"Uncaught ReferenceError: instance is not defined
http://localhost:8069/web_export_view/static/src/js/web_export_view.js:78
Traceback:
ReferenceError: instance is not defined
    at String.<anonymous> (http://localhost:8069/web_export_view/static/src/js/web_export_view.js:78:41)
    at Function.each (http://localhost:8069

[2017-04-25 09:00] gaelTorrecillas opened #610 "[8.0] problem with web_graph_radar"
@yelizariev hello,

I have a problem with  web_graph_radar, the data aren't proportional with the graph, we can get out of it.

![error1](https://cloud.githubusercontent.com/assets/16572874/25376465/9579d276-29a4-11e7-9b6d-d60242814100.jpeg)
ps: this screen has the zoom of mozilla firefox at 110%. All values have a max value at 100.

But with the same values, I notice that without zoom (100%) the

[2017-04-27 08:14] yelizariev commented on #610
@gaelTorrecillas
my bet is that some additional settings has to be passed to variable "chart " in code below
[code]

e.g.

`chart.margin({left:200, top:20, bottom:20}).height(self.height/2).width(self.width/2)
`

[2017-04-27 14:18] nithwith opened #612 "[10.0] problem with web_widget_x2many_2d_matrix"
Hello @jesusVMayor ,
I try the module with the current modification (commit : Migration of web_widget_x2many_2d_matrix to 10.0 ) and i can not make it work.
I try this code (like the example) :
` <field name="task_ids" widget="x2many_2d_matrix" field_x_axis="project_id" field_y_axis="user_id" field_value="planned_hours" />`

![2017-04-27 16_14_13-website for sales wms - odoo](https://cloud.githubu

[2017-04-27 14:26] pedrobaeza commented on #612
You probably make something incorrect. Check a working example here:

https://github.com/OCA/sale-workflow/pull/454

[2017-04-27 14:26] #612 closed, assigned to nobody

[2017-04-27 14:34] nithwith commented on #612
I try on the runbot v10, and the module does not work
![2017-04-27 16_14_13-website for sales wms - odoo](https://cloud.githubusercontent.com/assets/19471913/25488338/0df9cd5a-2b67-11e7-8bd8-0648da649add.png)

[2017-04-27 14:36] tandrieuxx commented on #612
I have the same problem. Your "working example" has no relation with this issue.

[2017-04-27 14:50] pedrobaeza commented on #612
Use the same technique that the example and it should work.

[2017-04-27 16:21] nithwith commented on #612
[testMatrix.zip](https://github.com/OCA/web/files/962202/testMatrix.zip)

I have built a module for test the widget and he don't work with me, is it incorrect ?

[2017-04-28 08:47] tandrieuxx commented on #612
Examples should explain how to use a module in a simple way, with a simple context, relatively easy to understand. The one provided is the worst !

[2017-04-28 08:51] pedrobaeza commented on #612
Well, if you don't like this work that has been provided to you for free, then feel free to use another or at least to improve the documentation to match what you consider a good example.

[2017-04-28 18:02] pedrobaeza commented on #612
As last action by my part, I can tell you that your code is incorrect, changing the default method as compute. The only thing not documented is that now project.task has 2 new required fields, that I have added in https://github.com/OCA/web/commit/720a5a84a587ee9159399b9e2567270b3b365709.

[2017-05-02 13:33] hparfr opened #615 "Perf issue with web_m2x_options"
Hello,

Steps to reproduce:

On a clean base, create a new partner, in Company field enter one character then enter another one, then another one.
6 requests are sent
- name_search (3 times)
- check_access_rights (3 times)

Expected:
4 requets:
- name_search (3 times)
- check_access_rights (1 time)

Depending of the config set, there can be one more extraenous requests after each key press
https:/

[2017-05-02 14:38] pedrobaeza commented on #615
Are you sure there's not the same number of calls without the module? If not, then the query for the `disable_quick_create` field should be performed in another function that it's called only once.

[2017-05-04 18:33] mibarraOdoo opened #616 "[9.0] web_advanced_search_x2x: When returns from selection popup it gives me an error"
Hi,

I'm in advanced search using a many2many field with the search type "is in the selection". In the pop up window i apply a search criterion with OR for several values. For example: Cod=4 or Cod=5 or Cod=6.

![image](https://cloud.githubusercontent.com/assets/28403674/25719097/afbce8f8-30de-11e7-8d4f-8a0165ae6e01.png)

When I apply that filter in the selection popup I have no problem, but when

[2017-05-11 08:56] psugne opened #618 "[9.0] web_access_rule_buttons - property 'then' of undefined"
I installed web_access_rule_buttons addon but got an error:
Uncaught TypeError: Cannot read property 'then' of undefined

What can be wrong?

<img src="http://www.part.lt/img/187aab0939667aa8752de9fd8312d534979.png" />

As I understand I have to change this place:

_odoo.define('web_access_rule_buttons.main', function (require){_

But don't know how.

[2017-05-16 12:14] fmdl commented on #435
web_widget_many2many_tags_multi_selectio -> https://github.com/OCA/web/pull/623

[2017-05-17 08:57] Cedric-Pigeon opened #625 "[10.0] web_widget_x2many_2d_matrix seems to not work"
Hello I am currently migrating a custom module using the widget from 8.0 to 10.0.

Unfortunately it doesn't work. Whatever I do I always get:

![selection_012](https://cloud.githubusercontent.com/assets/7813258/26146180/859fe0c8-3aef-11e7-9ac8-ce0f68ee8f53.jpg)

Do I miss something ?

Thanks for your help.

[2017-05-17 09:00] pedrobaeza commented on #625
Check the example in https://github.com/OCA/product-variant/blob/10.0/sale_order_variant_mgmt/wizard/sale_manage_variant.py. Note that this is populated in an onchange. Maybe the problem is with Odoo core with default values.

[2017-05-17 09:01] Cedric-Pigeon commented on #625
I already checked it.
Indeed I don't populate it through an onchange. I simply try to display a One2Many field.

[2017-05-17 09:07] pedrobaeza commented on #625
As a first test, try to populate your data with an onchange to see if the problem comes from there. Then, we can continue deducing the problem.

[2017-05-17 09:24] Cedric-Pigeon commented on #625
It don't change anything by onchange.

My field on wizard:
`orderpoint_ids = fields.One2many(string='OrderPoints', comodel_name='mass.stock.orderpoint.wizard.line', inverse_name='wizard_id', ondelete='cascade')`

My corresponding model:
`class MassStockOrderPointWizardLine(models.TransientModel):
    _name = 'mass.stock.orderpoint.wizard.line'
    _description = 'Mass stock inventory minimum level

[2017-05-17 12:27] Cedric-Pigeon commented on #625
The problem comes from this line:
https://github.com/OCA/web/blob/10.0/web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js#L134

I receive objects without any properties.

[2017-05-17 12:32] Cedric-Pigeon commented on #625
@JonathanNEMRY

[2017-05-17 12:40] JonathanNEMRY commented on #625
Hi actually there is a strange behavior and we noticed two different things than yours @pedrobaeza (both arrives during the `read_ids` method)

First: If no explicit tree view declared then the read_ids is forced on id only and the returned record is not usable for the following steps of the widget.

Second: with an explicit tree declaration we have one step more: the returned values from the read

[2017-05-17 17:42] lasley opened #627 "[RFC] web_session_security: Security Options for Web Sessions"
This module will provide a few options at the company level allowing for a more secure session than we currently have. The following options will be provided:

* RPC Error Logout - Catch JavaScript RPC errors and trigger a page refresh on code 100 (`Odoo Session Expired`). There might be some other codes indicating a logout too, but this is the only one I see at the moment.
  * It might make sense

[2017-05-17 18:48] daramousk commented on #435
help_popup ported on https://github.com/OCA/web/pull/624

[2017-05-17 18:53] daramousk commented on #435
web_access_rule_buttons ported https://github.com/OCA/web/pull/628

[2017-05-17 21:13] DeepenDev opened #629 "Custom shortcut icon"
Traceback (most recent call last):
  File "/ / -server/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/ / -server/openerp/http.py", line 685, in dispatch
    result = self._call_function(**self.params)
  File "/ / -server/openerp/http.py", line 321, in _call_function
    return checked_call(self.db, *args, **kwargs)
  File

[2017-05-17 21:41] pedrobaeza commented on #629
The problem is in your custom module web_debranding.

[2017-05-17 21:41] #629 closed, assigned to nobody

[2017-05-18 10:22] pedrobaeza commented on #574
Already solved with #620

[2017-05-18 10:22] #574 closed, assigned to yajo, lasley

[2017-05-18 10:23] pedrobaeza commented on #625
@Yajo any clue about this?

[2017-05-18 13:42] zeroheure opened #632 "[web_responsive][10.0] wrong files permission (executable)"
In web_responsive module, merely all files are executables (should chmod 664).

[2017-05-18 17:07] pedrobaeza commented on #632
Strange... Thanks for reporting

Solved in https://github.com/OCA/web/commit/f29c9d3958e692064734b04b2753c675d95eab76

[2017-05-18 17:07] #632 closed, assigned to nobody

[2017-05-20 11:21] daramousk commented on #435
web_action_conditionable ported https://github.com/OCA/web/pull/635

[2017-05-21 08:10] blutecsolutions opened #636 "[10.0] web_widget_x2many_2d_matrix | Adding/Deleting Attribute Values via table"
First of all, a big thanks to OCA, Tecnativa and whoever participated in developing this Module :) It's brilliant
-

My request is for a  user to have the ability to _add/delete_ attributes to/from a Product template:

In the example i've used product CHEMISE with two Attributes: **Color** and **Size** and they have the following Attribute Values:
Color: C1 - C2 - C3
Size: 42 - 44 - 46 - 48

![ima

[2017-05-21 12:12] pedrobaeza commented on #636
That would be a feature on the widget itself, but not simply to add, so if you want to work on that, go ahead, but don't expect anyone to do it for now.

[2017-05-21 12:12] #636 closed, assigned to nobody

[2017-05-22 11:57] pedrobaeza opened #637 "[9.0] web_widget_float_formula: Tests are failing"
There's an error on the tests for this module:
[code]

@obulkin you were the last one that modifies this module. Can you please check?

[2017-05-22 14:47] hbrunn commented on #625
do we have the same behavior in 8 too? I didn't review #606, so I've no clue what the current state of the code there is. If this is reproducible in 8, we have a logic error, if not, we need to adapt to behavioral changes in 10.

[2017-05-22 14:50] Cedric-Pigeon commented on #625
@hbrunn Thanks for reply. The problem is not on V8.0. I face it since I am migrating my module using the widget from 8.0 to 10.0

[2017-05-22 17:25] jesusVMayor commented on #435
web_tree_dynamic_colored_field  #638

[2017-05-22 21:12] obulkin commented on #637
Sure thing. I'll take a look at this when I get a chance.

[2017-05-29 11:10] yajo commented on #625
I feel the best would be you to migrate the addon and open a pull request (even if it is in WIP status), so we can actually see all the code and test with CI, runbots, etc. With the right diagnose tools, it's quite easier to get a diagnose.

Assuming you'll do this, let me close this for now (please reopen if needed 😉 )

[2017-05-29 19:16] daramousk commented on #435
Porting web_advanced_search_x2x

[2017-05-30 07:16] hparfr commented on #615
Yes the module add these calls.

In pr #641 the results from the first calls are reused afterwards.

[2017-05-30 10:31] #615 closed, assigned to nobody

[2017-05-30 12:21] yajo commented on #540
I checked it; confirmed.

[2017-05-30 13:10] Cedric-Pigeon commented on #625
@Yajo Could you please re-open the issue ? the addons is already migrated and merged but doesn't work.

[2017-05-30 14:12] yajo commented on #625
I'm at #ocacodesprint and @jesusVMayor just had the same issue, and it turned out it was an error in his module, not the base one.

[2017-05-30 14:18] Cedric-Pigeon commented on #625
I am also there. what was the issue ?

[2017-06-02 10:24] Cedric-Pigeon commented on #625
@pedrobaeza @jesusVMayor Finally, what was done about that during the sprint. I am a little bit confused. The issue is closed by without any solution.

[2017-06-02 10:26] pedrobaeza commented on #625
No further actions for now because we are still in Barcelona, but let me open the issue again.

[2017-06-02 10:28] yajo commented on #625
Hey @Cedric-Pigeon, I thought you spoke to @jesusVMayor... 🙊

Sorry @pedrobaeza, closing again because the bug happened in the sub-module side.

@jesusVMayor had a module that called `read` twice. He just added a line to ignore the call if `ids` parameter was empty, and suddenly all worked OK. @jesusVMayor can you share the code or explain a little bit better please?

[2017-06-03 10:22] daramousk commented on #435
starting porting web_ckeditor4

[2017-06-04 21:42] jesusVMayor commented on #625
There is a little confusion here, @Yajo the code that i showed you in the code sprint is the @Cedric-Pigeon  module, and the web_widget_x2many_2d_matrix fails when you create the lines with write. i could not correct it, so the issue should be reopened.

I will continue investigating, but maybe somebody with more experience than me in odoo web client code can find the problem. Everything i could f

[2017-06-05 10:12] yajo commented on #435
Are you sure you don't prefer using the bundled summernote editor?

[2017-06-05 10:16] yajo commented on #625
Ah OK np pal, reopening 😉

[2017-06-05 16:28] smurf-U commented on #435
#649: web_widget_image_webcam

[2017-06-09 00:54] pedrobaeza commented on #616
We need this to be reproducible on OCA runbot

[2017-06-10 08:26] asoral opened #650 "web_dashboard_tile doesnt have add to tile button on search view"
There is no option to add to tile when I click on add to dashboard in odoo 9

[2017-06-20 04:03] alfaser123 commented on #551
I got the same problem when install in other folder different to /addons/  i use to install for testing in /addons_testing.  The issues is solved after install in /addons/ folder

Hope it helps

[2017-06-20 08:09] anglovina opened #653 "[10.0] is it possible to add help online button in menu "Manual Payments & Invoices Matching" ?"
i'm in testing help online module.
Then, i can't found the button in menu "**Manual Payments & Invoices Matching**".
is it possible to add help online button in that menu ?
if it possible, how to do that ? can u give me an example ?
Thanks

[2017-06-23 18:46] smurf-U commented on #435
#655 : migrate web_widget_image_download

[2017-06-26 18:31] smurf-U commented on #435
#656 : migrate web_widget_timepicker

[2017-07-04 01:53] nguoixau opened #663 "Web Responsive for openerp 8"
I wish it will come version 8. Look beautiful!!!

[2017-07-04 07:10] #663 closed, assigned to nobody

[2017-07-11 15:12] pedrobaeza commented on #637
@obulkin @lasley please fix the branch that is red a lot of time.

[2017-07-11 15:35] lasley commented on #637
Hmmm they look to be passing in the browser, so it's gotta be something with the test runner.

[2017-07-17 09:01] samersarhan opened #674 "widget-x2many-2d-matrix 10.0.1.0.0.99.dev2"
Some thing wrong.
the x_field and y_filed in my related model are `M2O,` in the 2d-matrix widget, it shows the id of M2O, not the name ex.product_id is x field but the showing is the id field value, not the name of the product template as it supposes to work.
in addition to this when I follow the read my file it says the following

`
<field name="task_ids" widget="x2many_2d_matrix" field_x_axis="p

[2017-07-17 09:24] samersarhan commented on #674
@llacroix
@rvalyi
@zeroheure
@nbessi

[2017-07-17 10:55] samersarhan commented on #674
It solved by adding x_name and y_name as a Char field, but is this widget work only for wizards?
since we have to provide a dataset each time?

[2017-07-17 16:13] pedrobaeza commented on #505
@JonathanNEMRY any news?

[2017-07-19 08:47] aleksandar-irvas commented on #568
I have the same issue. @ispottahiti have you solve it?

[2017-07-19 09:15] mareban opened #675 "web_timeline install"
Hi,

I've tried to install the web_timeline widget, and got an error when creating the view "field type doesn't exist" :

Erreur lors de la validation de la contrainte

Le champ `type` n'existe pas

Contexte de l'erreur :
Vue `project.task.timeline`
[view_id: 637, xml_id: n/a, model: project.task, parent_id: n/a]

Do i miss something ?

[2017-07-19 09:19] pedrobaeza commented on #675
The module is working as you can try on runbot on both versions (you don't indicate which one you are using). Anyway, it's not a problem of the module, but a problem in your installation. Try with a new fresh DB.

[2017-07-19 09:19] #675 closed, assigned to nobody

[2017-07-19 10:16] simmatica opened #676 "[10.0] web_advanced_search_x2x: error while selecting "contains" or "not contains" in a x2x field"
![image](https://user-images.githubusercontent.com/18054167/28362174-bef85db0-6c7b-11e7-8d17-6a52569ad293.png)

![image](https://user-images.githubusercontent.com/18054167/28362205-d7c3bbaa-6c7b-11e7-97e0-87b685d4e9b6.png)

[2017-07-19 10:25] mareban commented on #675
Well, we use Odoo v10 and it is a brand new installation !!

We download the latest version, copy the web_timeline directory in the Odoo's addons directory, update the application list and install web_timeline !

Is that correct ?

[2017-07-19 10:35] pedrobaeza commented on #675
And what about restart the service?

[2017-07-19 10:38] simmatica commented on #676
Also selecting "is set" or "is not set".

[2017-07-19 12:01] mareban commented on #675
Service restarted, and nothing appear on the project/task !!!

Thanks for your help.

[2017-07-19 12:12] jcdrubay commented on #675
You should use the module from project repository for this https://github.com/OCA/project/tree/10.0/project_timeline.
It work very well thanks @pedrobaeza :+1:

[2017-07-19 12:20] pedrobaeza commented on #676
Check latest version in https://github.com/OCA/web/pull/672

[2017-07-19 12:25] simmatica commented on #676
Sorry but #672 is not about web_advanced_search_x2x

[2017-07-19 13:07] mareban commented on #675
Sorry,

In the configuration, i have a view called web_timeline asset do i have to create a view as mentioned by the documentation ?

The module seems to be installed !

Do i have to activate something somewhere to see a Gantt ??

Thx

[2017-07-19 13:41] pedrobaeza commented on #675
See the README.

[2017-07-19 13:41] pedrobaeza commented on #675
And the previous comment.

[2017-07-19 13:56] simmatica commented on #676
Same error also in runbot, please give a feedback. Thanks

[2017-07-19 14:01] pedrobaeza commented on #676
Yes, it is. See better. It modifies this module to give a better UI.

[2017-07-19 14:03] simmatica commented on #676
Ok, I'll try, thanks

[2017-07-19 14:06] mareban commented on #675
Hi,

With the project_timeline it's ok now :-)

Thx very much

[2017-07-19 14:17] simmatica commented on #676
Same issue also in #672, in that PR web_advanced_search_x2x is only changed to use the backport module web_widget_domain_v11, but there is the same error with operator "contains", "doesn't contains", "is set", is not set". Can you reopen the Issue please?

[2017-07-19 14:32] pedrobaeza commented on #676
Please specify the steps to reproduce the problem.

[2017-07-19 14:41] simmatica commented on #676
1. In any views (ex. Contacts o Customers, or any other)
2. Filters
3. Add Custom Filter
4. Select any x2x field (ex. Tags)
5. Change the operator to "Contains"
6. UI raise the error
I've also posted some scheenshot.

[2017-07-19 16:33] mareban commented on #675
too fast :-(

each time i change something on the graph, the modification are not kept and i've got a message : "
The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object with reference: Project - project.project]

Any idea please ?

Th

[2017-07-20 07:17] Unai52 opened #677 "ctivia"

[2017-07-20 07:19] #677 closed, assigned to nobody

[2017-07-20 07:32] yajo commented on #676
I'm preparing a fix that will land on #672

[2017-07-22 13:29] jorgeveramorales opened #679 "[10.0] web_responsive bug with document_page menu"
Without web_responsive and installin document and document_page module, you can access both menu for documents and pages
![0](https://user-images.githubusercontent.com/23499444/28491445-102c25b8-6ef2-11e7-869f-dc47edfd5a76.jpg)
![1](https://user-images.githubusercontent.com/23499444/28491456-315b59b6-6ef2-11e7-92d1-d208f821f921.jpg)
With web_responsive, when you go to knowlegde menu, you go direct

[2017-07-25 16:36] #676 closed, assigned to yajo

[2017-07-25 16:37] #637 closed, assigned to lasley

[2017-07-25 16:37] pedrobaeza commented on #616
Closing as no answer

[2017-07-25 16:37] #616 closed, assigned to nobody

[2017-07-25 16:38] pedrobaeza commented on #452
Already included in Apps.

[2017-07-25 16:38] #452 closed, assigned to nobody

[2017-07-25 16:38] pedrobaeza commented on #75
Closing as this is very old and nobody has taken care of it.

[2017-07-25 16:38] #75 closed, assigned to nobody

[2017-07-25 16:39] #625 closed, assigned to nobody

[2017-07-25 16:39] pedrobaeza commented on #650
I close, as this a kind of wishlist and nobody has attended it.

[2017-07-25 16:39] #650 closed, assigned to nobody

[2017-07-25 16:40] pedrobaeza commented on #610
Closing as this seems to be something WIP.

[2017-07-25 16:40] #610 closed, assigned to nobody

[2017-07-25 16:41] pedrobaeza commented on #599
Can you please make a PR with the improvement?

[2017-07-25 16:42] pedrobaeza commented on #552
The case should be reproducible on runbot and the author has said that they can't identify the problem, so I close.

[2017-07-25 16:42] #552 closed, assigned to nobody

[2017-07-28 06:31] MMstp opened #680 "web_tree_many2one_clickable extension"
Hi,
I'm using your module [web_tree_many2one_clickable](https://github.com/OCA/web/tree/10.0/web_tree_many2one_clickable) and it's working great for many2one relations. However for references it did not work as expected.
I added the condition `|| this.type == 'reference')` to the function `_format` inside `ListView.Column.include` in the file 'web_tree_many2one_clickable.js' at Line 47:
`if ((this

[2017-07-28 07:07] pedrobaeza commented on #680
Please make a PR for the reference. For your information, this is not a bug, but a enhancement.

[2017-07-28 07:08] pedrobaeza commented on #680
OK, I'm seeing the second part, which should be notified independently from the first. Please split both.

[2017-07-28 07:38] MMstp opened #681 "web_tree_many2one_clickable - duplicate link bug"
Hi,
while using your module [web_tree_many2one_clickable](https://github.com/OCA/web/tree/10.0/web_tree_many2one_clickable)
I recognized, that when the tree is editable, the link is shown twice, if the field is not editable - which looks really weird:
![grafik](https://user-images.githubusercontent.com/26869102/28705678-33511f8e-7371-11e7-9ede-a38bda4a7f91.png)

[2017-07-28 07:58] MMstp commented on #680
I did as you suggested:
PR [FIX: allow clickable references #682](https://github.com/OCA/web/pull/682#issuecomment-318587073)
(I hope, I did this correct - it's my first PR :) - please tell me if not!

New open issue: [web_tree_many2one_clickable - duplicate link bug #681](https://github.com/OCA/web/issues/681)

[2017-07-28 07:58] #680 closed, assigned to nobody

[2017-07-31 13:42] StephanRozendaal opened #684 "[9.0] web_widget_datepicker_options does not set datepicker widget options"
The module does not set options on the related date widget of a date field.

I will add a PR to this issue to show my proposed changes.

[2017-08-03 17:45] zeroheure commented on #551
I've had the same error here, and solved it. Config is :
Odoo 10 CE nightly build, ecommerce setup with various related modules, addons in /var/lib/addons/ folder.
Restarting Odoo and reloaded one or more time the web page solve the problem.

[2017-08-03 21:02] norlinhenrik commented on #674
I can confirm that the documentation example

When I remove task_ids from the tree I get this:
![image](https://user-images.githubusercontent.com/11876900/28943604-afbdb590-789f-11e7-9f47-df999599b5ba.png)

@samersarhan how did you create the matrix?

[2017-08-04 09:04] Ktchan825 opened #687 "[8.0] odoo image upload failure"
module: web_ckeditor4
version: 1.1

**Steps to reproduce**

- upload photo from computer or by a base64 data.
- the image appear in the editor
- save and the image disappear.
- image is not saved but the text is save.

**Current Behaviors**
for each new line `<p><br></p>` is appended
for each newly added image, the html code is be like `<p><image><br></p>`
i can only save the image if i delete the

[2017-08-07 04:26] andreampiovesana commented on #525
I used superset to show kpi in production,
but for simple visualization in odoo i found this interesting module
https://apps.odoo.com/apps/modules/10.0/dashboard/
i think this is the good way ...

[2017-08-07 08:09] bealdav commented on #525
There is now https://github.com/bokeh/bokeh

[2017-08-07 10:49] samersarhan commented on #674
please clear your question. did you mean how to provide data to the matrix widget?
if this is your question you should provide the data each time you run the widget by use default_get, on change or by linking to a function

[2017-08-07 13:36] legalsylvain commented on #525
We have worked with akretion Team on february, and the conclusion was that superset (and other tools) was very limited from an SQL Point of View. (join, etc.). Well, basically, it allow to browse your database, but the database is horrible to browse, and it's very difficil for end users.

I so developped a module that provides the possibility to have any result of any request with the core graph t

[2017-08-07 19:52] dreispt commented on #525
Thank you @legalsylvain, but I'm afraid that the Odoo core graph tools miss an important requirement for my use case: self updating. The goal is to have a live dashboard displayed. Unless there's some JS magic somewhere that achieves the auto updating... :smile_cat:

[2017-08-08 03:28] anothingguy commented on #525
thanks @legalsylvain: i don't understand much this point, I agreed Superset is very limited SQL but what's about other tools ?. Did you try [redash](https://redash.io) (written in python) and [metabase](http://www.metabase.com/) (written in clojure). I have just tried them on demo and they support SQL as i expected, SQL cache feature for "heavy" task. I feel metabase is nicer, supports both databa

[2017-08-08 07:51] pedrobaeza commented on #525
@dreispt using bus you can make a refresh on the view. I think Anybox had a module for auto-refreshing views with this principle.

[2017-08-08 09:57] Ktchan825 commented on #687
Update:
Finally i found the problem. I am sorry that it is not caused by ckeditor by the html-sanitize of odoo 8 fields.Html.
The problem can be solved by simply adding attribute sanitize=False.

[2017-08-08 09:57] #687 closed, assigned to nobody

[2017-08-08 12:11] pedrobaeza commented on #679
document_page is bad designed in this case. Odoo doesn't allow this behavior also on its responsive design, so please change document_page for not assigning an action in the parent menu.

[2017-08-08 12:11] #679 closed, assigned to nobody

[2017-08-08 12:14] yajo commented on #540
I can confirm that problem 1 does not happen in v10.

[2017-08-08 15:59] norlinhenrik commented on #674
Yes I mean how to provide data to the matrix widget? I tried the example that you posted from the documentation, but as you say id doesn't work...

[2017-08-08 16:02] norlinhenrik commented on #674
All I want is an example that works. The example in the [documentation](https://github.com/OCA/web/tree/10.0/web_widget_x2many_2d_matrix) doesn't.

[2017-08-10 04:32] samersarhan commented on #674
please, share your code, cause I followed the documentation so maybe you are missing something,

[2017-08-10 07:35] norlinhenrik commented on #674
@samersarhan, in the first post you posted some xml that "gives an error because the task_ids not a field in the co model". How did you fix this error?

[2017-08-11 04:14] norlinhenrik commented on #674
Here is the code for module task_matrix that gives an error:

manifest.py

[code]

models.py

[code]

views.xml

[code]

Error during installation (with project 10.0.1.1 and web_widget_x2many_2d_matrix 10.0.1.0.0)

[code]

[2017-08-11 09:32] samersarhan commented on #674
Just remove the task_ids from the `<tree>` in XML file, your tree must be
`<tree>
    <field name="project_id"/>
    <field name="user_id"/>
     <field name="planned_hours"/>
</tree>`
and no need to set  web_widget_x2many_2d_matrix in the depend list since it's only widget,

[2017-08-11 11:17] norlinhenrik commented on #674
Thanks! I have now
- removed the xml task_ids
- set the python project variable to .browse([1])
- installed my module
- activated the example project

When I click the menu to se the task matrix I get a Odoo Client Error:
[code]

Any solution?

[2017-08-12 15:00] samersarhan commented on #674
Please make sure you have projects with ids[1,2,3] and users with ids[1,2,3],
or for the test in .py, you can set the following
[code]

[2017-08-14 06:18] norlinhenrik commented on #674
The .search([]) methods fixed the error message. Thank you @samersarhan !

Now my matrix looks like this:
![image](https://user-images.githubusercontent.com/11876900/29260042-742baa7a-80c7-11e7-8732-54996683a138.png)

I created a new project, and then I got the above error again (Uncaught TypeError: Cannot read property 'id' of undefined). Then I created a task in the new project, and then the mat

[2017-08-14 18:24] max3903 opened #692 "Export the current view to PDF"
Hello,

Is there any existing module to export the current view into PDF?

Any plan/interest to add that feature to web_export_view?

Or do you want it to be in a separate module (web_export_view_pdf)?

Thank you.

[2017-08-14 22:51] pedrobaeza commented on #692
Well, having the export to Excel and converting for LibreOffice/Office to PDF is enough for me when needed, but include this option in `web_export_view` (maybe through a dynamic QWeb report), can be good.

[2017-08-15 17:01] bealdav commented on #525
Python's visualization landscape:

https://www.youtube.com/watch?v=FytuB8nFHPQ

[2017-08-15 21:35] davinci41 opened #693 "Web Export Current View v10 bug"
hello

In the module is an error, after entering the user list.

![screenshot_1](https://user-images.githubusercontent.com/25403547/29337647-51752b5e-8212-11e7-9596-d7bf6d4760bd.png)

[2017-08-15 22:17] pedrobaeza commented on #693
Please include all the steps to reproduce the problem in runbot.

[2017-08-16 08:43] steync027 opened #695 "[10.0] web_widget_domain"
Hi community!

Great work on getting the new char domain widget from version 11.0 working in version 10.0. Simply amazing - it adds so much value to the community.

I was looking at the javascript here and I wonder if someone could give me an indication whether it would be possible to get this working in version 9.0 as well? I know the javascript has changed a lot from version 9.0 to 10.0, but if

[2017-08-16 09:04] jlzhou opened #696 "[10.0]BUG web_shortcut the submenu doesn't update sometimes"
Click shortcut menu item to switch different page, but sometimes the left side submenu doesn't update along with action changing, and client may raise TypeError: this.active_view is null exception.

[2017-08-16 14:54] pedrobaeza commented on #695
The best if to check one of the widgets that is migrated to both v9 and v10 to compare changes and apply that changes to this module:

https://github.com/OCA/web/tree/9.0/web_widget_x2many_2d_matrix
https://github.com/OCA/web/tree/10.0/web_widget_x2many_2d_matrix

[2017-08-16 14:54] #695 closed, assigned to nobody

[2017-08-16 15:30] pedrobaeza opened #697 "[9.0][10.0] widget_x2many_2d_matrix: Widget doesn't refresh totals when changing amounts"
![imagen](https://user-images.githubusercontent.com/7165771/29371414-94ca201c-82a8-11e7-8884-4ec1a2bd62ca.png)

[2017-08-20 21:13] flotho opened #701 "[10.0][web_shortcut]Technical menus in debug mode are not complete"
Hi,

I've installed  /oca/web menus and tried to use the debug mode as usual and all the menus are not available :

![spectacle x25333](https://user-images.githubusercontent.com/1043935/29498454-16578d84-85fd-11e7-9bac-e28aa9e00a11.png)

I don't find what could cause this, any help/advice/tip would be appreciated.

regards

[2017-08-21 07:23] pedrobaeza commented on #701
Which module? Please try on vanilla and OCA/web runbot to see if you identify the problem.

[2017-08-21 09:23] rafaelbn opened #702 "[BUG][10.0][web_advanced_search_x2x] Fields not in res.user language"
Hi,

When you user this module in other language than English

![2017-08-21_11-22-04](https://user-images.githubusercontent.com/8736623/29512668-1fa8ef98-8663-11e7-987e-9bf6cde7d00e.png)
 fields are not translated to the res.user language

cc @Yajo cc @tecnativa

[2017-08-21 09:28] rafaelbn opened #703 "[BUG][10.0][web_advanced_search_x2x] "add filter" button close window from the second time you clic on it"
Hi:

- Go to runbot and try to make an advance search the same filter more than one time
- You will see how window is closed after 2nd time

![2017-08-21_11-26-06](https://user-images.githubusercontent.com/8736623/29512879-dc2ccaea-8663-11e7-9587-d5f1662f05df.png)

cc @Yajo @tecnativa

[2017-08-21 13:02] rafaelbn commented on #703
Solved in https://github.com/OCA/web/pull/704

[2017-08-21 13:02] #703 closed, assigned to yajo

[2017-08-21 13:02] rafaelbn commented on #702
Solved in https://github.com/OCA/web/pull/704

[2017-08-21 13:02] #702 closed, assigned to yajo

[2017-08-21 19:16] kaerdsar opened #705 "Create inherited views"
I would like to have a feature in Odoo where a change in the arch of a view can be saved as a new inherited view. This feature can be useful to handle the version history in Odoo views like website pages and reports.

This issue has the goal to discuss some of the approaches we can have in order to create a good solution. Recently I read a paper suggested by @hbrunn, about XML change detections, w

[2017-08-21 21:21] dreispt commented on #705
That would be a great addition!
IMO it should be an improvement to the [module_prototyper](https://github.com/OCA/server-tools/tree/10.0/module_prototyper) module.

I would very much prefer to see a Python implementation: this will run at "design time", so performance is not so important.

[2017-08-22 06:58] hbrunn commented on #705
why don't you write this in C and [wrap it in lxml](http://lxml.de/capi.html)? doesn't look so complicated

[2017-08-23 14:09] kaerdsar commented on #705
Interesting point, I will try later to wrap the library with Cython.

Other point. Imagine this scenario:
- I have a website page.
- I edit the page in the website editor and after save a new inherited view is created.
- When the page is rendered the inherited view is shown.
- I try to edit again on the same paragraph.
- The module will try to create an inherited view based on another inherited vi

[2017-08-28 12:35] sbidoul commented on #705
@kaerdsar interesting work. Have you looked at pure python implementations of the xml diff algorithm? eg https://pypi.python.org/pypi/xmldiff or https://github.com/cfpb/xtdiff ?

[2017-08-28 12:44] kaerdsar commented on #705
@sbidoul thanks for joining. I already tested xtdiff, it was the first one I checked. I did an example with 2 large XML and the time was not good, it took a lot of time to  return the result.

I  haven't check xmldiff, I'll do it. Thanks

[2017-08-30 15:03] #697 closed, assigned to nobody

[2017-08-30 15:03] pedrobaeza commented on #697
Closed with #712

[2017-09-04 07:55] flotho commented on #701
Hi,
The shortcut module seems to cause this issue on my local DB. I'll gonna have a try on runbot.

[2017-09-04 21:51] flotho commented on #701
Hi,
I confirm that the problem is present in runbot :
![spectacle p28785](https://user-images.githubusercontent.com/1043935/30039043-eda182a2-91cb-11e7-988a-f0754ec9bbd4.png)

[2017-09-05 10:07] Cedric-Pigeon opened #717 "web_advanced_search_x2x doesn't work with contains filter"
I am using this module and I really like it but it seems that it contains a bug.

On a model if you want to search on a many2one with a filter "contains" a string.
The string is always replaced by false.

Does anyone have the same problem ?

[2017-09-05 10:12] pedrobaeza commented on #717
Fixed in #716

[2017-09-05 10:35] rafaelbn commented on #717
Solved in https://github.com/OCA/web/pull/716

[2017-09-05 10:37] #717 closed, assigned to nobody

[2017-09-05 11:52] damdam-s opened #718 "web_widget_color : nothing popup on new record"
This widget works well while editing an existing record.

When creating a new record and trying to modify the value, the color picker popup is not displayed.

[2017-09-05 11:56] pedrobaeza commented on #718
Odoo version?

[2017-09-05 11:56] damdam-s commented on #718
Odoo 10, sorry

[2017-09-05 19:37] flotho commented on #696
Hi,
I suspect this module to have other side effects #701

[2017-09-07 18:10] vcloud9ray commented on #353
@JayVora-SerpentCS - is there an easy way to make the signature square smaller?  Like the width and height be made smaller for smaller devices?

[2017-09-07 18:17] pedrobaeza commented on #353
We have reworked the module in https://github.com/OCA/web/tree/9.0/web_widget_digitized_signature and it's fully functional on mobiles.

[2017-09-07 18:28] vcloud9ray commented on #353
👍

[2017-09-08 08:49] alyngsoe opened #721 "Email field is readonly if not admin"
module: web_widget_mail_send_odoo
version: 8.0

**Steps to reproduce**
- Install module
- login to odoo as non-administrator
- open partner  form (customer) and edit
- Email field is readonly on form, should be writeable

**Current behavior**
- res.partner.email field is readonly on res.partner.form IF user is non-admin

**Expected behavior**
- res.partner.email field shuld be writeable on res.par

[2017-09-08 15:19] hparfr commented on #435
#722 : migrate web_switch_company_warning

[2017-09-08 17:09] dreispt commented on #705
AFAICT for the particular use case of views, the performance is not that critical: the XML docs are relatively small, and the diff process runs at design time, not run time.

[2017-09-10 09:00] flotho opened #723 "[10.0]Request for using web_notify in the desktop"
Hi,
When sending a message in the chatter on odoo, a message could appear in your notification taskbar. The web_notify module work perfectly but don't seem to send the notif the same way so that the user has to be in front of odoo to see the notif.

Is there a way to implement his? what could it be?

regards

[2017-09-10 09:17] hbrunn commented on #723
replace https://github.com/OCA/web/blob/10.0/web_notify/static/src/js/web_client.js#L35 resp https://github.com/OCA/web/blob/10.0/web_notify/static/src/js/web_client.js#L37 with a call to the [javascript notification api](https://developer.mozilla.org/en-US/docs/Web/API/notification). Should be very straightforward. Better not replace but check if you have permission for a desktop notification, if