[2017-09-10 14:35] flotho commented on #701
Hi @tarteo ,
Any idea where it could come from ?
regards

[2017-09-11 14:10] angelmoya opened #724 "[10.0] BUG web_decimal_numpad_dot"
This module is translating also in char and email fields.

For example in partner form view:
- On street field you are not able to write "Av. Loquesea"
- On email field you are not able to write "angel.moya@midominio.com"

@Yajo, I'm sorry for not reviewing previous PR

[2017-09-11 14:13] pedrobaeza commented on #724
Are you using latest version?

[2017-09-11 14:17] angelmoya commented on #724
like a newbie!!!

sorry a lot, I was trying with 1th September versión, previous Yajo refactoring...

[2017-09-11 14:17] #724 closed, assigned to nobody

[2017-09-11 15:18] #674 closed, assigned to nobody

[2017-09-11 21:12] vcloud9ray commented on #353
@pedrobaeza I don't see this at https://github.com/OCA/web/tree/10.0 at all - as either ported or unported - do you know anything about it?  Wanting to know if it was intentionally dropped from v10 migration plans or not.

[2017-09-11 22:24] pedrobaeza commented on #353
No, it's just that the module landed on v9 after the v10 branch creation, You have the full commit history rescued on #725

[2017-09-13 09:12] mariothiermann opened #727 "web_confirm_window_close in Odoo v10.."
..doesn't do anything.

This module is exactly what i need but if i close the browser or tab with unsaved data nothing happens. All unsaved data are away.

Mario

[2017-09-13 16:39] rafaelbn commented on #338
Hi @max3903 and all comunity!

How is the state of this developments? Anything to review?
If not, is there any posibility for a crowdfunding?

Let me know please! Thanks

[2017-09-21 08:15] samirajakalidass commented on #693
I'm Also Having the Same Error Help me

![image](https://user-images.githubusercontent.com/11584758/30685603-13e52de2-9ed3-11e7-9a1c-6b6e4c666298.png)

[2017-09-22 14:24] aldo774 commented on #701
I've debug the shortcut module and commenting the implementation of 'current_action_updated', debug menu show all items again.

https://github.com/OCA/web/blob/6dee0183a09e34d640b944a52569f2932a417a94/web_shortcut/static/src/js/web_shortcut.js#L80

[2017-09-25 04:22] hongquangminh commented on #718
Hi everyone,

I have the same issue. Have fixed in Odoo 10.0?

[2017-09-29 18:18] kaerdsar commented on #705
I haven't had enough time to check well the libraries in order to decide wether we should use the xmldiff python implementation or create a wrap in lxml for the C++ implementation. For testing purposes, I updated the C++ library to use standard input/output instead of files.

At the moment I was trying to focus in the view history concept based on inherited views. I updated the code sample posted

[2017-09-30 16:23] flotho commented on #701
Hi @aldo774 , any PR from you in the pipe ?

[2017-10-01 01:19] aldo774 commented on #701
Hi @flotho, I didn't open a PR because I don't know the cause of the problem, I saw that when i commenting the implementation of the event _**current_action_updated**_ the debug menu returns to display all the options, I don't know what this implementation does, but when I comment it I didn't realize any difference in behavior of shortcut module.

[2017-10-02 00:44] melroy89 opened #737 "Can't install web_responsive"
Odoo 10.0-20170930

Trying to install the latest version of `web_responsive` module ([link](https://www.odoo.com/apps/modules/10.0/web_responsive/)) needed for the latest backend_theme_v10  theme.

During the installation of the add-on I get (it can't find some kind of element):
[code]

[2017-10-02 00:50] melroy89 commented on #737
Reverting to the default template. It works again. Unrelated to this module.

Closing issue.

[2017-10-02 00:50] #737 closed, assigned to nobody

[2017-10-02 13:34] michotm commented on #727
Tested on Odoo Server 10.0-20170816
it works with firefox but not on chrome

[2017-10-03 15:06] pedrobaeza opened #739 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] help_online - By @qtheuret - #874
- [ ] help_popup
- [ ] support_branding
- [x] web_access_rule_buttons - By @espo-tony - #1243
- [x] web_action_conditionable - By @andreparames - #843
- [x] web_advanced_search_x2x > web_advanced_search - By @Yajo #999
- [ ] web_advanced_search_wildcard - By

[2017-10-06 19:38] lasley opened #741 "[BUG] web_responsive: App Scroll is Slow on Chrome Mobile"
Scrolling of the apps in the app drawer is incredibly slow on Chrome mobile. This can be replicated in the Chrome emulator as well. It is fine on iPhone.

REF Openworx/backend_theme#15

https://youtu.be/ndTXHe-E694

[2017-10-07 04:16] hgminh95 commented on #739
Hi, I would like to help migrating some `web_widget_*` modules, start from `web_widget_float_formula`.

[2017-10-07 08:38] pedrobaeza commented on #739
Updated main comment. If you are going to migrate any other, please mention for reserving it.

[2017-10-07 09:06] pedrobaeza commented on #741
I have also experimented this annoying problem on the mobile. The workaround is to make mini-scrolls until getting the desired section.

[2017-10-07 14:46] lasley commented on #741
Could always go with my solution - use an iPhone 😉

I'm taking a look now. I think I know exactly where this is.

[2017-10-07 15:09] lasley commented on #741
I still can't stop laughing at your solution Pedro. That's gotta be the best one I've heard in a while 😆

[2017-10-07 15:22] lasley commented on #741
Can one of you Androidy's test the version I just pushed please? (#742)

ref https://github.com/cubiq/iscroll/issues/1100

[2017-10-07 17:21] mgielissen commented on #741
Scrolling works now in Android/Chrome.

[2017-10-10 13:24] akhodifad opened #744 "TypeError: instance.web.form.One2ManyDataSet is not a constructor"
I created a custom  This field and widget is used in a one2many field/widget. The problem is now that it just works if you are editing the line of the one2many field. If you are just viewing the form without editing only the id of the selection field is shown as text.
1)TypeError: instance.web.form.One2ManyDataSet is not a constructor
![error1](https://user-images.githubusercontent.com/32675315/31

[2017-10-10 13:34] pedrobaeza commented on #540
@lasley would you take care of the rest of the comments here?

[2017-10-10 20:24] hmrodrigues opened #748 "[11.0] Error installing web_responsive"
When I install the module web_responsive, I get the following error

[code]

Impacted version:
11.0

Expected behaviour:
Install the module

[2017-10-10 20:34] pedrobaeza commented on #748
See #747

[2017-10-10 20:34] #748 closed, assigned to nobody

[2017-10-11 07:54] yajo commented on #744
- Logs should be in assets debug mode to be useful.
- Logs should be full to be useful.
- You didn't indicate the addon that fails.
- You didn't say the odoo version you're using.
- You say it's producing when using own customizations.

For all these reasons, closing. Reopen if you fix the report problems and are able to reproduce in an empty database please 😉

[2017-10-11 07:54] #744 closed, assigned to nobody

[2017-10-11 18:05] ghost opened #750 "Error installing - Odoo 11 (Ubuntu 16.04)"
Erro:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/core/odoo/models.py", line 971, in _validate_fields
    check(self)
  File "/opt/odoo/core/odoo/addons/base/ir/ir_ui_view.py", line 316, in _check_xml
    view_def = view.read_combined(['arch'])
  File "/opt/odoo/core/odoo/addons/base/ir/ir_ui_view.py", line 700, in read_combined
    arch = self.apply_view_inheritance(ar

[2017-10-11 18:54] mgielissen commented on #750
Web_responsive from version 10 works in Odoo 11.

[2017-10-11 19:07] ghost commented on #750
ok! Thank you!

[2017-10-11 19:07] #750 closed, assigned to nobody

[2017-10-11 22:45] OscarDDS opened #751 "Error installing web_responsive Odoo 11"
Hi, I'm getting this error trying to install web_responsive in my new Odoo 11 database:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/Users/oscar/Desarrollo/odoo11-env/odoo/odoo/http.py", line 646, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/Users/oscar/Desarrollo/odoo11-env/odoo/odoo/http.py", line 307, in _handle_except

[2017-10-11 22:49] lasley commented on #751
Hi @OscarDDS - this is fixed in #747, which was just merged. Can you please test again and let us know?

[2017-10-11 23:01] OscarDDS commented on #751
Thank you very much, I just pulled the current version and now I don't get that error.

Thanks again for your help

[2017-10-11 23:01] #751 closed, assigned to nobody

[2017-10-12 13:43] akhodifad opened #752 "TypeError: instance.web.form.One2ManyDataSet is not a constructor"
I created a custom This field and widget is used in a one2many field/widget. The problem is now that it just works if you are editing the line of the one2many field. If you are just viewing the form without editing only the id of the selection field is shown as text.
1)TypeError: instance.web.form.One2ManyDataSet is not a constructor

I have faced the problem in odoo 10 version for web_widget_x2ma

[2017-10-14 14:32] totalard commented on #741
Not working  still

What is issue in my Android chrome browser?

[2017-10-16 14:37] lasley opened #756 "web_responsive: Header overlapped on scroll"
REF https://github.com/OCA/web/pull/742#pullrequestreview-69401273

![image](https://user-images.githubusercontent.com/7397578/31617740-e4571682-b244-11e7-8bf7-ec4abdd5c467.png)

[2017-10-16 15:55] lasley commented on #741
This is fixed in the current v10. v9 backport is #757

[2017-10-16 15:55] #741 closed, assigned to nobody

[2017-10-16 15:57] pedrobaeza commented on #741
v11 needs it as well.

[2017-10-16 16:00] lasley commented on #741
Oh I forgot that was released. #758

[2017-10-16 16:00] lasley commented on #741
Also reminds me I need too look at Runbot v11 today. Doing that now

[2017-10-16 16:03] pedrobaeza commented on #741
It should work after a disk space issue that happened last week.

[2017-10-16 16:03] lasley commented on #741
Yeah that's what I was thinking. We have an email in the board mailing list from this morning claiming otherwise though.

[2017-10-17 09:44] yajo opened #759 "[11.0] web_responsive: odoo.define_section is undefined"
Current 11.0 builds will all fail due to:

 https://github.com/OCA/web/blob/d62b1b563af449317ab9cada65998df4f0707902/web_responsive/static/tests/js/web_responsive.js#L4

Odoo 11.0 changed the way we write widget tests, and in this change, it removed `odoo.define_section`. That's why we are getting [errors such as this one](https://travis-ci.org/OCA/web/jobs/287908508#L942-L945):

[code]

We have t

[2017-10-17 10:27] lucode opened #760 "[10] web_widget_image_webcam QWeb Error"
I did use this module since a while without any problem, but I'm not 100% shure that the error is caused directly by this module. I didn't change anything realted to the module, what could cause the error. The only things that did change is some updates of other modules.

When I try to open any record in odoo I get the following error:
[code]
The browser is locking and I can't even close the error

[2017-10-17 11:52] pedrobaeza commented on #760
Please try to replicate the problem in runbot. If not, then I'm afraid it's your installation.

[2017-10-17 11:52] pedrobaeza commented on #760
Closing meanwhile until further confirmation.

[2017-10-17 11:52] #760 closed, assigned to nobody

[2017-10-17 15:00] lasley commented on #759
Yay... another completely undocumented tour system to learn. Thanks Odoo

[2017-10-17 15:16] pedrobaeza commented on #759
Well, as stated in Odoo days, they're working on that part now.

[2017-10-18 08:19] yajo commented on #759
Yes, at least you can check the JS code and it should contain proper docstrings right now, although you still have to guess the right file to look up to. 😆

[2017-10-19 08:31] taifu opened #762 "[10.0] web_dialog_size: how maximize only the popup for order lines"
First of all: great addon!
I would like to maximize only the popup used to edit the lines of Purchase Order, Sale Order, Invoice Lines, ecc.
If I define the key "web_dialog_size.default_maximize" it works but it maximize also simple warning popup.
I tried to put .dialog_full_screen class on everything in the Purchase Order Form (field order_line, his tree, his form, ecc.) but nothing.
Is this poss

[2017-10-19 09:05] pedrobaeza commented on #762
Right now, there's no option of individual size choice.

[2017-10-19 09:05] #762 closed, assigned to nobody

[2017-10-19 09:17] taifu commented on #762
Ok! Thanks a lot for your answer.
Perhaps it's better to fix the docs, saying this

[2017-10-19 09:27] pedrobaeza commented on #762
Docs don't mention anything about that if I remember well. Any PR for improving them is welcome any way.

[2017-10-20 14:03] ghost opened #769 "[8.0] web_widget_digitized_signature not working on mobile devices"
Hi,

We use the digitized signature in two wizards to store user signature.
When using a mobile device only the signature canvas in the wizard moves (page move), no drawing input is recognized.
It seems that the mouse/touch events are not properly handled.

Error appears with iPad, Android 7 Phone (5") and Android 7 tablet (10").
Any ideas?
I use your latest version: branch 8.0 from 28-Jul-2017

R

[2017-10-21 22:28] spacemonkeythe commented on #435
Migrating web_dashboard_open_action [#770](https://github.com/OCA/web/pull/770)

[2017-10-21 23:07] spacemonkeythe commented on #435
Migrating web_context_in_colors [ #771](https://github.com/OCA/web/pull/771)

[2017-10-22 13:09] hgminh95 commented on #759
Since this module does not use Odoo Widget, there are only some changes in syntax of javascript test. I have provided a fix. You guys can take a look at #772.

[2017-10-23 04:36] nogueira-raphael opened #773 "[11.0] Drop-Down menu problem"
Drop-down menus do not roll when they are very large.
In the image example the menu in Settings is quite extensive and you can not scroll to see the whole menu, just what it shows on the screen.

![captura de tela de 2017-10-23 01-32-22](https://user-images.githubusercontent.com/20387443/31872437-5e0a9c4a-b792-11e7-9a45-67a567be02f9.png)

[2017-10-23 07:27] pedrobaeza commented on #773
This happens also in other versions. The workaround is to zoom in and zoom out and the scrollbar appears.

@lasley can you check it?

[2017-10-23 10:49] oihane commented on #739
Proposed web_widget_color: https://github.com/OCA/web/pull/775

[2017-10-23 15:01] lasley commented on #773
I admittedly knew about this one and was just waiting until it bugged someone enough to submit a ticket. I would assume it affects all versions.

Another trick is to resize the window. All of it bubbles into [`handleWindowResize`](https://github.com/OCA/web/blob/11.0/web_responsive/static/src/js/web_responsive.js#L130), which I'm sure I can just call in the init to resolve.

[2017-10-23 15:12] lasley commented on #773
#776 for v10. I'll cross port when confirmed

[2017-10-24 08:49] JordiBForgeFlow commented on #718
We have also reproduced this same issue.

[2017-10-24 15:39] hongquangminh commented on #718
I found this PR https://github.com/OCA/web/pull/604 and tested. It working. Can you check it @jbeficent ?

[2017-10-27 09:20] NothingCtrl commented on #516
@pedrobaeza I'm on laster version v9. The export error when tree view has field `interger`, I can bypass the error by using widget="char"
[code]

[2017-10-27 12:44] pedrobaeza commented on #516
Well, it was fixed, so please try the same on runbot, and if you reproduce it, then it should be something new.

[2017-10-27 16:45] smurf-U commented on #739
https://github.com/OCA/web/pull/779 web_widget_image_download

[2017-10-29 16:43] bouvyd commented on #739
#781 web_notify

[2017-10-30 00:45] ndkazu opened #782 "Installing & configuring Project Timeline"
Hello,
I've installed both modules Project_timeline and web_timeline in Odoo 10 on Windows 7.
I get the Gantt chart display, but I don't get the "date_start, date_end, date_delay, etc..." fields when double-clicking on a record. The web_timelline help file is talking about configuring those fields, even showing an example of xml code, but which file should be modified? details are very scarse.
ano

[2017-10-30 07:39] pedrobaeza commented on #782
The fields were added in form view (although they were modifiable directly from the timeline view before) in https://github.com/OCA/project/pull/324, so I don't get the problem. Any way, this should be in OCA/project, not here.

[2017-10-30 07:39] #782 closed, assigned to nobody

[2017-10-30 12:28] #759 closed, assigned to nobody

[2017-10-31 12:04] gbonline opened #784 "Wrong form.js on web_m2x_options branch 7.0"
Hi, I'm using odoo 7.0
and with the module, downloaded from 7.0 branch, web_m2x_options, I saw that the "create and edit...." link didn't disappear on fields with many2many_tags widget.
So after some search on the code, I found that the form.js included on this package is wrong.
on the code there are reference  as "widget.view.ir_options_loaded"
but the ir_options_loaded don't exist on web module

[2017-10-31 12:06] pedrobaeza commented on #784
That version is very old, but you can make a PR making the proper change (or at least informing of that in README). Meanwhile, as stated about the old version, we shouldn't keep opened issues of them.

[2017-10-31 12:06] #784 closed, assigned to nobody

[2017-10-31 18:14] JordiBForgeFlow opened #786 "[RFC] Widget to allow a field to start an action when you press enter (used by barcode readers)"
Hi!
In some scenarios we want to design a wizard that allows a user to enter a code, using a barcode scanner, and once the code has been entered, it should automatically trigger some action.

For example, you have an event and you printed badges. To confirm the attendance to the event you open a wizard that expects a field "barcode_text". As soon as you enter the code, the wizard should be confirm

[2017-10-31 18:43] hbrunn commented on #786
how about adding this to the form widget, something like `<form options="{'keycodes': {13: 'my_action'}}">` and the form then sets up listeners. If the widgets don't catch the keypress event themselves, it should bubble up to the form widget, which then handles this exactly like pressing a button with `type='object' name='my_action'`

[2017-10-31 18:45] lasley commented on #786
An interesting proposal @jbeficent. Are you thinking of using this solely for wizards dedicated to the defined workflows? If so, maybe something like [`stock_scanner_web`](https://github.com/OCA/stock-logistics-barcode/pull/95)?

If it's just simple fields, there's also the built-in [`barcode.events.mixin`](https://github.com/odoo/odoo/blob/11.0/addons/barcodes/models/barcode_events_mixin.py#L6)

[2017-11-01 13:30] JordiBForgeFlow commented on #786
After analyzing @lasley proposal, seems to be exactly what I'm looking for. I will test.

cc @rgarnau

[2017-11-01 13:30] #786 closed, assigned to nobody

[2017-11-01 15:42] pedrobaeza commented on #786
@jbeficent any information about what do you intend to do with this?

[2017-11-01 16:48] JordiBForgeFlow commented on #786
It is intended to be used in a very custom approach to pre-invoicing checks
in the healthcare context. Before you send an invoice to a customer you
have to verify that all paperwork is in place, then you barcode the code of
the Encounter, so as tp agree that the related sales orders are good to
invoice.

On Nov 1, 2017 4:42 PM, "Pedro M. Baeza" <notifications@github.com> wrote:

[2017-11-01 18:49] pedrobaeza commented on #786
Uhm, I don't know too much that environment, but having a kind of helpdesk main screen for that and adding the listeners for barcodes can work.

[2017-11-01 20:40] lasley commented on #786
Curious - Are you planning on using `stock_scanner_web` or custom events? The helpdesk main screen approach Pedro is suggesting could be accomplished by simply making a contextual scenario I think. Example [here](https://github.com/OCA/stock-logistics-barcode/tree/9.0/stock_scanner_inventory)

[2017-11-01 20:50] JordiBForgeFlow commented on #786
I was planning on using the barcode events. Because it is not.going to be a
mobile.operation, but one performed by accounting clerks on the office,
using barcode readers.

But as I said, it is a scenario very specific to a particular customer. The
point is that sometimes you want to capture a barcoding event, capture the
barcode and trigger an action, which is what seems like the barcode
module.fr

[2017-11-01 20:57] lasley commented on #786
Yup that's exactly what it's for, and it works quite well. Only issue I've run into is making sure the user focuses the element before scanning. The events don't work as well as anticipated when applied to higher level elements, like the web client itself.

[2017-11-02 16:26] Cywaithaka opened #788 "[7.0] web_readonly_bypass on tree view inside form"
For readonly fields inside tree view, the value of readonly fields is not being saved.
To reproduce, test this with sale.order
<record id="sale.action_quotations" model="ir.actions.act_window">
    <field name="context">{'readonly_by_pass': True}</field>
</record>
Then make the price_unit field on sale.order.line (line_id field) to be readonly.
The value of price_unit is not being saved.

[2017-11-02 18:36] pedrobaeza commented on #788
That's an already known issue. For 8.0 it was fixed, but not in 7.0, as it's very very old.

[2017-11-02 18:36] #788 closed, assigned to nobody

[2017-11-03 11:55] iampreethamveigas opened #789 "Header Nav Bar is lapping position"
![screenshot_2017-11-03-17-16-58](https://user-images.githubusercontent.com/24918810/32372684-eab7bb96-c0bb-11e7-8c8b-2632b389f87f.png)

any light to this bug..

[2017-11-03 13:24] yajo commented on #789
Closing since there's no information on how to reproduce it.

[2017-11-03 13:24] #789 closed, assigned to nobody

[2017-11-03 17:52] iampreethamveigas commented on #789
There was a bug in web_responsive module, in Android chrome the header nav bar is overlapping the main body section when you scroll.
installed latest code.
using in odoo 10 .
tested in Samsung j8 chrome.

[2017-11-03 17:54] pedrobaeza commented on #789
Duplicated with #756

[2017-11-03 17:59] iampreethamveigas commented on #789
is there any possibilities to fix the bug, i would follow if is there any, i did  went through #756 and dint get any fix so far.

[2017-11-03 18:01] pedrobaeza commented on #789
No, it isn't. If it remains opened it's because it's not fixed.

[2017-11-03 18:09] iampreethamveigas commented on #789
ok. hope it ll be get fixed  soon.. or probably do some css workaround.

[2017-11-03 18:22] pedrobaeza commented on #789
If you are able to fix it, please propose a PR with the fix.

[2017-11-06 01:34] #773 closed, assigned to nobody

[2017-11-09 06:36] alyngsoe opened #793 "account_invoice_ubl Change UBL version to 2.0"
The module supports UBL version 2.1 (used by default) and 2.0 according to the documentation. BUT how can we setup the use of version2.0 ?

[2017-11-09 17:20] UnixedIT opened #794 "Error while importing module 'web_responsive': ''"
Trying to import web_responsive-11.0.1.0.1 module to Odoo 11.0-20171019 (Community Edition) and i'm get this error "Error while importing module 'web_responsive': ''

knowing i have deployed odoo 11.0-20171019 using Bitnami over google cloud platform.

[2017-11-09 17:23] pedrobaeza commented on #794
You can't import this module. That's only for data-only modules, which is not the case. Install properly on the server.

[2017-11-09 17:23] #794 closed, assigned to nobody

[2017-11-13 16:41] JBF91 commented on #739
Hi! I'm working on web_export_view.

Here's the PR https://github.com/OCA/web/pull/798

[2017-11-15 07:32] JBF91 commented on #739
I've also migrate web_hide_db_manager_link, It's work fine to me.

https://github.com/OCA/web/pull/801

UPDATE:
I'm closing the PR, as @Yajo told me, there's a built in parameter "--no-database-list" wich does the same. So @pedrobaeza you can strikethrough in the main message as you did with readonly_bypass.

[2017-11-17 16:34] icf20 opened #804 "Numpad Dot as decimal separator app page is confusing"
the way this is place is confusing on one had here on github the migration is done to version 10 yet on the official app pages there is only version 8 https://www.odoo.com/apps/modules/8.0/web_decimal_numpad_dot/

what should i/people make of this ?

[2017-11-17 16:36] pedrobaeza commented on #804
This is because Odoo has forbidden to publish the same apps from different repositories. @lasley can you notify about this?

[2017-11-17 16:41] lasley commented on #804
Yeah I'm still working with Odoo apps support on the Projects repo too.

This one looks to be migrated from a pre-existing repo from another user though. This is the edge case that is not considered in the Apps store - modules from all versions are restricted to one owner. From what I am understanding, we need the v8 in our repo.

[2017-11-17 16:43] lasley commented on #804
Note on my tasklist today is to try to get into the email address that is receiving these fail notifications. Odoo SA advised me it is openerp-community-reviewer@lists.launchpad.net 😆

[2017-11-17 16:49] icf20 commented on #804
@pedrobaeza so is safe to use this ?

[2017-11-17 16:49] lasley commented on #804
Definitely - it's an Odoo Apps store issue that we are currently working with them on

[2017-11-17 16:51] pedrobaeza commented on #804
I suppose I can change the email although the account login is openerp-community-reviewer@lists.launchpad.net. Which one should I use?

[2017-11-17 16:54] icf20 commented on #804
@lasley does OCA provide the .zip files from a repo ?

[2017-11-17 16:55] lasley commented on #804
@pedrobaeza We're probably good with that one assuming the password is in KeePass (I haven't looked yet - had to find and install a [Mac KeePass client](https://github.com/mstarke/MacPass) first)

Whatever email we use is going to receive a massive amount of garbage as we sort it all out, which I honestly don't even have a strategy on yet.

@icf20 - Github has the option to export as zip:

![image

[2017-11-17 16:58] icf20 commented on #804
@lasley oh god, so i need to trust github of this and files/apps are not individually signed

[2017-11-17 16:59] lasley commented on #804
@icf20 - Odoo Apps Store isn't signed either, and is directly getting the apps from git repos. Six of one, half a dozen of another.

[2017-11-17 17:00] lasley commented on #804
OCA is working on an apps store that could optionally include digital signatures, but that is not something that has ever existed in Odoo environment to date (to my knowledge)

[2017-11-19 10:36] fgarcia-humanoide opened #805 "[11] web_environment_ribbon yust works for admin, not for other users"
I have installed web_environment_ribbon as admin , and it works.

But loging as a normal user, the ribbon disappears.

[2017-11-19 13:42] pedrobaeza commented on #805
I confirm the bug.

@xavierjimenez can you please check?

[2017-11-20 13:58] xavierjimenez commented on #805
Indeed, there's a bug with a non-administrator user.

I have checked it out and it's an issue with permissions, the user can't access to the ir.config_parameter model (this is where the data of the ribbon is stored).

I have solved it with sudo() calls to the model but I'm not sure if that's an OCA standard.

@pedrobaeza

[2017-11-20 14:01] pedrobaeza commented on #805
Yeah, indeed that's the correct change. In the migration guide (https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0) there's a point about that:

Please make the PR changing that.

[2017-11-22 04:22] fanha99 opened #808 "[11.0] web_responsive: header is still appear when print directly from browser."
![header](https://user-images.githubusercontent.com/1172848/33109917-019dc34a-cf77-11e7-9dff-22e60424b5ca.png)
I want to print directly from the browser instead of create and save PDF before print. but when I print, the header is still appear.  Is there a way to hide it?

the screenshot is from the sale order / print

thx

[2017-11-27 04:23] LiuSir666vw commented on #189
hi,dreisppt.
did u solved the issue of "SystemMessage: :19: (SEVERE/4) Unexpected section title."?
is it a bug here?

[2017-11-27 04:24] LiuSir666vw commented on #189
@dreispt @pedrobaeza
hi,
did u solved the issue of "SystemMessage: :19: (SEVERE/4) Unexpected section title."?
is it a bug here?

[2017-11-27 08:16] pedrobaeza commented on #189
Yes, read the history of the issue

[2017-11-27 18:47] #808 closed, assigned to nobody

[2017-11-29 14:16] yousef-soliman opened #815 "[Bug] web_dashboard_tile apply group"
Hi,
when i installed web_dashboard_tile
i created a Tile with domain and i want to apply for group.
i select groups but this not working (no changes applied).

[2017-11-29 17:29] lasley commented on #756
This will be fixed in  #714 (220ead1)

[2017-12-01 08:46] pedrobaeza commented on #756
Closing as solved in the PR.

[2017-12-01 08:46] #756 closed, assigned to lasley

[2017-12-05 16:41] legalsylvain opened #821 "[RFC] [web dashboard tile] Add tile groups"
hello dashboard tile users,

I'd like to add a new concept in this module. (target V8.0 version)

My needs : I created a lot of tiles that are all displayed in one menu. I'd like to separate the tiles (ex : Invoicing Tiles, Sale Tiles, etc...), giving for each tile a new required "group.tile". for each group, module provides the possibility to create a new menu (and according action). (like in oth

[2017-12-11 08:52] tafaRU commented on #435
Starting migrating `web_advanced_search_wildcard`.
I cannot see it in the list of modules to migrate. Is it only because it's not been migrated to v9.0?

[2017-12-11 08:54] pedrobaeza commented on #435
Yeah, that's the reason.

[2017-12-12 08:38] tafaRU commented on #435
`web_advanced_search_wildcard` migrated on https://github.com/OCA/web/pull/822.

[2017-12-13 11:22] rousseldenis opened #823 "[10.0] web_responsive : menus disappeared with https://github.com/odoo/odoo/pull/21615"
There is a translation bug in v10 which should be fixed by https://github.com/odoo/odoo/pull/21615.

But it seems to break menus with web_responsive.

@lasley @fanha99  Can you confirm it (I'm currently investigating) ?

[2017-12-13 13:27] rousseldenis commented on #823
Wrong test. Close.

But that fix is interesting to follow

[2017-12-13 13:27] #823 closed, assigned to lasley

[2017-12-13 14:49] wangsamas opened #824 "Web Responsive Access Denied"
Hi, thanks for this great module.
I install it in odoo 11, and i get this info at production log
Access Denied by ACLs for operation: read, uid: 4, model: ir.ui.menu
how to fix this?
thx

[2017-12-14 17:07] wangsamas commented on #824
Hi, I delete group_portal in web.xml and the...
Access Denied by ACLs for operation: read, uid: 4, model: ir.ui.menu...
is gone.
Is this okay?

[2017-12-14 17:10] lasley commented on #824
@wangsamas - please link the line you had to change

[2017-12-14 17:16] wangsamas commented on #824
Hi lasley,

I don't know how to link the line, I use notepad++
I delete 2 ,global_portal in web.xml file in web_responsive directory

[2017-12-14 17:18] lasley commented on #824
Are you referring to this? https://github.com/OCA/web/blob/11.0/web_responsive/views/web.xml#L37

[2017-12-14 17:19] wangsamas commented on #824
Yes, and there is another one below

[2017-12-14 17:24] lasley commented on #824
Hmmmm I think this has to be an issue with your instance's portal permissions. Deleting those lines is just a temporary fix that will be undone when you update. I think the solution is to instead just add `ir.ui.menu` to the portal read permission in your Odoo instance through the Settings=>Security menu.

I don't have a v11 immediately handy, and our Runbot is broken, so I'm not able to actually

[2017-12-14 18:24] wangsamas commented on #824
hi lasley, i just tried add ir.ui.menu read permission to portal user and the result is internal server error.

[2017-12-15 01:48] hiltonmw commented on #824
I believe this might be a larger issue than you realize.  I too have this issue, as does at least one other customer.  In this case, I cannot even log into my instance's web-GUI at ALL to make any changes.  Can you please assist?  I need to be able to fix this so I can re-access my system.  It's been down for two full days now, without me changing anything.... more details can be found here...
htt

[2017-12-15 01:49] hiltonmw commented on #824
I need to know how to change permissions through postgres on the server (SSH'd in) or something else, because my server is 100% down now because of this problem.

[2017-12-15 02:04] lasley commented on #824
If your server is down, I'd try removing the suspect module from the file system and trying again. You'll get console errors, but your site will work. Or edit the lines mentioned above and update the module.

I just tested on my own instance, and there is something wrong with the permissions in both of your instances. Without information regarding what other specific module caused this confliction

[2017-12-15 02:04] #824 closed, assigned to nobody

[2017-12-15 11:19] wangsamas commented on #824
Hi lasley, you are right that deleting group_portal is just a temporary fix.
btw, I agree that web_responsive suppose not interact with permissions in any way.
but I really keep my eye on production.log

Access Denied by ACLs for operation: read, uid: 4, model: ir.ui.menu
Doesn't show when I uninstall web_responsive.
It show right away I install web_responsive.

I don't know what should I do.

[2017-12-15 11:20] pedrobaeza commented on #824
I confirm this is not something of web_responsive. I have it in production in 11.0 without problems.

[2017-12-15 12:21] wangsamas commented on #824
hi pedrobaeza,
have you look at your production.log ?
We don't see any anything in ussage. seems no problem, but there are something going on in production.log

I've tried again and again now... install, uninstall, install, uninstall, install, uninstall, install, uninstall...
if I install web_responsive, I get this message in my production.log
Access Denied by ACLs for operation: read, uid: 4, mod

[2017-12-15 12:30] pedrobaeza commented on #824
No, no log with errors by my part...

[2017-12-15 14:37] roccocesetti opened #827 "odoo 10.0 web responsive no active i have installeed web_responsive module"
Impacted versions:
10.0
Steps to reproduce:
android browser link demo10.ideawork.link
Current behavior:
no web responsive
Expected behavior:
si web responsive
Video/Screenshot link (optional):
![odoo_mobile](https://user-images.githubusercontent.com/4387127/34046532-ae755586-e1ad-11e7-9af5-0c1f4441d8d9.jpeg)
Thank you so much for your reply

[2017-12-15 15:08] pedrobaeza commented on #827
As I have already said, web_responsive is for backend, not frontend

[2017-12-15 15:08] #827 closed, assigned to nobody

[2017-12-15 18:50] hiltonmw commented on #824
Anyone know how I might be able to update the ACLs through PGAdmin directly in Postgres?  I'm really stuck here!

[2017-12-15 18:53] lasley commented on #824
@hiltonmw - your issue sounds completely unrelated here, particularly given that the report here is a log-only issue. I recommend you hire an Odoo integrator if you are about to try to edit ACLs in the database.

@wangsamas - I tested on a local, and even installed all modules that Odoo SA provides as part of core - in hopes that I could trigger the error in the logs. Can you provide a full traceb

[2017-12-15 19:00] lasley commented on #824
@wangsamas - also are you maybe on Linux? If so, you could probably find the addon that did mess things up like this:

[code]

[2017-12-15 19:16] wangsamas commented on #824
Hi lasley,

I don't know how to full traceback. but this is what I get in my log when I install an app without web_responsive (mass mailing app)

2017-12-15 19:14:19,257 4744 INFO wangsamas odoo.addons.base.ir.ir_http: Generating routing map
2017-12-15 19:14:22,680 4744 INFO wangsamas odoo.models.unlink: User #1 deleted ir.attachment records with IDs: [444, 443]
2017-12-15 19:14:23,225 4744 INFO w

[2017-12-15 19:29] lasley commented on #824
@wangsamas Well that's weird. Ok so to replicate this, we have to install a module? I figured it would be when you refresh a page.

I just tried uninstalling mass mailing, then reinstalling (under the demo user with default permissions + settings), and I'm not seeing it still. I'm even seeing successful queries to `ir.ui.menu` for the loading of the icons:

[code]

I logged out and then tried hitt

[2017-12-15 19:34] wangsamas commented on #824
Yes I use linux.

I couldn't find grep --include=\*.{xml,csv} -rnw '/path/to/addons/not/in/core/' -e "base.group_portal"

this is what i found with grep

C:\Users\wangsamax\Documents\Odoo11\OKE\addons\hw_blackbox_be\controllers\main.py (1 hit)
	Line 176:             return subprocess.check_output("ifconfig eth0 | grep -o 'HWaddr.*' | sed 's/HWaddr \\(.*\\)/\\1/' | sed 's/://g'", shell=True).rstrip

[2017-12-15 23:20] ivantodorovich commented on #815
Make sure it's not restricted to a specific user.
If a user is selected, groups are ignored.

[2017-12-16 00:11] vcloud9ray commented on #739
Tried to install help_online in v11.

1. Ran 2to3 and made suggested changes to the wizard/*.py files (library name changes)

2. Commented out an XML error (field PAGE does not exist)

`<field name="page" string="Website Page?" readonly="1" attrs="{'invisible': [('type', '!=', 'qweb')]}"/>`

3. Tried to resolve a JavaScript Error "TypeError: this.rpc is not a function" by using the v11 version "th

[2017-12-16 08:33] wangsamas commented on #824
Hi lasley, This might sound silly, but I want to try to give somekind of access permission to web_responsive for everyone.
I read from odoo documentation, I suppose I make a security directory with 2 files in it? a csv & a xml?

id,name,model_id:id,group_id:id,perm_read,perm_write,perm_create,perm_unlink
..., ..., ..., ..., ..., ..., ...,

and

`<odoo>`
SOMETHING HERE
`</odoo>`

Please help me wha

[2017-12-16 08:55] wangsamas commented on #824
hi again,

suddenly I get this other error right after the access denied. Is this has something to do with the access denied issue or is it something else?

2017-12-16 08:28:45,043 15491 ERROR wangsamas odoo.addons.website.models.ir_http: 500 Internal Server Error:
Traceback (most recent call last):
  File "/opt/odoo11/apps/odoo/lib/odoo-11.0.post20171019-py3.6.egg/odoo/fields.py", line 944, in __

[2017-12-16 12:06] pedrobaeza commented on #739
@vcloud9ray, well, you have tried, which is the important thing!

[2017-12-22 17:40] lasley commented on #824
@wangsamas Absolutely every user derives from either `base.group_user,base.group_portal`, so permissions already exist for all of them for the most part.

You would need to ask the Odoo SA team why this permission exists, because it was simply transferred into this addon in order to mirror the existing interface API as much as possible.

This boils into a common issue with Odoo - permissions. I've

[2017-12-22 17:45] lasley commented on #824
A hammer approach that may work is taking production down for a long time & simply starting Odoo with `--update=all`. It could also make things significantly worse.

[2017-12-23 03:58] wangsamas commented on #824
Hi Lasley, you are awesome! absolutely not a dick and your information is very useful for me.
I did asked in odoo forum, but has no respon yet.

For now the conclusions are this is not my mistake and this is not caused by web_responsive or bitnami package or debian?

There are some things that i suspect.
1. I missed something to installed that needed for odoo to run well.
2. I have to give permiss

[2017-12-23 18:29] lasley commented on #824
@wangsamas - I find it unlikely that an addon caused this problem, although it's possible. Definitely not number 1, or 2. Possibly 3, but I doubt it.

Typically permissions issues are human caused, so either by something you did or (more likely) something a user did. It's possible for a module, but dropping the `ir.ui.menu` permissions from either the portal or user groups is not something that wo

[2017-12-23 20:30] hiltonmw commented on #824
lasley, where would i run --update-all from?  I'm using the bitnami stacks version and cannot seem to find where openerp-server resides...

[2017-12-23 20:53] lasley commented on #824
Dunno anything about Bitnami, but you need to append that to the standard Odoo start command. `ps aux|grep odoo` might help

[2017-12-24 14:37] wangsamas commented on #824
@hiltonmw
I think it's similar to restart command from bitnami stack tutorial, but change the restart to update all.

@lasley
Sorry to bother you again. You are the best answer i get. I use google cloud and haven't use it for real transactions. So it's okay for me to change os or restart from the beginning.
There are some questions that i still don't understand.
1. What is the best os for odoo? De

[2018-01-08 02:25] wangsamas commented on #824
@lasley

I try ps aux|grep odoo, I get this and have no idea what it's mean.
please help

daemon    4505  0.0  2.0 596948 35624 ?        Sl   Jan07   0:00 /opt/odoo11/apache2/bin/httpd.bin -f /opt/odoo11/apache2/conf/httpd.conf -DDISABLE_BANNER
postgres  5670  0.0  3.9 204140 68476 ?        Ss    2017   0:05
postgres: bn_odoo kim 127.0.0.1(33808) idle
daemon    5685  0.0  1.3 373932 23688 ?

[2018-01-08 15:41] treviser opened #835 "[10.0] web_translate_dialog: mixes translations terms"
Tried to use the module on 10.0 with 3 languages. Technically, it works, but it mixes translated terms after saving when using more than 2 languages and copy/paste. I had to redo hours of work.

[2018-01-08 15:43] pedrobaeza commented on #835
Module is not migrated, so what you are referring can be a side effect of using a 10.0 module in 11.0.

[2018-01-08 15:53] treviser commented on #835
Thanks. I just wanted to share the observation, it might be useful.

[2018-01-08 15:54] pedrobaeza commented on #835
Yeah, thanks for the info.

[2018-01-08 15:58] ngrandjean opened #836 "[10.0] web_widget_digitized_signature : signature not displayed on edit mode"
Hello,

I have a slight problem with module web_widget_digitized_signature ( versions 10.0 community or enterprise).
On edit mode in the user view, already existing signatures are not displayed on field signature_image. They still exist when the edit mode is quit, though.

[2018-01-08 16:00] rousseldenis commented on #835
@treviser Check also if you are not in the case solved by : https://github.com/odoo/odoo/commit/7dfdfa0103872e39d6fde60373c56b9786461489#diff-1e7fea0c1a48e736046cf234118f95d4 (and if you have that commit)

[2018-01-08 16:06] treviser commented on #835
Sorry guys, but I've lost control while working for different customers on different versions. My observation is for version 10.0 20180105!

[2018-01-08 16:08] pedrobaeza commented on #835
Uhm, then that's a possible real bug. But we need some kind of trace of what you have done for replicating the problem.

[2018-01-08 16:08] treviser commented on #835
Gimme a minute.

[2018-01-08 16:35] treviser commented on #835
My set-up:
- 3 active languages, en_US, de_DE and fr_FR
- Language of the administrator user is english, language of other users is german, company partner language is german
- Website languages: english, french and german, german is the default ([weisses-roessli-brunnen.twanda-hosting.ch](url))

I'm working as non-admin user with language preference set to german

After translating and saving the

[2018-01-08 16:39] pedrobaeza commented on #835
Is this field one with `translate=html_translate` argument?

[2018-01-08 16:43] treviser commented on #835
It's the field "name" of the object "product.template", if that helps.

![selection_059](https://user-images.githubusercontent.com/1814941/34681304-c02a98d0-f49b-11e7-8e93-097dad70426b.png)

[2018-01-08 16:57] treviser commented on #835
@pedrobaeza The same happens to the field" website_description", which is of type "html" (and it seems to have this argument):

![selection_060](https://user-images.githubusercontent.com/1814941/34681853-69c2fdb4-f49d-11e7-89df-6ebec7f1327e.png)

[2018-01-09 08:36] pedrobaeza commented on #835
OK, thanks for the information. I have changed title to be in line with the comments. I'm not able to dig further right now, but the issue remains here for further investigation.

[2018-01-09 08:48] treviser commented on #835
Thanks for your efforts. I did observe this behaviour for any translatable fields. However, I have learned that it is not necessary to re-enter the translation terms, but just ignore the displayed terms after they are saved. This as a hint for others, before they unnecessarily start to re-enter translations as I did.

[2018-01-10 07:09] treviser commented on #835
I have to uninstall the module. It leads to unpredictable displays of language terms also in regular Odoo tree views. I have completely lost control about translations.

[2018-01-10 10:37] #752 closed, assigned to nobody

[2018-01-17 07:02] kk8888-2016 opened #840 "[10.0] web_domain_field - TypeError: unhashable type: 'list' when building domain from list"
Hi.

I try to build the domain from ids of a many2many fields as follows

<field name="product_id_domain" invisible="1"/>
<field name="product_id" domain="product_id_domain"/>
The field used as domain must provide the domain as a JSON encoded string.

product_id_domain = fields.Char(
    compute="_compute_product_id_domain",
    readonly=True,
    store=False,
)

@api.multi
@api.depends('name')
de

[2018-01-17 07:18] lmignon commented on #840
@kk8888-2016 How do you use the domain field into your view?

[2018-01-17 07:37] kk8888-2016 commented on #840
@lmignon

Thanks you for quick response, I fixed the problem as my typo in the code.
rec.product_id_domain = json.dumps(
['id', 'in', x2manyfield.ids]
)

[2018-01-17 07:37] #840 closed, assigned to nobody

[2018-01-18 08:07] GabbasovDinar opened #841 "[11.0] web_widget_color, doesn't work correctly"
We have issue with web_widget_color:
Now we activate the widget when a checkbox is active. Piece of our code:
[code]
When we create new record and then we check the box, the widget is not appear, but when we save the record and edit again we can see the widget and select color.

it works correctly for Odoo 10.0

[2018-01-18 08:10] pedrobaeza commented on #841
@etobella you migrated it. Can you check?

[2018-01-18 12:09] etobella commented on #841
I am reviewing it. I have found two issues:

- When you are on a list and you want to create a new element. widget_color is not working
- When the widget is under a conditional readonly, it is not working on the modification.

I have a solution for the second one, but I am still working on the first.

[2018-01-18 13:46] legalsylvain opened #842 "Create a new repository for js lib"
hi all,

## Findings

For a while, there are a lot of js libraries that are included in oca "web" modules. (for graphical purpose, or to make light web apps) and I guess that the quantity of such modules will increase.

sample :
- stock-logistics-barcode / mobile_app_inventory : web app to make an inventory. [V7 version](https://github.com/OCA/stock-logistics-barcode/tree/7.0/mobile_app_inventory)

[2018-01-18 13:53] hbrunn commented on #842
good idea. But let's call this `web_library` (or whatever, but don't pin it to js, because something like the bootstrap update module could go there too)
I think the modules in there also should already add the appropriate xml to make the library available, so that just adding the dependency suffices.

[2018-01-18 14:02] legalsylvain commented on #842
Hi holger, thanks for your review.

:+1:

yes I was firstly thinking about that implementation, but if we want to host multiple version of the same lib. (angular-1.1.js, angular-2.js) so we have to let the possibility to each modules to choose the version). (a few lines of code in each modules, but more modular).

(alternatively, we can create a module per lib version), but I fear that it will be

[2018-01-18 14:02] hparfr commented on #842
Good idea.
Your proprosal is simple and will work well for the moment.

Another solution, is to add js dependencies in packages.json and use tools like npm to download and update dependencies. It's a bit more complex since you have to add a tool in the build chain.

[2018-01-18 14:05] legalsylvain commented on #842
Hi @hparfr,

Well, this implementation will prevents users to use modules downloaded from the appstore for exemple. (except if they run extra commands). Or did I missed something ?

[2018-01-18 14:07] hparfr commented on #842
I'm not familiar with the appstore and how to integrate with it.

[2018-01-18 14:22] legalsylvain commented on #842
Well, appstore allow users to simply download code (with dependencies). downloaded modules should simply be placed in the addons folder. It is very used by a lot a people that doesn't work with an integrator.

[2018-01-18 14:57] hbrunn commented on #842
we absolutely need modules instead of npm or whatever

For versions: Often it's a non-issue anyways because libs are backwards compatible, and if they are, angular-1, angular-2 etc. seems fine to me

[2018-01-19 01:38] yelizariev commented on #842
It's important step to make OCA modules more safe. Good proposition :+1:

[2018-01-19 17:20] wangsamas commented on #824
@lasley

I've bring this issue to bitnami community and they are also able to reproduce this ACL warning
https://community.bitnami.com/t/odoo-addons-website-models-ir-http-500-internal-server-error/54176/20

They try to give solution by install phonenumbers, but it doesn't work
It seems that someway somehow web_responsive block odoo server to recognize who is coming.

This is my recent warning

20

[2018-01-19 18:08] legalsylvain commented on #842
@hbrunn. OK. I updated the initial proposal regarding your comments. I have a technical question about js / css imports. some time I inherit web assets and sometime point_of_sale assets (or others files). Is it different ? If yes, the import should be written in the custom module. If no, I agree with the following sentence :

thanks.

[2018-01-19 19:44] hbrunn commented on #842
it's different. starting from 11, this is a moot point anyways because there widgets just say which libraries they use, and the webclient loads them dynamically: https://github.com/OCA/OCB/blob/11.0/addons/web/static/src/js/fields/abstract_field.js#L38

[2018-01-22 10:35] legalsylvain commented on #842
OK, so if I sum up correctly :
- 10.0 and before : custom module includes the js / css files.
- 11.0 and after : lib module can includes the js / css files.

(anyway, it is a matter of minor changes).

How can we move forward ?

@pedrobaeza, @ other board member, can I create and init the new repository ? Or there is a script to make it automatically ? (or a procedure)

regards.

[2018-01-22 12:02] yajo commented on #842
Hi there, I completely agree this is a real problem, but also I'm completely against having code in a separate repo. That would be moving the problem to another place, not fixing it.

Odoo has a real problem in the way it produces assets bundles. By falling into their common NIH syndrome, i.e. [they make it almost impossible to, for instance, provide debug maps for assets written in metalanguages]

[2018-01-22 12:24] hbrunn commented on #842
I'm absolutely opposed to depend on a package manager, none of the modules produced by me will ever do this

[2018-01-22 12:51] legalsylvain commented on #842
Hi @yajo,

thanks for your PoV.

Could you explain why it doesn't fix anything ? For me :

- it centralizes external js lib in a unique repository
- it prevents duplication code, that is great. (i mean if two modules need angular / bokeh, or whatever lib)
- it is more simple to check lib alterations, manually in a first time, or automatically in a second one.
- it makes modules PR lighter to revie

[2018-01-22 13:15] yajo commented on #842
Just some details:

You don't need that, it's already done: https://www.npmjs.com/search

You're actually duplicating code from those repos into OCA's. More or less exactly what's happening right now, just in a separate addon instead of inside the addon itself.

IMHO it's harder to maintain your own angularjs fork than to change one line `angularjs==2.0` for `angularjs==2.1`.

PRs outside that ver

[2018-01-22 14:16] legalsylvain commented on #842
@Yajo.

Again I'm not comparing my proposal and npm (that I don't know), I just compare my proposal and the current state of the OCA modules (that include without norms many js libs). And I don't understand why you don't think the current proposal is a good step forward.

More generally, we are all good guys with good complementary skills. Debate can be done respectfully. In this direction, i'm no

[2018-01-22 15:16] hbrunn commented on #842
I disagree with everything that I can't (theoretically) check before distributing it to my customer with my signature. Whatever code is pulled from the network after deployment is a possible security breach, and there's a plethora of Odoo installations that for good reasons can't even connect to the internet.

When you use npm or whatever $ifixstuffforyoufromthenetwork, you can just as well pull t

[2018-01-22 15:35] hparfr commented on #842
There is no difference with python's libraries: you reference them in your manifests so you don't add them directly in the module.

[2018-01-22 15:41] hbrunn commented on #842
and then the python runtime goes and fetches missing modules from the web? I don't think so

[2018-01-22 16:04] hparfr commented on #842
The dependency has to be resolved somehow: it can be reproducible (ie package.json + npm) or not (like today).

If reproducible: it can be done on your host by your tool of choice / by a module like Yajo proposal / on OCA/repo by a bot.

The question is not if you don't npm like or one of his concurrents (bower, yarn, put your custom tool here), it's how you can reproduce the build.

Because you c

[2018-01-22 16:28] lasley commented on #824
@wangsamas - I'm sorry to be so blunt here, but this is not my problem. You are welcome to hire someone to solve this for you.

[2018-01-22 20:12] legalsylvain commented on #842
Hi @hparfr. Thanks a lot.

Interesting !

Only the first time a guy uses a new lib to add it to web_library. After, you only have to make a dependency to the existing web_library module.

More generally, I like the design you describe, because it answers to the need @hbrunn says. (no connection required after deployment).
i see it very compatible with the design of my proposal. We could imagine th

[2018-01-22 21:27] lasley commented on #842
I see the reasoning behind this, but I am against moving everything into its own repo and/or grouping all into one module.

From a high level perspective, we are not solving anything here. There will still be pull requests for the same code, except now we're going to have to manage multiple JS versions in the same repo. This means that the repo will always gain in size drastically, because instead

[2018-01-23 05:00] wangsamas commented on #824
@lasley
thx & sorry for bothering you

[2018-01-23 07:04] yelizariev commented on #842
What about making a repo with a single module inside, say ``web_libs``, which has big set of js\css libs in his ``static/``  folder. The module would have ``'installable': True``, but is not going to be installed. Instead of that, it's just added to addons-path and included in an xml file of a target module which need some of the libs.

**web_libs**
[code]

**some_module**

[code]

The idea is tha

[2018-01-23 09:29] yajo commented on #842
npm provides the `package-lock.json` file, which includes [hashed integrity verification](I disagree with everything that I can't (theoretically) check before distributing it to my customer with my signature). We can set that as a requirement for `web_npm` addons.

Of course there's chance of injecting malicious code using any method available anywhere at any time. But just tell me one thing: did

[2018-01-23 09:55] pedrobaeza commented on #835
Please see if #844 solves your problem

[2018-01-23 10:35] yelizariev commented on #842
As for me, the main advantage of using centralized way to include libs is the [security concern](https://github.com/OCA/web/issues/842#issuecomment-358840023) about OCA repos (nobody checks that attached libs were not modified).

It seems difficult to force all modules to use the same version of a lib. Imagine situation when there are module base_angular and 10 modules depended on it we decided to

[2018-01-25 11:42] legalsylvain commented on #842
Hi @yelizariev and others.
About version, @hbrunn talked about that. We can identify 2 cases :

**Minor changes (minor version)**
The module *should* work with the changes. so, we should always use the latest stable version. For exemple, for bokeh lib, I imagine to have a module :
lib_bokeh with the file bokeh.js (with the version 0.12.5). If the version 0.12.6 is released, we should replace the o

[2018-01-25 13:24] astirpe commented on #739
Module `support_branding` for V11 could be moved into https://github.com/OCA/server-brand/ repository IMO.

[2018-01-25 14:37] pedrobaeza commented on #739
Yeah, good idea

[2018-01-27 10:42] mtbochaca opened #848 "[9.0] web_decimal_numpad_dot"
Error when press the numpad dot key:

Uncaught TypeError: Cannot read property 'prop' of undefined
http://192.168.1.6:8069/web_decimal_numpad_dot/static/src/js/numpad_dot.js:28
Traceback:
TypeError: Cannot read property 'prop' of undefined
    at Class.numpad_dot_replace (http://192.168.1.6:8069/web_decimal_numpad_dot/static/src/js/numpad_dot.js:28:36)
    at HTMLSpanElement.<anonymous> (http://19

[2018-01-30 13:18] mohamedhagag opened #850 "[10.0] web_responsive: security issue showing all menus"
Dears,
I would like to congratulate all of you on the great work and effort being done here in OCA Repos.
We found a security flaw in the latest web responsive module starting from the version providing search in the drawer.
the security issue is that all users can access all menus when searching in the drawer which exposes security.
even the user can open the menu and see all records that he shou

[2018-01-30 13:21] pedrobaeza commented on #850
Are you sure about this? I think you are only able to search on allowed menus...

[2018-01-30 14:27] mohamedhagag commented on #850
One of our cutomers who is paranoid about security discovered this and we tested it and found it real to some level.
For ex. the sales user who have 'Own docs only' group permission can see and access all other users' invoices and can see the amounts and other info in the tree view, but he can't open the form view and see all other info.

I can record a video and put the url here if you want to se

[2018-01-30 14:33] pedrobaeza commented on #850
I think that's totally unrelated to this modules, as this is controlled at another level: record rules. `web_responsive` has nothing to do with that. It only opens the action window, but if there's some record rules, they are applied at ORM level. Please try to reproduce the same on runbot.

[2018-01-30 15:14] mohamedhagag commented on #850
I tested it on OCA's /web runbot and recorded below video to show what I mean.

Runbot DB: http://3316021-10-0-929879.runbot2.odoo-community.org/web#min=1&limit=80&view_type=list&model=res.users&action=71

Video URL: https://inet.dvit.me/share/s/G_okeMrDSI2AeHYjkC4Llg

[2018-01-31 12:26] BT-aestebanez commented on #435
New issue: In Odoo 10.0 the flags 'no_create_edit' and 'no_create' can be used. Without this improvement, they are ignored, and all the views which use this flags are ignored.
Please merge the following PR related to **web_m2o_options**
https://github.com/OCA/web/pull/853

[2018-01-31 17:07] KomarovAlea commented on #618
What version of odoo?
look at odoo\menu\settings.
What version of the module 'web_access_rule_buttons'?
Look at odoo\menu\apps\'web_access_rule_buttons'\version

[2018-02-01 03:26] ki1022 opened #855 "[10-11] web_responsive - When creating sales order, cannot see product name until save/reload"
When creating a line on a sales order, I cannot see the name or UoM of the product until I save/update the order.  See the attached screenshots of before/after saving a sales order.  This is making is difficult for users to create an order.  Having this problem on odoo CE 10.  Any help with this would be greatly appreciated!

![1](https://user-images.githubusercontent.com/11162300/35659725-bf9f8fd

[2018-02-01 07:58] pedrobaeza commented on #855
Please try to reproduce it on runbot

[2018-02-01 22:09] ki1022 commented on #855
Sorry, I am a bit new to odoo development and have never used runbot before.  I just tried to setup using the instructions provided here:

https://www.odoo.yenthevg.com/installing-and-configuring-your-own-runbot/

..but am getting errors when trying to install the runbot module from this repo: https://github.com/odoo/odoo-extra     Is this the correct module I should be installing?  Error is somet

[2018-02-02 10:38] pedrobaeza commented on #855
Oh, no need of setting your own runbot! I'm talking about using OCA's runbot for trying the same to see if you can reproduce the same problem there. This is for avoiding problems with some customization you may have on your own DB. The URL for accessing is:

https://runbot.odoo-community.org/runbot/repo/github-com-oca-web-162

[2018-02-02 15:24] ki1022 commented on #855
Understood.  I was able to login to the backend on this runbot:  https://runbot.odoo-community.org/runbot/162/10.0

..and the problem also happens there.  Whether adding a line on a new sales order or adding to an existing one.

[2018-02-02 15:42] pedrobaeza commented on #855
Please explain clear steps to reproduce them, without omitting anything (including how you access).

[2018-02-02 15:57] ki1022 commented on #855
1) On a mobile-phone or narrow-width browser, navigate and login to the backend of your odoo
2) Go to "Sales" >" Sales Orders"
3) Click "Create" to begin a new sales order
4) Scroll down to the sales order lines and click Create to add a new product to the order
5) Choose any product and click "Save & Close"

Only the quantity and subtotal will show on the created sale order line, the item name, i

[2018-02-02 16:27] pedrobaeza commented on #855
Aha, I think that's the problem! You have to refresh your browser after reducing. It's a limitation on how Odoo works. It happens the same on enterprise interface.

[2018-02-02 16:36] ki1022 commented on #855
I am already aware of that separate issue.  Step 1 just means this is happening on mobile device (narrow) view, I am not resizing the browser window each time.  Please test for yourself on the runbot so you can see what I mean.

*I edited step 1 to be more clear

[2018-02-02 21:41] ki1022 commented on #855
A similar behavior is also happening when adding line items to invoices except the item name says "None" and the subtotal is also missing.  (until saving)

[2018-02-06 11:49] javierjcf opened #857 "[10.0] web_widget_x2many_2d_matrix, Sometimes error, asyncrunus call fields_view_get"
Sometimes, the start method gets called befoere the set_value method, so dictionarie this.fields is not loaded and we get an error beacause can access a field inside of thar dictionary that supposed to be filled.
The error is **Uncaught TypeError: Cannot read property 'type' of undefined**.
We have to open the widget window many times and in one of them we get the error

[2018-02-06 12:51] pedrobaeza commented on #857
Version? Maybe you can call that method on the init.

[2018-02-06 17:04] javierjcf commented on #857
Hi Pedro,
It's for v10. I tried what you said, but other similar error gets raised.
I 'm confused about the fact that in theory ,the set_value method should be called before the start method, and i don't understand why refreshing several times the same model and opening the grid, i get different results. I think is about  asyncronus calls problem.
I am using this matrix because of the sale_order_v

[2018-02-06 17:50] pedrobaeza commented on #857
But are you sure it's not a problem of not half-loaded resources?

@Yajo can you help with this?

[2018-02-06 18:01] javierjcf commented on #857
I'm not sure, cause i don't understand the logic behind framwork web and calls to the set_value method.
It seems to be, that in a database with a lot of data it is more probably to get the error.
Creating a new database, installing sale_order_variant_mgmt with demo data, when opening the grid all seems right. Closing and  reopening repeated times will raise the error. The las time i do this 25 tim

[2018-02-06 18:04] javierjcf commented on #857
I attach an image of error. You realaise that i'm using odoo enterprise edition, but i think it happens to me in community as well.

![so013 - odoo - google chrome_918](https://user-images.githubusercontent.com/5653927/35875673-4cf04ae0-0b70-11e8-988e-e4bf4c1d08ea.png)

[2018-02-07 06:44] ki1022 commented on #855
Can anyone at least confirm they are also having this issue?  It happens on every version/device I test on.  It's the only thing stopping me from implementing this otherwise great odoo mobile theme.  Thank you!

[2018-02-07 08:03] pedrobaeza commented on #540
Closing as triage and doesn't happen in v10.

[2018-02-07 08:03] #540 closed, assigned to yajo, lasley

[2018-02-07 09:31] yajo commented on #857
Thanks for the report.

The main culprit is clear here: https://github.com/OCA/web/blob/db12eb2545273292a03201bc1cc30f185b412d28/web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js#L266

`this.fields[this.field_value]` becomes `undefined` and thus the error of `Cannot access property 'type' of undefined`.

Why is it `undefined` in the first place? Hard to say, but most likely

[2018-02-07 10:31] javierjcf commented on #857
As i see it, the problem is in the order that framework web calls **set_value** and **start** widget functions.
In the start function is called the method compute_totals, and this methos calls format_xy_values.
In a good situation, ter start method is called allways after set_value is done, so dictionary field is already filled with definition of fields_viw_get, but sometimes, start methos is call

[2018-02-07 17:46] wangsamas commented on #824
@lasley
Sorry to bother you again.
I found that this code in web_responsive/views/web.xml cause the Access Denied

                <img t-attf-src="/web/image/ir.ui.menu/{{ menu['id'] }}/web_icon_data"
                     class="app-drawer-icon-app img-rounded"
                     t-att-alt="menu['name']"
                     t-att-title="menu['name']"
                     />

I delete the code

[2018-02-07 17:49] lasley commented on #824
@wangsamas - Those are the application icons. Do you know which of them is causing the access denied? The network tab in your browser's developer console might tell you - just look for the one with the 4xx response.

[2018-02-07 18:21] wangsamas commented on #824
@lasley
The Access denied written
odoo.addons.base.ir.ir_model: Access Denied by ACLs for operation: read, uid: 4, model: **ir.ui.menu**

so I suspect the **ir.ui.menu** in t-attf-src="/web/image/**ir.ui.menu**/{{ menu['id'] }}/web_icon_data line

I've tried to upgrade to original web_responsive, check developer console > network & I found nothing

[2018-02-08 07:08] Ark74 opened #859 "[10.0] web_responsibe - Attendance Kiosk Mode won't go full page"
Hi!,

Odoo 10 - https://github.com/odoo/odoo/commit/66e76d681d41b6c007a0394b078ddbe872989985
web_responsibe - https://github.com/OCA/web/commit/8a3afd4173f4c7a3e16d11a93bf96229d3a286b7

When installing the attendance app/module, if we launch the Kiosk Mode.
The top header menu bar won't go away, I've looked for and seems like the page should become a full page with no other way to manipulate the s

[2018-02-08 07:24] pedrobaeza commented on #859
Yeah, I confirm the problem. Menu bar should go away.

[2018-02-08 07:37] wangsamas commented on #824
@lasley

Hi, I want to confirm that those line cause Access Denied.

I install material / united backend theme from openworx which an extension from web_responsive.
After installation I get Access Denied from that module too. I found that it also have a similar line as web_responsive

<img t-attf-src="/web/image/ir.ui.menu/{{ menu['id'] }}/web_icon_data" t-att-alt="menu['name']" class="app-sidebar

[2018-02-08 07:40] pedrobaeza commented on #824
But that's something only on your side. We are using the module since the beginning without any issue, so it should be any kind on custom access rule / custom module you have. If you replicate it the problem in our runbot, then we can confirm it, but for now, this is only a bad use of Odoo IMO.

[2018-02-08 07:43] wangsamas commented on #824
Hi pedrobaeza,
how can I replicate in your runbot & what is Odoo IMO?
Thx

[2018-02-08 07:46] pedrobaeza commented on #824
IMO: In My Opinion

And there's a button on the module README that put "Try me on runbot". Click there and use admin/admin, but right now, our runbot is down due to some server issues, but try later.

[2018-02-08 07:49] wangsamas commented on #824
Ok

[2018-02-08 08:52] FLovison commented on #850
I have also verified the same issue ...

[2018-02-08 09:03] newtratip opened #860 "[8.0] Failed to read the 'contentDocument' property from 'HTMLIFrameElement'"
Hi, I'm new odoo developer
When I print report will show error

Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://localhost:8069" from accessing a cross-origin frame.

http://localhost:8069/web/js/web.assets_backend/e83bcfd:2970

It try get contentDocument but not pass, please help me.

![image](https://user-images.g

[2018-02-08 11:50] newtratip commented on #860
Closed

[2018-02-08 11:50] #860 closed, assigned to nobody

[2018-02-08 16:11] ntraficante commented on #718
Hello! I have the same problem in Odoo 11 module. I know I have to make a change in this part of the code (widget.js), but don´t know how to add the "new/create" event (not only the edit/update).

[code]

[2018-02-08 22:57] Ark74 commented on #859
Ohh, so it is how it works, cool!
I thought that there was an special url or something like it, seems to me that needing to log as an Employee Officer to allow all the crew to login could be kind tricky.
How can I help to fix this?

Thanks.

[2018-02-08 22:58] pedrobaeza commented on #859
You need to check the JS/CSS trick that is used in standard and apply it here on web_responsive.

[2018-02-09 04:51] Ark74 commented on #859
Ok, sounds simple enough :smile: , I'll start playing with with see what comes out.
Thanks.

[2018-02-12 17:48] r-moore007 commented on #855
Also happening here on odoo 10 with web_responsive.  Seems like the javascript is not pulling the product info and injecting back into the sale order page correctly after confirming the order line.  The odoo backend js may have problems identifying the correct elements to update since they differ from the stock layout, I'm not exactly sure.

[2018-02-12 18:21] r-moore007 commented on #855
Here are some screenshots directly from the OCA runbot showing a sales order and an invoice after adding a single line item:

![3316907-10-0-8a3afd runbot2 odoo-community org_web_debug 1 iphone 8 1](https://user-images.githubusercontent.com/36418155/36112358-63750b12-0ff7-11e8-8875-efb7c734d2e3.png)
![3316907-10-0-8a3afd runbot2 odoo-community org_web_debug 1 iphone 8](https://user-images.githubus

[2018-02-12 19:39] icf20 opened #862 "[11]web_decimal_numpad_dot and expenses field dont work like intended"
in expenses on unit field the numpad dot remain a dot instead of comma

![image](https://user-images.githubusercontent.com/17784575/36115889-bf0e06d0-1034-11e8-8f9a-95708a4384f8.png)

[2018-02-12 23:48] pedrobaeza commented on #862
Is that standard Odoo? Can you try the same on our runbot ("Try me on runbot" button)?

[2018-02-13 00:02] icf20 commented on #862
the official docker container

![image](https://user-images.githubusercontent.com/17784575/36126575-692b5c84-1059-11e8-9b7f-888babca2b0d.png)

[2018-02-13 00:05] pedrobaeza commented on #862
I'm talking the button in this README: https://github.com/OCA/web/blob/11.0/web_decimal_numpad_dot/README.rst

[2018-02-13 00:14] icf20 commented on #862
yes that one links to https://runbot.odoo-community.org/runbot/web/162/11.0 and is 404

[2018-02-13 00:16] pedrobaeza commented on #862
Strange, try this one http://3317194-11-0-6726c8.runbot2.odoo-community.org/web/login with admin/admin

[2018-02-13 00:26] icf20 commented on #862
![image](https://user-images.githubusercontent.com/17784575/36127240-a8af8db4-105c-11e8-8b6d-4f2121386714.png)

1 had to load spanish and change user to spanish
2 install the expenses module
3 changed the currency to eur
4

[2018-02-13 00:27] pedrobaeza commented on #862
But there's something very strange in the font you have. Are you sure you don't have anything strange in your OS. Which OS? Which browser?

[2018-02-13 00:31] icf20 commented on #862
![image](https://user-images.githubusercontent.com/17784575/36127344-2f269db0-105d-11e8-8144-1affbe43fa8b.png)

i added a comma(key code 188 / ascii 44) on the same field to see the difference

debian testing

firefox 52.6.0

here in chromium

![image](https://user-images.githubusercontent.com/17784575/36127410-8636f67c-105d-11e8-80b8-d76b82a5f81b.png)

[2018-02-13 00:37] pedrobaeza commented on #862
OK, I'm able to reproduce it. The problem seems to be the currency widget. @chienandalu please check this problem.

[2018-02-13 00:42] icf20 commented on #862
gracias por todo 👍

[2018-02-14 10:47] JonathanStein opened #864 "[10.0] web_ir_actions_act_window_message calling non-existing recursive_reload"
The close button tries to call self.inner_widget.active_view.controller.recursive_reload(); but this method only exists on form views.

We have a "More" action on a list view were we would return a message, but using the web_ir_actions_act_window_message module results in an error when the user clicks the Close button:

Uncaught TypeError: self.inner_widget.active_view.controller.recursive_reload

[2018-02-14 11:30] JonathanStein commented on #864
Work around: Let the action return a custom close button:
[code]

[2018-02-16 10:35] carlosdauden opened #866 "[10.0] web_m2x_options: System parameters values don't work"
After this commit:
https://github.com/OCA/web/commit/04e3da24772a6847f2501f03648006f07816af64
the system parameters values are ignored

[2018-02-16 10:38] carlosdauden commented on #866
CC @matt454357

[2018-02-16 13:22] chienandalu commented on #862
@icf20 @pedrobaeza You can review the fix here: https://github.com/OCA/web/pull/867

[2018-02-16 16:39] houzefa-abba commented on #857
I've had this same issue; my fix: https://github.com/houzefa-abba/web/commit/f6f0673f25bdb653fab69fec89fdc6fa248bc0c3

Haven't gotten around to checking it some more / submitting a PR but it made sense to me to simply remove that `start` function.

[2018-02-16 17:30] legalsylvain commented on #821
implemented in 9.0 with category concept.

https://github.com/OCA/web/pull/863

[2018-02-16 17:30] #821 closed, assigned to nobody

[2018-02-16 18:24] simahawk commented on #857
we started looking at porting this module to v11 and bumped upon the same issue.
I thought it was due to v11 changes but here I see that I'm not the only one to think that that piece of code is weird :smile:
@houzefa-abba your fix sounds good as a start (then you should follow Yajo's advises) despite you are dropping some event hooks. Maybe they should be moved to `events` attribute.

/cc @arkosty

[2018-02-16 18:30] pedrobaeza commented on #857
@hbrunn you were the original creator of this. Maybe you can tell us...

[2018-02-17 01:09] hbrunn commented on #857
making me responsible for all the stuff i started would keep me busy. this sounds like an event issue, i propose to inject some printf's and watch in the js console what's going on

[2018-02-18 18:15] Ark74 commented on #859
Hi, me again!
The hr kiosk attendance mode launches fullscreen,

[code]
I'm not sure but i believe this is what it calls,
https://github.com/odoo/odoo/blob/cd48a806ac636806130efcf5c055f73758cb0902/addons/web/static/src/less/webclient_layout.less#L8

Seems like web_responsive has no fullscreen mode.

I've been testing adding it here,
https://github.com/OCA/web/blob/dafa0a707b1bce0bdeaf25a01cf8a223d

[2018-02-19 02:54] gustavovalverde commented on #525
This look like a promising subject. Has someone tested redash or metabase with Odoo? Any visual examples worth showing?

[2018-02-20 11:51] simahawk commented on #857
@houzefa-abba check this #871
What I did there for start/init can be cherry-picked and refactored to v10.

[2018-02-20 11:53] simahawk commented on #739
web_widget_x2many_2d_matrix #871

[2018-02-20 14:35] simahawk opened #872 "[11.0] list view: many2one clickable by default"
After wasting a bit of time in try to port `web_tree_many2one_clickable` we discovered that if you put the attribute `widget` on the field (no matter if the widget exists or not, yes, even `widget="foo"` works) you get the nice link. This is because [here](https://github.com/odoo/odoo/blob/11.0/addons/web/static/src/js/views/list/list_renderer.js#L281) we have:
[code]
and the fallback for pure tex

[2018-02-20 14:35] simahawk commented on #739
@pedrobaeza `web_tree_many2one_clickable` is not needed anymore on v11. See https://github.com/OCA/web/issues/872

[2018-02-20 14:45] astirpe commented on #739
@simahawk what module `web_tree_many2one_clickable` does is also to enable the "clickable many2ones" system wide:

[code]

[2018-02-20 14:58] simahawk commented on #739
@astirpe we can cherry-pick that and should be much easier (see #872).

[2018-02-20 15:01] simahawk commented on #872
@astirpe mentioned that actually we have one more feature to enable / disable the widget in `web_tree_many2one_clickable` [here](https://github.com/OCA/web/blob/10.0/web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js#L19).
I'll cherry-pick that then.

Even if I wonder why you would not want m2o to be *always* clickable... any pointer?

[2018-02-20 15:16] astirpe commented on #872
@simahawk thank you!
Of course when the user installs the "new" `web_tree_many2one_clickable` module, it's because he wants the functionality enabled in every tree view. So IMO there's no need of a system parameter anymore.

[2018-02-20 19:26] pedrobaeza commented on #859
There should be JS code that makes some changes in the DOM when it receives that target. @Yajo do you know about this?

[2018-02-21 02:15] Ark74 commented on #859
@JayVora-SerpentCS could you post the fix you talked about?

[2018-02-21 05:46] JayVora-SerpentCS commented on #859
I will make a PR soon. Thanks

[2018-02-21 08:48] yajo commented on #859
No idea :confused:

[2018-02-21 21:47] qtheuret commented on #739
web_dialog_size : https://github.com/OCA/web/pull/869

[2018-02-22 08:43] pedrobaeza commented on #859
Fixed in #873

[2018-02-22 08:43] #859 closed, assigned to lasley

[2018-02-22 12:34] pedrobaeza commented on #338
Closing due to inactivity. I know that the idea is still valid, but we have to triage even the ideas.

[2018-02-22 12:34] #338 closed, assigned to nobody

[2018-02-22 23:50] pedrobaeza commented on #723
Closing as it was answered, but no later feedback.

[2018-02-22 23:50] #723 closed, assigned to nobody

[2018-02-22 23:51] pedrobaeza commented on #793
This doesn't apply here. Closing.

[2018-02-22 23:51] #793 closed, assigned to nobody

[2018-02-22 23:52] pedrobaeza commented on #805
Fixed in ae45d8f14a832f1a526f11005c106939cb902446

[2018-02-22 23:52] #805 closed, assigned to nobody

[2018-02-22 23:53] pedrobaeza commented on #804
Closing as this is something outside our scope.

[2018-02-22 23:53] #804 closed, assigned to nobody

[2018-02-22 23:53] pedrobaeza commented on #848
Please try to reproduce it on runbot.

[2018-02-22 23:54] #862 closed, assigned to chienandalu

[2018-02-22 23:55] pedrobaeza commented on #866
@matt454357 please check this and answer or I'll have to revert your commit.

[2018-02-23 00:04] pedrobaeza commented on #769
Closing as old. Solution would be to backport v9 module that works with mobiles.

[2018-02-23 00:04] #769 closed, assigned to nobody

[2018-02-23 00:05] pedrobaeza commented on #681
Is this still happening? Which version?

[2018-02-23 00:05] pedrobaeza commented on #692
Closing as answered and no feedback.

[2018-02-23 00:05] #692 closed, assigned to max3903

[2018-02-23 00:05] pedrobaeza commented on #693
No feedback, so I close.

[2018-02-23 00:05] #693 closed, assigned to nobody

[2018-02-23 00:06] pedrobaeza commented on #705
Any advance on this? Should I close it for triaging things that are not going to be implemented?

[2018-02-23 00:08] pedrobaeza commented on #718
Please review the PR for merging it and solving this. In v11 things are very different (different JS API), so it should be handled in a separate issue.

[2018-02-23 00:08] pedrobaeza commented on #599
Closing as no answer

[2018-02-23 00:08] #599 closed, assigned to nobody

[2018-02-23 00:09] pedrobaeza commented on #597
Is this happening also in runbot?

[2018-02-23 00:10] pedrobaeza commented on #535
Closing as old version.

[2018-02-23 00:10] #535 closed, assigned to nobody

[2018-02-23 00:11] pedrobaeza commented on #525
Closing as this doesn't present any PR nor more discussion.

[2018-02-23 00:12] pedrobaeza commented on #505
Closing as this is not used by me anymore.

[2018-02-23 00:12] #505 closed, assigned to nobody

[2018-02-23 03:02] wangsamas commented on #824
Hi all, I installed odoo in fresh local PC using steps from here https://github.com/Yenthe666/InstallScript
it was successful but I get this in my log.

2018-02-23 02:47:12,530 25001 INFO ? werkzeug: 192.168.1.108 - - [23/Feb/2018 02:47:12] "GET /base/static/description/icon.png HTTP/1.1" 20$
2018-02-23 02:47:12,532 25001 INFO ? werkzeug: 192.168.1.108 - - [23/Feb/2018 02:47:12] "GET /account_asse

[2018-02-23 07:05] bealdav commented on #525
I've just tested redash. A marvellous tool.

Why close  this rfc ?

[2018-02-23 08:40] pedrobaeza commented on #525
Because we need to triage things that are stuck. They can be marvelous ideas, but can't stay forever opened if they are not implemented.

[2018-02-23 09:01] legalsylvain commented on #525
Hi @pedrobaeza. thanks for this usefull cleanup. (saw a lot of PR / issues closed recently).
Well about that issue, the need still remains and is important and the discussion is still active. So reopening.

[2018-02-23 09:04] pedrobaeza commented on #525
I don't think the discussion is still active, as last useful message was from 15 Aug 2017 (except now the reactions from my closing), but OK, as you want. For sure I will revisit this in 6 months and it will still continue the same.

[2018-02-26 07:48] m3dbedb commented on #597
I can't try it in runbot as long as I've switched to another project after odoo.

[2018-02-26 08:28] pedrobaeza commented on #597
I don't get you, but this module is working without problems in other environments, so probably the problem is in your end. Closing meanwhile you don't bring more steps to reproduce.

[2018-02-26 08:28] #597 closed, assigned to nobody

[2018-02-27 08:59] enjaxx opened #882 "[9.0] web_domain_field: TypeError: second argument to Function.prototype.apply must be an array"
Basically, I am trying to use an sql statement to create a domain. But that isn't really important. The domain is working well, if I choose the partner_id drop down list, but when I click on the "Search More..." option, the error appears.

It happens in line 3069 in web.assets_backend.js:

`result_domain.push.apply(result_domain,domain_array_to_combine);});return result_domain;}
`

After some debu

[2018-02-27 11:47] pedrobaeza commented on #866
As there's no answer, I'm going to revert the commit, as it's causing issues.

[2018-02-27 12:11] #866 closed, assigned to nobody

[2018-03-12 09:12] sebalix commented on #701
I confirm this bug, the module hides some debug menu entries.

[2018-03-14 18:26] rousseldenis opened #891 "[10+] Reintroduce Pivot Heat maps"
It was quite convenient to have heat maps in pivot views.

Maybe some should be interested for projects?

@lreficent @jbeficent

[2018-03-15 15:35] LoisRForgeFlow commented on #891
This would be great!

[2018-03-16 11:16] MaxyMoos commented on #739
web_widget_many2many_tags_multi_selection : #892

[2018-03-16 13:08] LoisRForgeFlow opened #893 "Bokeh requirements is breaking travis builds"
Error:
[code]
example: https://travis-ci.org/OCA/web/jobs/350854855

Two options come to my mind:
* Force to use a lower version of tornado.
* Use python 2.7.9 or greater.

Any advise here @moylop260 ?

cc @hveficent

[2018-03-20 16:10] OpenCode commented on #739
web_search_with_and: https://github.com/OCA/web/pull/895

[2018-03-21 09:03] pedrobaeza commented on #872
This can be closed as the module is merged.

[2018-03-21 09:03] #872 closed, assigned to nobody

[2018-03-21 09:04] pedrobaeza commented on #848
Closing as no response

[2018-03-21 09:04] #848 closed, assigned to nobody

[2018-03-26 19:00] rquevedo opened #898 "[10.0] support_branding: Cannot read property 'username' of undefined"
In branch 10.0, support_branding module inherits CrashManager.error template, but seems that 'session' is not in default context. I do a search in odoo modules and nobody use this variable in xml templates.

[2018-03-26 19:46] hbrunn commented on #898
who fixed the problem in #890 already but nobody cared to review yet

[2018-03-27 07:58] pedrobaeza commented on #898
#890 merged, so I close.

[2018-03-27 07:58] #898 closed, assigned to hbrunn

[2018-03-28 07:49] hongquangminh opened #901 "[10.0] web_widget_x2many_2d_matrix: Limit show record on Matrix"
Hello,

My request is limit record show on Matrix view. Like the tree view we have limit 80 record for each page. On Matrix, when i list about 200 record. The page loading script so long.

Thanks,

[2018-03-28 09:54] pedrobaeza commented on #901
That's not something planned, because that's not the intended use. @simahawk please add it to the roadmap of your migration to v11, but nothing more will be done for now unless any contributor wants to do it.

[2018-03-28 10:25] simahawk commented on #901
@minhhq09 tnx for the suggestion. @pedrobaeza I will.

[2018-03-29 08:22] hongquangminh commented on #901
I used matrix for BOM. When use matrix i can overview about Materials and Products.

@jcdrubay Can you consider and contribute this function? :D

[2018-03-30 11:23] oerp-odoo opened #903 "[11.0] web_tree_dynamic_colored_field: breaks Odoo web standard tests"
If `web_tree_dynamic_colored_field` is installed, standard Odoo `web` tests start to fail. It actually somehow fails to load relevant parts of code, which then causes to fail tests (or timeout).

I get this:

[code]
It seems to be the problem specifically with this method (in `web_tree_dynamic_colored_field.js`):

[code]

To be exact, this part:

[code]
It probably has something to do with standar

[2018-04-01 11:55] pedrobaeza opened #904 "[11.0] web_sheet_full_width: Chatter is not full width"
As said in the title, the chatter is not using the full width as in previous versions.

@Yajo please look for the style and fix it.

[2018-04-02 07:21] yajo commented on #904
I think we should deprecate that addon and merge all stylish thingies into `web_responsive`.

Since v11, the enterprise client has a better responsiveness because the chatter goes to the right of the screen in wide screens, so it's possibly not working there. Then, no need to support both.

[2018-04-02 08:08] pedrobaeza commented on #904
Well, that's the enterprise, and I personally don't like that "responsiveness". Please include then both features (sheet full width + chatter full width) in `web_responsive` (as well as search feature).

[2018-04-04 09:55] not-mounam opened #905 "the last line sum"
How to add the last line sum

[2018-04-04 09:56] pedrobaeza commented on #905
Where? Which module? Please explain a bit more if you want a proper answer.

[2018-04-04 10:00] not-mounam commented on #905
web_export_view,  by using this module I can export fields to an excel file but the last line genrating with sum attributes doesn't appear

[2018-04-04 10:04] pedrobaeza commented on #905
No, that's not possible, sorry.

[2018-04-04 10:04] #905 closed, assigned to nobody

[2018-04-08 06:24] Heifara opened #906 "[11.0] web_tree_dynamic_colored_field : my_color need to be visible for the color to be seen in the treeview options"
Hello,

In web_tree_dynamic_colored_field, in the tree tag, when using the color_field property, it seems that the color field has to be visible.

![ezgif com-optimize](https://user-images.githubusercontent.com/8674399/38463988-6e72624c-3aa1-11e8-9e93-887431f75383.gif)

Thank you!

[2018-04-09 11:45] huyly0909 commented on #739
I will work on web_timeline

[2018-04-09 11:48] pedrobaeza commented on #739
@huyly0909 as v11 changes JS views a lot, and timeline JS lib has proven several flaws (like no dependencies for example), maybe you can work on replacing it by https://github.com/frappe/gantt

[2018-04-09 13:23] mtbochaca commented on #848
Sorry!!!!
In the runbot the problem is the same:
Uncaught TypeError: Cannot read property 'prop' of undefined
http://3322398-9-0-903617.runbot1.odoo-community.org/web/content/545-9bca5ba/web.assets_backend.js:4642
Traceback:
TypeError: Cannot read property 'prop' of undefined
    at Class.numpad_dot_replace (http://3322398-9-0-903617.runbot1.odoo-community.org/web/content/545-9bca5ba/web.assets_ba

[2018-04-10 14:07] LoisRForgeFlow commented on #893
fixes here https://github.com/OCA/web/pull/909/files

[2018-04-10 14:07] #893 closed, assigned to nobody

[2018-04-10 22:08] Maartincm commented on #739
I'm working on *web_timeline* too!  And I've got to a pretty decent point.
I'll try to move the *js lib* to the one baeza recommended.
Maybe We should keep in touch huyly0909

[2018-04-11 03:19] huyly0909 commented on #739
Ok @Maartincm , Let me know how I can help.

[2018-04-11 19:59] aldo774 commented on #739
web_listview_range_select: https://github.com/OCA/web/pull/910

[2018-04-13 02:10] hongquangminh commented on #857
Can matrix view limit 80 records like tree view?

[2018-04-13 08:08] pedrobaeza commented on #857
@minhhq09 please stop with that question in an unrelated thread. As stated before, it's not possible without developing the feature, and it's not simple.

[2018-04-13 20:46] Maartincm commented on #739
web_timeline: #912

[2018-04-19 10:10] diggy128 opened #914 "[web_widget_float_formula] On_change event not triggered when evaluating formula"
How to reproduce:
- Open any form with a float field that has onchange event (eg sale order) and change the float value with another float.
- Repeat with a formula

Current behavior:
- When user inputs float value directly, the onchange event is triggered and other fields are updated
- When user inputs formula, that field's value is updated but onchange event is NOT triggered and other fields are

[2018-05-05 10:40] youring opened #921 "[11.0]web_dialog_size Click Discard button on pop-up dialogs causing error"
## How to reproduce:
* From **web_dialog_size** project page, click **TRY ME ON RUNBOT**
* Create a new sale order, on **Customer** fields, select **Create and Edit...** on drop down, which opens up the dialog
* Click **Discard**, error occurred.

## Current behavior:
Click on **Discard** button on any Many2one pop-up dialog will cause this error
[code]
Expected behavior:
There should be no error.

[2018-05-14 20:05] pedrobaeza commented on #921
@qtheuret maybe you can check this

[2018-05-15 13:44] hhgabelgaard opened #925 "[10.0][web_advanced_search_x2x] How to use "In selection" search"
Hi

In v8, when I used the "in selection" search operator in advanced search, a sub search window of the related records appeared.

In v9, according to this comment https://github.com/OCA/web/pull/555#issuecomment-282376114 on the migration PR, that seems to still be the case

On v10, I can't trigger the sub search window when using "in selection" - Tried it many times on OCA runbot

Is it somethi

[2018-05-15 14:00] pedrobaeza commented on #925
In v10, this module now uses web_widget_domain_v11, that allows a direct filter selection in the same window. Just click on "+ Add filter" to start with the "magic" ;)

[2018-05-15 14:00] #925 closed, assigned to nobody

[2018-05-15 14:21] hhgabelgaard commented on #925
Thanks @pedrobaeza
But the web_widget_domain_v11 is not so user friendly as the old v8 sub search window.
Eg if I wan tto search for customers from several contries, I ned to know the ID of the country?
![image](https://user-images.githubusercontent.com/7933710/40061977-693f9c3c-585a-11e8-8cdd-6425891d24aa.png)
VS select them on a list:
![image](https://user-images.githubusercontent.com/7933710/40

[2018-05-15 14:23] pedrobaeza commented on #925
No, use the "contains" operator.

[2018-05-15 18:45] qtheuret commented on #921
Thanks @youring for raising this issue. Issue is now fixed on PR #927.

[2018-05-15 20:08] aldo774 commented on #739
web_group_expand: https://github.com/OCA/web/pull/928

[2018-05-16 08:55] pedrobaeza commented on #921
PR merged.

[2018-05-16 08:55] #921 closed, assigned to nobody

[2018-05-16 11:50] jesusVMayor opened #929 "[11.0][web_decimal_numpad_dot] Module breaks tab navigation"
The module breaks the tab navigation on editable tree views.

With the module installed:
![giphy1](https://user-images.githubusercontent.com/5393537/40114782-6d6670ce-590e-11e8-8eaf-7d06af9e891b.gif)

Uninstalling the module:
![giphy2](https://user-images.githubusercontent.com/5393537/40114887-d0d68888-590e-11e8-836d-c41d9e8b6698.gif)

[2018-05-16 11:59] pedrobaeza commented on #929
@Yajo can you check?

[2018-05-16 15:25] yelizariev opened #931 "Change license of web_widget_color to LGPL"
I see the problem with AGPL that if we make a demo instances for our opensource modules that depend on ``web_widget_color``, we have to provide source for the modules along with the demo. Which means that we cannot really sale it in app store. That seems to be bad for ecosystem.

The same problem for proprietary modules: people either cannot sale their work\service or have to violate the AGPL lice

[2018-05-16 15:29] yelizariev commented on #931
This module was probably developed by @straga due to described problem https://www.odoo.com/apps/modules/10.0/web_widget_colorpicker/
which has LGPL-3

[2018-05-16 15:33] pedrobaeza commented on #931
Well, I don't have problem with this low level component to be relicensed as LGPL, but I haven't develop it. Only maintenance contributions by my part.

[2018-05-17 03:26] youring commented on #921
Thank you all for quick fixing. Appreciate it.

[2018-05-17 06:32] lonelyleaves opened #932 "[10.0]Web Responsive:Multiple database display company logo abnormal deviant"
I'm sorry, but when I use this feature, if I have multiple databases, then the logo displayed on this screen cannot be automatically changed based on the database company logo. This is a very distressing issue.

[2018-05-17 06:37] jssuzanne commented on #931
Hi,

I had develop this module, you may found the original [on bitbucket](https://bitbucket.org/anybox/widget_color).

I allow the usability of this module only under the AGPL License.This module have been paid by my customer. He paid the cost of my work and accept the free distribution for other AGPL project.

I don't want that this module be relicensed as LGPL.

[2018-05-17 06:41] hbrunn commented on #931
case closed I'd say. Thanks @jssuzanne for standing up for real open source!

[2018-05-17 06:41] #931 closed, assigned to nobody

[2018-05-17 06:55] hbrunn commented on #931
PS: the whole discussion is moot anyways because jscolor is gpl licensed if you don't purchase a commercial license

[2018-05-17 07:08] jssuzanne commented on #931
@hbrunn No I have never paid the commercial license. I have forgotten the license of jsscolor.

[2018-05-17 07:18] pedrobaeza commented on #932
Can you record a video demonstrating that? I'm not having that kind of issues and I suspect is something with your deployment.

[2018-05-17 15:26] yelizariev commented on #931
ok ``¯\_(ツ)_/¯``

[2018-05-17 15:33] yelizariev commented on #931
@hbrunn FYI: jscolor has LGPL https://github.com/OCA/web/blob/d16218b6715f71a88d357b33add30785ada35637/web_widget_color/static/lib/jscolor/jscolor.js#L5

[2018-05-17 15:35] hbrunn commented on #931
then the website lies: http://jscolor.com/download

[2018-05-17 15:38] yelizariev commented on #931
They either changed the license in a later version or OCA has license violation (switch GPL to LGPL)

[2018-05-17 15:40] yelizariev commented on #931
I have to note that this *real open source* approach force us to work on parallel (open source) solution

[2018-05-17 15:42] pedrobaeza commented on #931
I think the JS lib version is older and the license has changed. AFAIK, OCA hasn't changed anything.

[2018-05-18 12:16] dreispt commented on #931
@yelizariev It is legit to develop (and propose to the OCA) an LGPL implementation of the same feature, based on the LGPL version of jscolor.

[2018-05-18 12:29] JordiBForgeFlow commented on #931
@dreispt I think that this is not correct. If you can demonstrate that you have not looked into the original code. Otherwise it is considered a copy. That is, if the new work is pure invention, and the new author just received functional specifications, then you are producing a new artifact.

That said, if a module is just a few LOC and it is obvious how to make it for a person with some knowledge

[2018-05-18 14:03] dreispt commented on #931
@jbeficent I didn't look at the module discussed, so I don't know how complex/original it is.

["Copyright is a legal right that grants the creator of an original work exclusive rights for its use and distribution."](https://en.wikipedia.org/wiki/Copyright). In principle, some originality is needed to be able to claim for copyright.

If a work is trivial, such as is just a for lines of code wrappi

[2018-05-18 16:20] yelizariev commented on #931
@dreispt, current module ``web_widget_color`` uses LGPL  licensed library.

[2018-05-18 16:29] yelizariev commented on #931
@straga promised to publish his [module](https://www.odoo.com/apps/modules/10.0/web_widget_colorpicker/) at github, so we are going to use it and contribute to his repository if needed. I don't think that I or @straga is willing to move the module to OCA. At least until @straga stops maintenance

[2018-05-21 09:27] andreati commented on #739
@Maartincm : some inputs: 1. order of task may switch by it self if you scroll left and right. 2. does not appear on smartphone.

[2018-05-21 11:39] lonelyleaves commented on #932
[about company_log.zip](https://github.com/OCA/web/files/2022378/about.company_log.zip)

[2018-05-21 11:41] lonelyleaves commented on #932
This is my operation video,  Hope to get your help Thank you

[2018-05-21 12:08] lonelyleaves commented on #932
![image](https://user-images.githubusercontent.com/16489920/40306758-775672fa-5d32-11e8-9a75-fd96a115a049.png)
The arrow on the right side should display dbname and company_id.This is the method of the web module：    img t-attf-src="/web/binary/company_logo{{ '?dbname='+db if db else '' }}"

[2018-05-22 01:56] andreati opened #935 "Tasks order switch by them self"
Hi. When I try to scroll left or right until some tasks disappear and then scroll back to make tasks reappear, sometime the order of tasks is changed by them self. Please help.

[2018-05-22 01:59] #935 closed, assigned to nobody

[2018-05-22 02:01] andreati opened #936 "[11] web_timeline : tasks order change by it self"
Hi. When I try to scroll left or right until some tasks disappear and then scroll back to make tasks reappear, sometime the order of tasks is changed by them self. Please help.

[2018-05-22 07:12] pedrobaeza commented on #936
That's the expected behavior, as the JS control arrange the elements in the layout dynamically according the available space, element size, etc, so there's no fixed order nor distribution.

[2018-05-22 07:12] #936 closed, assigned to nobody

[2018-05-22 15:03] yelizariev commented on #931
It seems that there is a license violation from another vendor: https://www.odoo.com/apps/modules/11.0/colors_customization/

* ``colors_customization`` is  OPL-1
* ``web_widget_color`` is AGPL

the license is incompatible, so the author offer to install ``web_widget_color`` manually. It's not a violation from the author, but they have a demo link which has AGPL module installed. That means that

[2018-05-22 16:58] pedrobaeza commented on #931
Notified to legal@odoo-community.org

[2018-05-23 01:25] andreati commented on #936
Any suggestion if certain order needed?

[2018-05-24 13:01] dek-odoo opened #937 "web_widget_text_markdown: Lexer passed array instead of string"
**Issue:**

Install `web_widget_text_markdown`.
Open any sale order with sale order lines, it will throw js traceback. Issue is with tax_id field inside sale order lines.

An array is passed to the Markdown Lexer instead of string.

**Reproduce:**
The issue can be reproduced on our runbot with this [link](http://3325978-10-0-ed6ffe.runbot1.odoo-community.org/web?debug=assets#id=8&view_type=form&mo

[2018-05-25 10:33] etobella commented on #929
I found the same issue

[2018-05-26 14:58] #929 closed, assigned to chienandalu

[2018-05-29 19:43] njeudy commented on #937
Hello @dek-odoo , I can reproduce this problem ..
I will only parse markdown for column with widget = markdown to prevent this bug.

thank for reporting

[2018-05-30 04:16] dek-odoo commented on #937
:+1:

[2018-05-31 11:06] Nimja opened #939 "[web_widget_many2many_tags_multi_selection] - Model with 2 required fields causes error on "Create...""
[onchange_bug.zip](https://github.com/OCA/web/files/2067543/onchange_bug.zip)
Odoo version: 11
web_widget_many2many_tags_multi_selection version: 11.0.1.0.0

How to reproduce:

* Install Odoo with demo data.
* Download and install attached module: onchange_bug
* *Verify*: `res_partner_category` table has field: `type` (it is filled with default values).
* AFTER installation, modify the file: `./ad

[2018-05-31 11:08] pedrobaeza commented on #939
Can you attach a custom module for proving this?

[2018-05-31 11:08] pedrobaeza commented on #939
And please specify version

[2018-05-31 11:11] Nimja commented on #939
Added versions. I would have to put in some extra effort to create a module to reproduce this (and I don't have time right now). It's pretty easy to do though.

I discovered it by accident because of using it for tags that also have a "Type"
[code]

[2018-05-31 11:15] pedrobaeza commented on #939
OK, but if you want this to be reproduced and solved, you have to spend that little time.

[2018-05-31 11:31] Nimja commented on #939
*nods* I will see if I can make an example model, I just can't close everything I'm working on just to do this.

[2018-05-31 11:45] Nimja commented on #939
All you do is create a module with one model:

[code]

File also attached.
[onchange_bug.zip](https://github.com/OCA/web/files/2058047/onchange_bug.zip)

[2018-05-31 11:46] pedrobaeza commented on #939
@MaxyMoos can you please check?

[2018-06-01 19:39] njeudy commented on #937
Begin to work on it #942

[2018-06-01 20:44] njeudy commented on #937
Ok think it is not corrected :) test and review needed :)

[2018-06-01 20:47] njeudy commented on #937
![image](https://user-images.githubusercontent.com/995787/40862734-bc2ae884-65ed-11e8-9742-18ef16a5c582.png)

[2018-06-02 08:51] MaxyMoos commented on #939
@pedrobaeza Just did ;-)

Unfortunately I cannot reproduce this issue on my side.

I used the basic module written by @Nimja and added the new field to the `res.partner.category` form view (seemed like this was part of the issue but missing from the module).
I can see the new field in the `res.partner.category` form and can create new tags directly from the `res.partner` form view without any issu

[2018-06-02 10:06] pedrobaeza commented on #939
Thanks for testing. Waiting for @Nimja's answer, but this seems an issue with one of his custom modules or an outdated Odoo version. If no answer in 7 days, we close it.

[2018-06-04 05:29] Nimja commented on #939
Will check against latest Odoo without any other modules.

[2018-06-04 09:13] Nimja commented on #939
I've updated the original post with more detailed test instructions. The only thing that was missing is that the default value CANNOT be set. The issue appears when the frontend attempts to insert and fails.

[2018-06-04 09:14] Nimja commented on #939
@pedrobaeza - Updated description with more details, I apologize for being not clear enough.

[2018-06-04 12:51] MaxyMoos commented on #939
@Nimja Thanks for the updated protocol. I've been able to reproduce the issue and the fix seems pretty straightforward so I've opened up a PR.

[2018-06-05 06:36] Nimja commented on #939
I saw, thank you!
It's just a silly small thing, but it could trip up plenty of people.

[2018-06-05 07:36] #939 closed, assigned to nobody

[2018-06-05 14:27] janbec commented on #904
I was looking into the topic and am interested what the status is. We are using enterprise and have a few additional columns in sale order lines which produce a scrollbar at the bottom.

In v10 we used this module to prevent that scenario. But with the chatter on the right, it has no effect.

Would be glad to hear if there are any news? Thanks.

[2018-06-05 19:51] emanjuGbr opened #947 "Supporting Progressive Web App"
Hi all,
I was wondering if there are any plans to support PWA in near future?

I am really looking forward for this since this replaces the need of a mobile app almost completely.
What would be necessary to support this can anyone give some advice what the necessary steps are and if it is possible within a reasonable effort at all?

[2018-06-05 22:35] vcloud9ray commented on #739
Anyone working on web_widget_timepicker?

[2018-06-05 23:50] pedrobaeza commented on #947
You can try https://github.com/OCA/web/tree/11.0/web_responsive for a responsive interface, but not other plans have been announced right now.

[2018-06-05 23:50] #947 closed, assigned to nobody

[2018-06-06 06:21] yelizariev commented on #931
Alternative LGPL module is here: https://github.com/straga/odoo_vik_main/tree/11.0/web_widget_colorpicker

[2018-06-07 04:54] adrianlaraperez88 opened #948 "web_responsive + editable="bottom": Nos show overflow: auto"
Issue:

Install web_responsive + view type tree and editable="bottom" fields .
`<record id="ed_product_tree_view" model="ir.ui.view">
            <field name="name">ed.product.tree.view</field>
            <field name="model">product.product</field>
            <field name="arch" type="xml">
                <tree string="Product" editable="bottom" create="false" edit="false" delete="false">

[2018-06-07 08:35] pedrobaeza commented on #948
Please try without the Openworx theme

[2018-06-07 11:17] adrianlaraperez88 commented on #948
Sorry I was try in default view in odoo 11 and exist the same problem, only
use the backen theme in the picture.

On Thu, Jun 7, 2018, 4:36 AM Pedro M. Baeza <notifications@github.com>
wrote:

[2018-06-07 11:25] adrianlaraperez88 commented on #948
Picture

![screenshot from 2018-06-07 07-24-19](https://user-images.githubusercontent.com/19626181/41096866-ff9af9e4-6a23-11e8-8d3d-8dc1bbbeb0ae.png)

[2018-06-07 11:32] pedrobaeza commented on #948
Yeah, but the problem there is a very low resolution + no kanban on that view. You need a minimum resolution and adapt views to have a mobile kanban view.

And please don't spam multiple places (OCA + here).

[2018-06-07 12:01] adrianlaraperez88 commented on #948
for what do you closed the ticket in two places, no is issued ,this problem
only view when use editable top or button in view tree.

On Thu, Jun 7, 2018, 7:32 AM Pedro M. Baeza <notifications@github.com>
wrote:

[2018-06-07 12:06] adrianlaraperez88 commented on #948
I sent it to the two github because I was not sure who the issue was, but
if it bothers you so much that I mention a problem, excuse me, all not we
are master in odoo eat you, apologies

On Thu, Jun 7, 2018, 8:01 AM Adrián Lara <adrianlaraperez88@gmail.com>
wrote:

[2018-06-07 12:10] pedrobaeza commented on #948
The procedure is to send it to one place. If not suitable, then it's redirected to the proper one. But not the 2 at the same time for spreading the debate

I close it because the reason in https://github.com/OCA/web/issues/948#issuecomment-395388308

[2018-06-07 12:10] #948 closed, assigned to nobody

[2018-06-07 12:15] adrianlaraperez88 commented on #948
Ok, for what if not use editable top working fine

On Thu, Jun 7, 2018, 8:10 AM Pedro M. Baeza <notifications@github.com>
wrote:

[2018-06-07 12:16] adrianlaraperez88 commented on #948
In odoo ir 2nd issue with editable top

On Thu, Jun 7, 2018, 8:15 AM Adrián Lara <adrianlaraperez88@gmail.com>
wrote:

[2018-06-07 12:17] adrianlaraperez88 commented on #948
Please take 2 min and check this please

On Thu, Jun 7, 2018, 8:16 AM Adrián Lara <adrianlaraperez88@gmail.com>
wrote:

[2018-06-07 12:28] pedrobaeza commented on #948
As said, on mobile, for a correct interaction, you need a mobile kanban view. Check sales order, where it's implemented.

[2018-06-07 12:31] adrianlaraperez88 commented on #948
Thanks,

On Thu, Jun 7, 2018, 8:28 AM Pedro M. Baeza <notifications@github.com>
wrote:

[2018-06-08 05:51] SalahAdDin commented on #739
`web_shortcut` and `web_last_viewed_records` for Odoo 11.

[2018-06-14 10:23] whulshof opened #956 "[10.0]web_many2one-clickable: context"
The clickable link ends up in the wrong form and defining context in the field view does not work to direct to the right view.
There is a PR for 8.0 relating to this question, but I am not enough at ease with js to use this. Could anybody help me on the 10.0 version of the module?

[2018-06-14 13:40] JBF91 commented on #739
Didnt't write it here, but I'm working on PR's for `web_advance_search_wildcard` and `web_advance_search_x2x` I'm going as fast as I can so don't get nervous :)

[2018-06-14 14:23] pedrobaeza commented on #739
Great, thanks!

[2018-06-15 09:55] rousseldenis opened #957 "[10.0] web_domain_field: Uncaught TypeError: CreateListFromArrayLike called on non-object"
I think there is a limitation in web_domain_field module.

For example, in purchase order form, if you try to apply the computed domain on a line field, the domain will only work for existing lines (when modifying). It crashes on new lines as the domain was not computed at loading for that new line (that's obvious - value = False).

[2018-06-15 09:55] rousseldenis commented on #957
@lmignon

[2018-06-19 08:32] Zelwak opened #960 "[10.0] web_widget_color: Error: Permission denied to access property "nodeName""
Hi,
I just installed web_widget_color module and I have a problem.
I added the attribute widget="color" to a field in a form view.
In Edit mode, when I keep clicking on a color and I drag out of the frame, I have the next error:

EDIT with correct traceback

[2018-06-19 08:41] yajo commented on #960
Useless tracebacks. Please check https://github.com/odoo/odoo/wiki/Contributing#tracebacks and reopen when you submit useful ones. Thanks!

[2018-06-19 08:41] #960 closed, assigned to nobody

[2018-06-19 09:03] Zelwak opened #961 "[10.0] web_widget_color: Error: Permission denied to access property "nodeName""
Hi,
I just installed web_widget_color module and I have a problem.
I added the attribute widget="color" to a field in a form view.
In Edit mode, when I keep clicking on a color and I drag out of the frame, I have the next error:

**Repost with correct traceback**

[2018-06-20 07:20] jzaburunov commented on #562
Guys, is it still on work or are there some results in this direction ?

[2018-06-20 07:29] pedrobaeza commented on #562
There's no work on this and it's not so needed after the JS refactoring work made by Odoo, and @lasley is not working anymore on Odoo, so I close this issue since no other work is going to be done.

[2018-06-20 07:29] #562 closed, assigned to nobody

[2018-06-21 10:28] bud-e commented on #739
web_widget_image_webcam - https://github.com/OCA/web/pull/964

[2018-06-22 09:39] dreispt opened #965 "Why the web_responsive app drawer is only 80% width?"
Why isn't it 100%, occupying the full window, like in Odoo Enterprise?
Any chance we could change that?

[2018-06-22 09:43] pedrobaeza commented on #965
The width percentage can increase to 90% or 95%, but I don't want to renounce to the possibility of hiding the drawer when clicking outside it.

[2018-06-22 09:45] dreispt commented on #965
@pedrobaeza OK, I see the motive. Isn't pressing `ESC` enough?

[2018-06-22 09:46] pedrobaeza commented on #965
In a mobile?

[2018-06-22 09:49] dreispt commented on #965
What if we had an "X" in a corner (at the top right, if possible)?

[2018-06-22 09:51] pedrobaeza commented on #965
That will alter the layout in a weird mode IMO, or make it very small to be tapped.

[2018-06-22 09:56] dreispt commented on #965
I just had another look and you can dismiss the app drawer with a tap on the top left corner. Looks simple to me.
An improvement to that could be to dismiss the drawer if you tap on any whitespace around the App icons.

[2018-06-22 09:59] pedrobaeza commented on #965
I'm not sure about this, but I let others to give their opinion and to implement it if they consider :wink:

[2018-06-22 11:59] yajo commented on #965
I like it as it is. It's inspired in Android UI, which is that way too.

If we had to change that, I'd use 100% only in xs screen.

[2018-06-22 12:08] tarteo commented on #965
In a project we implemented this module, but for the user it was too big so we reduced the size to like 50% with a simple module. It is certainly an user preference e.g. I also like it smaller than it currently is so a field like "Drawer Size" on the user preferences form would be very cool.

[2018-06-22 18:18] tarteo commented on #562
@AhmedHasan1991 You might be interested in this.

[2018-07-02 01:01] pedrobaeza commented on #904
@Yajo can you please check if with new option in web_responsive this module is totally useless?

[2018-07-02 08:11] yajo commented on #904
Checked; we should remove the addon; web_responsive is enough now.

[2018-07-02 08:13] pedrobaeza commented on #904
OK, we can then "let it die" in this version, but we shouldn't remove it for avoiding breaking current installations that have it installed. Closing this issue then.

[2018-07-02 08:13] #904 closed, assigned to yajo

[2018-07-02 22:36] pedrobaeza commented on #932
The problem you have is because you don't have a proper dbfilter set by domain, and thus this is something expected. A correct deployment implies to do that, because you will find a lot of problems (not only with this module, but with others) if not.

[2018-07-02 22:36] #932 closed, assigned to nobody

[2018-07-02 22:54] pedrobaeza commented on #956
The action used is the default one, but there's no other way right now of expressing another different, sorry.

[2018-07-02 22:54] #956 closed, assigned to nobody

[2018-07-03 09:50] zakiuu opened #976 "[9.0]web_ir_actions_act_window_message: Uncaught TypeError: self.inner_widget.active_view.controller.recursive_reload is not a function"
**Use case:**
- I've a server action declared for my model:
[code]
- Of corse we need an `ir.value` record so the action will be added in the `actions` menu
[code]
- Then inside my model, I use `my_action` method to display the window message:
[code]
- Then the user will select some records on the list view of my mode, then `actions` menu, then `my action`.
- the message window is well displayed,

[2018-07-03 09:56] zakiuu commented on #976
@hbrunn @benwillig any idea?

[2018-07-03 10:06] hbrunn commented on #976
call https://github.com/OCA/OCB/blob/9.0/addons/web/static/src/js/views/list_view.js#L519 - so best refactor the code a little to have a function that inspects the controller, if it has `recursive_reload`, call that, if it has `reload_content` call that, log an error in the js console otherwise

[2018-07-03 10:17] zakiuu commented on #976
@hbrunn thanks for the replay,

I already have tried to do so, but the `reload_content` doesn't seem to be available in the controller:
<img width="1439" alt="screen shot 2018-07-03 at 11 14 48 am" src="https://user-images.githubusercontent.com/222333/42214095-74e2e764-7eb2-11e8-9498-c2cca55308cb.png">

[2018-07-03 10:23] hbrunn commented on #976
how do you deduce this from your screenshot? What you see in the debugger looks like an instance of `ListView`, so it should have the function.

And do yourself the favor to do your debugging in debug mode

[2018-07-03 10:40] zakiuu commented on #976
The point of the screenshot ( I did a `console.log` just for the sake to have a clean shot) is to show that `reload_content` is not present in the functions list. And yeah it is a `ListView` and I don't understand why I don't have the method.
Also I've tried:
[code]
and it returns `False`

[2018-07-03 10:47] hbrunn commented on #976
`hasOwnProperty` can be misleading. what does `self.inner_widget.active_view.controller.reload_content` say?

[2018-07-03 11:13] zakiuu commented on #976
@hbrunn You're right, the `hasOwnProperty` was misleading.
I've created a PR to fix this issue: https://github.com/OCA/web/pull/977

[2018-07-03 23:06] Tardo commented on #903
I think that you can't use "arrows" (ES6 feature)... full support will be in v12.

[2018-07-04 06:17] simahawk commented on #903
Try https://underscorejs.org/#filter + http://epeli.github.io/underscore.string/#startswith-string-starts-position-gt-boolean

[2018-07-04 06:38] simahawk opened #980 "[10.0] web_widget_slickroom test fail"
v10 build seems green but some recent PRs (https://github.com/OCA/web/pull/971) are failing
probably because of this: https://travis-ci.org/OCA/web/jobs/392778083#L1407

The error looks suspicious
[code]
something might be broken already before this.

[2018-07-04 08:54] pedrobaeza commented on #965
@dreispt can we close this issue?

[2018-07-04 08:54] pedrobaeza commented on #850
@Yajo @Tardo can you confirm this issue?

[2018-07-04 08:54] pedrobaeza commented on #841
@etobella any news?

[2018-07-04 08:56] pedrobaeza commented on #739
@xavierjimenez it was you who started to work on the migration of `web_advanced_search_x2x`?

[2018-07-04 09:02] etobella commented on #841
Well, I tried a lot of things, but I am unable to fix the first problem :cry:
It seems that it is not enabling the widget on reload. I can upload the change that solves the second option, but it will not be solving all the problems.

[2018-07-04 09:07] xavierjimenez commented on #739
No, I haven't worked on that module, I think it was @JBF91

[2018-07-04 09:25] pedrobaeza commented on #739
Yeah, right, thanks for the pointer. I didn't remember who was. @JBF91, how is the work on that?

[2018-07-04 09:26] pedrobaeza commented on #841
@simahawk maybe you can help with this

[2018-07-04 10:04] simahawk commented on #841
what's happening? Traceback? debugger results?

[2018-07-04 13:26] JBF91 commented on #739
@pedrobaeza Yeah It's mine. I've been studying this month sorry, I may have it PR'd probably by the **weekend**

[2018-07-04 13:32] pedrobaeza commented on #739
Great. My colleague @Yajo has been investigating also a bit and determine that we need https://github.com/odoo/odoo/pull/25594 for this to work.

[2018-07-04 13:42] JBF91 commented on #739
I didn't need it actually, instead I've extend the **Char** field implementation which comes with just the basics and it can be accesed trough _search_filters_registry_ don't know if this is the proper way, but I just have to find a way without PRing odoo master :smile:

[2018-07-04 15:22] Tardo commented on #850
I think that it's a permissions issue not related with "web_responsive" module... with correct access rights Odoo deny access to the views correctly...

For me the problem it's that the search feature returns entries that you really don't have access to see. (Odoo launch access rights exception correctly if you select them)

** Tested on local machine

Query for search menu entries: https://github

[2018-07-04 15:33] #965 closed, assigned to nobody

[2018-07-04 15:38] nogueira-raphael opened #981 "web_dialog_size"
The dialogs can not be dragged according to the application, is it some error or has this feature been discontinued?

[2018-07-04 16:16] nogueira-raphael opened #982 "web_sheet_full_width 11.0"
Install a web_sheet_full_width application but I did not notice it in the list views, I need to change something to make it work.

[2018-07-04 16:19] pedrobaeza commented on #982
List views are already full width. Any way, this module is deprecated in favor of full powered `web_responsive` module.

[2018-07-04 16:19] #982 closed, assigned to nobody

[2018-07-04 17:10] nogueira-raphael commented on #982
Taking advantage of your help @pedrobaeza, you know some application to implement scroll bar in list views, because some visions get very compacted on the screen, making it difficult to read and edit the values.

[2018-07-04 17:11] pedrobaeza commented on #982
I don't get your point. web_responsive already put scrollbars when needed...

[2018-07-04 22:47] pedrobaeza commented on #981
It seems so that the feature has gone. @qtheuret you were the one that migrated it. Do you know something about this?

[2018-07-04 23:14] pedrobaeza commented on #850
Yeah, then it seems we have to limit to the actual menus that are visible.

[2018-07-05 07:54] yajo opened #983 "web_responsive: no timezone mismatch alert"
I just noticed that the "possibly incorrect timezone" alert, that appears in normal web client when your browser's timezone doesn't match your odoo user's one, does not appear when `web_responsive` is installed.

@Tecnativa

[2018-07-05 15:16] qtheuret commented on #981
It seems so that the feature has gone, indeed. Can you assign me on this issue ? I'll check it.

[2018-07-05 15:36] qtheuret commented on #981
Something strange : in debug (with assets) mode with a breakpoint on line 31 on JS file, it works. But without the breakpoint, it don't allow dragging. I'll investigate on this.

[2018-07-05 15:49] pedrobaeza commented on #981
@Yajo can you help in this?

[2018-07-08 21:07] JBF91 commented on #739
@pedrobaeza New PR's
- web_advanced_search_wildcard https://github.com/OCA/web/pull/985
- web_advanced_search_x2x https://github.com/OCA/web/pull/984

[2018-07-09 06:43] yajo commented on #981
I'm personally not much interested in dragging dialogs.

[2018-07-09 08:10] pedrobaeza commented on #981
@Yajo it's very useful for seeing what is behind, which is sometimes needed. Any way, please check the possible reason for this not being working as it was in previous version.

[2018-07-11 10:04] rapitkan opened #986 "Sales and Project modules can't be scrolled down/up on iPhone (tested with 7 and 7 Plus)"
Sales and Project modules are not scrollable on iPhone. There are no problems with Android phones.

For example list of project is not scrollable.
There are only three or four projects on a page even if the pagination says there should be 40. It's because of the rest of them are unavailable because of the scrolling is not working.
You can go to next page using the pagination but the problem is sam

[2018-07-11 11:27] RamlaFtouh opened #987 "[11.0]web_group_expand: Expand/Collapse buttons are not shown when using a standard search (saved as favorite)"
When we use a standard search that is saved as favorite, the Expand/Collapse buttons are not shown.

[2018-07-13 10:03] isabellerichard opened #988 "[11.0] web_responsive: bad layout if form view has no `sheet` tag"
module: web_responsive
version: 11.0

**Steps to reproduce**
- install module *account_budget*
- configure *Chatter position* as *sided*
- go to menu of *Budgetary positions* and open form view

**Current behavior**
Form view layout is broken. It seems that this is happening on form views without `sheet` tag.

See picture (taken from [OCA Runbot](http://3331686-11-0-b773d9.runbot2.odoo-community.o

[2018-07-13 10:18] tarteo opened #989 "[11.0] web_timeline dragging items unsets date_end"
Dragging an item to a different timespan sets date_end to False.

How to reproduce:
To reproduce drag an item to a different timespan and refresh the timeline view. You can test it with project_timeline of OCA/project

[2018-07-13 10:21] pedrobaeza commented on #989
Maybe that can be due to an onchange being triggered

[2018-07-13 10:29] tarteo commented on #989
Doesn't seem to be caused by an onchange. In the write argument for vals is date_end False. I'll try to find out and make a PR.

[2018-07-13 10:40] tarteo commented on #989
Found out what is causing the unset:
In /addons/project/models/project.py

[code]

The update_date_end method:
[code]

[2018-07-13 10:41] #989 closed, assigned to nobody

[2018-07-13 10:44] pedrobaeza commented on #989
Then do you consider it should be as is?

[2018-07-13 10:44] pedrobaeza commented on #989
I remember to bypass this somehow on project_timeline

[2018-07-13 10:48] tarteo commented on #989
No, it's just not a bug of web_timeline. Indeed I'll bypass it by inheriting the update_date_end method.

[2018-07-13 11:13] pedrobaeza commented on #988
I remember to use form views without sheet correctly. Maybe is that specific view?

[2018-07-13 14:49] tarteo commented on #986
Which module have you installed?

[2018-07-15 23:42] Tardo commented on #987
Can't reproduce this issue...
This module only works with "grouped" search's... Anyway I don't understand very well what "standard search" means.

[2018-07-16 01:00] RamlaFtouh commented on #987
Hello ,
I'm sorry for not being clear in my comment.

If I have a custom filter (containing groups) that is registered , and used like a default filter ,  the Expand/Collapse options are not available (buttons not shown) when the tree view is loaded for first time
![web_group_expand_issue](https://user-images.githubusercontent.com/30926992/42740194-a5b00a46-889b-11e8-8295-52933c34463e.png)

I thin

[2018-07-16 06:30] simahawk commented on #980
@Yajo @moylop260 any idea?

[2018-07-16 07:22] yajo commented on #980
That seems to come from https://github.com/OCA/web/pull/958/files#diff-3fbac492c697f6dead3c4eed68754fc7R4, which is an unmerged PR, so I don't see how could that affect other builds...

Branch 11 seems quite healthy:

![captura de pantalla de 2018-07-16 08-18-32](https://user-images.githubusercontent.com/973709/42746668-dfe01d7a-88d0-11e8-8f9e-e01f41cfb613.png)

BTW, that error means:

- `Assertio

[2018-07-16 07:22] #980 closed, assigned to nobody

[2018-07-16 07:30] yajo commented on #988
Please test (& approve if it works) fix in https://github.com/OCA/web/pull/991. Thanks!

[2018-07-16 08:24] simahawk commented on #980
@Yajo thanks for reporting. Sorry, I messed up a bit (too tired when I submitted this): module name is "web_widget_slickroom" and I linked a bad PR for v11. :sob:

Actually this error is appearing on https://github.com/OCA/web/pull/971 which is addressing branch 10.0 (as mentioned in the issue title).
The [error in detail](https://travis-ci.org/OCA/web/jobs/399595700#L1928) is:
[code]
And as you s

[2018-07-16 08:54] isabellerichard commented on #988
Approved! Thanks.

[2018-07-16 08:54] #988 closed, assigned to nobody

[2018-07-16 13:23] Tardo commented on #841
Fixed issues... needs review.

[2018-07-16 15:35] Tardo commented on #906
Fixed... needs review.

[2018-07-16 15:44] pedrobaeza commented on #906
Fixed in #979

[2018-07-16 23:09] Tardo commented on #987
Confirmed and fixed in #993 ... needs review

[2018-07-17 11:48] nfluckiger opened #995 "web-timeline Create a new event give a TypeError: unhashable type"
I had to add a timeline view for the calendar. event type. The timeline work well for everything except that if we try to create an entry with double click on the time line, there is an error. I tried to debug it, I found that the entry is created, but the timeline gave an error when reloading.
![screen](https://user-images.githubusercontent.com/29856302/42815485-c7715d2e-89c7-11e8-90b2-1c385db6ba

[2018-07-17 11:52] pedrobaeza commented on #995
This is not a problem on the module, but the default values you have to pass for the creation.

[2018-07-17 19:26] #987 closed, assigned to nobody

[2018-07-18 02:27] Tardo commented on #981
Changing https://github.com/OCA/web/blob/0b0ceb9de33e7f4fe4518878106b955f3f170795/web_dialog_size/static/src/js/web_dialog_size.js#L29 for:
[code]
Works.

[2018-07-18 06:33] simahawk commented on #980
FTR: was ES6 syntax on the mentioned PR, not at all related w/ the module reported in the logs :sob:

[2018-07-18 06:41] pedrobaeza commented on #981
@Tardo can you please make the PR?

[2018-07-19 07:15] qtheuret commented on #981
Thanks @Tardo

[2018-07-19 07:58] yajo commented on #980
FTR, PhantomJS sucks. :stuck_out_tongue_winking_eye:

[2018-07-20 05:37] #981 closed, assigned to nobody

[2018-07-20 17:25] nogueira-raphael commented on #981
Thanks @Tardo

[2018-07-23 09:41] ecino commented on #995
@pedrobaeza Not sure we can close this so quick. I tested to have an action that displays both calendar and timeline views, so the context is the same (default values). The create in the calendar works but not in the timeline view. The create event works well but the refresh of the timeline fails at that javascript line: https://github.com/OCA/web/blob/10.0/web_timeline/static/src/js/web_timeline.

[2018-07-23 11:17] pedrobaeza commented on #995
OK, we reopen it then.

[2018-07-23 13:34] robinhli opened #1000 "Responsive don't work when activate developer mode"
When I install the responsive module. it works fine at normal mode. but when I activate the developoer mode (the url will have "debug " or "debug=assets"), the page can't be fully showed up. (only part of page is shown)
it seems it can't load a static css file. I checked the file at server side, it's there, under the web_responsive subdirectory (web_responsive/static/lib/css), I also tried to load

[2018-07-23 14:02] robinhli commented on #1000
This was a version downloaded on 2018.6.28.
I downloaded the latest version just now, and it works.

[2018-07-26 06:48] pedrobaeza commented on #1000
This is working correctly. It should be on your side.

[2018-07-26 06:48] #1000 closed, assigned to nobody

[2018-07-26 12:50] Cedric-Pigeon opened #1002 "[10.0] web_ir_actions_act_window_message does not give back context"
If you define a buttons pointing to a method on server side. Whenyou clic on it you loose the context.
Is it expected ?

[2018-07-26 12:50] Cedric-Pigeon commented on #1002
@hbrunn

[2018-07-26 13:05] hbrunn commented on #1002
just a case that never occurred to me, but so obvious that I'd call it a bug. You'll probably have to take the current context and add it to the kwargs in https://github.com/OCA/web/blob/10.0/web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js#L80

[2018-07-26 13:36] Cedric-Pigeon commented on #1002
@hbrunn Any clue for me ? I am not really used with js...

[2018-07-27 10:52] hbrunn commented on #1002
here's how the web client adds the context: https://github.com/OCA/OCB/blob/10.0/addons/web/static/src/js/framework/view.js#L109 (i think you should add it to the kwargs though, with checking if there's already a context) but the more difficult question is where to get it from.

For this, you can query the current view as in https://github.com/OCA/web/blob/10.0/web_ir_actions_act_window_message/st

[2018-07-29 17:04] MeetKD commented on #739
@pedrobaeza web_listview_invert_selection -> #1004

[2018-07-31 10:23] nikul-serpentcs commented on #739
@pedrobaeza web_tree_image -> #1006

[2018-08-01 12:15] #906 closed, assigned to guewen

[2018-08-02 12:10] Gokulakannanaj opened #1008 "Process not stopped in Web Notify Module"
If i got a warning messages the process not stopped, its goes and complete the process.
Example:
If create a record throw warning if age is less than 25 otherwise continue the process. But here warning message displayed and record also saved successfully. I want to drop the process if i got warning message.
Thanks.

[2018-08-02 12:30] #1008 closed, assigned to nobody

[2018-08-02 13:01] Gokulakannanaj opened #1009 "Notification not received by Logged Out users"
In web notifier module notification sent but not read by user.
Examples:
 Admin sent the notification to 5 users. 3 users working currently and they are receiving notification. But another two users not receiving notification.
Thanks

[2018-08-02 13:12] Tardo commented on #1009
I think that longpolling clean notifications after 50 seconds

[2018-08-02 13:14] pedrobaeza commented on #1009
And I see this as an interactive notification system, so no for the use you intend about persistent notifications. You already have that on standard mail system.

[2018-08-02 13:42] lmignon commented on #1009
@Gokulakannanaj as well explained by @pedrobaeza web_notifier is an instant message notification system.

[2018-08-02 14:16] devang-dreambits commented on #727
The issue is fixed. Please have a look at #1010 .

[2018-08-02 15:19] #1009 closed, assigned to nobody

[2018-08-04 14:20] #727 closed, assigned to nobody

[2018-08-05 16:28] grzekru opened #1011 "[11.0][web_tree_dynamic_colored_field] Breaks Internet Explorer 11 compatibility"
After installation of web_tree_dynamic_colored_field Odoo do not load menus on Internet Explorer 11

[2018-08-05 16:49] simahawk commented on #1011
@grzekru pls, reload w/ `?debug=assets` and check the log in the inspector. Then report here the full traceback.

[2018-08-05 17:11] grzekru commented on #1011
It load properly with ?debug=assets but do not load menus in normal mode.
![image](https://user-images.githubusercontent.com/5862658/43688115-2c1ec1ec-98e3-11e8-8baf-d6ac14b5764a.png)
![image](https://user-images.githubusercontent.com/5862658/43688117-387ac332-98e3-11e8-8835-dc4aea787023.png)

[2018-08-05 18:54] Tardo commented on #1011
IE11 is an 'old' browser... Arrows (ES6) aren't compatible.
https://kangax.github.io/compat-table/es6/#ie11

[2018-08-05 21:51] simahawk commented on #1011
seems same issue already reported here https://github.com/OCA/web/issues/903

[2018-08-06 05:38] rapitkan commented on #986
Hi! I have installed this module: https://www.odoo.com/apps/modules/10.0/web_responsive/

[2018-08-06 05:44] pedrobaeza commented on #986
Have you tried on runbot (https://runbot.odoo-community.org/runbot/repo/github-com-oca-web-162)?

[2018-08-06 06:01] rapitkan commented on #986
No, I haven't. How does it work? I'm new to runbot. Can I find a fix for the Web Responsive package there or test it or something else?

[2018-08-06 06:02] pedrobaeza commented on #986
It's an empty instance with only repository modules with latest code, so you can check cleanly if the problem is outdated code or something that it's choking with other module you have installed. Click on the blue button for the version you are running to try, and login with admin/admin.

[2018-08-06 06:05] rapitkan commented on #986
Ok. But I'm not sure if the Web Responsive package is installed there. I think it isn't.

[2018-08-06 06:17] pedrobaeza commented on #986
Yes, it is. I have pointed you to the web repository runbot.

[2018-08-06 06:30] rapitkan commented on #986
"Sales and Project modules are not scrollable on iPhone." Those modules are not installed on runbot. Is it okay to install them?

[2018-08-06 06:34] pedrobaeza commented on #986
OK, go ahead.

[2018-08-06 06:55] rapitkan commented on #986
I'm not sure about the Project view but Sales view seems to work properly on iPhone 7 Plus.

[2018-08-06 06:57] rapitkan commented on #986
Project view is not working so this issue is still valid.

[2018-08-06 07:01] rapitkan commented on #986
What version of https://www.odoo.com/apps/modules/10.0/web_responsive/ is installed here: https://runbot.odoo-community.org/runbot/repo/github-com-oca-web-162 ?

[2018-08-06 07:02] pedrobaeza commented on #986
Always latest one. About project issue, can you take some screenshots to see the problem?

[2018-08-06 07:11] rapitkan commented on #986
![project view - unscrollable](https://user-images.githubusercontent.com/2033731/43702004-00dd566e-9961-11e8-82ed-9f52736276f8.jpg)

[2018-08-06 07:13] rapitkan commented on #986
It's iPhone 7 Plus screenshot above. User is unable to scroll the Project view. There is more than three projects in the page but they are unreachable. Can anyone repeat the problem? Any ideas? I'm using Odoo 10 Community Edition.

[2018-08-06 09:53] agranadosb opened #1012 "[11.0][web_widget_x2many_2d_matrix] Problem with limit on matrix"
The limit attribute makes that the matrix does not have more than 40 element, because default limit is 40.
Problems that appear when rows x columns > limit = 40:
1.- Undefined col
2.- If the number of columns of a row is divider of the limit, the matrix only shows the rows that have (in total) 40 elements
Steps to example:
Matrix with 5 columns and 9 or more rows, the widget only show the first 8

[2018-08-06 09:56] pedrobaeza commented on #1012
This was solved manually on hr_timesheet_sheet this way:

https://github.com/OCA/hr-timesheet/pull/128

@jbeficent @simahawk what do you think about this change?

[2018-08-06 09:59] agranadosb commented on #1012
Thanks @pedrobaeza ,
i didnt know that issue was open.
Regrads.

[2018-08-07 05:38] pedrobaeza commented on #986
I'm not able to reproduce the problem in Firefox and Chrome in Android.

Can you please try another browser like Firefox or Chrome instead of iOS native one to see if it helps?

[2018-08-07 05:53] rapitkan commented on #986
Thank you for testing. This is iPhone related problem. I have tested those views with Android (OnePlus 5T) device too and they are working. But they should work with iPhone and iOS too.

[2018-08-07 05:57] pedrobaeza commented on #986
Yeah, but as being very specific and without possibility to try (as I don't have an iPhone nor want it :stuck_out_tongue_closed_eyes: ), we can't debug it. If you are able to track the problem and point it or solve it, then it can be solved.

[2018-08-07 06:03] rapitkan commented on #986
I'm not iPhone lover either but I'm not sure if I can describe the problem more accurately. If the scrolling problem with Project view can be resolved (screenshot above) every other view will get fixed and be scrollable too I hope.

[2018-08-07 06:05] rapitkan commented on #986
I just noticed that someone else has the same problems: https://www.odoo.com/groups/community-59/community-30524050

[2018-08-07 06:32] simahawk commented on #1012
the workaround seems good. I'd keep the comment in the fix and update the ROADMAP to keep track.

[2018-08-07 06:35] pedrobaeza commented on #1012
Can then any of you make the PR?

[2018-08-07 07:10] agranadosb commented on #1012
I made the pull request.
Regards.

[2018-08-07 15:37] tonihr commented on #1012
Hi,
I'm following this Issue and  PR, and the problem is derived from AbstractView of odoo in web module.

I have made the following implementation and it has worked correctly, which is your opinion:

[code]

Regards,

[2018-08-07 16:19] JordiBForgeFlow commented on #1012
@tonihr Your proposal works like a charm. I have implemented it here: https://github.com/Eficent/web/tree/11_fix_matrix_limit

Will you send a PR or I sumbit mine?

[2018-08-07 17:07] tonihr commented on #1012
@jbeficent If have it implemented and works fine, submit.

[2018-08-09 23:31] mgielissen commented on #859
Can this also be fixed for 11.0?

[2018-08-09 23:42] pedrobaeza commented on #859
Feel free to propose the same patch in a new PR for v11.

[2018-08-10 07:55] Boss1669 opened #1016 "[11.0] web_responsive Field `chatter_position` does not exist"
When trying to upgrade web_reponsive
Field `chatter_position` does not exist
`odoo.tools.convert.ParseError: "Error while validating constraint

Field `chatter_position` does not exist

Error context:
View `res.users form`
[view_id: 2135, xml_id: n/a, model: res.users, parent_id: 148]
None" while parsing /odoo-production/odoo-production-server/addons/web_responsive/views/inherited_view_users_form_

[2018-08-10 07:57] pedrobaeza commented on #1016
Just update the module for example via command line with `-u web_responsive`.

[2018-08-10 07:57] #1016 closed, assigned to nobody

[2018-08-10 13:51] Maartincm commented on #739
@pedrobaeza Should we migrate `web_domain_field`? (I don't see it in the list)

[2018-08-10 17:52] pedrobaeza commented on #739
@Maartincm if it's not in the list it's because it has landed after the 11.0 branch creation and thus it wasn't gathered by the automatic issue creator, but yes, if you still think it's needed in this version, go ahead and we add it manually here.

[2018-08-11 16:03] ghost opened #1017 "[11.0] web_responsive"
After git-upgrade:
- Test with the differnet chatterpositions (none, normal, sided)
- with a -u upgrade from console,
- always this 500 Internal Server Error:

Error on request:
Traceback (most recent call last):
  File "/usr/share/odoo/lib/python3.6/site-packages/werkzeug/serving.py", line 205, in run_wsgi
    execute(self.server.app)
  File "/usr/share/odoo/lib/python3.6/site-packages/werkzeug/s

[2018-08-11 17:47] ghost commented on #1017
After downgrading web_responsive and backend_theme_v11 no problems.

[2018-08-12 11:37] pedrobaeza commented on #1017
Same answer as https://github.com/OCA/web/issues/1016#issuecomment-412006702

[2018-08-12 11:37] #1017 closed, assigned to nobody

[2018-08-13 04:46] youring opened #1018 "[11.0]web_responsive sticky list header only works on firefox"
Sticky Header & Footer in List View not work on Chrome. Because sticky for thead or tfoot is not supported by Chrome.
See Chrome bug https://caniuse.com/#search=sticky.
So you have to stick with Firefox v61 or later.
Add to Know Issues?

[2018-08-13 13:44] Maartincm commented on #739
@pedrobaeza There we go...
`web_domain_field` -> #1019

[2018-08-13 14:18] pedrobaeza commented on #739
Noted

[2018-08-19 12:12] v3ss0n opened #1021 "[Question] I had installed web_widget_text_markdown how to use it?"
This is a question , not an issue , feel free to close it.
module: web_widget_text_markdown
version: 11.0
I am new to developing modules for odoo , and i would like to use markdown widget for HTML Area in Project with odoo11.
I had changed version inside mainfest to 11.0 , and it installed successfully.
How can i replace the html area widget?

[2018-08-22 06:34] pedrobaeza commented on #1021
The idea is:

* On edit mode, you have the normal text.
* On read mode, the text is rendered in rich text using Markdown syntax.

[2018-08-22 06:34] #1021 closed, assigned to nobody

[2018-08-22 12:53] Shike019 opened #1023 "[10.0] web_widget_color doubles up text in tree views"
After installing web_widget_color into our existing odoo all of the text doubles up within a tree view.

![image](https://user-images.githubusercontent.com/38432219/44464308-72187000-a5e8-11e8-9248-6fc1eb76d2d4.png)

[2018-08-22 14:32] pedrobaeza commented on #1023
I don't observe that problem on runbot, so it should be a collision with one of your custom modules.

![seleccion_004](https://user-images.githubusercontent.com/7165771/44469947-d78c5100-a628-11e8-8959-3161f6e10463.png)

[2018-08-22 14:32] #1023 closed, assigned to nobody

[2018-08-22 17:23] Tardo commented on #1018
I think that yes...

[2018-08-23 06:16] pedrobaeza commented on #1018
I have added the known issue in 1f364867b442f4cc36ee910dd7e1251e67be2b38

[2018-08-23 06:16] #1018 closed, assigned to nobody

[2018-08-27 10:52] Gokulakannanaj opened #1025 "Notification not displayed"
In local web notify properly display the message.
At the same time message not displayed when i work in remote or server.
What went wrong ?
But i don't know what am i missing. Local code also present in remote
Thanks.

[2018-08-27 10:54] pedrobaeza commented on #1025
Do you have workers and your bus is working?

[2018-08-27 13:20] Gokulakannanaj commented on #1025
Yes I have. My calendar event reminder notifications are displayed properly.

[2018-08-27 13:43] pedrobaeza commented on #1025
Can you put your code here?

[2018-08-28 10:21] Gokulakannanaj commented on #1025
message = "Record cannot be modified right now: \n"
message += "This cron task is currently being executed and may not be modified \n"
message += "Please try again in a few minutes"
self.env.user.notify_warning(title='Approval', message=message, sticky=True)

[2018-08-28 10:29] pedrobaeza commented on #1025
@lmignon do you see any problem in that code?

[2018-08-28 10:55] Gokulakannanaj commented on #1025
Nope. Its work properly on my local machine.
When it move to remote, i'm not getting notification. But the same time i'm getting calendar reminder.

[2018-08-29 10:04] dsmerghetto opened #1027 "[V11] Error during installation of module"
I have this error during module installation in my Odoo 11 Enterprise server
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/srv/workspace/odoo-11/odoo/models.py", line 1036, in _validate_fields
    check(self)
  File "/srv/workspace/odoo-11/odoo/addons/base/ir/ir_ui_view.py", line 330, in _check_xml
    view_def = view.read_combined(['arch'])
  File "/srv/workspace/odoo-11/o

[2018-08-29 10:07] pedrobaeza commented on #1027
Are you talking about `web_responsive`? That module is incompatible with `web_enterprise` module.

[2018-08-30 06:31] Gokulakannanaj commented on #1025
@pedrobaeza want to make any configuration in my config file ?

[2018-08-30 06:33] pedrobaeza commented on #1025
@Gokulakannanaj what do you mean?

[2018-08-30 07:03] Gokulakannanaj commented on #1025
@pedrobaeza whether to make any changes in my configuration file

[2018-08-30 07:07] pedrobaeza commented on #1025
I think it can be something on your proxy configuration and `proxy_mode=True` in configuration, but I can't say. Any way, it's not a problem of the module itself, so I'm going to close this, sorry.

[2018-08-30 07:07] #1025 closed, assigned to nobody

[2018-08-30 08:51] Gokulakannanaj commented on #1025
@pedrobaeza proxy_mode is also True. Any way thank you. I'll go with my custom model.

[2018-09-03 09:10] jaronemo opened #1031 "[V11]web_export_view install error"
Dears:

install web_export_view on odoo v11 version...

Uncaught Error: QWeb2: Template 'WebExportTreeViewXls' not found

[2018-09-03 09:11] pedrobaeza commented on #1031
This seems something related on your deployment (maybe restart service and refresh?).

This is working in runbot.

[2018-09-03 09:11] #1031 closed, assigned to nobody

[2018-09-03 13:51] deebo2121 opened #1032 "Web Responsive _ Template 'AppDrawerMenuSearchResults' not found"
When open search in menu items it gives this bug, Odoo v10.0 community edition

Uncaught Error: QWeb2: Template 'AppDrawerMenuSearchResults' not found

http://35.187.243.56:8069/web/content/490-1ac659d/web.assets_common.js:2908
Traceback:
Error: QWeb2: Template 'AppDrawerMenuSearchResults' not found
    at Object.exception (http://35.187.243.56:8069/web/content/490-1ac659d/web.assets_common.js:290

[2018-09-04 07:19] pedrobaeza commented on #1032
You should update the module in your DB.

[2018-09-04 07:19] #1032 closed, assigned to nobody

[2018-09-04 08:59] maljac opened #1033 "[10.0][web_access_rule_buttons] One2Many Error (DataError: invalid input syntax for integer: "one2many_v_id_642")"
Hello,

it seems that web_access_rule_buttons throws a exception in certain situations.

**Scenario:** Use a non-admin user, create a new invoice and create a new line.*
Result:
[code]

**Possible Bug:**
[code]

In the describe scenario, the value of `this.datarecord.id` ist a string with the value `one2many_v_id_642`.

**Solution:**
Check the type of `this.datarecord.id` in JS before making the c

[2018-09-06 05:40] mokerosan opened #1034 "web_responsive.MenuStatusbarButtons'"
I have the following error, some idea of ​​how to solve it? where can I get it or what module does it depend on?

Error:
Uncaught Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found

[2018-09-06 07:34] pedrobaeza commented on #1034
Update the module in your DB and refresh the browser. Note that this is compatible with modern browsers, not with old ones like Internet Explorer. Edge is not tested though.

[2018-09-06 07:34] #1034 closed, assigned to nobody

[2018-09-06 16:37] alcool179 opened #1035 "Uncaught Error: QWeb2: Template 'TimelineView' not found"
After installing Timeline view on ODOO 10 and click on the button with the clock, this message appear
"Uncaught Error: QWeb2: Template 'TimelineView' not found"
which kind of modify are needed for enable this addon??

[2018-09-06 16:42] pedrobaeza commented on #1035
Which module are you installing? `web_timeline` per se doesn't add any view.

[2018-09-07 07:56] alcool179 commented on #1035
Hi Pedro,
thank you for your answer.
I installed web_timeline and project_timeline.
Following the configuration instructions here (https://www.odoo.com/apps/modules/10.0/web_timeline/) seems to be necessary create a xml file with a view... but I don't know where put this file and which name to use..

Any suggestions?

[2018-09-07 08:15] pedrobaeza commented on #1035
That module already includes the proper XML definition. You just have to install modules, maybe restart service depending on the technique and refresh view. Try on https://runbot.odoo-community.org/runbot/build/3337856 (when it finishes of building)

[2018-09-07 11:49] alcool179 commented on #1035
The configuration instructions suggest to
_"You need to define a view with the tag <timeline> as base element. These are the possible attributes for the tag:   [...]"_
and
_"You also need to declare the view in an action window of the involved model."_

and reports an example.

Also after an /etc/init.d/odoo restart the problem remains

[2018-09-10 13:00] AlainVanUtterbeeck opened #1036 "web_easy_switch_company 9.0: unable to uninstall"
I'm trying to upgrade from V9 to V10 using OpenUpgrade.
As this module does no longer exist for V10 (apparantly, functionality is now standard), I try to uninstall this module before upgrading but that does not work, I uninstall the module, do an -u all, but when I then restart Odoo, the module seems to be still installed.

[2018-09-18 02:52] Benareli opened #1039 "[10.0] Web Responsive - Delete button in sales order line missing"
The Delete Button in Sales Order Line in Mobile view is missing.

been scrolling through the source code, can't find the solution. need help :)

[2018-09-18 07:21] pedrobaeza commented on #1039
This is not something of `web_responsive`, but Odoo's fault. It has been notified to Odoo already, but it won't be solved on v10/v11.

[2018-09-18 07:21] #1039 closed, assigned to nobody

[2018-09-22 12:59] jjlopezg opened #1045 "odoo v11-web_responsive.MenuStatusbarButtons"
http://localhost:8069/web/content/346-3ca6925/web.assets_common.js:3689
Rastreo de error:
Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found
    at Object.exception (http://localhost:8069/web/content/346-3ca6925/web.assets_common.js:3689:7)
    at Engine._render (http://localhost:8069/web/content/346-3ca6925/web.assets_common.js:3734:103)
    at Engine.render (http://localhost:

[2018-09-22 16:01] pedrobaeza commented on #1045
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (https://runbot.odoo-community.org/runbot/162/11.0 - admin/admin), so please be sure you are installing the module properly.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing

[2018-09-22 16:01] #1045 closed, assigned to nobody

[2018-09-22 16:10] #850 closed, assigned to yajo

[2018-09-26 07:35] pedrobaeza commented on #1027
Closing as no response.

[2018-09-26 07:35] #1027 closed, assigned to nobody

[2018-09-27 00:40] OCA-git-bot opened #1048 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] web_access_rule_buttons
- [ ] web_action_conditionable
- [x] web_advanced_search - By @Yajo - #1197
- [ ] web_advanced_search_wildcard - By @sbejaoui - #1326
- [ ] web_dashboard_tile - by @legalsylvain - #1428
- [x] web_decimal_numpad_dot - By @ernestotejeda - #1097
- [x] web_dialog_size - B

[2018-09-27 18:26] hydrosIII opened #1049 "Advanced search cannot select from dropdown list, advanced filter is not useful."
Example:

Go to inventory -> Master Data -> products.

Try to create a filter with vendors. Advanced search will pop out a drop down list with vendors, you Can select the vendor, and press enter but the filter will be empty and the filter will come out undefined. I have tried this with this example, but is very possible that the behaviour is this, when advanced search tries to search and gives a d

[2018-09-27 22:19] marcoscamacho opened #1050 "Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found"
I install web_responsive-11.0.1.0.2 on /odoo-11.0.post20180918 and have this error when click on Sales/Sale order

Error:
Uncaught Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found

http://192.168.10.35/web/content/321-a3b0ee1/web.assets_common.js:736
Rastreo de error:
Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found
    at Object.exception (http://192.16

[2018-09-27 22:32] pedrobaeza commented on #1050
You should probably not restart Odoo service or refresh page.

[2018-09-27 22:32] #1050 closed, assigned to nobody

[2018-09-28 07:20] pedrobaeza commented on #1049
Are you using latest version. Specifically, with this PR: https://github.com/OCA/web/pull/1040. It solves that problem in theory.

[2018-09-29 14:21] iamsurawee opened #1052 "Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found"
Odoo 11 Please advise error below after click menu setting in SALE AND CRM

Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found

[2018-09-29 14:47] pedrobaeza commented on #1052
You have to properly install the module, maybe restarting the Odoo service and refreshing browser. Check also that there's no incompatible module also installed.

[2018-09-29 14:47] #1052 closed, assigned to nobody

[2018-10-01 03:53] levkar opened #1053 "web_responsive kanban view"
Kanban views does not work properly with web_responsive when resized to small resolutions. They are stacked and some items are missing.

[2018-10-01 06:16] pedrobaeza commented on #1053
Can you be more specific, with screenshots and so on? Take into account also that when switching to mobile view on PC browsers, you have to refresh view for elements to be properly in place due to some JS working on background.

[2018-10-01 06:55] levkar commented on #1053
Problems are due to switching to mobile through browser. Reloading fixes them. I am closing this issue.

Sorry for taking your time.

[2018-10-01 06:55] #1053 closed, assigned to nobody

[2018-10-01 09:42] tarteo commented on #1048
I'll migrate web_listview_range_select

[2018-10-02 06:13] #937 closed, assigned to njeudy

[2018-10-02 11:03] tarteo commented on #1048
Also web_environment_ribbon https://github.com/OCA/web/pull/1058

[2018-10-02 13:08] tarteo commented on #1048
Working on web_export_view

[2018-10-02 13:14] tarteo commented on #1048
@pedrobaeza I think you can remove `web_export_view`. In Odoo 12.0 the Action > Export by default adds the fields on the tree view.

[2018-10-02 13:24] #841 closed, assigned to nobody

[2018-10-02 13:42] tarteo commented on #1048
web_favicon: https://github.com/OCA/web/pull/1060

[2018-10-02 15:35] pedrobaeza commented on #1036
The module is seamlessly merged on core web module following OpenUpgrade migration, so you don't need to uninstall it.

[2018-10-02 15:35] #1036 closed, assigned to nobody

[2018-10-02 17:04] AlainVanUtterbeeck commented on #1036
Ok, thanks for the info

Op di 2 okt. 2018 17:36 schreef Pedro M. Baeza <notifications@github.com>:

[2018-10-03 23:40] RamlaFtouh opened #1063 "[11.0]web_group_expand: groupsexpand/ collapse very slow"
I have a liste with about 290 record, I group by 'name' . I get  about 290 groups.
If i try to expand/ collapse 290 groups, the action is so slow that the browser thinks Odoo is not reacting (s. Screenshot).
![image](https://user-images.githubusercontent.com/30926992/46445164-48b53d00-c76d-11e8-8f5d-0f5a133d1126.png)

Would it be possible to optimize the performance of these functions ?
Regards.

[2018-10-04 09:13] pedrobaeza commented on #1063
This is something not about the module, but how Odoo fetches data when you ungroup, so nothing to do in this side.

[2018-10-04 09:13] #1063 closed, assigned to nobody

[2018-10-04 23:33] vbezl opened #1065 "web_widget_datepicker_options: allow to set `minDate` via variable / field"
Hi,

This works:
[code]

This DOES NOT work:
[code]

It gives an error:
Uncaught TypeError: minDate() Could not parse date parameter: minimum_relocation_date (this is a model field and I put it to the form as invisible also...)

[2018-10-05 10:50] yajo commented on #1048
web_responsive: #1066

[2018-10-07 21:34] hydrosIII commented on #1049
Let me check, with that version

[2018-10-09 06:51] jaronemo opened #1067 "[11.0] web_widget_x2many_2d_matrix: can I use m2o field inside the matrix?"
Dears:

can I use m2o field inside the matrix?

[2018-10-09 07:28] simahawk commented on #1067
can you rephrase? Do you mean: "can I use m2o field inside the matrix"?

[2018-10-09 14:30] tarteo commented on #1065
Hello @vbezl, I don't see the images. :smile: Can you try to upload them again, please.

[2018-10-09 14:41] vbezl commented on #1065
@tarteo Sorry, those were not images, but code snippets - please see updated comment above :)
Thanks for answer!

[2018-10-09 14:54] tarteo commented on #1065
No problem :smile: This is because it's not implemented for fields yet it just passes it to the jQuery datepicker plugin. If you want you can make a PR with this improvement. Otherwise you have to wait for another developer to make this. or for now use @api.contrains to make a server side constraint.

[2018-10-09 15:01] vbezl commented on #1065
I got it. Will definitely submit PR in case we make this improvement.

[2018-10-10 06:50] simahawk commented on #1065
@vbezl version?

[2018-10-10 07:18] ValentinVinagre commented on #1035
Hello @alcool179,
I have had the same problem, I have solved it by restarting the server and updating the Project timeline module.

[2018-10-10 07:20] pedrobaeza commented on #1035
Yes, that's it

[2018-10-10 07:20] #1035 closed, assigned to nobody

[2018-10-10 07:23] vbezl commented on #1065
@simahawk we haven't yet made this feature

[2018-10-10 07:27] simahawk commented on #1065
@vbezl question is: which version are you using? 10? 11? :)

[2018-10-10 07:30] vbezl commented on #1065
@simahawk oh, sorry, it's Odoo 11.

[2018-10-10 07:34] simahawk commented on #1065
thanks :)

[2018-10-10 09:18] simahawk commented on #739
FTR `web_send_message_popup` done here https://github.com/OCA/web/pull/1051

[2018-10-10 13:13] aitorbouzas commented on #1048
@pedrobaeza web_tree_image is already on v12
**Edit:** although you can show images in the trees, v12 cannot show images through character fields (with the url of the image).

[2018-10-11 07:56] SimoRubi opened #1072 "[10.0] Travis is broken"
I have noticed that Travis's odoo (and OCB) tests are broken from a while in branch 10.0, the recurring error is in phantomjs:
[code]

Looking at its history I have found out that https://travis-ci.org/OCA/web/jobs/397176092 is green and the following https://travis-ci.org/OCA/web/jobs/410322124 is red (error line: https://travis-ci.org/OCA/web/jobs/410322124#L1471), but I can't find what is the c

[2018-10-11 08:23] pedrobaeza commented on #1072
It's a problem with `web_widget_slickroom` module. @hbrunn and me suggested, although not the best option, to simply disable that tour, as the maintainer of that module is not anymore in Odoo.

[2018-10-11 08:33] hbrunn commented on #1072
ah, thanks for triaging this. What PhantomJS complains about is https://travis-ci.org/OCA/web/jobs/410322122#L923, which is https://github.com/OCA/web/commit/b4ba0eeb4a8c857eb9b488ddaf80a2af9929ccba#diff-f139359382dd29d8fd35d34d1a80df72R43

So there's a chance stuff just works when you bring this in normal form as in `name: function(parameter1, parameter2)`

[2018-10-11 08:34] hbrunn commented on #1072
PS: we should take our linters more seriously...

[2018-10-11 08:36] hbrunn commented on #1072
@moylop260 is there any chance to have pylint fail on parsing errors? Currently, that's just a warning

[2018-10-11 10:16] SimoRubi commented on #1072
Thanks @hbrunn I created https://github.com/OCA/web/pull/1073 to fix that

[2018-10-11 10:34] #1072 closed, assigned to nobody

[2018-10-11 16:05] pedrobaeza commented on #1048
@aitorbouzas then is the module needed yet?

[2018-10-11 16:23] aitorbouzas commented on #1048
Well, only one of its features, but I consider it a bit of a dull way of showing images... I could live without showing images with an url in a tree view.

[2018-10-11 16:24] aitorbouzas commented on #1048
But of course, this is not about me.

[2018-10-11 16:25] pedrobaeza commented on #1048
OK, let's put the comment and see if someone wants to migrate that part. I'm contacting you on hangouts for base_location.

[2018-10-12 10:23] daramousk opened #1075 "web_ckeditor4: update CKEditor lib source"
- image 'upload' must still work. Note that this is not super efficient, it takes the image and embeds it as a data uri. Sometimes we want that, but not in the general case. Much more javascript that lets us select an existing ir.attachment or create a new one from an upload would be much better, but that's out of scope for a migration. I also never found anyone to fund this as I expect this to be

[2018-10-12 10:24] daramousk commented on #1075
Created a ticket based on @hbrunn 's comments, If someone can assign this to me that would be great.

[2018-10-12 23:01] Tardo opened #1076 "[12.0] UI/UX Stuff"
Hi, i know that this is a interpretable stuff... but i want share my point of view.

- In App list, same button (Position, size, etc..) have two different actions... this can be confused:
![same_button](https://user-images.githubusercontent.com/731270/46897245-cff76480-ce81-11e8-8ee9-fff8b892315b.png)
- Selected check's looks like read-only control:
![check_readonly](https://user-images.githubuser

[2018-10-13 01:10] pedrobaeza commented on #1076
But shouldn't this go to odoo/odoo and not here?

[2018-10-14 15:42] ruben-tonetto opened #1077 "[11.0][web_timeline] add_events function is called many times"
When i move a gantt bar, _render() function is fired, so add_events() function is called.
Every button (today/day/week/...) receive a new click event, but the previous click event is not cancelled

i think add_events() should be put in start() or add jquery off('click')

[2018-10-15 07:05] simahawk commented on #1076
@Tardo are you referring to any particular OCA/web feature?
If not, pls close this and report on odoo/odoo, thanks.

[2018-10-15 09:49] #1076 closed, assigned to nobody

[2018-10-16 06:35] tarteo commented on #1077
@ruben-tonetto  Thanks, I've created a PR to fix this issue. Next time don't be shy to create a PR yourself :blush:

[2018-10-18 05:37] wangsamas commented on #824
Hi all,

I found that this ACL problem caused by this line in web.xml
<img t-attf-src="/web/image/ir.ui.menu/{{ menu['id'] }}/web_icon_data"

by default odoo doesn't give access Technical Feature Group to access ir.ui.menu.
to fix this add read access to Technical Feature Group to read ir.ui.menu

hopefully this help anyone who face the same problem

[2018-10-18 06:29] simahawk opened #1084 "[11.0][web_widget_x2many_2d_matrix] cannot store fields values not included in the matrix"
Origin: https://github.com/OCA/product-variant/pull/109#discussion_r225880090

Fields not included in the matrix are not considered on save.

@pedrobaeza @Yajo is that all? Have you identified specific flaws or possible solutions?

[2018-10-18 07:29] pedrobaeza commented on #1084
Thanks for continuing this. You can check on the module `sale_order_variant_mgmt` in version 10, that the model shown on the matrix contains an extra field:

https://github.com/OCA/product-variant/blob/249bea07fcf1b202254c953d09c8b5d740f06ad6/sale_order_variant_mgmt/wizard/sale_manage_variant.py#L96-L105

which is `product_id`. That field was used for storing a temp value for finding the line.

No

[2018-10-24 11:44] pedrobaeza commented on #1048
@tarteo although indeed that's a good new feature, there's at least one reason to keep the module: if you export datetimes with export system, they are exported on UTC, confusing the user when opening the file if they are in other timezone (we have several issues already with that). This module exports what is seen on screen, so we avoid that problem (although we have the other problem for exporti

[2018-10-30 16:59] #1077 closed, assigned to tarteo

[2018-11-01 04:21] novawish opened #1095 "[11.0][web_listview_range_select] Can not delete multiple records selected by holding Shift"
# Current situation
When select multiple records on list view (with Shift) and click _Action > Delete_, the system will only delete the first and the last record, records within the range are not affected.
Same issue happens with _Export_ and _Invoice Orders_ on Sale Order list view.

# Expected behavior
Should be able to do all the options inside `Action` with list view range selection

[2018-11-01 10:19] pedrobaeza commented on #1095
Version?

[2018-11-01 17:35] novawish commented on #1095
I tested on odoo version 11.0 but i think it would be the same for 10.0 and 12.0

[2018-11-01 18:29] tarteo commented on #1095
I tested it it's only for 11.0. I've to see what changed in the migration to 11.0 https://github.com/OCA/web/pull/910

[2018-11-07 16:06] angelmoya opened #1099 "[11.0][BUG] web_export_view: empty column w/ group by on"
In any list view with group, if you export view, the excell generated add a void field on header.

![contacts odoo](https://user-images.githubusercontent.com/6750341/48143517-3c158e80-e2af-11e8-9b5d-b22ef9a0d23b.png)

![export](https://user-images.githubusercontent.com/6750341/48143524-3fa91580-e2af-11e8-94f2-d13f7ca2fafc.png)

Maybe the problem is related with javascript that get header names, an

[2018-11-08 03:34] lalaki0921 commented on #1045
Hi,
I got the same problem after installing backend_theme_v11-11 and web_responsive modules. I deployed Odoo CE v11 via Bitnami on Google Platform.
Any recommendation to save the problem? Thank you.

[2018-11-08 17:44] pedrobaeza commented on #1067
@simahawk he rephrased, but without advertising it. Can you answer?

[2018-11-09 07:11] simahawk commented on #1067
@jaronemo starting from v11 the widget loads all the inner fields using their own widget.
So - potentially - it should work. I say "potentially" because I've never had this need so far.
Are you facing any particular issue?

[2018-11-09 07:32] simahawk commented on #1099
tested on runbot: confirmed.

[2018-11-15 07:30] sudhir-erpharbor opened #1103 "[11.0] - web_tree_dynamic_colored_field: Check condition with fields value"
How can we check the condition by using field's value in XML attribute.

**Ex:** `<field name="date_start" options='{"bg_color":"#ffdd99: state != cancel"}'/>`

When I load the view, I see JS error: `Error: NameError: name 'cancel' is not defined`
Is it a bug or I am doing something wrong? I checked the examples of the module but all examples use the boolean field. Please let me know if there is a

[2018-11-15 08:26] pedrobaeza commented on #1103
Please don't spam in other threads for your question.

You have to enclose `cancel` value between quotes.

[2018-11-15 08:26] #1103 closed, assigned to nobody

[2018-11-15 09:46] sudhir-erpharbor commented on #1103
@pedrobaeza
Thanks for your reply. Sorry about that, I removed the thread from the PR.

But how do I enclose the value in quote because options dictionary is already in a single quote and the key and value of the dictionary is also in quote, so how is it possible to have another quote for the value (cancel)?

Do you mean like this: `options='{"bg_color":"#ffdd99: state != 'cancel' "}'` or `options

[2018-11-15 13:49] umitoprojet commented on #914
Are values changing when you trying to change it for second time? It might not changed for the first time. @diggy128

[2018-11-19 16:30] diggy128 commented on #914
@umitoprojet
No, They don't. When moving focus out of the field and return to it, The calculation formula is displayed again and even after placing new values, the result gets updated but onchange does not trigger.

F.I.Y. This is on v8 (Community)

[2018-11-19 16:33] alexey-pelykh commented on #1048
https://github.com/OCA/web/pull/1104 `web_ir_actions_act_view_reload`

[2018-11-20 02:57] novawish commented on #1095
Hello @tarteo , thanks for your reply, do you have any news on this?

[2018-11-20 05:14] sudhir-erpharbor opened #1105 "[11.0] - web_tree_dynamic_colored_field: Check condition with fields value"
Sorry guys but I had to write this issue again as the answer given in my previous issue #1103  does not help me.

**Issue:**
How can we check the condition by using field's value in XML attribute.

**Ex:** `<field name="date_start" options='{"bg_color":"#ffdd99: state != cancel"}'/>`

When I load the view, I see `JS error: Error: NameError: name 'cancel' is not defined`
Is it a bug or I am doing s

[2018-11-20 06:06] umitoprojet commented on #914
I faced the same error in v11 and I'm waiting for solution. I've tried to fix it but I couldn't succeed.

[2018-11-20 08:32] simahawk commented on #1105
you have to escape quotes https://stackoverflow.com/questions/3961505/how-to-escape-double-quotes-in-xml-attributes-values

[2018-11-20 08:32] #1105 closed, assigned to nobody

[2018-11-20 10:06] sudhir-erpharbor commented on #1105
@simahawk Thanks for your reply and for the example. I tried that `<field name="date_start" options='{"bg_color":"#ffdd99: state != &quot;cancel&quot;"}'/>` but it does not work. When I try to reload the view I see following error from the JS.
`Uncaught Error: Expected "}", got "(name)"`

Error:
Uncaught Error: Expected "}", got "(name)"

http://localhost:9898/web/content/541-4cfaf93/web.assets_ba

[2018-11-21 06:15] sudhir-erpharbor commented on #1105
@simahawk Would you please re-open the issue and guide me how to do it or fix it?

[2018-11-22 04:54] ferharo1 opened #1111 "Unable to install module "web_widget_bokeh_chart""
I'm trying to install it on Ubuntu Server 18.04 LTS and appears this error:
Unable to install module "web_widget_bokeh_chart" because an external dependency is not met: No module named bokeh.
I already installed bokeh library and the error persist.

[2018-11-22 08:29] pedrobaeza commented on #1111
No, you haven't in your correct environment. Closing as this is not a problem of the module, but your deployment.

[2018-11-22 08:29] #1111 closed, assigned to nobody

[2018-11-23 09:08] zlycong commented on #986
Have you solved the problem?

[2018-11-24 11:37] qvinh222 opened #1112 "web.assets_backend.js:504 View type 'timeline' is not present in the view registry."
Odoo V12.
I install the module web_timeline.
After install and create view for project.task then update module.
I open menu Tasks but there is no button for view 'timeline' view.  In the chrome console show error: web.assets_backend.js:504      View type 'timeline' is not present in the view registry.

[2018-11-24 13:43] pedrobaeza commented on #1112
It seems you haven't restart your Odoo server and refresh browser.

[2018-11-24 14:42] qvinh222 commented on #1112
Unlucky me!
I have tried to restart my server and frefresh browser many time.

[2018-11-24 14:49] moblesmarti commented on #1112
Could it be that you are looking for the characteristics of project_timeline instead of web_timeline?

[2018-11-24 23:36] qvinh222 commented on #1112
I found the issue, I download the failure module from here: https://odoo-community.org/shop/product/web-timeline-2812?search=timeline&attrib=2-14.
I re-download module from this repo. It work well.

Thank you very much.

[2018-11-25 07:41] edesne commented on #855
Do you know if there is an alternative to remove a line item?

[2018-11-26 00:40] #1112 closed, assigned to nobody

[2018-11-26 04:22] alexey-pelykh opened #1114 "A module to get current searchview groupby?"
Struggling to find access to the current `groupby` configuration from the server-side code

[2018-11-26 08:31] yajo commented on #855
Sadly this one is a deliberate design decision from upstream @odoo team, not actually anything that `web_responsive` breaks.

You can check that with their `web_enterprise` happens the same on v10 and v11. On v12 it's fixed by adding a remove button to the popup, as you can see here:

![captura el 2018-11-26 a las 08 28 45](https://user-images.githubusercontent.com/973709/49001709-71e2c000-f155-11

[2018-11-26 08:31] #855 closed, assigned to yajo

[2018-11-26 08:33] pedrobaeza commented on #855
Note that on v12, it has been fixed by Odoo.

[2018-11-28 16:18] Raffxyz opened #1115 "Edit a second model via Timeline"
I have a timeline view that display my model called "event".
My "event" is related (many2one) to another model called "appointment".
My objective is to be able to edit the appointment datas when i click on the event.
Is it possible?

I've seen that in the controller.js code there is a code to relate with the records of the group model. How can I do the same with my "appointments"?

[2018-11-28 16:24] pedrobaeza commented on #1115
This has been created as a view, not a widget, so that's not possible unless you define the view and navigate (by code or UI) to the other model, or you can refactor the module to work as view and widget.

[2018-11-28 16:24] #1115 closed, assigned to nobody

[2018-11-29 01:55] eversatis opened #1116 "[10.0]web_ckeditor4 ValueError: Invalid attribute name u'x:str'"
I use web_ckeditor4 for odoo 10 product website_description in backend. While everything works fine, the log keep output the following error when browsing product edited with ckeditor no matter back and front end. Anyone encountered this?
[code]

[2018-11-29 14:00] odoo258 opened #1117 "[11.0] A Hirachical Tree view Same like odoo 8 COA"
in Odoo 8,9,10 we can display hierarchy tree view based on parent child.

but in odoo 11 its removed hope OCA build that widget to make it possible in odoo 11.

[2018-11-29 14:06] pedrobaeza commented on #1117
That will be possible if someone contribute with a module for that, but having an opened issue is not going to encourage this, so I close it.

[2018-11-29 14:06] #1117 closed, assigned to nobody

[2018-12-03 12:49] kmmm16 opened #1120 "[11.0] Making <timeline> nodes readonly (disable drag&drop)."
Hi,
Is it possible to make `<timeline>` view nodes readonly (i mean disabling drag&drop option of selected node)?
I tried to figure out that, but without any positivie result.

README file doesn't consider this, but maybe there is a way to achive that, which is not documented.

Thanks.

[2018-12-03 12:51] pedrobaeza commented on #1120
Have you used `attrs` as any other standard view?

[2018-12-03 13:29] kmmm16 commented on #1120
Yes, but probably i am doing it wrong.
This is my code (view.xml):

[code]
With that, i am still enabled to drag and drop nodes.
Last time i use attrs, was for field, i didn't use it for view.

Could you tell me how to do it properly?

[2018-12-03 13:34] pedrobaeza commented on #1120
OK, it's not about granularity of each item (I was talking at field level...). Then put `edit="0"` in the view.

[2018-12-03 14:41] kmmm16 commented on #1120
Okay, so i tried edit="0", just like for `<tree>` view in base, and nodes are still draggable.
I also tried to do it at the field level and i get exception:

[2018-12-03 14:44] pedrobaeza commented on #1120
OK, then it seems there's no support yet for this. @tarteo do you know about this option?

[2018-12-03 18:07] bistaray commented on #1099
Is there any update on the export bug. We are also facing the same issue.

[2018-12-04 08:17] kmmm16 commented on #1120
So i figure out how to avoid exception (if you use `<field>` in `<timeline>` node, you also have to use formula with `<templates>` (just like in README file).
FYI, codes without exception, but also without effect:
First approach:

[code]

Second approach:
[code]

Third approach:

`

[code]

[2018-12-04 08:19] tarteo commented on #1120
There's no support for this. It's only controlled by `ir.model.access`.

[2018-12-04 08:29] kmmm16 commented on #1120
Okay, i will try manage `ir.model.access`. And see if drag is still possible.

[2018-12-04 15:06] alexey-pelykh commented on #1048
Was there a module that enhances datetime entry parsing? (e.g. using moment.js or similar)

[2018-12-04 15:07] pedrobaeza commented on #1048
No that I'm aware of. You can open an issue with the RFC of your perceived uncomfortable points.

[2018-12-04 15:11] alexey-pelykh opened #1122 "[RFC] Module that enhances datetime entry"
In Xero, I've seen pretty neat datetime parsing where "Oct 4" and "4th oct" would be parsed regardless of the locale. In addition to that, it seems that datetime locate / format should be something separate from language of account in Odoo. And I'd like to request more opinions on that matter.

[2018-12-04 15:15] alexey-pelykh commented on #1122
@pedrobaeza @tarteo

[2018-12-04 15:16] alexey-pelykh commented on #1048
Added #1122 for that topic

[2018-12-04 15:20] pedrobaeza commented on #1122
Well, I haven't felt the need of improving that for now, as we have these options:

* Write a number: it's taken as day, adding automatically current month and year.
* Write number, `/` and other number, or four digits: it's taken as day and month according locale.
* Write 6 digits: it's taken as day, month and year according locale.

With that, the date entry is very neat and enough for all my us

[2018-12-05 06:32] alexey-pelykh commented on #1122
@pedrobaeza thanks for the feedback!
@hbrunn your name came up related to the topic (https://apps.odoo.com/apps/modules/7.0/web_lib_moment/), it would be great to get your input as well

[2018-12-05 13:18] kmmm16 commented on #1120
With `ir.model.access` i achieve my goal in acceptable level. Thank you all!

[2018-12-05 13:19] #1120 closed, assigned to nobody

[2018-12-05 13:19] pedrobaeza commented on #1120
Any way, we should add the possibility of `edit="0"` in the view. @tarteo can you add it to the ROADMAP?

[2018-12-05 13:33] kmmm16 commented on #1120
In my opinion, the most awsome feature would be enabling change readonly value for specyfic nodes on timeline chart (like for tasks with special status etc.). It could be changed by e.g. `is_editable` field. Also for me now it is quite annoying that i have global `event_open_popup` value (i tried to bind it with model computed field, but it was impossible). But i made some workaround with groups a

[2018-12-05 13:34] pedrobaeza commented on #1120
Yes, that's another extra feature for the roadmap: making `attrs` to works well (`readonly` and I don't know if `invisible` is already processed).

[2018-12-05 14:45] Ark74 commented on #1052
Very important to check if you have being messing with updates, upgrades or migrations.

[2018-12-06 11:46] #466 closed, assigned to nobody

[2018-12-06 11:57] legalsylvain opened #1123 "[8.0][web_m2x_options] m2o pop up selection hide result > 80"
Step to reproduce :
- go to runbot OCA/web/8.0
- install point_of_sale (to have data populated)
- go to invoicing, and create a new invoice
- select a product and click on "search more"
- the pop up screen mentions that there are only 80 elements

![image](https://user-images.githubusercontent.com/3407482/49582548-b6403e00-f955-11e8-937f-e5093e97040a.png)

- uninstall the module web_m2x_options.
-

[2018-12-07 08:14] alexey-pelykh opened #1126 "[12.0][web_widget_x2many_2d_matrix] Cells are unable to render property"
See https://github.com/OCA/hr-timesheet/issues/146

[2018-12-07 08:15] alexey-pelykh commented on #1126
Addressed by https://github.com/OCA/web/pull/1124

[2018-12-07 11:14] tarteo commented on #1095
@novawish Hey, I created a fix: #1127

[2018-12-07 12:21] #1126 closed, assigned to nobody

[2018-12-09 14:52] alexey-pelykh commented on #1048
`web_ir_actions_act_multi` https://github.com/OCA/web/pull/1128

[2018-12-11 08:00] metalmonkey69 commented on #1095
@tarteo I've tested your fix. If i apply it for range export, the last record will be exported twice. I guess it works for range delete because you cannot delete a record twice. I am using Odoo11 latest version.

[2018-12-11 08:34] tarteo commented on #1095
@peterhoth Thanks, I also fixed this in the pull request. Can you check and leave a review. #1127

[2018-12-14 06:03] deepika-prag opened #1131 "web_responsive in v12"
Will Module web_responsive be migrated in v12 or is it a useful module for v12?
As odoo 12 is already responsive.

[2018-12-14 07:43] Yakulu commented on #1131
There is ongoing effort in #1066
IMHO web_responsive is still needed, as CE theme is better but far from perfect on responsive aspects.

[2018-12-14 08:32] #1131 closed, assigned to nobody

[2018-12-17 05:52] eversatis commented on #1116
Anyone else encountered such an issue?

[2018-12-17 07:50] jcdrubay commented on #1048
@pedrobaeza  web_environment_ribbon - By @tarteo - #1058 has been merged already, it's time to update the issue. :)

[2018-12-17 08:20] pedrobaeza commented on #1048
Done!

[2018-12-17 08:40] pedrobaeza commented on #1116
I would say this editor is not too much used since the inclusion of SummerEditor in Odoo core.

[2018-12-17 22:31] cvinh opened #1133 "[web_timeline] 2 records with date_start = date_end do not appear on the same line (or how to implement margin.item.horizontal support ?)"
I'm looking forward to show 2 successive items on the same line in a timeline view, can anybody help ?

steps to reproduce :
- build a timeline view (in our case hr_contract)
- set 2 records (hr_contract) with date_start of the second one = date_end of the first one (in our case a rotation of 2 persons for the same job)

result :
- the 2 blocks are not aligned
expected behavior :
- the 2 blocks ar

[2018-12-17 22:36] pedrobaeza commented on #1133
This is automatically done by the JS library. Any way, I would go for grouping at employee level and don't worry about that.

[2018-12-17 23:00] cvinh commented on #1133
Dear @pedrobaeza thank you, that's the point... The js lib does not do the job. Grouping by job_id do group the 2 blocks in the same group but they appear one over the other one. After testing they go on the same line if date_start = date_end + 2 days... We would like to have them on the same line as long as date_start = date_end...
(We have more than 30 jobs on the same view and would like a good

[2018-12-17 23:07] pedrobaeza commented on #1133
Bundled vis.js library included is minified, so you have to go to the source: https://github.com/almende/vis/tree/master/lib/timeline. But I can't say anything more about that as I barely know that source code. @tarteo maybe you can give us a hint about that.

[2018-12-18 08:04] tarteo commented on #1133
@invitu You can use the option 'stack'. This works for your case, but this also make items overlap.

--

http://visjs.org/docs/timeline/

[2018-12-18 08:06] #1095 closed, assigned to tarteo

[2018-12-18 08:18] cvinh commented on #1133
@tarteo thank you for your tip
btw, I added stack="false" in view definition but the items stay on 2 lines. (I flushed my browser cache)
Do you see something bad on my side (odoo v12) ?

[2018-12-18 08:21] tarteo commented on #1133
It's not an option in the view definition, but of the visjs timeline. You can change it with Javascript.

[2018-12-18 08:34] cvinh commented on #1133
@tarteo thank you again but I'm afraid I don't see where to change it... in the vis.js library itself ? or is there an option file somewhere for vis.js ?

[2018-12-18 08:53] tarteo commented on #1133
Before line 226 in /web_timeline/static/src/js/timeline_renderer.js

[2018-12-18 09:12] cvinh commented on #1133
thank you @tarteo I do a PR for stack support : https://github.com/OCA/web/pull/1134

[2018-12-18 09:34] cvinh commented on #1133
@tarteo oula... my PR supports stack option but that's not exactly what I wanted ...
Now all the items do overlap... I just wanted the items not to overlap when date_end (previous record) = date_start (next record).
If the items overlap, we would need to see them stacked

Our use case is :
we have hr contracts for job positions in departments. every contracts are successive for a given job positio

[2018-12-18 09:43] tarteo commented on #1133
@invitu Yes, this what I said in my previous comment. I think it's still nice to expose this option for the view definition. You can create an issue in the visjs repository if you want the stacking behavior changed.

[2018-12-18 10:07] cvinh commented on #1133
https://github.com/almende/vis/issues/4214

[2018-12-18 17:56] cvinh commented on #1133
it works with margin: { item: { horizontal: -1 } } }

[2018-12-19 18:13] cvinh commented on #1133
PR with margin support : https://github.com/OCA/web/pull/1135

[2018-12-21 09:32] #1133 closed, assigned to nobody

[2018-12-22 01:35] tglukhov opened #1138 "Error while changing view from timeline to another and backward"
Hello everyone,

There is a problem with the view timeline in odoo V12, timeline V12

steps to reproduce :
- open timeline view
- change view to any different
(- you can switch to any other view except timeline as many times as you want)
- back to view timeline
the everything is frozen, you need to reload page

message error :
[code]

[2018-12-22 03:05] cvinh commented on #1138
Please give us which version of web_timeline you are using

[2018-12-22 11:35] pedrobaeza commented on #1138
And Odoo version.

[2018-12-22 11:35] pedrobaeza commented on #1138
Also the traceback doesn't serve for anything if you are not in debug with assets mode.

[2018-12-24 08:44] jkbaseer commented on #1045
Thanks for sharing that tip and helping us with that module. As the others I am facing the same issue as well where i **upgraded** the module according to your advice.

Even after upgrading the module from the Odoo Apps install page, it doesn't work. It worked after going inside the server and trying **sudo service odoo restart**

[2018-12-24 18:55] tglukhov commented on #1138
oh yeah, sorry,
the odoo version is v12 and web_timeline is a OCA module, also version 12.

here is the error message in debug=assets mode
Error:
Uncaught TypeError: Cannot read property 'then' of undefined

http://localhost:8069/web/static/src/js/chrome/action_manager_act_window.js:650
Traceback:
TypeError: Cannot read property 'then' of undefined
    at http://localhost:8069/web/static/src/js/ch

[2018-12-25 09:15] nikul-serpentcs opened #1139 "web_widget_color: Not working in One2many fields"
Impacted versions:
* I am using `web_widget_color` module in **v11** or **v12**
If I using `wedget="color"` in  One2Many Field, It's not working Proper.

Steps to reproduce:

* In One2many field, Any char fields in we use `widget="color"` that time it's not working.

Current behavior:

![peek 2018-12-25 14-28-web](https://user-images.githubusercontent.com/17664321/50418449-6e744e80-0851-11e9-9c6b-

[2018-12-25 09:16] nikul-serpentcs commented on #1139
@pedrobaeza @ernestotejeda Can you please check it?

[2018-12-26 13:19] pedrobaeza commented on #1139
Fixed already

[2018-12-26 13:19] #1139 closed, assigned to nobody

[2018-12-26 13:22] nikul-serpentcs commented on #1139
@ernestotejeda @pedrobaeza Thank You!!

[2018-12-28 05:34] nikul-serpentcs opened #1143 "web_widget_color: Download issue in v11"
@pedrobaeza @jbeficent @OCA/web-maintainers
If I am clone module in here `https://github.com/OCA/web/tree/11.0` that work is fine,

But if I download `https://apps.odoo.com/apps/modules/11.0/web_widget_color/` here then the same issue
 #1139

How can we solve it?

[2018-12-28 07:17] sudhir-erpharbor commented on #1143
@nikul-serpentcs
I think new changes are not yet reflected (synced) in odoo apps which is causing such issue

CC: @pedrobaeza .

[2018-12-28 07:27] nikul-serpentcs commented on #1143
Yes, @sudhir-erpharbor new changes are not synced in App store.

[2018-12-28 11:45] #1143 closed, assigned to nobody

[2018-12-29 05:00] emagdalenaC2i commented on #1048
Please check web_dialog_size - By @ernestotejeda - #1110

There is a PR to the migration of  web_tree_image - By @nikul-serpentcs - #1100

[2018-12-29 05:30] emagdalenaC2i commented on #739
@pedrobaeza I think you can check web_advanced_search _x2x - By @Yajo #999 it is Merged in e764017

Please check web_editor_background_color - By @Yajo - #1074

web_hide_db_manager_link - By @JBF91 - #801 is closed and I think this migration is no loger needed

Please check web_tree_image - By @nikul-serpentcs - #1006

Please, could you move up web_widget_bokeh_chart in the list so that it is sort

[2018-12-30 05:18] hydrosIII commented on #1049
Rechecking this. It is solved.

[2018-12-30 05:18] #1049 closed, assigned to nobody

[2018-12-31 05:01] anandkansagra commented on #1048
web_widget_image_url #1145

[2018-12-31 06:06] anandkansagra commented on #1048
web_widget_x2many_2d_matrix_example #1146

[2019-01-04 23:23] GSLabIt opened #1148 "[11.0] web_tree_image, is this working?"
Trying to use this module with no success using `widget="image"` on character field with both icon name and` path/to/image`.

database field value:

`/mymodule/static/src/img/icons8-filled-circle-filled-48.png`

on javascript console getting:

`data:image/png;base64,/mymodule/static/src/img/icons8-filled-circle-filled-48.png net::ERR_INVALID_URL`

Not sure what i'm doing wrong, any hint on how to

[2019-01-05 12:25] pedrobaeza commented on #1148
The error seems clear: you haven't put the image in the proper path. I'm seeing there an absolute path, and that's something invalid.

[2019-01-05 12:25] #1148 closed, assigned to nobody

[2019-01-05 17:45] GSLabIt commented on #1148
@pedrobaeza ..i'm not yet that stupid. On documentation, I read:

 If you use the widget with a character field, the content of the field can be any of the following:

The absolute or relative location of an image. For example, "/<module>/static/src/img/youricon.png"

Ref to: https://github.com/OCA/web/tree/11.0/web_tree_image
So, what that means?

[2019-01-05 18:22] moylop260 commented on #1148
Hi @joezsweet
I don't know this module so much.

But I have a guess, reading the documentation:

[code]

You can use a path like 1. but you are using the prefix like 3.
Then could you trying removing the prefix and told us about.

[2019-01-05 18:25] GSLabIt commented on #1148
@pedrobaeza @moylop260  Problem is exactly that one. I'm not adding the prefix, for some unknown (for me) reason the module is adding it; seems like module is not recognizing it's not an image but a relative path.

[2019-01-05 19:35] GSLabIt commented on #1148
@pedrobaeza, could you reopen the issue?

[2019-01-07 04:20] nikul-serpentcs commented on #1148
@joezsweet This module used for in tree view, we saw the image using `wedget=image`.

In XML, You can add  `wedget=image` in fields, that time saw an image in a tree view with default width is 30px.

[2019-01-07 04:30] nikul-serpentcs commented on #1148
@joezsweet @moylop260 In v11 we have widget image in a tree view, in v10 or v9 above 1 and other points are covered.

[2019-01-07 04:33] nikul-serpentcs commented on #1148
@joezsweet It's No need to reopen the issue Because it's module limit per this functionality.

Thanks

[2019-01-07 07:42] GSLabIt commented on #1148
@nikul-serpentcs thanks  for clarification, would be nice to change documentation

[2019-01-07 11:11] ngrandjean opened #1149 "[10.0] web_widget_image_webcam Error getting stream"
Hello,

Module web_widget_image_webcam worked just fine until very recently. Now I have en error everytime I try to connect to the webcam :
![image](https://user-images.githubusercontent.com/25527410/50765032-f0626f80-1274-11e9-9227-4ab0fce7f80a.png)

I've tried with Chrome and Firefox.

[2019-01-07 11:13] pedrobaeza commented on #1149
Have you installed any additional extension? Or maybe have you updated the browser?

[2019-01-07 12:21] ngrandjean commented on #1149
I guess the browser has been updated yes. After some researches it seems that the method createObjectURL() is deprecated for MediaStream objects (see https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL).

I did a quick fix for my system because it was very blocking but I didn't fully tested it for previous Chrome/Firefox version or for other browsers. Would it still help if I did

[2019-01-07 12:22] pedrobaeza commented on #1149
Yes, please! but the method should be compatible for both old and new browsers.

[2019-01-08 04:11] anandkansagra commented on #1048
web_no_bubble #1150

[2019-01-08 09:37] ThanhMany commented on #1048
I has a task that migrates `web_export_view` to version 12.0.
I read the comments of @tarteo and @pedrobaeza about the issue of this module.
Will we migrate it ?

[2019-01-08 20:49] pedrobaeza commented on #1048
@ThanhMany, if you have migrated it, please make the PR, but you should respect commit history and the rest of guidelines.

[2019-01-08 20:50] pedrobaeza commented on #1048
I'm still not convinced about the need of it as it is, but if others find it useful, I don't want to block it. Cool features can be:

* Add support for exporting tree view with groups.
* The already TZ mentioned support.

[2019-01-09 06:37] ThanhMany commented on #1048
@pedrobaeza
Oh I am so sorry. This is my mistake.
In all sincerity, I'll follow the guideline and respect everyone's effort.
Thanks for your comments.

My pull request is not complete so I closed it.

[2019-01-14 21:58] ruben-tonetto opened #1153 "[11.0][web_timeline] empty group -"
A group with text '-' is always displayed, even if i have set default_group_by; in this case the '-' group is empty.
I imagine that is necessary if default_group_by is not set, so an empty group with no name is set.

`groups.push({id: -1, content: _t('-')});`

ref:
https://github.com/OCA/web/blob/9f91d5d9a9e2a5e602d1beb70598aa102da15409/web_timeline/static/src/js/timeline_renderer.js#L366

is it p

[2019-01-14 22:48] pedrobaeza commented on #1153
If you have the solution, you can do the PR.

[2019-01-15 16:03] ovnicraft commented on #1048
I am not sure about remove `web_export_wiew`, so this module has better UX, IMO i keep it.

[2019-01-15 18:54] tglukhov commented on #1138
@pedrobaeza so what do you think about this? Do you have some clues for resolving this problem?

[2019-01-15 19:02] pedrobaeza commented on #1138
Sorry but no, I'm not the one that can solve the problem. I only manage the community and guards that issues are correctly notified.

[2019-01-15 20:44] tglukhov commented on #1138
Thank you however !

[2019-01-16 03:32] cvinh commented on #1138
@tglukhov you should ask @tarteo who is author

[2019-01-17 19:50] tglukhov commented on #1138
Thank you @tarteo for fixing this issue, it can be closed now.

Regards

[2019-01-17 19:50] #1138 closed, assigned to nobody

[2019-01-17 22:09] agent-z28 opened #1157 "New Widget: "Like Github Contributions Widget" for Partner"
the description of your feature : I suggest a widget like the GitHub Contributions Widget.
the Odoo version you expect it to run on: v11+
mockups and visual materials
![bildschirmfoto vom 2019-01-17 23-06-11](https://user-images.githubusercontent.com/7473428/51351950-8768cc00-1aac-11e9-97ba-f64958ffd040.png)

e.g. in client view, it could be used to visualize all order dates. in some industries it

[2019-01-17 22:12] pedrobaeza commented on #1157
This is a kind of heatmap. Are you going to implement it?

[2019-01-17 22:16] agent-z28 commented on #1157
Maybe yes, if nobody did it already. My first attempt was to bring the idea in:)

[2019-01-17 22:18] pedrobaeza commented on #1157
Let's see if somebody has made something...

[2019-01-17 22:22] hbrunn commented on #1157
gather the data in some model, override the matrix widget to show blocks instead of inputs, should be quite straight forward

[2019-01-17 22:23] pedrobaeza commented on #1157
Well, the design with that will be very ugly, but it can be a rudimentary solution for someone in a hurry

[2019-01-17 22:24] hbrunn commented on #1157
it takes only some css to make this beautiful in my opinion

[2019-01-17 22:24] agent-z28 commented on #1157
Nice Idea!

[2019-01-18 04:33] nikul-serpentcs commented on #1157
Good Idea! :bulb:

[2019-01-18 15:27] tarteo commented on #1157
Very cool. Maybe this will help: https://github.com/bachvtuan/Github-Contribution-Graph

Looking forward to try it out.

[2019-01-18 16:23] tarteo opened #1160 "[12.0] web_widget_x2many_2d_matrix total cell not calculated"
The total cell of the widget (web_widget_x2many_2d_matrix) doesn't work. It's displayed but not calculated.

From web_widget_x2many_2d_matrix_example:
![image](https://user-images.githubusercontent.com/10028499/51398601-4c19dc00-1b44-11e9-8ad7-6d4dfe046c22.png)

From hr_timesheet_sheet:
![image](https://user-images.githubusercontent.com/10028499/51398932-03aeee00-1b45-11e9-8d5c-99bd9fb07835.png)

[2019-01-18 16:24] pedrobaeza commented on #901
@simahawk any news on this?

[2019-01-18 16:25] pedrobaeza commented on #1012
Already fixed in #1014

[2019-01-18 16:25] #1012 closed, assigned to nobody

[2019-01-19 07:41] anandkansagra commented on #1048
web_widget_many2many_tags_multi_selection #1161

[2019-01-20 04:11] anandkansagra commented on #1048
web_tree_many2one_clickable #1162

[2019-01-20 13:52] eversatis commented on #1116
But this is extremely useful if you have tens thousands products with simple html description which you can add and edit in backend odoo at the same time. The SummerEditor is surely cool when you have only a few products which need elegant details. I truely believe it is very useful if odoo eCommerce grow bigger.

Thank you

[2019-01-20 14:10] pedrobaeza commented on #1116
@frankmiao2015 for editing product description in e-commerce, you already have website builder, and its use is increased in newer versions.

[2019-01-21 08:22] etobella opened #1163 "[11.0] web_responsive"
When a user writes and search, the user can see all options, it does not matter if he can read them or not:

https://github.com/OCA/web/blob/11.0/web_responsive/static/src/js/web_responsive.js#L324

On 12.0 is fixed, as it has been fixed.

[2019-01-21 08:24] pedrobaeza commented on #1163
@Yajo wasn't this already fixed?

[2019-01-21 08:27] etobella commented on #1163
I tested on runbot, version 11.0.
I Accessed with demo and wrote Users, I was able to see the Users Menu.