[2019-01-21 10:03] simahawk commented on #901
nope, nothing has been done

[2019-01-21 11:16] yajo commented on #1163
This is a core problem, to be fixed in https://github.com/odoo/odoo/pull/30401.

[2019-01-21 11:16] #1163 closed, assigned to nobody

[2019-01-24 09:43] aymen6 opened #1167 "[8.0][web_widget_x2many_2d_matrix] Cannot read property 'type' of undefined"
Hi everyone,
I have filed with one2many
this is my code xml

[code]

I got this error when i want to re show the matrix

Uncaught TypeError: Cannot read property 'type' of undefined here
**/web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js:92**

in this line i found this code
                    self.is_numeric = fields[self.field_value].type == 'float';
and my field type on

[2019-01-24 11:10] #1167 closed, assigned to nobody

[2019-01-30 11:16] mgielissen opened #1168 "[12.0] web_responsive in Appstore?"
I have my backend theme ready (depends on web_responsive) for 12.0. Can web_responsive be published in the Odoo Appstore?

[2019-01-31 07:52] tarteo commented on #1168
The PR is already merged but it probably takes some time to update in the app store. It can probably be updated manually, but I don't know how / don't have access to it.

[2019-01-31 08:21] pedrobaeza commented on #1168
With each version, a manual operation for registering each of the branches has to be done, which is a very tedious work and not easily to automatize. I will try later to find a method.

[2019-01-31 13:29] elicoidal commented on #1168
and that is one of the reasons why we implemented our own shop :wink:
https://odoo-community.org/shop?&search=responsive

![image](https://user-images.githubusercontent.com/7600613/52057156-88960080-2564-11e9-9f49-2acd57ec23d0.png)

[2019-02-03 00:28] Tardo commented on #739
I will work on web_widget_timepicker

[2019-02-04 03:12] eHanseJoerg opened #1170 "[12.0] web_responsive: search results cannot be opened in a new tab"
When I am using the search functionality to find a specific menu, the results are displayed, but it is not possible to open a context menu on the list items or to perform a middle mouse click to "open in a new tab".

[2019-02-04 13:44] pedrobaeza commented on #1170
Fixed in #1171

[2019-02-05 06:03] alexey-pelykh commented on #1160
Addressed in #1174

[2019-02-05 07:25] simahawk commented on #1160
#1174 merged

[2019-02-05 07:25] #1160 closed, assigned to nobody

[2019-02-05 08:01] rousseldenis opened #1175 "[10.0][web_x2m_options] Limit in Search More"
The problem with https://github.com/OCA/web/commit/ea3f9a39def94850bcc613e98642f4bec50be7f4 and https://github.com/OCA/web/commit/5573c9b73ef6f5dfc2d997b115eaeb1eeb6424a9 is that if there is a 'search_default_' in field context, it does not apply on search popup display.

Indeed, if there is more than 160 results in the data returned by the first search() (with maybe a domain), some ids could be e

[2019-02-05 08:40] rousseldenis commented on #1175
I confirm that a search_read() is called from js to server at every pagination.

[2019-02-05 08:49] lmignon commented on #1175
IMO. If there is a pager, we must restore the 'false' limit value.

[2019-02-05 14:48] #1170 closed, assigned to yajo

[2019-02-05 18:15] pedrobaeza opened #1177 "[12.0] web_responsive: Improvement - Make chatter top bar sticky"
I think that to make this sticky can be a good idea, but only when chatter is on right side, and including the attachment widget:

![seleccion_006](https://user-images.githubusercontent.com/7165771/52294732-5593a880-297a-11e9-944d-c75e2a58193e.png)

@Tecnativa

[2019-02-05 18:15] pedrobaeza commented on #1177
What do you think, @Tardo @Yajo ?

[2019-02-06 09:03] yajo commented on #1177
I like it.

[2019-02-06 20:05] Tardo commented on #1177
Looks good! i like it too

[2019-02-07 09:22] pedrobaeza commented on #1177
Then which volunteer to do it? :angel:

[2019-02-08 00:55] zefoo opened #1182 "web_responsive scroll bug"
Grateful for the responsive plugin! It almost seems to work faster than the Odoo native version (somehow)... I'm liking it.

I have a custom model with a tree view in the app icon slide out and it seems to work ok but I cannot actually scroll down on the tree view. Do I need to add something somewhere to get it to scroll down on mobile? Works fine on desktop. It does work well with contacts and ti

[2019-02-08 00:56] pedrobaeza commented on #1182
Without some screenshots/video and maybe the code of the view is difficult to see what is the problem.

[2019-02-08 01:12] zefoo commented on #1182
Thank you Pedro for your quick response!

Here's a screencast from my iPhone on what it looks like: https://www.dropbox.com/s/dmhgmw9a8nxexg1/Video%20Feb%2007%2C%205%2008%2015%20PM.mp4?dl=0

I've had audio codec issues with the iPhone screencast functionality... not sure if audio will come through. In short, you can get a sense for what's happening and how it's not scrolling down. Code-wise, nothi

[2019-02-08 01:18] pedrobaeza commented on #1182
OK, I see the problem. That's not happening in other browsers AFAIK. Can you try in Chrome or Firefox? Any way, the ideal thing is to provide a kanban view for the model for being automatically used when on mobile view (like sales orders for example).

[2019-02-08 12:47] HaGuesto commented on #1099
@angelmoya Thanks for reporting the bug!

However, I cannot reproduce it. I tried to for the PR #1169. Could you please write down your steps?

[2019-02-08 16:40] Tardo commented on #1177
If @Yajo doesn't mind, I can try.

[2019-02-09 00:51] zefoo commented on #1182
Thank you for your quick response, err, not sure why I wasn't notified on this.

To be more clear, this works fine in Safari desktop. I originally recorded screencast on Safari mobile. I do, however, still see the issue on Chrome mobile.

We have many companies in the system and from a space perspective, Kanban view doesn't seem too feasible/practical. (eg. it'd take up too much unnecessary space

[2019-02-09 00:55] pedrobaeza commented on #1182
About kanban view, I had to say that the advantages are more than disadvantages, as in tree view you have to continuosly scroll left/right. Although it's true they need more vertical space, it's more natural to scroll up/down to see data.

About the custom tree views, there's nothing special to apply for responsive, but it seems your custom views have something different from standard ones that ma

[2019-02-09 01:15] Tardo opened #1184 "[10.0] web_widget_text_markdown: Cannot be used"
If you have installed "web_widget_text_markdown" any text field will be rendered as markdown in list view (included tree view). In some forms with lists it broke the view.
![screenshot_20190209-021246_1920x1080](https://user-images.githubusercontent.com/731270/52514263-6cebc380-2c10-11e9-9449-3d2c49676b5d.png)

[2019-02-09 01:16] Tardo commented on #739
I will work on web_widget_text_markdown

[2019-02-09 01:17] pedrobaeza commented on #1184
@njeudy can you please check?

[2019-02-09 07:19] zefoo commented on #1182
Aha, I see what you're saying. I can look into Kanban as a last resort but that's likely not an option. Appreciate you elaborating on your point, thank you.

Here's the code:

[code]

If there's anything else I can share let me know otherwise just another tree view from my vantage point, but perhaps you see something more? I'm open to any more testing too or if there's something you know I could c

[2019-02-09 13:34] pedrobaeza commented on #1182
Please try removing the lines `<field name="view_id"...` and `<field name="context"...`.

[2019-02-09 16:38] zefoo commented on #1182
Now it looks like this:

[code]

Restarted Odoo. Same issue on iOS in mobile Chrome and Safari. (I was using mobile Safari incognito too and ensured caches were cleared).

I've done a bit of mobile dev, too. This seems strange, as if the page is stuck and doesn't allow scrolling down. I can't reproduce this issue on the desktop and spot any errors. I wonder if there is a meta tag for mobile viewpo

[2019-02-10 08:57] ykqmail opened #1186 "[12.0] web_responsive------ custom app icon not show"
custom app icon not show

[2019-02-10 09:36] ykqmail commented on #1186
sorry,the problem is ok. add menuitem web_icon.

[2019-02-10 09:36] ykqmail commented on #1186
sorry,the problem is ok. add menuitem web_icon.

[2019-02-10 14:17] #1186 closed, assigned to nobody

[2019-02-11 08:20] yajo commented on #1177
Yes, I don't mind at all. Thanks! :wink:

[2019-02-11 21:24] zefoo commented on #1182
I suspect this has to be CSS related, I can't imagine it's javascript related. One test out of the box could be to see if this issue exists on a fresh Odoo 11 install and re-using res.partner on a new tree view under a new nav item or such.

[2019-02-14 04:03] Tardo commented on #1099
@HaGuesto
- Go tree view
- Use filter 'Group By'
- Select a record
- Use export button

[2019-02-14 06:07] cvinh opened #1188 "[web_timeline-question] special color if date_start < today"
@tarteo we would like to have a special color if date_start < today..., would you give advice on how to do it ?
We tried a lot of syntaxes but nothing worked
`#2ecb71:date_start &lt; context_today().strftime('%Y-%m-%d')
#2ecb71:date_start &lt; datetime.today().strftime('%Y-%m-%d')
...etc
`
Thanks in advance

[2019-02-14 08:36] yajo opened #1189 "[12.0] web_responsive: Shrinking window with sided chat hides some buttons"
Just see those buttons at the right, for followers, attachments and notifications:

![peek 14-02-2019 08-34](https://user-images.githubusercontent.com/973709/52773696-796a8480-3033-11e9-9a07-57854ad0b0e9.gif)

I should fix this, but in case someone wants to volunteer, this one should be easy.

[2019-02-14 09:24] taOsemc opened #1190 "[web_responsive] Having trouble with Menu images"
Odoo version: V12 CE

Hi,

First, it's a fantastic module, thank you!

I'm having a trouble with the images in main menu:

![2019-02-14 10 22 33](https://user-images.githubusercontent.com/32459602/52776834-c0ac4180-3042-11e9-91ca-50854b291931.png)

![2019-02-14 10 32 06](https://user-images.githubusercontent.com/32459602/52777347-da9a5400-3043-11e9-9237-d5c78c084e82.png)

[2019-02-14 09:54] pedrobaeza commented on #1190
Your deployment should be somehow broken, but has nothing to do with the module itself (which you don't say which is by the way, although deduced by context that is `web_responsive`). Follow standard guides for deploying Odoo and you won't have problems.

[2019-02-14 09:54] #1190 closed, assigned to nobody

[2019-02-14 10:03] taOsemc commented on #1190
Well, thank you for your answer. I will try to investigate. Howvever, all other modules are working fine. That's weird.

[2019-02-14 10:21] tarteo commented on #1188
The expressions are validated client side.
So for example strftime and other python will not work. The syntax for the expression is not flexible only this will work `{field} {opt} {value}` e.g. state == 'done'.

The easiest thing to do is to make a computed boolean field with the logic in it and for the colors expression do something like `#FF0000: red_bool == true; #00FF00: green_bool == true;`.

[2019-02-14 10:21] #1188 closed, assigned to nobody

[2019-02-14 10:47] Dhrupesh opened #1191 "Get the html components and convert them to string into the field."
Hello,

How can i define component and convert into string ?

Can you please give example ?

Thanks,

[2019-02-14 10:53] tarteo commented on #1191
Which module and version?

[2019-02-14 15:19] pedrobaeza commented on #1182
@zefoo several things:

* It's not enough to restart Odoo. You have to update the module.
* For this specific case, as you are commenting some fields of the model, they are not going to be reset, so you have to explicitly put them as empty or directly remove the act_window record in your DB and the update again the module.

[2019-02-15 11:46] #1177 closed, assigned to nobody

[2019-02-16 00:45] zefoo commented on #1182
To be more clear, I am force updating the module. I ain't that noob. ;)

I can try renaming things, per your suggestion... although I think the next test (if that doesn't work) would be to get you a view on a fresh Odoo 11 install with web_responsive so we can reproduce this. Agree?

[2019-02-16 07:26] tonybenoy opened #1196 "Issue in firefox in module web_widget_many2many_tags_multi_selection Odoo 11.0"
I get the following error in firefox on applying a custom filter in odoo 11.0 .

Error:
Error: Permission denied to access property "nodeName"

http://localhost:8069/web/content/346-5639a49/web_editor.summernote.js:60
Traceback:
makePredByNodeName/<@http://localhost:8069/web/content/346-5639a49/web_editor.summernote.js:60:131
create@http://localhost:8069/web/content/346-5639a49/web_editor.summerno

[2019-02-16 11:09] #1196 closed, assigned to nobody

[2019-02-16 11:10] tonybenoy commented on #1196
Seems to be an issue in Odoo11 while using a int field in filters

[2019-02-16 12:16] pedrobaeza commented on #1182
Deal

[2019-02-17 05:53] Dhrupesh commented on #1191
web_widget_bokeh_chart

[2019-02-18 13:11] yung-wang commented on #914
I have the same problem in a journal when I try to reconcile. In invoices it works fine.

[2019-02-19 13:52] tarteo commented on #1191
@Dhrupesh and version?

[2019-02-19 14:01] yajo commented on #1191
html_text

[2019-02-19 14:01] #1191 closed, assigned to nobody

[2019-02-20 06:25] Dhrupesh commented on #1191
I got solution, Thanks a lot for you support.

[2019-02-21 22:18] Boudmir-Ibrahim opened #1201 "[web_edit_user_filter] : Conditions with Operator OR"
### Impacted versions:
 V12
### Steps to reproduce:
1-Go to a list view. In my example, Sales's.
2- Add search filter and _add it as Favorite filter_. It must contain a Union of conditions. For example :
Currency is set **OR** customer is set
3- Open the 'Favorites' menu;
4- Click on the pencil icon to start editing the filter.
5- Click on the condition that contains the Union of two conditions.
6

[2019-02-21 22:34] Boudmir-Ibrahim opened #1202 "[web_edit_user_filter] : Cannot read property 'filterId' of undefined"
### Impacted versions:
V12

### Steps to reproduce:
1-Go to a list view. In my example, Sales's.
2- Add search filter and _add it as Favorite filter_.
3- Open the 'Favorites' menu;
4- Click on the pencil icon to start editing the filter.

### Current behavior:
Returns Error : **Cannot read property 'filterId' of undefined**

### Expected behavior:
a Facet is displayed. On click, a menu is shown th

[2019-02-21 23:21] Boudmir-Ibrahim commented on #1123
Hi @legalsylvain,
I have already mentioned this and @pedrobaeza 's answer was closing it due to Design decision. And i actually do agree!
i quote him : " This has been reported other times and it's done on purpose for avoiding an excessive load for a refining operation that is intended. When you change default filter is when then the limit is removed. Although it can result confusing, it's not imp

[2019-02-22 15:16] ddufresne commented on #1048
web_search_with_and https://github.com/OCA/web/pull/1203

[2019-02-23 04:10] sudhir-erpharbor commented on #1048
web_domain_field can be in the list? Would anyone like to migrate it once it's PR merged in the [v11](https://github.com/OCA/web/pull/1019)?

[2019-02-23 08:16] legalsylvain commented on #1123
Hi @boudmir-ibrahim

- this bug has been fixed 2 monthes ago
- as said in the fix, it works well for médium sized database (~50k production)

[2019-02-24 18:53] Boudmir-Ibrahim commented on #1123
This issue must be closed then.

[2019-02-25 08:48] pedrobaeza commented on #1123
Note that the restriction is applied by Odoo itself, and it was done on purpose, where loading full recordset there involved a costly operation on all records (`name_get` if I don't remember bad), and it's still limited in latest versions for initial load when clicking on "Search more...". If you press enter again in the search bar, then full load is performed.

The question for this issue and the

[2019-02-25 08:48] #1123 closed, assigned to nobody

[2019-02-25 08:52] pedrobaeza commented on #1048
@sudhir-erpharbor yes, if you want to migrate it, we can add it when the PR is here.

[2019-02-27 17:29] pedrobaeza commented on #1123
As a curiosity, look that this feature is still conflicting in Odoo itself and requires work in core:

https://github.com/odoo/odoo/pull/31232

Here the explanation is done for the 160 limit, as it uses `name_search` method, which uses `name_get`.

[2019-02-27 19:40] zefoo commented on #1182
Alrighty, finally put this to the test. Sure enough, it does seem reproducible and works incorrectly like I thought on test data. Hopefully this helps. I've done what I can to make this as easy as possible.

Here's a ZIP file: https://www.dropbox.com/s/ku33hmm6tl9xre5/odoo-11-mobile-test.zip?dl=0 ~325MB

In it, is the Odoo 11 (latest stable) files. In custom/ I stuck the latest stable web_responsi

[2019-02-28 12:23] pedrobaeza commented on #1182
OK, I see that you are not doing anything special regarding the view, but relying on standard `res.partner` views, so I suppose this is reproducible in a runbot session.

@Yajo can you figure out what can be the problem with this?

[2019-02-28 15:52] tarteo commented on #1202
Thanks, I'll look into it.

[2019-02-28 15:55] tarteo commented on #1201
Thanks, I'll look into it.

[2019-02-28 19:42] zefoo commented on #1182
@pedrobaeza Correct. While I do have my own views in my own models where this is an issue too, I suspect there's something else that's needed for views in general... specifically, maybe the current responsive CSS that allows for scrolling is too strict and we need to loosen it up so it applies to all tree views or such.

Thank you for taking a look!

[2019-03-01 08:31] yajo commented on #1182
I have absolutely no idea on what can that be, but I guess that somebody with an iphone should debug it and propose a PR to fix it.

If we're able to reproduce in runbot, it's always easier to debug.

[2019-03-03 02:37] pedrobaeza commented on #1168
The module is now on Odoo Apps Store:

https://apps.odoo.com/apps/modules/12.0/web_responsive/

thanks to the initial work from @alexey-pelykh in https://github.com/OCA/maintainer-tools/pull/409 that I'm refining right now.

[2019-03-03 02:37] #1168 closed, assigned to nobody

[2019-03-03 08:03] zefoo commented on #1182
One thing I don't think I've communicated. web_responsive is broke out-of-the-box on tree views. eg. I know my original mentions was how it's broke on a tree view from a custom module, but so we'e clear (which I haven't shared), web_responsive is broke on *all* tree views. Even contacts demo data, if I flip to tree view from kanban, it doesn't allow scrolling past whatever is in the viewport. I wo

[2019-03-04 08:51] yajo commented on #1182
I tested on firefox & chrome, desktop & mobile. All work fine. Possibly it's some limitation in Safari. Let's hope some i-thing owner can fix this.

[2019-03-05 04:00] zefoo commented on #1182
Yajo, thank you. Yes, seems fine on desktop Safari and several browsers. Out of curiosity, what mobile phone did you test on? Android? Chrome browser I assume?

Good to know it's iPhone specific on Safari.

[2019-03-05 08:33] yajo commented on #1182
I tested on Android, with Chrome and Firefox for Android. AFAIK, iOS chrome uses the same webkit engine as Safari, so you should experience the same bugs. As a workaround, you can try Firefox for iOS, which I think uses a different engine.

[2019-03-06 10:35] FrancoTampieri opened #1208 "[12.0] web_widget_x2many_2d_matrix: error on timesheet on mobile vire"
When I try to use the OCA hr_timesheet_sheet on a mobile device I have this error, the matrix fail to render:

Using a normal browser on laptop or server the issue is not performed, if u reduce the size of the screen u can reproduce the error.

Kind Regards

Franco

![screenshot 2019-03-06 11 29 53](https://user-images.githubusercontent.com/4396444/53874685-36347d80-4003-11e9-96a9-78c982a48304.png

[2019-03-06 10:37] pedrobaeza commented on #1208
You should specify which "mobile device". I'm guessing it's iPhone. Please use Firefox for iOS to see if it happens the same.

[2019-03-06 10:43] simahawk commented on #1208
@drdran ciao mate :)
Can you enable debug=assets and trigger again the error?
Then copy paste the txt traceback here.
Thanks

[2019-03-06 10:45] FrancoTampieri commented on #1208
Hi @pedrobaeza

sure I user Iphone 7 ios 12.1.4.

I have the same issue with firefox 65.0.2 64 bit

![unadjustednonraw_thumb_1e8c](https://user-images.githubusercontent.com/4396444/53875626-36357d00-4005-11e9-927c-ee506beea57c.jpg)

[2019-03-06 10:59] FrancoTampieri commented on #1208
This is the txt when debug=assets is enabled in firefox:

[with_assets_in_firefox.txt](https://github.com/OCA/web/files/2935831/with_assets_in_firefox.txt)

[2019-03-06 11:05] simahawk commented on #1208
weird, seems to fail here

https://github.com/OCA/web/blob/12.0/web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js#L79

which means that the field for X axis is not there.

If it works on desktop I expect it to work on mobile too, unless for some reason the field is not in `record.data` in mobile which means that the field is not included in the view in mobile :thinking:

[2019-03-06 15:55] FrancoTampieri commented on #1208
Hi mate!

yeah is really strage, the samam problem is in chrome, even I have some problems to open the debug interface with assets, but the message is on the first message of this issue.

Cheers

Franco

[2019-03-09 16:19] fietiger opened #1212 "[12.0] Project timeline"
A:If there are so many Projects or tasks ,no scroll bar on right side.
steps to repeat:
1.Install Project and Project timeline;
2.Create a Project named Project_1;
3.Create 16 Tasks named Task_1~16,or more Tasks;assign start time and end time for each task;
4.View time line of all tasks, you will see no scroll bar on right side.

B:After uninstall Project timeline ,App Project reports " No default

[2019-03-12 08:48] tarteo commented on #1212
You can drag click anywhere to 'scroll'.
I tested locally and uninstalling the module project_timeline indeed generates problems:

The action is not reverted when uninstalled:
[code]

[2019-03-12 09:01] pedrobaeza commented on #1212
A uninstall_hook may be needed.

[2019-03-12 12:52] fietiger commented on #1212
So there will no scroll bar any more?

If there only few tasks,time line bars start from bottom,all large area on the top left blank.What should I do to get time line bars start from the top?
Sorry for no picture again.

[2019-03-12 12:54] pedrobaeza commented on #1212
@fietiger please stop reporting different things in the same issue. Put new issues for new topics.

[2019-03-12 12:54] pedrobaeza commented on #1212
And with meaningful subjects

[2019-03-12 13:33] #1202 closed, assigned to nobody

[2019-03-12 15:26] FrancoTampieri commented on #1208
As I noticed , but I don0t know if is a bad behaviour of the widget or the timesheet_sheet module, when I use it in wide screen, the inputs after safe, aren't loaded in the respective fiels, look at this images

![Screenshot 2019-03-12 16 24 38](https://user-images.githubusercontent.com/4396444/54212563-6d170180-44e3-11e9-864a-17a82b5b928a.png)

And in the details I have put the timesheet lines, b

[2019-03-13 00:28] hermitguo opened #1215 "To install a module, click search more, and do not see a check box"
module: web_widget_many2many_tags_multi_selection
version: 12.0

**Steps to reproduce**
- ...
To install a module,

**Current behavior**
click search more, and do not see a check box

**Expected behavior**
purchase,sales

[2019-03-13 08:43] tarteo commented on #1215
I tested it on runbot this is not the case it's probably another module that's causing this problem

![image](https://user-images.githubusercontent.com/10028499/54264879-62587d00-4574-11e9-9bfd-afffaf4e3650.png)

[2019-03-13 08:43] #1215 closed, assigned to nobody

[2019-03-13 08:44] #1201 closed, assigned to nobody

[2019-03-13 16:18] fgarcia-humanoide opened #1216 "[11] web_environment_ribbon - error when installing"
Installing web_environment_ribbon

I get this error

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo-server/odoo/http.py", line 651, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo-server/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()

[2019-03-13 16:19] pedrobaeza commented on #1216
Check your deployment, as it's working without problem in runbot.

[2019-03-13 16:19] #1216 closed, assigned to nobody

[2019-03-19 12:26] jusle opened #1220 "[12.0] web_responsive Keyboard shortcuts unavailable"
Keyboard shortcuts aren't working on Odoo v12 with web_responsive.

[2019-03-19 12:32] jusle opened #1221 "[12.0] web_responsive Look and feel enhancements"
- When clicking empty area in the apps view, user is forwarded back to previous view.
- When opening an app in the apps view, the previous view is shown for the time the selected app is loaded.
- When creating a note in activies on mobile device, the calendar is shown outside of the screen.

[2019-03-19 12:38] pedrobaeza commented on #1221
This is not something about `web_responsive`, but the web client behavior, and they are debatable. Any way, you should do them on Odoo itself.

[2019-03-19 12:38] #1221 closed, assigned to nobody

[2019-03-19 12:41] pedrobaeza commented on #1220
Combination has been changed to Alt+Shit. It's indicated in the README.

[2019-03-19 12:41] #1220 closed, assigned to nobody

[2019-03-21 15:15] Gokulakannanaj commented on #1025
@pedrobaeza Please check below link, In runbot bus notification not displayed
http://3362419-12-0-e4e84f.runbot2.odoo-community.org/web?debug=1#id=2&action=68&model=res.users&view_type=form&menu_id=4

[2019-03-21 15:45] DavidLizasoain commented on #1208
Hello,

Same issue found with Odoo 11 on Ubuntu 16.04, regardless the mobile OS or web browser used.

Anyone any progress since last post 9 days ago? I'd be very gratefull

Thanks

[2019-03-22 01:06] jusle commented on #1220
Superb! Sorry didn't notice it :)

[2019-03-22 13:52] FrancoTampieri commented on #1208
no I'm not a good javascript developer, I'm a good backend dev, but I can test and help on that

[2019-03-27 10:20] Gokulakannanaj opened #1227 "[12.0] Notification not displayed in Web Notify"
Hi,

I'm trying to use web_notify module. It installed without any error. But when i click Test info notification or Test warning notification, Notification not displayed. In runbot also notification not displayed.

For reference please check below link,

http://3418854-12-0-7be7fd.runbot1.odoo-community.org/web?debug=1#id=6&action=68&model=res.users&view_type=form&menu_id=4

Thanks.

[2019-03-27 10:23] pedrobaeza commented on #1227
I think in runbot, there are no workers, and thus the longpolling is not working.

[2019-03-27 10:26] AdriaGForgeFlow opened #1228 "[12.0] web_responsive section change delay"
In the web_responsive module once you want to change sections as shown in the gif below, the interface will dismiss the Apps menu and will remain for some time in the previous section while it charges and goes to the next one.
![GIFrecord_2019-03-27_111936](https://user-images.githubusercontent.com/44768500/55068720-cace5080-5082-11e9-9378-9fc926d28d4d.gif)
This can be a little bit confusing for t

[2019-03-27 10:27] Gokulakannanaj commented on #1227
@pedrobaeza  thanks for your instant response. But in runbot calendar reminder displyed.

[2019-03-27 10:29] pedrobaeza commented on #1227
OK, then it should be other thing. @lmignon can you help?

[2019-03-27 10:30] pedrobaeza commented on #1227
@Gokulakannanaj one thing: are you sending the message to other user or to yourself?

[2019-03-27 10:31] Gokulakannanaj commented on #1227
@pedrobaeza  thanks, Myself only.

[2019-03-27 10:31] pedrobaeza commented on #1227
Then that can be the problem: I think you should send the message to other person.

[2019-03-27 10:33] pedrobaeza commented on #1228
Uhm, not sure this will be easily done... Any way, this depends on where do you click. For most elements, it's barely instant access.

@Yajo any clue?

[2019-03-27 10:37] Gokulakannanaj commented on #1227
Ok. I'll try.

[2019-03-27 11:11] Gokulakannanaj commented on #1227
Hi @pedrobaeza  I tried. For other persons too, no response.

[2019-03-27 11:12] pedrobaeza commented on #1227
OK, let's see if other gives us a clue.

[2019-03-27 11:48] yajo commented on #1228
This is async, it happens. If you can capture the promise that resolves when the new UI is loaded, you can put a "loading" message in the mean time.

[2019-03-29 10:13] FrancoTampieri commented on #1208
@simahawk Hey Mate!

Can u suggest me a good enviroment to debut Js of odoo? I'm really newbie on that. That may help me to improve this.

Kind regards

Franco

[2019-03-29 11:47] simahawk commented on #1208
@drdran I ping you in pvt ;)

[2019-03-29 11:55] FrancoTampieri commented on #1208
Sure u are welcome!

[2019-03-30 04:02] dungxboss opened #1233 "[12] web_responsive: How to make the view the same as version 11"
How to make version 12 look like version 11?
Version 12: ![image](https://user-images.githubusercontent.com/40818338/55271114-50980900-52da-11e9-95ad-106e6ea65bc8.png)
Version 11:
![image](https://user-images.githubusercontent.com/40818338/55271174-462a3f00-52db-11e9-9813-234d0b4bb9f6.png)

Thanks
@Yajo

[2019-03-30 11:22] pedrobaeza commented on #1233
The screenshots don't belong to web_responsive module, but other.

[2019-03-30 11:22] #1233 closed, assigned to nobody

[2019-04-01 10:56] ghozinfo commented on #835
I also try to use this module without success u pto now
I've digged a bit further and it seems to behave differently than the original Odoo translation mecanism.

This module calls the /web/dataset/call_kw/product.template/write API call.
The Odoo system calls the /web/dataset/call_kw/ir.translation/write API call.
This maybe explains why the module is not doing what it is supposed to do.

[2019-04-02 22:10] manuelpgs opened #1235 "[10.0] [web_responsive] Uncaught TypeError: this.$el.drawer is not a function"
**#branch 10**
**#web_responsive 10.0.1.2.3**

After installing the module Web Responsive 10.0.1.2.3, I got this error:

**Title:** Uncaught TypeError: this.$el.drawer is not a function

**Error Body:**

`https://dominio.com/web/content/3103-2554bcf/web.assets_backend.js:2659
Traceback:
TypeError: this.$el.drawer is not a function
    at Class.initDrawer (https://dominio.com/web/content/3103-2554b

[2019-04-03 04:21] jayo2005 opened #1236 "Webcam.js Error: No supported webcam interface found.[web_widget_image_webcam]"
Using odoo 11

I get following error when trying to use web_widget_image_webcam.

Webcam.js Error: No supported webcam interface found.[

[2019-04-03 07:28] pedrobaeza commented on #1236
The error is clear: your browser doesn't recognize your webcam with current JS library, or you have blocked the access to it.

[2019-04-03 07:28] #1236 closed, assigned to nobody

[2019-04-03 07:29] jayo2005 commented on #1236
Issue was flash not installed

On Wed, Apr 3, 2019, 8:28 AM Pedro M. Baeza <notifications@github.com>
wrote:

[2019-04-04 13:02] Swapnesh-SerpentCS opened #1238 "[Whishlist] web_tree_image: No way to reduce Image size in tree view"
Module `web_tree_image` doesn't provide any solution to Render Small sized images from the server, Which cause Unnecessary Loading when there are large Images with more records.

Proposed Solution: (Works well for v9 in Production.)

Add new attribute on the field in XML where widget="image" is applied.
Eg,` image_preview_field="image_small"` (or maybe we can add on `options` too)

On JS function:

[2019-04-08 14:03] DeepSilver opened #1241 "12.0 web_favicon - Replace html title"
web_favicon should also replace html title  from
Apps - Odoo
to
Apps - Company name

[2019-04-08 14:04] pedrobaeza commented on #1241
Why? The module is not for debranding anything.

[2019-04-08 14:04] #1241 closed, assigned to nobody

[2019-04-09 14:13] tarteo commented on #1235
Sounds like you installed it incorrectly (version, restart, etc)? It works on Runbot.

Provide the ?debug=assets traceback otherwise it's not clear what the error is.

[2019-04-09 14:19] #1235 closed, assigned to nobody

[2019-04-09 15:42] manuelpgs commented on #1235
Hi @tarteo  thank you for your answer.

Attached the output with ?debug=assets enable.     I notice that it works in another server but don't in my server.   Any tips?

![Screenshot 2019-04-09 11 36 55](https://user-images.githubusercontent.com/1145973/55814295-36b9ab80-5abc-11e9-82f1-93349e37fe9d.png)

[2019-04-10 07:02] Swapnesh-SerpentCS commented on #1238
@nikul-serpentcs @pedrobaeza
May I have your suggestion on this ?

[2019-04-10 07:32] pedrobaeza commented on #1228
Is this something like #1240, but for v12?

[2019-04-10 07:34] tarteo commented on #1235
@herohat Not really, just check if your installation is not broken.

[2019-04-10 08:04] tarteo opened #1244 "[11.0] web_responsive: search is triggered when a function button is pressed"
I found this issue while trying some stuff out on Runbot.

When a function button e.g. F2 is pressed and the drawer is opened it starts searching on F2. It's not a big issue IMO but still a bug ;)

![image](https://user-images.githubusercontent.com/10028499/55862016-e738b580-5b77-11e9-9dd3-d8747a6b9dc3.png)

[2019-04-10 09:09] yajo commented on #1228
Not, you can see in the bottom-right corner of the gif that the loading panel displays ok.

[2019-04-10 09:11] pedrobaeza commented on #1228
OK

[2019-04-10 16:17] pepitovadecurt opened #1246 "web_decimal_numpad_dot not run?"
Hello, I have installed the web_decimal_numpad_dot module but it does not seem to work.
For example: in an invoice I write the price 42.23 and when pressing tab it is corrected to 4.223,00
I am using the community 10 version and the module I got it from https://github.com/OCA/web/tree/10.0

[2019-04-10 16:19] pedrobaeza commented on #1246
You have to use a language with that separator.

[2019-04-10 16:27] pepitovadecurt commented on #1246
Ah ok, I thought the module was useful to enter the numbers both with comma and with decimal point.
Thanks Pedro.

[2019-04-10 16:27] #1246 closed, assigned to nobody

[2019-04-10 16:44] manuelpgs commented on #1235
@tarteo what test I should do?  In my ODOO installation, all seems to be working fine.  I can install and update modules and use it normally.

[2019-04-13 08:47] GSLabIt opened #1251 "[12.0] web_responsive: App drawer search menus not working properly from mobile phone."
Tested in runbot, after last commits search menu doesn't work with virtual keyboard on mobile.

Whatever key is pressed, search input loose focus and doesn't show search results.

Have a look at video:
![20190413114412-4b38295101 gif-2-mp4 com](https://user-images.githubusercontent.com/11652845/56077194-7b558780-5dd9-11e9-89da-9dcc6e293c5e.gif)

Can someone double check and confirm?

Thx

[2019-04-13 14:10] Tardo commented on #1251
Tested on runbot and local... all works as expected.
Env. Specs: Firefox 66.0.2 running under LineageOS 15.1 (Android 8.1.0)

[2019-04-13 14:26] GSLabIt commented on #1251
I tested using Samsung internet browser and Chrome on emui 8 (andori 8.0.1)

@Tardo, any idea why I'm facing the issue?

[2019-04-13 16:41] zefoo commented on #1182
The solution here was to set up Kanban and use that instead of tree view. Desktop view is tree view, mobile view is kanban. I believe this was original intention.

With custom kanban res.partner, I was seeing strange issues like "field doesn't exist" (aka. street, street2, city, etc)... very strange. I was seeing this with safari browser window as narrow as possible (eg. enabling responsive stuff)

[2019-04-13 16:41] #1182 closed, assigned to nobody

[2019-04-13 18:23] Tardo commented on #1251
@GSLabIt confirmed bug with Chrome 73.0.3683.90
🐞🔍 ...

[2019-04-13 20:22] GSLabIt commented on #1251
@Tardo same version here...

[2019-04-13 20:38] Tardo commented on #1251
@GSLabIt Does the same thing happen to you outside of runbot? I'm not able to replicate the bug in local env.

[2019-04-13 21:46] GSLabIt commented on #1251
@Tardo yup, u can test on odoo.gslab.it:8069

[2019-04-14 13:49] Tardo commented on #1251
@GSLabIt i can't reproduce it out of runbot... :S
**http:// 217 . 182 . 67 . 159 : 12069** (OCB 12.0 with OCA/web repository and only web_responsive installed)

[2019-04-14 14:17] GSLabIt commented on #1251
can u install more apps and update to last web_responsive version?

thx

[2019-04-14 21:00] GSLabIt commented on #1251
@Tardo i've create a db from scratch and installed web_responsive and few other apps. You can test at http://test.gslab.it:8069 - demo/demo.

I'm facing the issue from mobile phone uning both chrome and Samsung Internet Browser.

Could u test?

Thx

[2019-04-15 09:36] yajo commented on #1251
Fix in #1252. Thanks for the report!

[2019-04-16 01:10] ZERO20 commented on #1065
<field name="date_action" options="{'datepicker': {'minDate': '0'}}"/>

i get a error picker.options.minDate.year is not a function im using openErp 9

[2019-04-16 01:11] ZERO20 commented on #1065
can u help me? picker.options.minDate.year is not a function

[2019-04-16 03:40] ZERO20 commented on #1065
can u help me?

[2019-04-16 06:13] simahawk commented on #1065
doing what? where's the code?
Also, this is an issue for v11 and you say v9: your comment is completely out of scope.
Open another issue if you need help. Thanks.

[2019-04-16 11:37] #1251 closed, assigned to Tardo, yajo

[2019-04-16 13:37] GSLabIt commented on #1251
@Yajo @Tardo could you please double check runbot from mobile chrome? I've installed more apps (actually mode than 10 apps) and it seems the issue is back. 😬

[2019-04-16 15:33] ZERO20 commented on #1065
thanks for nothing! :)

[2019-04-17 07:42] yajo commented on #1251
Open a new issue then. It must be a different problem.

[2019-04-17 07:49] GSLabIt opened #1254 "[12.0] web_responsive: App drawer search menus not working properly from mobile phone."
Continue from: https://github.com/OCA/web/issues/1251.

It happens when installing more than 10 apps. Tested in runbot, after last commits search menu doesn't work with virtual keyboard on mobile.

Whatever key is pressed, search input loose focus and doesn't show search results.

https://github.com/OCA/web/pull/1252 fixed when number of app is lower than 10, basically it seems to work properly wh

[2019-04-17 07:49] GSLabIt commented on #1254
@Yajo here it comes

[2019-04-17 12:25] yajo commented on #1254
Fixed in https://github.com/odoo/odoo/pull/32776. The problem is the `barcodes` module. They have to approve that PR, merge it and forward port it to v12. In the mean time you can either:

1. Use Firefox.
1. Do not install `barcodes`.

[2019-04-17 12:25] #1254 closed, assigned to nobody

[2019-04-22 09:02] DaimSayed opened #1258 "[12.0] web_responsive: Menu issue"
When installed in a fresh database the module gives an error of unmet dependency for web.Menu.
In Odoo the menu click also does not seem to be triggering any action.
![odoo_responsive_isse](https://user-images.githubusercontent.com/49861038/56493066-6bd9eb00-650b-11e9-9125-4f3762cf71f8.png)

[2019-04-22 09:03] pedrobaeza commented on #1258
Module is incompatible with enterprise interface.

[2019-04-22 09:03] #1258 closed, assigned to nobody

[2019-04-23 15:14] SalouaSahnoun commented on #1045
Hi,
i had the same error message after installing the web_responsive module,
I installed it in a virgin database, then I installed the odoo sales module then I tried to create a quote I got the following error message:
#############################################################################
Erreur:
Uncaught Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found

http://test-od

[2019-04-23 15:16] SalouaSahnoun commented on #1034
Hi,
i had the same error message after installing the web_responsive module,
I installed it in a virgin database, then I installed the odoo sales module then I tried to create a quote I got the following error message:
#############################################################################
Erreur:
Uncaught Error: QWeb2: Template 'web_responsive.MenuStatusbarButtons' not found

http://test-od

[2019-04-23 15:18] pedrobaeza commented on #1034
You haven't restarted your Odoo service and refresh browser cache.

[2019-04-23 15:24] SalouaSahnoun commented on #1034
i restarted odoo-server, the postgresql service and i rebooted my machine, but the same problem precists

[2019-04-23 15:27] pedrobaeza commented on #1034
Well, as said, this is working properly on runbot, so there's something on your side that ruins it. Maybe an incompatibility with any module.

[2019-04-23 15:32] SalouaSahnoun commented on #1034
I thought about that too,
So, I installed the both modules (web_responsive & sale) in a new database (empty)

[2019-04-23 15:33] pedrobaeza commented on #1034
You can try on runbot and you will see that is working correctly.

[2019-04-24 13:57] serCliff opened #1261 "[12.0] web_edit_user_filter: Error on pivot view"
When I click on pivot view not shows any error but when I use some of filter on some view throw me an error that throws:

uncaught TypeError: Cannot read property 'attrs' of null odoo

[2019-04-25 05:58] rifdy opened #1262 "[11.0] web_responsive app drawer search menus not working properly from mobile phone"
App Drawer Search Menus immediately closed when it's click search logo (in mobile phone)

![fr](https://user-images.githubusercontent.com/38850083/56712751-bfda0f00-6759-11e9-8778-19dbeb684cee.gif)

[2019-04-25 07:17] pedrobaeza commented on #1262
Are you using latest version?

[2019-04-25 08:00] tarteo commented on #1261
I cannot reproduce this error. Can you make a video of the exact steps you're taking.

[2019-04-25 08:06] rifdy commented on #1262
i'm using branch 11.0. with latest commit

[2019-04-25 13:21] CasVissers-360ERP commented on #1048
I don't agree, In combination with the module web_disable_export_group this module is very usefull. If a user it not allowed to use the bigger export function, a company can allow the user to export the main information using this module.

[2019-04-25 13:54] pedrobaeza commented on #1048
OK, we have found several arguments to keep the module alive, so let's keep it. We should add these arguments in the module description for avoiding recurrent questions about its goal. May you?

[2019-04-26 07:22] tbaden commented on #1048
web_widget_x2many_2d_matrix_example https://github.com/OCA/web/pull/1146 and web_ir_actions_act_multi https://github.com/OCA/web/pull/1128 are already merged, but not checked yet.

[2019-04-26 17:13] GSLabIt commented on #1262
possible same problem of https://github.com/OCA/web/issues/1254#issuecomment-484060826?

[2019-04-26 17:18] GSLabIt commented on #1084
@simahawk do u know if it is possible to show fields not included in matrix (before/after it)? Thx

[2019-04-26 17:23] GSLabIt commented on #1067
@simahawk, probably this is better thread, do u know if it is possible to show fields not included in matrix (before/after it)? Thx

[2019-04-27 05:46] rifdy commented on #1262
Looks like same, but this issue in branch 11.0

[2019-04-29 08:38] GSLabIt opened #1264 "[question][web_widget_x2many_2d_matrix] How show fields not included in matrix (before/after it)?"
Hi all, any hint on how to implement?

Thx

[2019-04-29 09:04] pedrobaeza commented on #1264
Duplicated of #1084

[2019-04-29 09:04] #1264 closed, assigned to nobody

[2019-04-29 09:06] GSLabIt commented on #1264
is this duplicated? the #1084 focus on unsaved values, i need to show that values in widget ..

[2019-04-29 09:08] pedrobaeza commented on #1264
Well, then this module is not for that.

[2019-04-29 09:10] GSLabIt commented on #1264
Got it, i was asking for hints to implement an extension to allow showing also other fields ..do you have any ideas?

[2019-04-29 09:13] pedrobaeza commented on #1264
Well, visually the widget will look weird that way IMO, but check the source code and you'll find how this is populated. You have to do the same for several values.

[2019-04-29 09:19] GSLabIt commented on #1264
Well that's not a look and feel prob. In this case we need to show and populate other values as well, show totals as qty * price .. i'm not sure but looks like the EE grid view would work in that way.

[2019-04-29 09:27] pedrobaeza commented on #1264
I'm not able to visualize what you want.

[2019-04-29 09:41] GSLabIt commented on #1264
<img width="1273" alt="Schermata 2019-04-29 alle 11 37 46" src="https://user-images.githubusercontent.com/11652845/56888107-8d8b2300-6a73-11e9-9843-041b56ebee08.png">
does it make sense?

[2019-04-29 09:48] pedrobaeza commented on #1264
Uhm, not too much with this widget, as it's a mix of one2many tree view widget with 2D matrix widget. You can do it with 2D matrix, but you have to start mostly from scratch, needing to populate the rest of the fields, acting like a tree view, and so on.

I also find this a bit confusing from UI perspective, but that's a personal opinion.

[2019-04-29 09:51] GSLabIt commented on #1264
@pedrobaeza i do find a bit confusing as well .. but, you know, client want absolutely like this one ..

[2019-04-29 09:54] pedrobaeza commented on #1264
Well, it requires a deep knowledge of JS for creating and doing parametric that kind of widget. I'm not able to do it with my current skills. And even knowing enough, it will require a good budget for developing. Maybe that discourages your customer, hehe.

[2019-04-29 10:25] simahawk commented on #1264
I agree w/ Pedrio. Stay away from this solution if you don't want to go through a valley of pain :smile:
Maybe you have to re-think better on the problem you are trying to solve rather than thinking about a UI that looks nice to the customer :wink:

[2019-04-29 13:08] simahawk commented on #1067
@GSLabIt I think you've got the answer on  #1264  :)

[2019-04-29 13:09] simahawk commented on #1067
@jaronemo closing as you got the answer. Feel free to re-open if needed.

[2019-04-29 13:09] #1067 closed, assigned to nobody

[2019-04-29 14:23] GSLabIt commented on #1264
@pedrobaeza @simahawk Let's say client would like to invest 😬  ..do you know anyone who could develop it? thx

[2019-04-29 14:26] pedrobaeza commented on #1264
I'm afraid not, but you can write to contributors list to see if any contributor wants to do it. Just put as requirement that they contribute the development to OCA :wink:

[2019-04-29 14:33] GSLabIt commented on #1264
can u share email for contributor list? thx

[2019-04-29 14:39] pedrobaeza commented on #1264
contributors@odoo-community.org

[2019-04-29 14:40] GSLabIt commented on #1264
thx, will send an email ..hopefully some will answer 😬

[2019-04-30 05:02] edgarpaez commented on #1235
Hi @herohat.
I had the same issue. It was my .gitignore file that excludes the /lib directory. Delete that line from your .gitignore and it will work again.

[2019-05-01 13:20] Fdfyheryery opened #1267 "web_widget_timepicker setting date to 0:00 shows current time"
While using the 11.0 version of web_widget_timepicker, if I set my value to 0:00 it instantly get set to the current time instead of 0:00.

To replicate:
- Create a form with the timepicker
- Set minutes to 00
- Set hour to 0
The time shown should be your current time.

The issue seems to be coming from this line in **web_widget_timepicker.js:28**:
`var formatted_value = value ? this._formatClient

[2019-05-01 13:23] pedrobaeza commented on #1267
Can you propose a fix for this?

[2019-05-01 14:51] manuelpgs commented on #1235
Hi @edgarpaez you were totally right! It was in my .gitignore too.  Actually, I didn't realize that in my screenshot, there is a warning message with a yellow background telling me that can't load the file drawer.3.2.2.css in the path within the lib directory, and of course, there was also missing to load the js files.

Thank you for your advice.

[2019-05-01 22:36] Fdfyheryery commented on #1267
To make it work I've changed the two following lines:

**web_widget_timepicker.js:28**
Old:  `var formatted_value = value ? this._formatClient(value) : null;`
New: `var formatted_value = value != null ? this._formatClient(value) : null;`

**web_widget_timepicker.js:39**
Old:  `return value ? this._formatClient(value) : null;`
New: `return value != null ? this._formatClient(value) : null;`

[2019-05-02 07:24] yajo commented on #1262
I can reproduce on chrome on Android.

For now, as a workaround, use Firefox or do not use the search feature.

[2019-05-02 10:27] luandv1995 opened #1268 "[11.0] Web Widget Bokeh Chart. Bokeh 1.1.0"
Hi ALL,
I am using Web Widget Bokeh Chart (11.0) and Bokeh (0.12.7). I wish everyone to upgrade the bokeh library to 1.1.0.
Thanks All

[2019-05-02 10:30] pedrobaeza commented on #1268
If you are able to do it, please propose a PR.

[2019-05-02 10:43] luandv1995 commented on #1268
@pedrobaeza
I see https://github.com/OCA/web/pull/1222. It migrate success. can i take code to using v11?

[2019-05-02 10:49] luandv1995 commented on #1268
Sorry @pedrobaeza,
https://github.com/OCA/web/pull/1224
It used bokeh==1.0.4. I wish it to upgrade v11.

[2019-05-03 08:07] gaikaz commented on #1189
https://github.com/Tardo/web/commit/ac656d7499207a76db33f10bbe486ace91b12f91 fixed the sheet going under the sideded chatter, but chatter toolbars items getting misplaced (the described issue) problem is still there. Should this be re-opened as a new issue?

[2019-05-03 08:44] yajo commented on #1189
The fix is in a009528. If you see further problems please publish a new issue. Thanks!

[2019-05-03 09:27] gaikaz commented on #1189
Sorry to bother, but I double checked now on the runbot (and locally). The exact problem is still there.
Fresh screenshot from runbot:
![3367603-12-0-501adc runbot3 odoo-community org_web_debug=1](https://user-images.githubusercontent.com/17097810/57128357-d1e03100-6d9b-11e9-961b-2c819f5e24c9.png)

As this is not a different problem, I think it's best discussed here. If not, I can publish a new is

[2019-05-03 09:34] pedrobaeza commented on #1268
Sorry, but this is a voluntary effort and then you can contribute with the PR, but no possible to be done by other if there's no interest on that.

[2019-05-03 09:34] #1268 closed, assigned to nobody

[2019-05-03 11:07] yajo commented on #1189
OK, yes it seems the same. Then may you open the PR?

[2019-05-04 10:32] dek-odoo opened #1271 "web_widget_timepicker: not able to pass options="{'timeFormat': 'h:i A'}""
When we try something like

`<field name="time_from" widget="timepicker" options="{'timeFormat': 'h:i A'}"/>`

We get the following error

![image](https://user-images.githubusercontent.com/10609055/57177829-d54fe700-6e85-11e9-874c-3418ac3d28a7.png)

![image](https://user-images.githubusercontent.com/10609055/57177794-ac2f5680-6e85-11e9-8b99-5b6f26425140.png)

Thank you

[2019-05-04 10:34] dek-odoo commented on #1271
Here I am trying to have am/pm for selection as we can pass options that [jquery-timepicker](https://github.com//jonthornton//jquery-timepicker#timepicker-plugin-for-jquery) accepts.

[2019-05-04 11:19] dek-odoo commented on #1271
I fixed it with some workaround to pass value without am/pm in the string and in case of pm we add 12 (both of this applied if there is am/pm in string).

[2019-05-04 11:22] dek-odoo commented on #1271
@docmfried @smurf-U

[2019-05-04 13:50] Tardo commented on #1271
@dek-odoo web_widget_timepicker is based on "FloatTime"... It is not intended to reflect the hours of the day, but as a generic time meter.
Possibly you can use a formatted datetime field instead.

Anyway I'm going to do a PR to update the README

[2019-05-04 15:21] eilst opened #1273 "Make the widget work directly on one2many fields, without adding a new 'empty' field"
For web widget tale, add this feature: Make the widget work with many2many field. So in the data table, the selected fields related to this many2many field are displayed. But giving the possibility to include in the table fields on the current model different than the many2many field working with the widget.

"Is it possible to make the widget work directly on one2many fields, without adding a new

[2019-05-04 17:29] JonathanOsAlc commented on #1267
PR: #1274

[2019-05-05 09:22] pedrobaeza commented on #1273
As this module is not merge, please comment directly on the PR.

[2019-05-05 09:22] #1273 closed, assigned to nobody

[2019-05-06 21:53] TheDailySpank commented on #1052
```sudo /opt/bitnami/ctlscript.sh restart``` and a browser refresh worked for me.

[2019-05-06 21:53] TheDailySpank commented on #1045
```sudo /opt/bitnami/ctlscript.sh restart``` and a browser refresh worked for me.

[2019-05-08 07:23] PauliusP17 opened #1278 "[12.0] web_timeline: item orientation"
I'm using `web_timeline` to for my custom model and I need the items to start from the top rather than the default bottom ([the relevant example](http://visjs.org/examples/timeline/styling/axisOrientation.html)). You set the orientation by providing a string to the orientation parameter [(docs)](http://visjs.org/docs/timeline/#Configuration_Options).

I tried doing this by directly editing web_tim

[2019-05-08 07:26] pedrobaeza commented on #1278
Check how support for other options has been added in the past:

https://github.com/OCA/web/pull/1134

and try to imitate it (preferably with a PR here).

[2019-05-10 08:13] PauliusP17 commented on #1278
I actually think that the parameter works, but the first item is always a dash characater `-` which seems to be taking up all the space. Maybe I should open a different Issue regarding that.

[2019-05-10 08:15] pedrobaeza commented on #1278
or rename this one and add enough relevant details.

[2019-05-14 09:29] darshan-odoo commented on #1048
`web_widget_domain_editor_dialog` #1282

[2019-05-14 17:34] CasVissers-360ERP opened #1284 "[12.0] web_advanced_search contains returns False"
See video here;
https://drive.google.com/file/d/17nIxtRDpG_XZm8ydpZ8TeW6pCRiqFekZ/view
While using the constains option the search value is replaced by False.

[2019-05-14 17:37] pedrobaeza commented on #1284
@Yajo I remember this already happened

[2019-05-15 13:50] simmatica commented on #1227
in web_client.js replace
  this.call(
        'bus_service', 'on', 'notification',
         this, this.bus_notification);
with
  this.call('bus_service', 'onNotification', this, this.bus_notification);

also it is better if every notify_??? in res_users.py return True otherwise calling xmlrpc API return "cannot marshal None unless allow_none is enabled".

[2019-05-15 14:23] Gokulakannanaj commented on #1227
Hi, Thanks @simmatica . The code you have entered does not exist in web_client.js File.

[2019-05-15 14:30] simmatica commented on #1227
Look at web_notify/static/src/js/web_client.js row 34

[2019-05-15 16:41] GERINNOV commented on #1191
can you help me with method components came from?

[2019-05-20 11:01] Gokulakannanaj commented on #1227
Hi @simahawk  Sorry for a delayed response, That's also not working.

[2019-05-20 15:08] HviorForgeFlow commented on #1048
web_export_view has already been merged

[2019-05-27 13:05] LoisRForgeFlow opened #1292 "Travis issue with web_widget_timepicker"
Travis failing since https://github.com/OCA/web/commit/13ee27c23ad4289b0e66889b7b61f0c08e999f35.

[code]

see for instance: https://travis-ci.org/OCA/web/jobs/531100268#L1427

[2019-05-27 14:20] pedrobaeza commented on #1292
Fixed

[2019-05-27 14:20] #1292 closed, assigned to nobody

[2019-05-27 18:12] tbaden opened #1295 "[12.0] travis cleanup"
- [ ] web_listview_range_select
- [ ] web_edit_user_filter
- [ ] web_favicon
- [ ] web_tree_duplicate
- [ ] web_notify
- [ ] web_advanced_search
- [ ] web_dialog_size
- [ ] web_widget_many2many_tags_multi_selection
- [ ] web_export_view
- [ ] web_tree_dynamic_colored_field
- [ ] web_group_by_percentage
- [ ] web_timeline
- [ ] web_disable_export_group
- [ ] web_widget_image_download
- [ ] web_m2x_

[2019-05-28 13:35] CasVissers-360ERP commented on #1284
@Yajo
Is there anything I can do to help here? My JS knowledge is minimal, but the customers using the module keep spamming me :)

[2019-06-02 00:34] emagdalenaC2i commented on #739
Please, check web_drop_target - By @grindtildeath - #974 that is already merged

You can check and strikethrough web_hide_db_manager_link that is already include in Odoo 11

Please, check web_listview_invert_selection - By @MeetKD - #1004 that is already merged

Please, check web_widget_timepicker - By @Tardo - #1173 that is already merged

[2019-06-02 00:39] emagdalenaC2i commented on #1048
Please, check web_responsive - By @Yajo - #1066 that is already merged

Please, check web_tree_dynamic_colored_field - By @mreficent - #1223 that is already merged

[2019-06-04 10:45] MicheleZak opened #1299 "[web_widget_image_webcam] swfURL wrong if no debug=assets"
As anticipated in the title, I can make this widget work only if the debug assets mode is enabled.
Otherwise the swfURL property value inside the Webcam object is '/webcam.swf' instead of '/web_widget_image_webcam/static/src/js/webcam.swf'.

Any clue?
Thanks in advance

[2019-06-04 15:24] MicheleZak commented on #1299
PR   https://github.com/OCA/web/pull/1300

[2019-06-05 00:40] nogueira-raphael opened #1301 "[question][web_widget_many2many_tags_multi_selection] one2many fields"
Would not it be nice for the module to look at o2m-type fields as well?
I needed this functionality and changed the module so that it was also possible in o2m type fields.

[2019-06-05 08:05] pedrobaeza commented on #1301
one2many fields are totally different and the multi-selection is not something needed/desirable. How do you use it in a o2m?

[2019-06-08 05:26] agent-z28 commented on #1157
JS Base : https://cal-heatmap.com/
We Sponsored IT PROJECTS LLC to realize a first Version.
It looks as they did a pretty Good job
Pull Request is almost ready.
Now we need to get it oca compliant

[2019-06-08 05:42] agent-z28 commented on #1157
This is the repository https://github.com/it-projects-llc/addons-dev/pull/642

[2019-06-08 07:08] pedrobaeza commented on #1157
Are they going to do the pull request here?

[2019-06-08 07:16] agent-z28 commented on #1157
Thats the idea, i come back later with an answer. But at the end we will have a pull request here.

[2019-06-08 07:29] pedrobaeza commented on #1157
Great

[2019-06-10 10:11] GabbasovDinar commented on #1157
Hello @pedrobaeza @agenterp

Today I will send the PR with this module, I will be glad to any feedback and suggestions

[2019-06-10 10:18] pedrobaeza commented on #1157
Great, please include a sample.

[2019-06-19 02:11] dntq83 opened #1309 "[12.0] web_responsive: The icons on the dashboard are displayed disproportionately (In Google Chrome only)"
The icons on the dashboard are displayed disproportionately (In Google Chrome only)
![IconDasboard](https://user-images.githubusercontent.com/5275039/59731892-2703d380-9272-11e9-9324-1aa481756d70.jpg)

[2019-06-20 11:43] Tardo commented on #1309
Thanks @dntq83, this issue should be fixed on this WIP PR: https://github.com/OCA/web/pull/1305/
Concretely here: https://github.com/OCA/web/pull/1305/commits/f5a421f223660576f1bdf4dd7f8dcc8a4b790391#diff-7fb4a82b29100601ff8d920b1a553684L221

[2019-06-21 01:09] #1309 closed, assigned to Tardo

[2019-06-21 20:49] #1184 closed, assigned to nobody

[2019-06-25 10:19] CasVissers-360ERP commented on #1261
I can confirm this issue. Traceback:
`Uncaught Error: QWeb2 - template['web_edit_user_filter.Popover']: Runtime Error: TypeError: Cannot read property 'attrs' of null
https://customer.com/web/content/27834-713eac4/web.assets_common.js:3374
Traceback:
Error: QWeb2 - template['web_edit_user_filter.Popover']: Runtime Error: TypeError: Cannot read property 'attrs' of null
    at Object.exception (http

[2019-06-28 07:55] gaikaz commented on #1189
This can probably be closed now as it's fixed by #1305

[2019-06-28 07:56] pedrobaeza commented on #1189
Yes, thanks for the reminder.

[2019-06-28 07:56] #1189 closed, assigned to nobody

[2019-06-28 11:53] mfigueiredo-odoogap commented on #1048
Hi all I will start migrating the module web_group_expand to version 12.0

[2019-06-28 11:56] pedrobaeza commented on #1048
Great, noted!

[2019-07-02 07:54] aleexnl opened #1316 "[web_responsive] Odoo 12 app drawer bug"
In a 1920x1080p monitor (google chrome, windows 01)the app drawer isn't showing correctly; the app icons expand so much. Any idea why this happens?
![image](https://user-images.githubusercontent.com/50357555/60494589-6210f880-9caf-11e9-8f10-7194edb146ae.png)

[2019-07-02 07:55] pedrobaeza commented on #1316
This was fixed some weeks ago. Please update to latest code.

[2019-07-02 07:55] #1316 closed, assigned to nobody

[2019-07-02 13:53] redlabmedia opened #1317 "Web Responsive v11 chatter position choice not showing in user preferences"
I installed the Web Responsive v11 and do not see a choice for chatter position choice in user preferences.

[2019-07-02 13:54] pedrobaeza commented on #1317
You have to:

* Restart Odoo service.
* Update module in the database.
* Refresh without cache your browser.

[2019-07-02 13:54] #1317 closed, assigned to nobody

[2019-07-03 14:07] sbejaoui opened #1319 "[Question] - Add new operators to the standard advanced search"
Hi,
I wondering if there is an oca module module or some how to add new options to the standard advanced search.
I am looking for this operators to be available to any user:
- start with
- don't start with
- end with
- don't end with

![Capture d’écran de 2019-07-03 16-00-51](https://user-images.githubusercontent.com/12665409/60598078-5f47fd80-9dac-11e9-8301-44c3bdcac4e1.jpg)

cc/ @gva-acsone, @sb

[2019-07-03 15:06] pedrobaeza commented on #1319
Not exactly the same, but similar, is:

https://github.com/OCA/web/tree/10.0/web_advanced_search_wildcard

Another interesting related modules:

* https://github.com/OCA/web/tree/12.0/web_advanced_search for using domain widget for performing an advanced search in more visual mode (and this one complementing it: https://github.com/OCA/web/tree/12.0/web_widget_domain_editor_dialog).
* https://githu

[2019-07-04 13:22] nrdroque opened #1321 "[12.0] web_timeline: Installation for dummies"
Hi
Anyone has a step by step instalation guide por [12.0] web_timeline.
I have installed on the aplications, but i'm not able to see the clock icon on the project page.
Any help will be apreciated

[2019-07-04 15:04] pedrobaeza commented on #1321
You have to install `project_timeline` as well.

[2019-07-04 15:04] #1321 closed, assigned to nobody

[2019-07-04 22:03] josepmy opened #1322 "[12] Error installing web_widget_x2many_2d_matrix_example"
I'm on Odoo 12 CE. When install the module I get this error related to the non existence of file x2m.demo.csv

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/tools/safe_eval.py", line 350, in safe_eval
    return unsafe_eval(c, globals_dict, locals_dict)
  File "", line 1, in <module>
  File "<decorator-gen-61>", line 2, in button_immediate_install
  Fil

[2019-07-04 23:04] josepmy opened #1323 "[12] After install web modules error on all options"
Hi,

After install the web modules nothing work and each time I get this error.

Error: QWeb2: Template 'SearchView.addtodashboard' not found

http://88.99.170.219:8069/web/static/lib/qweb/qweb2.js:48
Rastreo de error:
exception@http://88.99.170.219:8069/web/static/lib/qweb/qweb2.js:48:19
_render@http://88.99.170.219:8069/web/static/lib/qweb/qweb2.js:482:35
render@http://88.99.170.219:8069/web/sta

[2019-07-05 05:25] simahawk commented on #1323
which modules? have you refreshed your cache?

[2019-07-05 05:28] simahawk commented on #1322
The file is here https://github.com/OCA/web/blob/12.0/web_widget_x2many_2d_matrix_example/demo/x2m.demo.csv

Judging from the error you have no demo user: are you installing it in demo mode? Otherwise, it won't work.
NOTE: is this somehow related to #1323  ?

[2019-07-05 05:28] #1322 closed, assigned to nobody

[2019-07-05 05:32] josepmy commented on #1322
Was a fresh install without demo data, after install it any action inside Odoo was possible so I recover an image and started again. How is the demo mode?

[2019-07-05 05:44] simahawk commented on #1322
then you have to enable demo data. Please, search the docs and the forum for more info.

[2019-07-05 06:47] josepmy commented on #1322
I’m new to odoo. What is the module to show a responsive UI?

[2019-07-05 06:48] josepmy commented on #1323
Cache from Browser? Yes

[2019-07-05 07:38] pedrobaeza commented on #1323
Sorry, but you have screwed up your installation because of the deployment method, and this is not the place for teaching you how to do it. You can check that the module is working in our OCA runbot.

[2019-07-05 07:38] #1323 closed, assigned to nobody

[2019-07-05 08:28] josepmy commented on #1323
Yes. Excuse. Where can I found docs about deploy OCA modules?

[2019-07-05 08:29] pedrobaeza commented on #1323
OCA modules are Odoo modules. They are deployed the same as the rest.

[2019-07-08 05:53] CasVissers-360ERP commented on #1261
@tarteo Any update here? I can help with reproducing if you want?

[2019-07-08 07:39] sbejaoui commented on #1319
Thank you @pedrobaeza ,
`web_advanced_search_wildcard`  it's what I am looking for. I think we may soon start its migration to 12.0 and we will decide how to implement the don't start/end with.

[2019-07-08 09:45] sbejaoui commented on #1319
The #1328 migrate the `web_advanced_search_wildcard` and add the two new options.

[2019-07-09 17:53] bunhin opened #1329 "[Question] [web_widget_x2many_2d_matrix] how to implement on 2 step wizard"
Hi,
I want to implement this web_widget_x2many_2d_matrix on 2 steps wizard for advanced stock transfer multi warehouse. The purpose is to create stock transfer from a warehouse to many other warehouses for some selected (filtered) products where the transfer quantity to each destination warehouse will be filled using [web_widget_x2many_2d_matrix]

On step 1, wizard  will  get input from user to se

[2019-07-09 17:57] pedrobaeza commented on #1329
Sorry, but these are generic questions about development, and you should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here, as this is an issue tracker.

Closing this by the reason above.

[2019-07-09 17:57] #1329 closed, assigned to nobody

[2019-07-09 17:59] bunhin commented on #1329
i see, thank you

[2019-07-10 09:44] sbejaoui commented on #1048
Hi all,
web_advanced_search_wildcard in #1326

[2019-07-11 07:57] tarteo commented on #1261
@CasVissers Nope, too busy.

[2019-07-12 08:53] rameshwordhakal opened #1331 "Any ways to open act window in popup with readonly form view?"
Reference Issue :  #314

My issue to similar to this. This issue is closed but, I can't get right answer for this question.

I am using Odoo 12.
I would love some suggestions and tricky ideas to solve this problem.

[2019-07-12 08:57] pedrobaeza commented on #1331
Sorry, but this is an issue tracker, not a question solver. The issue you are referencing was a discussion for implementing it.

[2019-07-12 08:57] #1331 closed, assigned to nobody

[2019-07-14 10:00] siyuancn opened #1332 "[12.0] [Question] [web_responsive] Redircet to app dashboard instead of index box?"
I installed the web_responsive for the version 12.0.

it will redirect to the index box after login.

I want to know how can set the homepage to the app dashboard instead of the index box ?

[2019-07-14 10:33] pedrobaeza commented on #1332
I don't get what "index box" means for you, but you can check in runbot (https://runbot.odoo-community.org/runbot/162/12.0), that it's redirected to homepage just the same as regular Odoo.

[2019-07-14 10:33] #1332 closed, assigned to nobody

[2019-07-15 15:52] bealdav opened #1333 "web_tree_dynamic_colored_field: override field"
Simple question:
Is it possible to use a similar override ? It seems no ! ?
[code]

ping @hbrunn @guewen
Thanks

[2019-07-15 16:10] pedrobaeza commented on #1333
Issue tracker shouldn't be used for this kind of questions IMO

[2019-07-15 16:22] bealdav commented on #1333
How to join people, then ?

[2019-07-15 16:29] pedrobaeza commented on #1333
For me contributors list is the medium for these things.

[2019-07-17 10:05] ShopNix commented on #1016
Tried to follow your advice, but have no success. Neither by command line nor by web interface.
I tried to upgrade from  v 11.0.1.0.2 to 11.0.2.0.3

Any more advice for a newbie?

[2019-07-17 10:36] lijoantony commented on #1105
Use `&apos;` instead of `&quot;`.
`&apos;` stands for apostrophe or single-quote character (')

[2019-07-17 11:10] sudhir-erpharbor commented on #1105
Does not matter. Nothing works. Just try that your own on runbot or on your machine as per my example and check if that really works or not.

I am wondering why no-one has this issue yet.

[2019-07-17 12:50] viandanteoscuro opened #1335 "[web_widget_color_tree_field] Field bg color based on var value"
module: web_widget_color_tree_field
version: 8.0

How i can specify multiple bg_color based on specific field value?

I have a fiend "spedizione" that cas assume values like 1,2,3

So... for 1 i want ti display red bg color, for 2 orange and so on...

[code]

I want achieve this but in only one field column... to avoid column duplication.

Can i achieve this?

[2019-07-17 13:45] pedrobaeza commented on #1335
I suppose that you have to put one field with all the values split by `;`, but these kind of questions must be done on forum or mailing lists, not here in the issue tracker that is for bugs or debating RFCs.

[2019-07-17 13:45] #1335 closed, assigned to nobody

[2019-07-18 07:07] lijoantony commented on #1105
This does work for me.

`<field name="state" options='{"bg_color": "red: state == &apos;free&apos;"}'/>`

[2019-07-23 12:49] t-sq1 commented on #1048
Hi all, why is web_widget_datepicker_options not needed anymore in v12?
Thanks!!

[2019-07-24 07:06] yajo commented on #1048
Because Odoo merged https://github.com/odoo/odoo/pull/25044.

[2019-07-28 07:18] darshan-odoo commented on #1235
@herohat That's right, the files in /lib directory was getting ignored. Removing it does resolve the issue, thanks!

![image](https://user-images.githubusercontent.com/42735016/62003510-c6e83300-b135-11e9-8b10-454b6f92640f.png)

[2019-08-02 06:32] SimonasTr opened #1344 "Set theme mobile only"
web-responsibe would be used only in mobile.

[2019-08-02 07:34] ketra21 commented on #525
hi,I am newer in superset,and want to creat a sparkline table on it,do you have any suggest?

[2019-08-02 08:12] pedrobaeza commented on #1344
I don't get you.

[2019-08-21 09:08] ahmad-mushtaq commented on #1045
Restarting the odoo service worked for me.

On my ubuntu server I used the following command:

sudo service odoo11 restart

your's might be different command based on your installation

[2019-08-22 06:11] CasVissers-360ERP commented on #1284
Another issue in the module:
https://drive.google.com/file/d/1owTaxeu5pjdEHliFq0CC0D-Op07Qe9ZJ/view

When using contains for example when searching accounts which have a number in it the name it actually searches for ID. This is really confusing for end-users.

[2019-08-26 14:01] KKamaa opened #1358 "Reload functionality in web_timeline"
Hey guys I noticed while using **web_timeline v8** the reload functionality is not immediate. Within the timeline dates are update well in records, but if you were to add a button then use the button to align a selected group of items in the timeline it is not reflected by button click. If I use **reload()**,
I have to click twice to get the timeline content reloaded after I change values in db. C

[2019-08-27 06:49] smurf-U opened #1359 "[12.0] web_export_view"
Error:
Uncaught Error: QWeb2: Template 'WebExportTreeViewXls' not found

http://localhost:8069/web/content/505-b19e372/web.assets_common.js:3374
Traceback:
Error: QWeb2: Template 'WebExportTreeViewXls' not found
    at Object.exception (http://localhost:8069/web/content/505-b19e372/web.assets_common.js:3374:7)
    at Engine._render (http://localhost:8069/web/content/505-b19e372/web.assets_common.j

[2019-08-27 07:23] pedrobaeza commented on #1359
Steps to reproduce in OCA runbot?

[2019-08-28 04:25] enzymz opened #1360 "I can't pick color"
module: web_timeline
version: 12.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2019-08-28 07:37] pedrobaeza commented on #1360
Steps to reproduce the problem?

[2019-08-29 14:49] mastrobirraio commented on #1360
I have the same problem.
I've downloaded the widget directory inside my extra-addons directory, I've followed the procedure of README, but when I open the form to create a model I don't see the picker. Where I've wrong?

[2019-08-29 15:00] pedrobaeza commented on #1360
Which picker? There's no color picker in web_timeline. Closing as not enough information.

[2019-08-29 15:00] #1360 closed, assigned to nobody

[2019-09-04 09:33] yajo commented on #1016
Try to uninstall it and install it again.

[2019-09-05 10:17] AdriaGForgeFlow commented on #1228
Closing, solved here #1305

[2019-09-05 10:17] #1228 closed, assigned to nobody

[2019-09-05 10:23] LoisRForgeFlow opened #1363 "[12.0] web_responsive: not able to see long char fields"
For example if you have a very long name in a product, with web_responsive you see a first line and a ellipsis (meaning that part of the text is hidden), when you click on it to be able to read the whole text it is impossible because it immediately gets hidden again.

![web_responsive_long_name](https://user-images.githubusercontent.com/23449160/64333803-a97d7300-cfd7-11e9-8ced-0dc21de1062f.gif)

[2019-09-05 11:43] Tardo commented on #1363
This is done in CSS and shows all the content while you keep the click. This is good because doesn't need javascript, but maybe it's a bit confusing...

https://github.com/OCA/web/blob/12.0/web_responsive/static/src/css/web_responsive.scss#L353

[2019-09-05 11:44] pedrobaeza commented on #1363
Maybe an explanation in the README?

[2019-09-05 17:13] norlinhenrik opened #1365 "[web_widget_x2many_2d_matrix] Select value from selection or from many2one"
I would like to select a value from a drop-down list instead of typing a value.
- If field_value is a selection field, show selection drop-down list.
- If field_value is a many2one field, show many2one drop-down list. Dynamic domain based on the values of field_x_axis and field_y_axis.

@hbrunn @pedrobaeza @simahawk @tschanzt @Yajo @tarteo @alexey-pelykh
I see that you are contributors for [web_wi

[2019-09-05 21:31] hbrunn commented on #1365
did you actually try to just stick in a selection field there? To my knowledge, since v11 we just have the framework render the appropriate widget for the field type, so I'd expect this to work already. The dynamic domain also might fall out of this machinery already.

[2019-09-05 21:35] hbrunn commented on #1365
PS: If this works for you, please PR an amendment to the readme saying something to that effect so that others won't have the same doubts as you have

[2019-09-06 13:04] LoisRForgeFlow commented on #1363
I see, that was not intuitive for me, sorry, it is actually not that bad as you can even copy the full name without any problem if you click the beginning and drag until the end. However, let me ask: do you think this is better than showing everything in several lines (default Odoo without web_responsive)?

[2019-09-06 13:06] LoisRForgeFlow commented on #1363
Another idea, can't you add to that css for oe_title a wider width by default?, because since the form view is expanded it is very common that you waste a lot of space to the right of the name. Maybe not the most efficient, but to give you an idea, for me "width: 70%;" at oe_title works really good.

[2019-09-06 13:58] pedrobaeza commented on #1363
Don't forget that this is for having a mobile proper responsive view, so -1 for increasing unconditionally the width, but if possible depending on the screen width, then ok

[2019-09-06 14:37] Tardo commented on #1363
This is the default behavior (without web_responsive):
-- Product Form:
![2019-09-06-162258_1920x1080_scrot](https://user-images.githubusercontent.com/731270/64435631-1f123d80-d0c3-11e9-8cc7-7fd739d2ac75.png)

-- Project Task Form:
![2019-09-06-162321_1920x1080_scrot](https://user-images.githubusercontent.com/731270/64435665-2d605980-d0c3-11e9-872c-fcf12dd3ddaf.png)

---
_With web_responsive_

--

[2019-09-06 19:54] awa-si opened #1366 "web_company_color init issue for first use"
Please change a code for func: _scss_get_sanitized_values() like this. It will generate in right way

`    @api.multi
    def _scss_get_sanitized_values(self):
        self.ensure_one()
        values = dict(self.company_colors)
        values['color_navbar_text'] = self.color_navbar_text or '#FFF'
        values['color_navbar_bg'] = self.color_navbar_bg or '$o-brand-odoo'
        values['color_na

[2019-09-07 01:20] Tardo commented on #1366
Please, can you explain the issue?

[2019-09-07 07:04] awa-si commented on #1366
Yes, sure. When you install a module it creates a empty field in database, and if you try to update a  empty dict from dict(self.company_colors)  with selected key it throws a key error. Wrote a func like that it creates key:value or updates existing one.

[2019-09-07 15:29] Tardo commented on #1366
Thanks for report @awwea hope be fixed in the referenced pr

[2019-09-08 15:59] ghost commented on #1365
@hbrunn thanks for your suggestions and for the help wanted label.

[https://github.com/OCA/web/blob/12.0/web_widget_x2many_2d_matrix_example/models/x2m_demo.py#L34](https://github.com/OCA/web/blob/12.0/web_widget_x2many_2d_matrix_example/models/x2m_demo.py#L34)
Changing the value to type `selection` or `many2one` results in the same error below on clicking the button `Try x2m 2d matrix`.

Error:

[2019-09-08 17:13] hbrunn commented on #1365
as I didn't do the port myself I'd have to dig in the code myself to see what's going on here, so let's see if somebody else can help here from the top off their heads. Might be a bug or you didn't fill the widget with the expected values. You should however post a log in debug mode to get a helpful backtrace

[2019-09-09 07:48] yajo commented on #1365
AFAIK this is not supported, and I'm not sure it's possible. I don't remember the code fine, so I'm just guessing, but if the name of the field includes the `x2many` word, it probably means that there's something intrinsic to x2m fields required by this widget.

[2019-09-09 07:58] hbrunn commented on #1365
that's to designate the type of field the widget operates on, not what kind of field it displays within the matrix. I base my assumption it should work for any field type on https://github.com/OCA/web/blob/12.0/web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js#L306-L309 which looks pretty much like being able to deal with any kind of field to me

[2019-09-09 08:02] yajo commented on #1365
hmm ok it could be.

[2019-09-09 15:30] pedrobaeza commented on #1363
70% is for having room for smart-buttons box. Not sure about putting this at 100%, as it will mean always 2 lines at least (and with a lot of smart-buttons, it will mean a lot). Please try in res.partner with a lot of installed modules (like in runbot) to see.

[2019-09-10 07:07] #1366 closed, assigned to nobody

[2019-09-10 08:10] LoisRForgeFlow commented on #1363
Yes, I don't know which would it be the best option, just pointing out that there is much room between the name and smarts buttons and I think it would be good to use it.

Exactly, it is kind of random but the goal was to left space for a plenty-of-buttons button box.

[2019-09-10 08:16] pedrobaeza commented on #1363
Please read my last comment about my guess about why that 70%

[2019-09-10 15:59] norlinhenrik commented on #1365
There are no errors in the server log.
This time I got another client error:

[many2one - Try x2m 2d matrix - ERROR.txt](https://github.com/OCA/web/files/3596602/many2one.-.Try.x2m.2d.matrix.-.ERROR.txt)

[2019-09-10 18:49] RishabhJadia opened #1370 "Issue of Home page and app side bar"
When we login, it goes to sidebar app menu rather it should show home page just like enterprise. Another issue is when I am on home screen and click outside app icon it open existing rendered page as shown in the video.
https://drive.google.com/file/d/1IwVj14H2Ipc12GZJc9vriD5LiTGM4Ynd/view

Thanks,
Rishabh Jadia

[2019-09-10 21:35] pedrobaeza commented on #1370
Which module? Which version? Looking at the video, backend module is not OCA, so closing meanwhile.

[2019-09-10 21:35] #1370 closed, assigned to nobody

[2019-09-11 03:06] RishabhJadia commented on #1370
@pedrobaeza  @Tardo Module is web responsive and version is 12.0. home page background is changed by me but its a oca module. Kindly, find the attachment.
![Screenshot_2019-09-11-08-31-59-245_com android chrome](https://user-images.githubusercontent.com/26570284/64665180-41171180-d46f-11e9-8d09-474a85c48109.png)

[2019-09-11 07:33] pedrobaeza commented on #1370
Sorry, but web_responsive doesn't have "sidebar app menu", so it's not the OCA module, but something else. If you touch something, you are the responsible of making it work, or if there's another module, the responsible is that module. Unless the problem is shown with vanilla module (check in runbot), you can't publish an issue here.

[2019-09-12 12:27] Bart-DCBO opened #1372 "[web_timeline] Weekend zoom bug"
![timeline_bug](https://user-images.githubusercontent.com/48516635/64783264-b108c300-d567-11e9-9ef7-f0466db19f55.PNG)
![timeline_bug_2](https://user-images.githubusercontent.com/48516635/64783265-b108c300-d567-11e9-91da-93bfd4c2847b.PNG)

When changing the zoom, at some point the grid will group 2 days together.
As you can see at Task 4 and Task 9, due to this grouping the weekend seems to move. T

[2019-09-12 12:28] pedrobaeza commented on #1372
This seems something of vis timeline JS, not of the module itself.

[2019-09-15 04:32] hbrunn commented on #1365
You need to turn off column and row totals, those don't make sense for non-numeric fields anyways. I added detecting this and setting the default value of this options in the [PR](https://github.com/OCA/web/pull/1373) linked above, there I also added matrices with a selection and a many2one field to prove the point - what you ask for already works.

Next time you're asked for a debug log when java

[2019-09-15 09:16] norlinhenrik commented on #1365
@hbrunn thank you so much - I really appreciate your help! :) I just checked out the website for Unicef, and I will give a donation (the service was unavailable right now...)

[2019-09-16 09:43] #1365 closed, assigned to nobody

[2019-09-17 07:02] Schizarede opened #1374 "2d Matrix"
module: web_widget_x2many_2d_matrix_example
version: 12.0
How can I use the module that you created in odoo 10 since there is no version for odoo 10 to be installed

[2019-09-17 07:12] pedrobaeza commented on #1374
The version for v10 is in https://github.com/OCA/web/tree/10.0/web_widget_x2many_2d_matrix

[2019-09-17 07:12] #1374 closed, assigned to nobody

[2019-09-17 11:43] BT-fgarbely commented on #1048
Hi @mfigueiredo-odoogap

What is the state regarding the migration of web_group_expand for v12?

Best regards,

[2019-09-18 06:43] m5-project opened #1376 "why? web_m2x_options.done is not a function???"
What should I do?

![111](https://user-images.githubusercontent.com/42757810/65121839-7351e180-da22-11e9-8a55-d3a7c3a76150.png)

[2019-09-18 07:17] pedrobaeza commented on #1376
Try on OCA runbot if it's correctly working. You are not even indicating Odoo version, steps to reproduce, etc.

[2019-09-18 07:22] m5-project commented on #1376
Odoo version 13.0alpha1
On a simplement installé des options web m2x dans odoo.

[2019-09-18 07:23] 718981206 commented on #1376
Bien que mon anglais soit mauvais, je vous remercie pour votre réponse

[2019-09-18 07:24] m5-project commented on #1376
Although my English is poor, thank you for your reply

[2019-09-18 07:25] pedrobaeza commented on #1376
Really? The module is not migrated to v13, so that's something expected. Please report problems with current migrated versions.

[2019-09-18 07:25] #1376 closed, assigned to nobody

[2019-09-25 07:56] LoisRForgeFlow opened #1379 "[12.0] web_responsive: smart buttons drop down issue when clicking twice to expand"
When you have a lot of smart buttons and they are hidden in the "more" button, you can see that it displays differently comparing the first time you click and the second (if you collapse and expand again).

![web_responsive-smart-button-issue](https://user-images.githubusercontent.com/23449160/65580820-ac3a0b00-df7a-11e9-9e84-692d2bc24832.gif)

[2019-09-26 14:52] bryannahabwe opened #1381 "Adding support for forms on web_action_conditionable in version 12"
Is it possible to add web action condition for form view using the web action conditionable in version 12?
And also the module is still complaining about the web.View dependency when you install for version 12.
Then when the i add (delete="state==draft") on a tree view, it return ( Unexpected token s in JSON at position 0) when i try to open the module tree view.
Thank you

[2019-09-27 08:52] tarteo opened #1383 "[12.0][web_widget_color] Required not working and deviation from Odoo look"
The field is not width 100% like other fields:

![image](https://user-images.githubusercontent.com/10028499/65756135-be4fb100-e114-11e9-98b1-5164ba799998.png)

If the field is not required you're not able to put nothing in the field.

[2019-09-27 11:32] #1379 closed, assigned to Tardo

[2019-09-27 18:36] samnimri opened #1387 "[12.0] web_widget_x2many_2d_matrix gives error on mobile/responsive"
@hbrunn

1) right click on a browser chrome/firefox etc. and click "inspect element"
2) click on phone icon to switch to responsive mode
3) open a form which uses web_widget_x2many_2d_matrix and you get error

observable in runbot....

[2019-09-28 05:42] hbrunn commented on #1387
the problem here is that the widget is to be displayed in kanban mode, which is not supported. You can force displaying it in list mode with `mode="list"` to make it render, but you'll have to invest some work to make it display something that's actually responsive.

[2019-09-28 14:53] aitlamsali commented on #1149
Hello any update about this, still waiting, thank you very much!

[2019-09-29 21:51] OCA-git-bot opened #1388 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] web_action_conditionable - By @sudhir-erpharbor - #1395
- [ ] web_advanced_search
- [x] web_chatter_position - By @SergiCForgeFlow - #2569
- [x] web_company_color - By @Tardo - #1568
- [x] web_decimal_numpad_dot - By @emagdalenaC2i - #1402
- [x] web_dialog_size - By @sudhir-erpharbor - #1394

[2019-09-30 07:58] lembregtse commented on #1388
Will be working on migration of web_environment_ribbon

PR: https://github.com/OCA/web/pull/1389

[2019-09-30 09:20] CasVissers-360ERP commented on #1387
I can confirm this bug. Customer reported it because a user was trying to create a timesheet from a mobile device.

@hbrunn how can I force mode="list"?

[2019-09-30 09:24] hbrunn commented on #1387
for now, set the attribute on the field in the view. This should be set in the constructor of the widget class  as a workaround, but for a proper fix first somebody should specify what `responsive` means for a matrix (I wouldn't know), and implement that.

[2019-09-30 14:09] rven commented on #1388
Migration of web_export_view is not needed, available in Odoo community by default.

[2019-10-01 09:47] Tardo commented on #1363
Yeah 70% looks better:
![long_title](https://user-images.githubusercontent.com/731270/65951290-1271d280-e440-11e9-9d91-81229b7a4b71.gif)

With 100%:
![2019-10-01-114109_1920x1080_scrot](https://user-images.githubusercontent.com/731270/65951496-75fc0000-e440-11e9-8420-00d9b67e3216.png)

[2019-10-01 09:49] pedrobaeza commented on #1363
So then nothing to do I guess?

[2019-10-01 09:52] Tardo commented on #1363
Change oe_title to use 70% instead of use fixed 400px

[2019-10-01 09:53] pedrobaeza commented on #1363
Ah, OK. Maybe it needs a minimum width also?

[2019-10-01 14:49] Tardo commented on #1363
Ok, i finally use other rule, check it here: https://github.com/OCA/web/pull/1391

[2019-10-01 17:14] samnimri commented on #1387
thanks @hbrunn . It should at least show something other than error. It could be something non-responsive.

[2019-10-02 12:59] jeroenev commented on #1388
working on web_m2x_options https://github.com/OCA/web/pull/1392

[2019-10-04 10:52] sudhir-erpharbor commented on #1388
Working on web_dialog_size #1394

[2019-10-05 06:00] sudhir-erpharbor commented on #1388
Working on web_action_conditionable #1395

[2019-10-09 13:58] voronind opened #1399 "[10.0] Don't work help_online after install"
On loading page I get
[code]

Werkzeug version is 0.15.6

[2019-10-09 14:01] voronind commented on #1388
AFAIK, web_tree_many2one_clickable is not needed in 11.0+

[2019-10-09 17:39] rven commented on #1388
@voronind

I think it is still needed, you cannot directly open a many2one from the tree view

[2019-10-10 07:33] pedrobaeza commented on #1388
Yes, I think the same

[2019-10-10 07:38] pedrobaeza commented on #1399
Have you tried on OCA runbot?

[2019-10-10 22:53] pedrobaeza commented on #1387
@Tardo can you take a look to this?

[2019-10-12 20:55] emagdalenaC2i commented on #1388
web_decimal_numpad_dot #1402

[2019-10-12 22:44] #1387 closed, assigned to nobody

[2019-10-14 12:36] OpenCode opened #1405 "[12.0] Very important! Impossible to open form or kanban views of apps and configurations"
After this commit https://github.com/OCA/web/commit/10971ad68e5115e4f19093f1fc1833d8150e3a81, it's impossible to open configuration and apps views (kanban e form)

It's possibileto try it on runbot, too.

Go to Apps, this is the error:

[code]

Go to Settings -> General Settings, this is the error:

[code]

[2019-10-14 12:43] warp10 commented on #1405
I can confirm the bug. Reverting the commit 10971ad fixes it.

[2019-10-15 06:40] peterjohn2929 opened #1406 "[10.0]help how to set the maximum value of the user input in the matrix"
how can I **limit the user inputted value** for example if I get the **sum** of the **row** in **one column** in the matrix it shouldn't be greater than 100, so when the user try to update the value in that row an error will show, please give me idea how can I modify the JavaScript so it can suit my project needs thank you

[2019-10-15 10:17] pedrobaeza commented on #1405
This was reverted yesterday in 3f07f00ef2335195fce5c9e50ab7b194ef9c17cc

[2019-10-15 10:17] #1405 closed, assigned to nobody

[2019-10-16 12:45] emagdalenaC2i commented on #1388
Please, mark web_decimal_numpad_dot as merged

[2019-10-16 13:12] tarteo commented on #1372
This is something of visjs and is not a bug.

[2019-10-16 13:12] #1372 closed, assigned to nobody

[2019-10-16 13:37] tarteo opened #1408 "[12.0] web_timeline: Loads all records"
Currently timeline loads all items and not of the current window. This can be avoided by creating a simple domain which filters old / irrelevant records. But it would be nicer if it only loads records based on the current window of the timeline.

[2019-10-17 08:14] Martronic-SA commented on #1048
@pedrobaeza I think web_listview_invert_selection is missing in the migration list?

[2019-10-17 08:41] pedrobaeza commented on #1408
Yeah, any idea how to do it?

[2019-10-17 09:20] Martronic-SA commented on #1048
th PR for web_listview_invert_selection is here https://github.com/OCA/web/pull/1412

[2019-10-17 13:19] Martronic-SA commented on #1048
@pedrobaeza please update PR 1410 with 1412 (sorry for the mess with committers!)

[2019-10-17 13:21] tarteo commented on #1408
Not really atm. I think a refactor of this module is needed before this is fixable.

[2019-10-21 15:18] ammarofficewla commented on #1388
web_widget_color #1416

[2019-10-21 19:08] ammarofficewla commented on #1388
web_disable_export_group #1417

[2019-10-22 06:38] CasVissers-360ERP commented on #1387
@Tardo @pedrobaeza
Think this should be re-opened. Still facing issue:
https://drive.google.com/file/d/1Lc4Vu0OTE20uFKZTnkaeS8ULuznWPuWv/view

[2019-10-22 06:40] CasVissers-360ERP commented on #1387
Sorry just found the PR #1404 but still ticket should be open.

[2019-10-22 07:12] pedrobaeza commented on #1387
Having an opened PR is enough, not an issue and a PR.

[2019-10-22 15:09] 3piece opened #1418 "Error thrown when using date filters in search bar."
module: web_edit_user_filter
version: 12.0

**Steps to reproduce**
Create a filter for the search bar, i.e.
in Calendar list view, edit the search view and place in the following filter:
                <field name="start" string="start" filter_domain="[('start','&gt;',self)]"/>
Regenerate asset bundles.
Start to enter a date in the search bar "01", press enter,
Error is thrown.
- ...

**Current b

[2019-10-25 14:12] MohsenWaleed opened #1420 "[11.0] web_responsive issue after installing it on Odoo 11 docker on windows 10"
I have installed docker desktop on windows 10 and Odoo 11 is working without any issue, I have added web_responsive into /mnt/extra-addons folder trough mounted folder on the host and once I installed the module, it's installed but I got the below error and the layout of the odoo page is not working. I tried to restart odoo and postgress instances but the error still raising:

How can I solve it?

[2019-10-25 14:30] MohsenWaleed commented on #1420
I have solved it, there is extra character in main.less file in my version of web_responsive

[2019-10-25 14:30] #1420 closed, assigned to nobody

[2019-10-29 07:15] CasVissers-360ERP commented on #1284
Bump..

[2019-10-29 08:26] pedrobaeza commented on #1284
@CasVissers sorry, but this is not impacting us right now and we don't have time for checking it nor fixing it.

[2019-11-04 06:56] hongquanvn1998 opened #1424 "How to use ckeditor 4.x widget in odoo 12"
How to call ckeditor  in odoo 12 ? please help me
Thank all

[2019-11-04 08:26] simahawk commented on #1424
AFAIS last supported version is 10.0 https://github.com/OCA/web/tree/10.0/web_ckeditor4
You can migrate it yourself and open a PR or ask/pay an OCA dev/consultant/company to do it.

[2019-11-04 08:26] #1424 closed, assigned to nobody

[2019-11-05 08:18] herawais opened #1427 "[12.0] [web_tree_dynamic_colored_field] color not being applied based on STRING condition"
I applied a condition but it is not working.
**myfield2** is **Many2one** field
`<field name="my_field1" options='{"bg_color": "red: myfield2 == some_text"}'/>`

[2019-11-05 11:21] herawais commented on #1427
I solved the issue by applying **`&apos; `→ ' (apostrophe, U+0027)** sign along with string
like
`<field name="my_field1" options='{"bg_color": "red: myfield2 == &apos;some_text&apos;"}'/>`

[2019-11-05 11:21] #1427 closed, assigned to nobody

[2019-11-05 11:39] meigallodixital commented on #1359
The steps to reproduce is to install it and enter any view with view_type = list. We have tested it with hr.employe or hr.attendance and the error is fail. It gives error but the view if it is correct in background. All modules are updated.

[2019-11-05 11:43] pedrobaeza commented on #1359
Have you tried on OCA runbot?

[2019-11-05 12:34] meigallodixital commented on #1359
On runbot (https://runbot.odoo-community.org/runbot/162/12.0) works ok :\
I remove folder from addons and clone from github, and works too.

This issue can be close. Thanks :)

[2019-11-05 13:21] pedrobaeza commented on #1359
Yes, that's what I supposed.

[2019-11-05 13:21] #1359 closed, assigned to nobody

[2019-11-11 19:33] Laurent-Corron commented on #1388
web_domain_field (from [10.0](https://github.com/OCA/web/tree/10.0/web_domain_field)) #1434

[2019-11-12 15:27] mileo opened #1435 "[web_responsive] Display the menu when logging in instead of the communications module."
Display the menu when logging in instead of the communications module.

[2019-11-12 15:28] pedrobaeza commented on #1435
I don't get what do you mean

[2019-11-12 17:04] mileo commented on #1435
When a user first accesses odoo, they may not yet have been introduced to the system interface.

So it's much more intuitive to display the application menu than the discuss module.

![image](https://user-images.githubusercontent.com/1975978/68692906-0f94f200-0555-11ea-8df9-d7d94a0fca68.png)

with web_responsive we don't have a home screen like enterprise:

![image](https://user-images.githubuserc

[2019-11-12 17:06] pedrobaeza commented on #1435
@Yajo @Tardo what do you think?

[2019-11-12 17:55] Tardo commented on #1435
Since you can see unread messages from systray icon i see this suggestion a good improvement.

But is not a trivial change.

[2019-11-13 08:17] yajo commented on #1435
`web_enterprise` has a specific screen for the apps selection, but `web_responsive` just extends the dropdown to make it fullscreen and behave similarly.

I consider `web_enterprise`'s approach better. One obvious advantage is that when you are using the website and hit the apps menu, you get to the same familiar screen, instead of having 2 different UIs as we have now. Another obvious advantage i

[2019-11-14 14:54] Laurent-Corron commented on #1388
web_notify #1437

[2019-11-15 06:17] amachu commented on #1435
What to do in web_responsive module v 12, if we have to Land users to the icons list instead of first menu in the order?

[2019-11-15 08:27] pedrobaeza commented on #1435
@amachu as said, it's difficult to be developed due to the architecture, so there's nothing you can do for that unless you develop it.

[2019-11-20 21:56] eguane opened #1444 "web_responsive mobile display"
Hi, when trying to add a new reception manually into inventory menu, it's possible to create a new one but impossible to add product line.
Add new line option is not present when on mobile display with chrome browser.
In my example I try to add a new reception directly in inventory menu without purchase order picking list.
Odoo 12 / android mobile scanner / chrome.
Thanks

[2019-11-20 22:17] pedrobaeza commented on #1444
Try on runbot and put screenshots. Any way, this sounds as there's no kanban view there, which is not something of web_responsive itself.

[2019-11-20 23:05] eguane commented on #1444
it's probably because I modified the default view in invoice and product to be list and not kanban then the list view is inherited for receipt and diplayed without the add line.
![image](https://user-images.githubusercontent.com/35990301/69285495-55a32300-0bf1-11ea-95f4-f2d2ed2e9c00.png)

[2019-11-20 23:46] pedrobaeza commented on #1444
Then you have your answer :wink:

Provide a kanban view for that and you will see something in mobile.

[2019-11-20 23:46] #1444 closed, assigned to nobody

[2019-11-21 15:18] pedrocs-exo opened #1446 "[web_timeline] Can't change colors"
Hi,

I can't change the color of project tasks no matter what I change on the colors attribute of the timeline tag. Can someone please confirm? I happens on both 10.0 and 12.0.

For example, I was expecting red bars with the following mod:
colors="#ff0000: user_id==false; #ff0000: user_id==true;"

Thank you!

[2019-11-28 23:12] eguane opened #1453 "[web_responsive] v12.0.1.3.4 search windows"
Well, maybe it's better to open a new window when searching with a mobile screen, but I really don't like the new way when I'am behind my computer with full screen and always necessary to switch between search windows and the result. For my point of view, really not user friendly.

[2019-11-29 01:10] pedrobaeza commented on #1453
That only happens on mobile, so you should check your computer how is reporting to the window its size.

Closing as no issue.

[2019-11-29 01:10] #1453 closed, assigned to nobody

[2019-11-29 06:33] eguane commented on #1453
Well, i'am on Ubuntu with chromium and Never see this type of issue.

Le ven. 29 nov. 2019 à 02:10, Pedro M. Baeza <notifications@github.com> a
écrit :

[2019-11-30 10:20] eguane commented on #1444
Pedro, for you information, it was necessary to update stock module to
retrieve it back functionning well.
Maybe because I have installed web responsive after stock module or not...
!

Thanks for your help

Le jeu. 21 nov. 2019 à 00:46, Pedro M. Baeza <notifications@github.com> a
écrit :

[2019-11-30 12:34] pedrobaeza commented on #1444
Good to know. Update a module restores standard things that have been touched.

[2019-12-03 18:59] pedrobaeza opened #1455 "[12.0] web_responsive: Bad z-index on form header"
See the image for observing the problem:

![Selección_038](https://user-images.githubusercontent.com/7165771/70080771-77e06c00-1607-11ea-862d-8bdf514dc6b6.png)

[2019-12-04 15:40] #1455 closed, assigned to Tardo

[2019-12-10 03:56] COSTLAND commented on #1388
[web_search_with_and](https://github.com/OCA/web/pull/1203) need on the list?

[2019-12-10 12:57] JayVora-SerpentCS opened #1459 "Module credits missing since v9"
Hello Team,

https://github.com/OCA/web/tree/9.0/web_action_conditionable This modules' credits have lost the real credit track since v9.

https://github.com/OCA/web/tree/8.0/web_action_conditionable has it well credited.

Can we please get it corrected?

Thanks.
Cc: @pedrobaeza @ovnicraft

[2019-12-10 13:03] pedrobaeza commented on #1459
I don't see any contribution from Onestein in 9.0 version.

[2019-12-10 16:13] JayVora-SerpentCS commented on #1459
I was under an impression that we carry the credits :
1. Of the initial developer
2. Of the Sponsor specially

Thanks.

[2019-12-10 16:15] pedrobaeza commented on #1459
You must see in which moment Onestein started to be credited in 8.0 branch. Was it after the 9.0 migration? I don't know even if it deserves to be there (as the module exists, how many changes they did for being there?)

[2019-12-10 16:19] JayVora-SerpentCS commented on #1459
not sure, its post 9.0.
IMHO, sponsor name must be kept missed!
https://github.com/OCA/web/blob/8.0/web_action_conditionable/README.rst#id5

[2019-12-10 16:30] pedrobaeza commented on #1459
Well, if you think it's incorrect, do the proper PR. Any way, these versions are very old, so you should go to the latest available version for that.

[2019-12-10 16:38] #1459 closed, assigned to nobody

[2019-12-11 09:08] ovnicraft commented on #1459
@JayVora-SerpentCS i wrote `web_action_conditionable` for v8.0 but i lost track on it.
commits can help us :-)

[2019-12-16 18:43] DudhatShivam commented on #1333
Hello,
I try to give 2 conditions but not working perfectly
how can I solve this things

![Inventory Report - Odoo (4)](https://user-images.githubusercontent.com/10597339/70933531-29e55280-2062-11ea-9062-f7010ee21d06.png)

[2019-12-17 15:46] ivantodorovich commented on #1388
@HYROPES are you working on `web_search_with_and`?

[2019-12-19 19:12] legalsylvain opened #1464 "Port / backport : web_domain_field for V12"
Hi all. I'd like to use web_domain_field module for V12.
For instance there is a
- a V10 merged module https://github.com/OCA/web/tree/10.0/web_domain_field
- a V11 PR need fixing https://github.com/OCA/web/pull/1019
- a V13 PR that seems OK https://github.com/OCA/web/pull/1434

I'd like to know which is best (and easy ;-)) way to port / (backport) the module. From V13 to V12 ? or from V10 / V11 t

[2019-12-20 08:33] lmignon commented on #1464
@legalsylvain A backport from 13 to 12..... (not sure but IMO there is less diff into tthe js between 12 and 13 than between 11 and 12)

An other way should be to have this functionality into odoo ... https://github.com/odoo/odoo/pull/17328/files

[2019-12-26 18:45] kos94ok-3D opened #1469 "web_responsive wrong shortcuts in template"
Steps to reproduce:
1. Install web_responsive
2. Open Shortcuts menu
![изображение](https://user-images.githubusercontent.com/33932458/71486627-fb186a80-281f-11ea-8cf3-898f04ada81b.png)
![изображение](https://user-images.githubusercontent.com/33932458/71486641-0a97b380-2820-11ea-9efd-551ba597d22c.png)

I think is a good idea update UserMenu.shortcuts template
Hi, @VincentSchippefilt, @Yajo, @Tardo

[2019-12-30 13:07] yajo commented on #1469
Absolutely.

[2020-01-01 20:46] celebraciones opened #1472 "Multi company web_responsive"
Odoo version: 13.0
Browser: Safari iOS 13.3

Multi company: User has granted access to more than 1 company

Issues:
- There seems to be no way to select a different company from the top-right menu.
- The logout button is gone.
![Captura de Pantalla 2020-01-01 a la(s) 14 45 50](https://user-images.githubusercontent.com/29007788/71645960-71482180-2ca5-11ea-8bb5-99f38ff4edc4.png)

[2020-01-02 10:02] yajo commented on #1472
Are you testing in a real mobile browser or in a desktop browser in mobile mode? If it's a desktop, did you hit F5 after resizing the browser?

[2020-01-02 15:29] celebraciones commented on #1472
It is in a real mobile browser (actually two different ones). In Safari desktop happens the same with smaller screens like iPhone (iPad mini is ok).

[2020-01-02 16:04] Tardo commented on #1472
This is fixed here: https://github.com/odoo/odoo/pull/38146

Update your Odoo 13.0 base

[2020-01-02 16:14] pedrobaeza commented on #1472
Then we can close this.

[2020-01-02 16:14] #1472 closed, assigned to Tardo

[2020-01-03 16:13] sciallo opened #1473 "pop-up dialog covers document viewer"
Loving the new side document viewer!

It would be nice if pop-up dialogs would stay over the form view (or better yet if they were movable) so we could still see all information in the document we're viewing. For example as in the screenshot when we're trying to fill an address from a vendor's invoice.

![Screenshot_20200103_104738](https://user-images.githubusercontent.com/17577898/71734406-ed637

[2020-01-06 00:27] pedrobaeza commented on #1473
That's not the idea and it goes against Odoo design in popup menus. Change views for not being in popup but editable on tree.

[2020-01-06 00:27] #1473 closed, assigned to nobody

[2020-01-06 20:00] agent-z28 opened #1474 "web_widget_x2many_2d_matrix doesnt respect sequence fields."
Especially for the Matrix Widget, where you have Zip Codes or Names, it is very import to have a propper sequence. The Widget should support a field sequence for x as for y- fields

[2020-01-07 01:20] pedrobaeza commented on #1474
In theory, the widget respects the `_order` defined in the model. Can you be more specific about your problem?

[2020-01-07 01:21] pedrobaeza commented on #1474
And also always indicate Odoo version.

[2020-01-08 14:35] LoisRForgeFlow commented on #1473
@sciallo You might be interested in this module: https://github.com/OCA/web/tree/13.0/web_dialog_size. It allows to move and resize dialogs.

[2020-01-08 18:01] pedrobaeza opened #1476 "[12.0] web_responsive: document viewer not closed with Esc when maximized"
Steps to reproduce:

- Preview an image attachment clicking on it.
- Maximize it with the corresponding button.
- Press "Esc".
- It doesn't close the preview. On not maximized and with standard, it closes it.

[2020-01-08 23:05] dreispt opened #1477 "[12.0] web_export_view: not export button on list view, as expected"
Installed it on a clean 12.0 demo database, and the expected "Export" button is not available in the List View, as expected.

Is this a bug, or am I missing something?

[2020-01-08 23:07] dreispt commented on #1477
Just noticed a the small icon next to the "Actions" drop down.
Sorry for the noise.

[2020-01-08 23:07] #1477 closed, assigned to nobody

[2020-01-08 23:08] dreispt commented on #1477
![image](https://user-images.githubusercontent.com/1246629/72023835-c5d23a80-326b-11ea-9708-d4f7c2b7ff9d.png)

[2020-01-09 13:50] pedrobaeza commented on #1476
Arrow keys for navigation between attachments don't work as well.

[2020-01-09 14:59] dreispt commented on #1477
For the record, in the Enterprise Edition the icon is added next to the Print button, instead of the Action button, and so is not available in views that don't have the Print button.

[2020-01-09 15:33] guewen opened #1479 "[13.0] web_tree_dynamic_colored_field: colors attribute removed from tree"
I'm migrating `web_tree_dynamic_colored_field` to 13.0.

In previous versions, we could define a dynamic `colors` attribute on `tree` views:

https://github.com/OCA/web/blob/4f007411694f9d4e38df0cf5f0875dcb414833ea/web_tree_dynamic_colored_field/demo/res_users.xml#L7-L9

In odoo 13.0, the colors attribute has been removed from the `rng` schema: https://github.com/odoo/odoo/commit/7024f8d58bb279c80

[2020-01-09 15:38] pedrobaeza commented on #1479
FYI, now it's done through `decoration-{bs_class}` (for example, `decoration-info` option).

Maybe you can store it in a key inside `options` attribute?

[2020-01-09 15:51] guewen commented on #1479
:man_facepalming: I thought there was no `options` on the `<tree>` because I didn't see it in the rng file, but it's in the common rng file. Thanks @pedrobaeza, I'll try this.

[2020-01-09 16:08] guewen commented on #1479
Done in https://github.com/OCA/web/pull/1480/commits/d989dbd59fa71ce29a0c0a2e73a00ac5fa8fed70

[2020-01-09 16:12] pedrobaeza commented on #1479
Great, closing this then.

[2020-01-10 08:51] guewen commented on #1479
Hmm no, actually the `options` attribute does not exist on `tree` :sob:

[code]

[2020-01-10 08:51] pedrobaeza commented on #1479
Ouch

[2020-01-10 09:05] simahawk commented on #1479
@guewen what about hacking `decoration-` handling in `ListRenderer`?
By default it ignores any option not matching theirs but you could support `decoration-color`.

[2020-01-10 09:10] guewen commented on #1479
The problem is not the the js part but the RelaxNG schema that won't allow to use `decoration-color` in the `<tree>` element:

https://github.com/odoo/odoo/blob/7615030fb293356fc5540ba65afa66ff71b207c1/odoo/addons/base/rng/tree_view.rng#L39-L46

[2020-01-11 21:33] sciallo commented on #1473
Thanks @LoisRForgeFlow !!

[2020-01-13 08:48] #1284 closed, assigned to yajo

[2020-01-14 09:55] ajjq opened #1485 "web_action_conditionable- ERROR"
Hi

 I installed  "web_action_conditionable" module, branch 12.0
 When  I add (delete="state==draft") on a tree view,  i.e.
 <tree delete="state=='draft'">

 It return
 Uncaught SyntaxError: Unexpected token s
  when i try to open the module tree view.

Could you help me, please

[2020-01-14 11:57] legalsylvain commented on #1485
Hi @ajjq. Did you tried to reproduce the error on the OCA runbot ?
thanks.

[2020-01-14 14:19] tarteo commented on #1485
draft must be quoted: `delete="state=='draft'"`

[2020-01-16 03:10] julius3419 opened #1488 "Webtime not working in the chrome mobile browser"
module: web_timeline
version: 12.0

**Steps to reproduce**
I'm testing in the Android mobile browser, and found this issue.
As soon as i click on the "timeline" icon view, it throws the error below.

Error:
Uncaught TypeError: Cannot read property 'icon' of undefined

http://localhost:8069/web/content/1767-2bb842a/web.assets_backend.js:1293
Traceback:
TypeError: Cannot read property 'icon' of unde

[2020-01-16 08:52] pedrobaeza commented on #1488
Yeah, for now timeline is not compatible with mobile.

[2020-01-16 10:24] julius3419 commented on #1488
Thanks for the quick response. Timeline is such a great feature.
Is there any plan to make it compatible?

[2020-01-16 10:30] pedrobaeza commented on #1488
Not that I know.

[2020-01-16 21:34] gustotc commented on #1048
Miguel alright ... have you started migrating the 'web_group_expand' module to Odoo 12?

[2020-01-20 13:11] BT-nstuder commented on #1388
I've migrated `web_no_bubble` #1493

[2020-01-22 10:38] ivantodorovich commented on #453
This module is not needed since 11.0, we should probably close this ticket

https://github.com/OCA/web/issues/739#issue-262465464

[2020-01-22 10:41] #453 closed, assigned to nobody

[2020-01-23 12:25] thomaspaulb opened #1494 "web_responsive configurable per user?"
Currently it's all or nothing: either all users get responsive layout, or none do. Is it feasible to add an option to have some users stay on the 'traditional' layout? Has it been tried and what would be the challenges in this?

[2020-01-23 12:36] pedrobaeza commented on #1494
No, it's technically impossible (CSS and QWeb changes), and functionally a non-sense to me. Why don't you want such interface? If you say because the side menus, it's ugly and Odoo itself has replace that by top menus.

If you want to do it, put a theme on top of web_responsive and add that possibilities, but this base module mustn't be complicated with such option that is not interesting, so clos

[2020-01-23 12:36] #1494 closed, assigned to nobody

[2020-01-23 16:27] sbidoul opened #1495 "[RFC] web_m2x_options: open options for many2many fields"
The `open` options added by the `web_m2x_options` module makes `many2many_tags` label open the form view of the linked resource.

With the regular `many2many` widget, clicking on lines opens a popup.
With the regular `many2one` widget, clicking on the link navigates to the form.

Would it make sense to have the same `open` option open the form view for `many2many` widget too? IOW, I'm looking for

[2020-01-24 05:49] ghost opened #1496 "install upgrade pip 20.0.1"
here I face a problem on my android device pie9 version, you are using pip version 19.2.3 however version 20.0.1
help me solve it

[2020-01-24 06:45] vjskibin opened #1497 "Timeline view couldn't be loaded"
After installation both modules (project_timeline and web_timeline) by clicking on clock button i get an error:
![image](https://user-images.githubusercontent.com/23342324/73049615-1e215300-3e8e-11ea-826f-ea94465e458d.png)
(Timeline view couldn't be loaded)

[2020-01-24 06:54] vjskibin commented on #1497
Odoo version 11.0

[2020-01-24 09:48] pedrobaeza commented on #1496
Sorry, this is totally unrelated to the repository and this is not for asking questions.

[2020-01-24 09:48] #1496 closed, assigned to nobody

[2020-01-24 10:11] vjskibin commented on #1497
After rebooting the server everything works fine :)

[2020-01-24 10:11] #1497 closed, assigned to nobody

[2020-01-24 10:13] ghost commented on #1497
author closed it..

On Fri, Jan 24, 2020, 4:12 PM Vitaly Skibin <notifications@github.com>
wrote:

[2020-01-25 16:56] lucode opened #1501 "[13.0] web_responsive: wrong Technical Name / or why ow_web_responsive is not in repo?"
The Openworx Material Backend Theme V13 theme requires the modul with Technical Name ow_web_responsive. Why is this module not in the repo or, why has it then name still the name web_responsive in the Repo?

[2020-01-25 16:57] pedrobaeza commented on #1501
That theme is not in OCA, so ask in the proper repo about their "things".

[2020-01-25 16:57] #1501 closed, assigned to nobody

[2020-01-25 22:53] sciallo opened #1502 "web_tree_image_tooltip using with mixed filetypes [12.0c]"
I made a small module to list all attachments from a record's chatter in a table where I can check the ones I want to download...

web_tree_image_tooltip would be great for that except that I can't use widget='image' if there is a chance of any file other than image is in the table. Those files get deleted. On top of that I'm achieving that list by using the list view of ir.attachment. going to th

[2020-02-05 15:34] AlexeyS001 opened #1513 "[13.0] web_responsive Menu toggle doesn't open after one click"
It works fine until I click on a menu item.
Video:
https://youtu.be/Lqcmu1zFT38

Odoo 13

[2020-02-05 16:58] AlexeyS001 commented on #1513
I took a video with inspector if it helps
https://youtu.be/okqOFjE0zTA

[2020-02-10 11:52] pedrobaeza commented on #1388
It seems web_widget_many2many_tags_multi_selection is not needed anymore. @tarteo can you confirm?

[2020-02-12 13:00] JGarcia-Panach opened #1517 "[12.0] Advanced search - Wrong summation when using group by in list view"
In runbot:

This is a list view grouped by salesperson using a filter but without using advanced search filter
![image](https://user-images.githubusercontent.com/13234598/74336401-79b07380-4d9e-11ea-97d4-923c0b78520c.png)

All is ok

This is a list view grouped by salesperson using advanced search filter
![image](https://user-images.githubusercontent.com/13234598/74336747-30145880-4d9f-11ea-8c6c-5

[2020-02-13 11:14] sbejaoui opened #1518 "[12.0][Advanced search] - Can't combine several OR operators"
Hi,

To reproduce this bug:

1. Open the advanced search wizard and combine multiple OR operator
![1](https://user-images.githubusercontent.com/12665409/74428605-a07fb000-4e59-11ea-91d0-57bba1bace04.png)
2. When you save you will see that the second or is transformed to an AND
![2](https://user-images.githubusercontent.com/12665409/74428684-c4db8c80-4e59-11ea-956f-55653d665689.png)
3. Save the sea

[2020-02-13 15:47] yk2kus commented on #1518
How do you open advance search wizard?

[2020-02-13 19:09] pedrobaeza commented on #1518
There's a fix in #1519

[2020-02-14 12:30] Tardo commented on #1517
I can't reproduce the issue.... can you please record a video to see the steps to reproduce? Thanks!

[2020-02-17 09:29] JGarcia-Panach commented on #1517
Tested in this URL:
http://3408529-12-0-2931ed.runbot2.odoo-community.org/web/login

This is the Sale order I use to test:
![image](https://user-images.githubusercontent.com/13234598/74639513-53a81c00-516e-11ea-87b3-574249b553f8.png)

I change Unit of measure in order to use advanced search (searching lines with Unit of measure = Dozens)

Now the video:
![error advanced](https://user-images.github

[2020-02-19 22:00] grottas commented on #525
FYI: Have you checked this?

https://apps.odoo.com/apps/modules/12.0/ks_dashboard_ninja/

https://dashboardninja.kappso.com/web/login

[2020-02-20 10:33] lck opened #1526 "[13.0] web_domain_field invalid path to static/lib/js"
Path to pyeval.js is invalid:

13.0/web_domain_field/static/lib/js/pyeval.js

the valid path should be:

13.0/web_domain_field/static/**src**/js/pyeval.js

as declared in web_domain_field/views/web_domain_field.xml

[2020-02-20 10:59] legalsylvain commented on #1526
could you make a PR ? thanks !

[2020-02-20 12:35] sudhir-erpharbor commented on #1526
Thanks for reporting the issue. The issue is fixed in the PR #1527

[2020-02-20 13:48] #1526 closed, assigned to nobody

[2020-02-22 09:45] SaravananSakthivel opened #1528 "web_responsive Apps Drawer not closing!"
Version [12.0]
Moduel web_responsive

App Drawer is not closing if click on the app icon and menu which is a direct action menu from the top bar.
It is working fine if it is menu which has child menu.It doesn't work on the cases of direct action menu

[2020-02-22 09:57] pedrobaeza commented on #1528
Can you please put a video of what you are referring to?

[2020-02-22 12:23] SaravananSakthivel commented on #1528
Hi @pedrobaeza
Please have a look at the video of the issue and i am using latest version

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3658948/75092101-a2a0e780-559a-11ea-8de2-52027dd071a9.gif)

Also attached the a video of another issue. Multiple times have to click on the app icon to view accounting menu

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.

[2020-02-24 18:26] andreampiovesana commented on #1227
you write in the installation istructions that:
the server must be launched in gevent mode
this need workers>1?

[2020-02-25 13:14] Tardo commented on #1528
:/ Github has not closed this commit

[2020-02-25 13:17] pedrobaeza commented on #1528
Because it was not merged in the default branch, but another. Remember we have to forward port it to v13.

[2020-02-25 13:17] #1528 closed, assigned to Tardo

[2020-02-26 04:55] phuctranfxvn commented on #1388
`web_widget_image_url` has been migrated #1536

[2020-02-27 08:56] phuctranfxvn commented on #1388
`web_tree_image_tooltip` has been migrated #1537

[2020-02-27 09:37] phuctranfxvn commented on #1388
`web_widget_digitized_signature` has been migrated #1538

[2020-02-28 13:40] n17 opened #1539 "[11.0] web_m2x_options search_more doesn't work in Odoo 11"
Hello!

I would like some fields to always show the "Search more..." line.
If I understand correctly, then installing your `web_m2x_options` module and adding
`"show_more": True` to the field's `options` dictionary in the view should achieve this. However, doing so doesn't have any effect for me.
Adding `"limit": 0` to the `options` dictionary does make "Search more..." always show up, but it also

[2020-02-28 13:45] mlaitinen commented on #1539
This was fixed in `10.0` but was refactored in `11.0` and doesn't work as expected anymore: #651

[2020-02-29 12:30] mfmkhatri commented on #1016
Were you able to solve the issue? If so, please let me know how. I am facing the same issue.

[2020-03-03 08:30] rubencabrera opened #1542 "[12.0] web_widget_digitized_signature on_clear is not a function"
How to reproduce:
Use the `widget="signature"` in a boolean field for a form view. Open the form view, use the signature field and save. Once you do that (and when you open that view again) you'll get:

[code]

I'm using OCB.

Searching on odoo base, I've found the `on_clear` function used to be in `addons/web/static/src/js/views/form_widgets.js` but that doesn't exist anymore.

[2020-03-04 15:21] kos94ok-3D commented on #1542
Use binary instead of boolean.
![изображение](https://user-images.githubusercontent.com/33932458/75894142-760f8a00-5e3c-11ea-8b17-5df4116abc02.png)

[2020-03-04 16:09] rubencabrera commented on #1542
D'oh, sorry I missed that. Will change and close as soon as I test if it hasn't been closed yet. Thanks for the quick response!

[2020-03-05 07:24] rubencabrera commented on #1542
Yep, that fixed it, thanks and sorry again for missing that.

[2020-03-05 07:24] #1542 closed, assigned to nobody

[2020-03-12 17:17] JGarcia-Panach commented on #1517
ping @Tardo

[2020-03-13 12:25] andylemay opened #1548 "Using web widget bokeh chart with odoo web portal?"
Hi OCA,
I'm successfully using the bokeh_chart widget in a couple of models and views.  Working nicely--Thank you!
Now I'm trying to use one of those charts in a web portal to create user nice dashboard.  Looking at the source of the output web page...The script code for the chart goes into the web page but nothing is displayed and it appears that the 'bokeh_chart' field widget is not functioning.

[2020-03-13 18:19] Tardo commented on #1517
@JGarcia-Panach I'm working now in the migration to 13.0 so i hope that the solution is near ;)

[2020-03-13 19:42] samnimri commented on #901
Is there a way to increase or remove this limit?

[2020-03-14 02:39] Tardo commented on #1469
Feel free to do a PR ;)

[2020-03-14 08:52] andylemay commented on #1548
Good news and a little update as my investigation continues!

Got it working!!! ...  with this... in my template

[code]

so now need to tray and understand how to get it working with a named field widget "bokeh_chart".  notice in the original defn in web_wodget_bokeh_chart.xml the top is

[code]

presumably I need the right defn of the above now.  Will keep investigating.

[2020-03-18 17:56] Tardo commented on #1517
Bad news... this is a problem in Odoo: https://github.com/odoo/odoo/issues/47950

[2020-03-19 12:26] #1479 closed, assigned to nobody

[2020-03-20 03:38] xiaozhi1218 commented on #1485
i have the same problem as follow:
Uncaught SyntaxError: Unexpected token o in JSON at position 0
    at JSON.parse (<anonymous>)
    at Class.init (web.assets_backend.js:1307)
    at Class.init (web.assets_backend.js:1562)
    at Class.prototype.<computed> (web.assets_common.js:3538)
    at Class.init (web.assets_backend.js:3505)
    at Class.init (web.assets_common.js:3541)
    at Class.init (we

[2020-03-20 07:49] marylla opened #1553 "[12.0] web_advanced_search: When using a custom filter with 'is_equal_to' and then searching for more records, the filter is not executed."
Hi there,
there might be a bug in this module when using the 'is_equal_to' comparison option in custom filters.

**Here is what I did (in version 12.0):**
* install account
* install web_advanced_search

* open the list of all customer invoices (Invoicing > Customers > Invoices)
* click on 'Filters’ > 'Add Custom Filter’ below search bar
* choose 'Account’ and 'is equal to’
* click in the third fi

[2020-03-20 09:14] ajjq commented on #1485
Hi

I didn't try to reproduce this on the OCA runbot.
I have this problem yet.

Regards,

________________________________
De: chenyongzhi <notifications@github.com>
Enviado: viernes, 20 de marzo de 2020 3:38
Para: OCA/web <web@noreply.github.com>
Cc: AJ <alixj@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [OCA/web] web_action_conditionable- ERROR (#1485)

Hi @ajjq<https://github.

[2020-03-23 14:13] MLDMoritz opened #1558 "Studio broken"
Navigate around in studio, click some stuff.

[code]

[2020-03-23 15:05] legalsylvain commented on #1558
Hi. Sorry, your bug report is not complete. First could mention which version of odoo you are using, and which OCA modules.
Could you also explain how to reproduce the problem with runbot ?

thanks.

[2020-03-25 13:49] mrqwertyuiop opened #1561 "Unknown CORS Error"
I have installed the module:
[](https://github.com/OCA/web/tree/11.0/web_action_conditionable
)
so, the structure of my odoo application is somehow like this:
odoo:
- server:
- custom:
    - unchanged:
        - web_action_conditionable
    - local:
        - my_module

after installation, I try to use the module, but the result when I try to change my_module tree from this:
`<tree delete="false"

[2020-03-27 11:43] rjakutis opened #1562 "[13.0] web_responsive: Menu without icons"
I do not see icons in main menu, only text.

![Annotation 2020-03-27 134101](https://user-images.githubusercontent.com/62749036/77752707-bbd10400-7030-11ea-8890-45958d5c7fbd.png)

[2020-03-27 11:46] pedrobaeza commented on #1562
Can you try to reproduce the problem in runbot (admin/admin)?

https://runbot.odoo-community.org/runbot/162/13.0

[2020-03-27 11:54] rjakutis commented on #1562
I tried runbot, there is no problem, I see main menu with icons after click on left-top icon.

From: Pedro M. Baeza <notifications@github.com>
Sent: Friday, March 27, 2020 1:47 PM
To: OCA/web <web@noreply.github.com>
Cc: Rimantas JAKUTIS <rimantas.jakutis@chc.lt>; Author <author@noreply.github.com>
Subject: Re: [OCA/web] [13.0] web_responsive: Menu without icons (#1562)

Can you try to reproduce t

[2020-03-27 12:01] pedrobaeza commented on #1562
Then it seems something on your end: bad deployment or custom module interfering, but I'm afraid it's out of the scope of this issue tracker, so closing. Try reinstalling or starting from a fresh DB.

[2020-03-27 12:01] #1562 closed, assigned to nobody

[2020-03-27 12:10] rjakutis commented on #1562
I have fresh installation, there is no custom modules. As I understood, there is no support on this module.

[2020-03-27 15:30] pedrobaeza commented on #1562
There's limited voluntary support for bugs in the module in this issue tracker, not for deployment questions. For that, there are also voluntary efforts in Odoo forums or mailing lists, not here.

[2020-03-27 17:28] j-zaballa commented on #1208
Has someone figured out this one?

I was able to reproduce the issue from Android 9 (Xiami MI A1) both from Chrome and Firefox Focus. I spent some time debugging and saw that the relevant data is already missing when it is retrieved from the model with the `get` function. I'd love to fix it myself, but I'm almost a complete newcomer when it comes to Odoo JS Framework. I'm willing to help though.

[2020-03-27 21:45] fmdl commented on #1388
@pedrobaeza `web_widget_many2many_tags_multi_selection` is already include in V13

[2020-03-30 13:21] rjakutis commented on #1562
I found the problem. All I needed was to restart the odoo service.

From: Pedro M. Baeza <notifications@github.com>
Sent: Friday, March 27, 2020 5:30 PM
To: OCA/web <web@noreply.github.com>
Cc: Rimantas JAKUTIS <rimantas.jakutis@chc.lt>; Author <author@noreply.github.com>
Subject: Re: [OCA/web] [13.0] web_responsive: Menu without icons (#1562)

There's limited voluntary support for bugs in the mod

[2020-04-03 16:28] hgarridoco opened #1566 "[13.0][web_responsive] Discuss app not responsive"
I'm testing this app and compare with odoo 12.0 and in 12.0 discuss app could be use in mobile, but with odoo 13.0 can't because it haven't make full responsive actions. Is this correct?

Tested in runbot.

![image](https://user-images.githubusercontent.com/16115608/78383447-af245100-75d8-11ea-882d-3288b45758c1.png)

[2020-04-04 10:22] sergiuga opened #1567 "[13.0] [web_responsive] Cannot access Apps > Updates"
When trying to go to Apps > Updates I get the below error message:

Sorry, you are not allowed to access documents of type 'Attachment' (ir.attachment). This operation is allowed for the groups: - User types/Internal User - (Operation: read, User: 175650)

[2020-04-04 11:42] legalsylvain commented on #1567
Did you reproduced this bug on the OCA runbot ?

[2020-04-04 19:42] sergiuga commented on #1567
No, it occurs only in my environment. I have a Centos7 server, but I don't think it's relevant.
I have this error on a fresh install, without any other custom modules installed.

[2020-04-09 06:58] hgarridoco commented on #1566
Any update?

[2020-04-09 07:00] pedrobaeza commented on #1566
No. If you expect to have it fixed soon, you can propose a PR fixing it, pay someone to do it, or simply wait until a voluntary is able to do it.

[2020-04-09 07:03] hgarridoco commented on #1566
I only ask. In this moment I'm looking for fix it. I don't expect any work, only info.

Keep calm.

[2020-04-09 07:05] pedrobaeza commented on #1566
That's the standard answer, nothing without calm.

[2020-04-09 12:31] Tardo commented on #1566
@hgarridoco
Discuss 'Mobile Mode' has been removed from Odoo CE 13.0, i'm working on a custom implementation to have a usable view on mobiles.

[2020-04-10 09:18] flotho opened #1571 "[12.0]web_readonly_bypass questions"
Hi Everyone,

AFAICS, there is no v12 plan for migration of web_readonly_bypass . Is it a native behaviour in Odoo or would it be usefull to port it ?

Regards

[2020-04-10 09:20] pedrobaeza commented on #1571
Yes, native: `force_save=1`.

[2020-04-10 09:20] #1571 closed, assigned to nobody

[2020-04-10 09:35] flotho commented on #1571
Damned,

Is Wikipedia your name ;)

[2020-04-10 09:35] flotho commented on #1571
Thankkksss

[2020-04-12 20:25] qzmxs opened #1574 "[odoo12.0] web_responsive Menu button is not available"
module: web_responsive
version: 12.0

**Steps to reproduce**
- ...
![image](https://user-images.githubusercontent.com/55458897/79078948-6a1dbe80-7d3e-11ea-8d04-d731886ad3e7.png)

This menu button is on the left, which prevents it from being used normally,
**Current behavior**

**Expected behavior**

[2020-04-12 20:46] pedrobaeza commented on #1574
That screenshot is not from web_responsive

[2020-04-12 20:46] #1574 closed, assigned to nobody

[2020-04-13 19:56] #1566 closed, assigned to Tardo

[2020-04-17 09:27] MrTango opened #1582 "[13.0] web_responsive does not have keyboard shortcuts"
In the default theme, when i press the ALT-Key many menu actions have an overlay with keyboard shortcut. As soon as i install the web_responsive addon this does not work anymore. I don't know if that was ever supported with this addon, but it would be nice if that would work.

[2020-04-17 09:30] pedrobaeza commented on #1582
The combination keys have been changed to Alt+Shift for not collapsing with standard browser shortcuts. Please see the README.

[2020-04-17 09:30] #1582 closed, assigned to nobody

[2020-04-18 14:22] AlexeyS001 commented on #1513
Any update?

[2020-04-19 22:35] Tardo commented on #1513
Sorry i can't reproduce this issue... browser? can you reproduce it on runbot?

[2020-04-19 23:16] Tardo commented on #1561
12.0 needs this fix: https://github.com/OCA/web/pull/1343

[2020-04-19 23:19] Tardo commented on #1518
This issue is solved no?

[2020-04-19 23:20] Tardo commented on #1558
No reply... can this be closed?

[2020-04-19 23:21] Tardo commented on #1476
This is solved

[2020-04-19 23:23] Tardo commented on #1485
Same as https://github.com/OCA/web/issues/1561

12.0 needs this fix: https://github.com/OCA/web/pull/1343

[2020-04-19 23:40] Tardo commented on #1435
This can be closed?

[2020-04-19 23:46] pedrobaeza commented on #1435
Well, the wishlist is still there. I'm not totally sure I prefer to start in the apps menu though...

[2020-04-19 23:47] #1476 closed, assigned to Tardo

[2020-04-19 23:48] pedrobaeza commented on #1561
Duplicate of #1485

[2020-04-19 23:48] #1561 closed, assigned to nobody

[2020-04-19 23:48] #1518 closed, assigned to Tardo, yajo

[2020-04-19 23:48] #1558 closed, assigned to nobody

[2020-04-20 07:52] yajo commented on #1435
IMHO the request is quite valid. Indeed assuming the user wants discuss after login is worse than asking him what app to open, at lest as a default behavior.

Just to make this point clear, this is the 2nd UI I meant:

![2020-04-20_08-31](https://user-images.githubusercontent.com/973709/79727345-2e599a80-82e4-11ea-9088-8e157ce18f36.png)

Fixing this issue would let us have a more consistent UX.

I

[2020-04-20 10:17] Gokulakannanaj commented on #1227
@andreampiovesana  workers are 4. That time also not displaying.
Kindly check-in following link
http://3418854-12-0-7be7fd.runbot1.odoo-community.org/web?debug=1#id=6&action=68&model=res.users&view_type=form&menu_id=4

[2020-04-20 12:11] MrTango commented on #1582
thx for the hint, works, sorry for the noise ;)

[2020-04-21 13:43] acsonefho opened #1586 "[BUG][13.0] web_m2x_options in tree view (O2M)"
**Bug:**
Into O2M editable tree views, Odoo let the user to display/hide some columns (ex: into sale order about `order_line`). When this module is installed, some fields doesn't trigger anything (the field still ticked, and nothing happens);

**How to reproduce:**
- Install fresh DB with `sale` module (with demo data to have some examples);
 `click-odoo-initdb -c odoo.cfg --new-database odoo-test

[2020-04-21 13:45] acsonefho commented on #1586
@bodedra @hbrunn @Yajo if you have an idea about this bug?
Thank you :)

[2020-04-22 07:51] yajo commented on #1586
No idea for now sorry...

[2020-04-22 16:27] MrTango opened #1588 "[13.0][web_company_color] font color resets it self to black after some time"
When setting the colors, everything works fine, but somehow after a while the font color falls back to black. I can go an set it again, with a broken color picker BTW, but it does not stay like this for long.

[2020-04-24 19:58] patrickrwilson opened #1591 "[12.0] web_company_color error after viewing multiple websites"
Error after viewing multiple websites then switching companies.

Prerequisites:
1. Have more than one company, with navigation colors set for each company.
2. Have more than one website using the websites module.

Reproducing steps:
1. Login into any company.
2. Go to Websites app, Click 'Go to Website' and then switch to view different websites.
3. Switch to a different company.
The following err

[2020-04-25 19:19] icf20 opened #1593 "web_responsive - 13.0.2.0.1"
for some odd reason odoo is pushing update notification for the version stated above yet there is no release to be found on the download section https://odoo-community.org/shop/product/web-responsive-2681

[2020-04-25 19:33] pedrobaeza commented on #1593
Just do `git clone` instead of downloading this (or download from GitHub the module). Probably OCA apps store is not updated yet as it creates a mirror. Any way, not an issue to be handled here.

[2020-04-25 19:33] #1593 closed, assigned to nobody

[2020-04-28 08:09] enricostano opened #1596 "[12.0] Date input autocomplete overlaps with datepicker"
![2020-04-28-100407_1920x1080_scrot](https://user-images.githubusercontent.com/748971/80462843-9d17a300-8937-11ea-8cba-7d701e75aab0.png)

Hi, how do you manage this issue? It only happens in Chrome, not in Firefox.

I can create a module to add something similar to the following code:
[code]
But I'm just wondering if there is a better solution.

Also, not sure if I should also open an issue to htt

[2020-04-28 13:56] pedrobaeza commented on #1596
This doesn't belong here, but odoo/odoo (it's not something of any modules of this repository). Any way, this has been notified previously there, and there's no solution except disabling Chrome auto-complete. The problem is that disabling it in Odoo has more side effects than benefits AFAIK.

[2020-04-28 13:56] #1596 closed, assigned to nobody

[2020-04-29 13:29] acsonefho commented on #1586
Seems fixed with an Odoo update :)

[2020-04-29 13:29] #1586 closed, assigned to nobody

[2020-04-30 14:34] icf20 commented on #1593
@pedrobaeza  where i should report this?

[2020-04-30 15:02] pedrobaeza commented on #1593
You can put an email to support@odoo-community.org

[2020-05-06 09:28] sconetto opened #1597 "[13.0][web_widget_timepicker] Widget hiding zero hour - 00:00 (midnight)"
When the field is filled with midnight (00:00) the widget hide the value in the view.

To replicate:
- Create a form with the timepicker
- Set minutes to 00
- Set hour to 0
- Save record
- Open view

Image:

![image](https://user-images.githubusercontent.com/11671985/81161763-5efc2e00-8f8c-11ea-853a-b52bedb000f3.png)

The correct display would be apply from 00:00 to 06:00.

![image](https://user-i

[2020-05-06 11:05] astirpe commented on #1388
`web_tree_resize_column` already included in core V13

[2020-05-12 18:00] ikaltech opened #1601 "[ADD] web_widget_numeric_step can it work with float_time widget ?"
Hello,

Thank you for this module, can it be compatible with float_time widget ?

[2020-05-12 18:01] pedrobaeza commented on #1601
No. It's intended for numeric fields only.

[2020-05-12 18:01] #1601 closed, assigned to nobody

[2020-05-18 09:35] yucer opened #1603 "[12.0] web_timeline : main menu shortcut for timeline view of custom theme fails"
If a models default view is timeline then the icon in the main menu doesn't works for *muk_web_theme*  (from [muk-it/muk_web](https://github.com/muk-it/muk_web/tree/12.0/muk_web_theme))

In order to reproduce it just take one OCA module with timelines (like **fieldservice**) or **project_timeline** and change the action associated to the main menu to one timeline view.

Here is one [video](https:/

[2020-05-18 20:17] Rad0van opened #1604 "[13.0] web_advanced_search fails on Add custom filter"
When trying to add custom filter it fails in browser with following:
`Uncaught TypeError: Cannot read property 'model' of undefined
http://localhost:8069/web/content/639-96a2333/web.assets_backend.js:3531
Traceback:
TypeError: Cannot read property 'model' of undefined
    at Class.init (http://localhost:8069/web/content/639-96a2333/web.assets_backend.js:3531:2619)
    at Class.prototype.<computed>

[2020-05-19 06:59] pedrobaeza commented on #1604
Is this reproducible on runbot? (see the badge on the README for accesing it)

[2020-05-19 08:10] Rad0van commented on #1604
Yep, the same result.
![image](https://user-images.githubusercontent.com/19169467/82301724-f152f780-99b8-11ea-842e-d73b230336b3.png)

[2020-05-19 08:16] Rad0van commented on #1604
On 12.0 it works just fine (it happens when you try to select any one2many, many2one or many2many field):
![image](https://user-images.githubusercontent.com/19169467/82302372-ccab4f80-99b9-11ea-9449-186768bb90ce.png)

[2020-05-19 08:45] Tardo commented on #1604
Thanks for report, should be fixed here: https://github.com/OCA/web/pull/1606

[2020-05-19 09:18] #1604 closed, assigned to nobody

[2020-05-19 09:24] Rad0van commented on #1604
Seems to work here on local installation. Guess the runbot gets synchronized later. Thanx.

[2020-05-19 13:08] i-vyshnevska commented on #1418
I have made some fix
https://github.com/i-vyshnevska/web/commit/0ca6b38c053454948583d6ce66a03c5b9ccb7b82
but it is still broken in many places

[2020-05-19 21:02] KevinMcMenamin commented on #1548
Any chance you could share an example for the back-end Odoo screen as I am quite interested in using

[2020-05-20 13:23] skeller1 opened #1607 "[12.0][FIX] web_edit_user_filter: Search filter with date field"
**Impacted versions:**
12.0

**Steps to reproduce:**

1. Open runbot web
2. Goto Invoicing => Customers => Invoices
3. Enter search with: Search period at: <valid date string>

![web_edit_user_filter](https://user-images.githubusercontent.com/226753/82450292-cd70de00-9aac-11ea-9453-abf36d959361.png)

**Problem:**

passed date object has no `value.value.attrs.domain`
[code]

**Video/Screenshot link

[2020-05-21 11:51] andylemay commented on #1548
Hi Kevin,

This is just a screenshot of the top of the page.  It was not particularly pretty and I've added a map.

![Screenshot 2020-05-21 at 13 50 08](https://user-images.githubusercontent.com/5936400/82556461-091dad80-9b6a-11ea-9a6f-62c135fff3f1.png)

[2020-05-21 16:40] isacben commented on #1513
I was able to reproduce the issue when I put just the 'web_responsive' folder in my custom addons path, instead of the full 'web' repository.

I guess the correct way is to clone or download the full 'web' repo and add it to the addons paths list. Then install the web_responsive module.

[2020-05-25 15:51] lgarcia11 commented on #1388
`web_pivot_computed_measure` can it be added to the list?

[2020-05-25 16:04] pedrobaeza commented on #1388
Are you going to migrate it?

[2020-05-25 16:45] lgarcia11 commented on #1388
@pedrobaeza Yes, I'm working on it.

[2020-05-28 14:24] MarinkaPapeleuDoria opened #1609 "'Add Custom Filter' doesn't work on installing v13 web_advanced_search"
On installing the V13 web_advanced_search in Odoo.sh, the 'Add Advanced Filter' is working fine, but the 'Add Custom Filter' from Odoo itself gives the following issue:

Error:

Traceback:
TypeError: Cannot read property 'model' of undefined
    at Class.init (https://marinkapapeleudoria-simlab-staging-26-05-1133685.dev.odoo.com/web/content/4564-c9398dc/web.assets_backend.js:4506:2619)
    at Clas

[2020-05-28 14:25] pedrobaeza commented on #1609
Sorry, but the error you are mentioning corresponds to a custom module or code, so the problem should be there in that module. This issue tracker is for notifying problems with standard Odoo code, and thus I'm closing this.

Try to share your question, doubt or problem in the official Odoo forums (https://www.odoo.com/forum/help-1) or on the mailing lists (https://www.odoo.com/groups) to see if so

[2020-05-28 14:25] #1609 closed, assigned to nobody

[2020-06-01 20:08] thomaspaulb commented on #701
@flotho @sebalix @aldo774 I am trying to reproduce this bug, but am unable to do so. Could you be more specific as to what steps you follow (on runbot, or on a local test database) to get this bug?

[2020-06-05 15:03] JordiBForgeFlow opened #1615 "[13.0] ability to paste a list of values in the search bar"
We've heard various times this requirements. We have a list of product codes / customers / whatever in an XLSX / CSV that we want to search for in odoo. We'd like to paste the value into the search bar, and the list would be parsed into "OR" values.

What do you think?

[2020-06-05 15:05] pedrobaeza commented on #1615
Not sure if this should be a direct option in the search bar or through a new operator in the custom search dropdown.

[2020-06-09 14:09] ronozoro opened #1617 "[11.0] web_widget_x2many_2d_matrix doesn't work well with mobile browsers"
Hi OCA,
I'm successfully using the web_widget_x2many_2d_matrix widget in a couple of models and views . Working nicely

--Thank you!

Currently I'm facing problem with opening the widget from mobile i got this error

web.assets_backend.js:5189 Uncaught TypeError: Cannot read property 'type' of undefined

This happen on the init_matrix function while checking the type of x and y and from mobile the

[2020-06-09 15:35] pedrobaeza commented on #1208
Is this still happening?

[2020-06-09 15:37] pedrobaeza commented on #1617
Yes, the widget is not adapted for mobile, as it's not easy how to show it. As this is a known issue, let's close this. PRs are welcome that adds this feature.

[2020-06-09 15:37] #1617 closed, assigned to nobody

[2020-06-09 19:24] FrancoTampieri commented on #1208
Yes still not working, but unuckily I'm not a javascript expert so I can debug but not fix :(

[2020-06-10 06:57] j-zaballa commented on #1208
Last time I checked, still happening on v11 too. And same here: willing to help, but need some JS guidance.

[2020-06-10 07:00] pedrobaeza commented on #1208
I suppose that is to backport #1404

[2020-06-11 08:27] ericdai commented on #1388
when webcam support odoo·13

[2020-06-11 16:30] j-zaballa commented on #1208
Just tried v12 and it works like a charm. I'll try to make a backport to v11. I guess we can close this issue, as it is related to v12.

[2020-06-11 16:33] pedrobaeza commented on #1208
Yes

[2020-06-11 16:33] #1208 closed, assigned to nobody

[2020-06-15 11:01] j-zaballa commented on #1208
FYI: I could not make the backport to v11 work. I still get the same error.

[2020-06-19 00:44] netpedro-com commented on #1513
@AlexeyS001 version downloaded from https://odoo-community.org/shop/product/web-responsive-2681 has this bug. But version downloaded from github does not.

[2020-06-19 12:45] legalsylvain commented on #1607
I confirm I have the same problem on V12 CE. Uninstalling the module ``web_edit_user_filter`` solve the problem.
@tarteo, any idea ?

Thanks.

[2020-06-21 10:45] #1513 closed, assigned to Tardo

[2020-06-22 09:57] mohammedafmir opened #1625 "web_notify registry issue"
After installing the module **web_notify** in a fresh database of **odoo 12** the page becomes blank, after checking the logs, I noticed this new line :

2020-06-22 09:55:17,450 19628 INFO db_9 odoo.modules.registry: At least one model cache has been invalidated, signaling through the database.

[2020-06-22 10:49] #1625 closed, assigned to nobody

[2020-06-22 10:52] mohammedafmir commented on #1625
It seems the module worked fine, i think i've just accidentally modified on its code while working on other stuff, Sorry for the hassle.

[2020-06-25 07:46] vbezl opened #1626 "[13.0] [web_responsive] Sticky header in list tree view works bad on iOS Chrome 83 and Safari"
Hi there,

Just installed Odoo 13 and web_responsive (latest commits).
Header sticks, but does not remain sticky (slides down for some reason) - see screencast attached.
This is only on iOS:
iOS Chrome 83
iOS Safari

Android Chrome - works.

![ezgif com-crop](https://user-images.githubusercontent.com/6523179/85677423-33660c00-b6d0-11ea-8571-c060d51781b7.gif)

[2020-06-25 07:47] pedrobaeza commented on #1626
I think this is a problem of the browser itself, isn't it, @Tardo?

[2020-07-07 12:47] vbezl opened #1630 "[13.0] [web_ir_actions_act_multi] web_ir_actions_act_multi - how to update underlying form"
Hi there, please help me figure out the following hierarchy:

form1 has tree1
clicking on tree1 row - opens popup with form2 which has tree2
clicking on tree2 row - opens popup with form3 which has button to open wizard
clicking on button - opens wizard and then wizard action has web_ir_actions_act_multi:

[code]

It closes wizard popup and updates form3, however when I close form3 - I can see tha

[2020-07-08 11:10] Rad0van commented on #1553
+1
I can confirm this also doesn't work on 13.0 with for example Product Category.

[2020-07-08 11:22] Rad0van commented on #1553
@Tardo maybe you could have a look please. Thank you.

[2020-07-09 11:09] bennetblock opened #1631 "[11.0] [web_view_searchpanel] backport to 11.0"

[2020-07-09 11:12] pedrobaeza commented on #1631
No need to add an issue for this, and more if there's nothing to discuss.

[2020-07-09 11:12] #1631 closed, assigned to nobody

[2020-07-09 13:26] onmywaytoheaven opened #1632 "[12.0] Notification duplicated"
Hi!
First of all, thanks for your work.

I have some problems with the web_notify module. Idk why, but i got all notification twice.
I already reinstalled the module, but that did not help.

I cannot reproduce it in runbot for obvious reasons

![изображение](https://user-images.githubusercontent.com/43062804/87045360-78299100-c200-11ea-864c-68bf8822b618.png)

[2020-07-09 13:26] onmywaytoheaven commented on #1632
P.S. I have Odoo 12 installation

[2020-07-10 06:03] simahawk commented on #1632
@onmywaytoheaven thanks for reporting. Can you provide more details?
web_notify is a technical module which can be used by other modules to display notifications.
What's your context? What are you doing to get there?

[2020-07-10 07:25] onmywaytoheaven commented on #1632
Well, im calling web_notify methods from my custom module (logic is pretty simple - loop in users and call). At first i was thinking, that i got some bugs in my module which lead to duplication. But no - even if i call for example `user.nofity_success()` from odoo-cli i got notification twice.

I have just install web_notify on clean odoo12 instance - and its ok. Got only one notification. Then, i

[2020-07-10 08:44] #1632 closed, assigned to nobody

[2020-07-12 12:21] hoangtrann opened #1636 "[web_notify] waiting for bus event to activate notification cause heating on mobile browser"
**Description**

Recently I use `web_notify` on my implementation. This module works great on desktop browsers with no issue. But when I use the application on mobile device using the browser (Chrome, Firefox), I notice that the device would be heating really quick after 10-15s I start using the application. After uninstalling the module, there is no more heating issue on the device.

**Affected v

[2020-07-14 05:43] eabquina opened #1637 "web_pwa_oca PWA Manifest name and short"
for the pwa.manifest.short_name and pwa.manifest.name parameters, adding the "ampersand" and double quotes special character string are rendered as its HTML counterpart:

Example: & -> &amp;

All other characters are rendered correctly: ~`!@#$%^&*()_-+=

Replacing ampersand with &amp or &quot; doesn't work

[2020-07-15 12:09] KKamaa commented on #1227
Hello guys the web_notify is not working as designed sometimes it works and other times it doesn't.

[2020-07-16 06:37] simahawk commented on #1636
Can you provide more details? Eg: how are you using it?

[2020-07-16 14:50] hoangtrann commented on #1636
- I install `web_notify` on my implementation, note that I does not make any customization related to `bus.bus`
- Access the instance using browser on mobile (currently using Chrome/Firefox/Safari on iOS 13.5.1) and then I feel the back of my phone heating really quick. I use iPhone 11 Pro, and this issue seem to happen with Chrome, Firefox and Safari as I try them.
- This issue do happen with my

[2020-07-16 14:52] kenayagi opened #1641 "web_company_color fails with SVG logo"
The web_company_color module throws an error when a SVG logo image is uploaded:

[code]

[2020-07-17 06:21] simahawk commented on #1641
It's not web_company_color. It's PIL (the python lib for images) that does not support SVG.
You'd need an extra implementation to handle them. Just convert it to PNG and upload again.
You could add this info to known issues here https://github.com/OCA/web/tree/13.0/web_company_color#id2

[2020-07-17 06:21] #1641 closed, assigned to nobody

[2020-07-17 06:32] feketemihai commented on #1388
web_sheet_full_width moved directly from 11.0 in #1642

[2020-07-17 06:44] simahawk commented on #1636
@hoangtrann thanks for your info. Are you able to replicate this on runbot?

http://3431155-12-0-e81e23.runbot2-2.odoo-community.org/web/login?db=3431155-12-0-e81e23-all&login=admin&redirect=/web?debug=1

(TIP: you can find this link at the top of each module's README)

[2020-07-17 14:58] hoangtrann commented on #1636
@simahawk I confirm that this does happen when I entered the link above. The phone start heating within a few second after login

[2020-07-20 02:42] tutula1 opened #1643 "[13.0][web_responsive] [BUG] Display icon menu"
I use macbook without the problem below, but when running odoo on windowns there is an error as below

![image](https://user-images.githubusercontent.com/12744580/87894377-c0e91180-ca6c-11ea-9566-d77ddba58148.png)

[2020-07-20 06:59] pedrobaeza commented on #1643
That's not `web_responsive`, but other module (maybe on top of it), but you must put the issue on the other place (or use vanilla `web_responsive`).

[2020-07-20 06:59] #1643 closed, assigned to nobody

[2020-07-20 07:39] simahawk commented on #1636
@lmignon any experience w/ this issue?

[2020-07-20 07:40] tutula1 commented on #1643
Srorry, @pedrobaeza
![image](https://user-images.githubusercontent.com/12744580/87911970-b3488180-ca96-11ea-918c-10741fd78878.png)
On macbook
![image](https://user-images.githubusercontent.com/12744580/87912041-d410d700-ca96-11ea-99e4-035c19f83ef6.png)
On windows
![image](https://user-images.githubusercontent.com/12744580/87912061-e1c65c80-ca96-11ea-98a1-e5d994ff8bfd.png)

[2020-07-20 07:42] pedrobaeza commented on #1643
But that colors are not web_responsive ones, so you have altered somehow the module...

[2020-07-20 07:59] tutula1 commented on #1643
@pedrobaeza I have uninstall other module web_responsive, now only module web_responsive

[2020-07-20 08:00] pedrobaeza commented on #1643
And why it appears in green? Please try to reproduce your problem in the "Try me on runbot" button of the README. You are also not even saying which Odoo version.

[2020-07-20 08:03] tutula1 commented on #1643
![image](https://user-images.githubusercontent.com/12744580/87913951-1ee01e00-ca9a-11ea-99db-6f860d83db86.png)
I install module https://github.com/OCA/web/tree/13.0/web_company_color

[2020-07-20 08:04] sudhir-erpharbor opened #1644 "Show image in m2o dropdown"
I am wondering if is there any way / module to show image in the m2o dropdown field?

Ex: Showing flags in res.country m2o field or showing product image in product m2o.

With the name_get method we can alter the text but what about showing image as well?

[2020-07-20 08:23] tutula1 commented on #1643
@pedrobaeza
On macbook
![image](https://user-images.githubusercontent.com/12744580/87915702-b181bc80-ca9c-11ea-9c4c-9eebbc918ca6.png)
On PC windows
![image](https://user-images.githubusercontent.com/12744580/87915829-d6762f80-ca9c-11ea-804f-6f7730d01953.png)

[2020-07-20 08:32] pedrobaeza commented on #1643
Which browser? You should remove the other module for being sure no interference is happening.

[2020-07-20 09:08] tutula1 commented on #1643
http://3430951-13-0-f43e73.runbot1-2.odoo-community.org/
I use Chrome for Macbook and PC Win

[2020-07-20 09:09] pedrobaeza commented on #1643
@Tardo do you consider this a thing?

[2020-07-20 17:18] Tardo commented on #1643
I can't reproduce it on windows + chrome 83 + http://3430951-13-0-f43e73.runbot1-2.odoo-community.org/

[2020-07-20 17:19] #1469 closed, assigned to nobody

[2020-07-21 02:06] tutula1 commented on #1643
@Tardo
On Windows + chrome
![image](https://user-images.githubusercontent.com/12744580/88004525-61086e80-cb31-11ea-9129-50efd7433ba8.png)
On Macbook
![image](https://user-images.githubusercontent.com/12744580/88004557-74b3d500-cb31-11ea-9fd8-1be43d5f7b33.png)

[2020-07-21 02:10] tutula1 commented on #1643
My friend's Windows PC doesn't have this error

[2020-07-21 22:49] FedericoGregori opened #1646 "[13.0][web_pwa_oca] Manifest: Line: 1, column: 1, Syntax error."
![image](https://user-images.githubusercontent.com/22988134/88114721-e9ffc400-cb8a-11ea-8921-b8bec71a94e3.png)

Error when installing Odoo Pwa.
Using Nginx Ubuntu 18.04

![image](https://user-images.githubusercontent.com/22988134/88114858-32b77d00-cb8b-11ea-8ebf-19dc745dbfd6.png)

[2020-07-21 23:11] FedericoGregori commented on #1646
I found the "why".
The error appears when another database is created. With a single database, it's working ok.

[2020-07-22 09:23] lmignon commented on #1636
I never encountered this kind of issue but I never use a mobile to access to Odoo... The code is very simple and it's hard to imagine the origin of this issue....

[2020-07-25 01:51] jjscarafia commented on #1636
perhaps this can be linked to [this](https://github.com/OCA/web/pull/1531)?
I'm facing some issues with web_notify, specially on v13. I face exactly the same behavior explain here for v12 https://github.com/OCA/web/pull/1531 and also sometimes the connections get full and they are fixed by reloading all the tabs

[2020-07-27 08:21] yao-big commented on #957
Are there any good solutions?

[2020-07-28 01:31] yao-big commented on #957
@rousseldenis Have you solved the problem?

[2020-07-28 07:08] rousseldenis commented on #957
I think not but this is quite old.

[2020-07-28 07:27] yao-big commented on #957
@rousseldenis Have you solved the problem? I want you to help me

[2020-07-30 06:35] simahawk commented on #1636
@jjscarafia thanks for the heads up. @hoangtrann could you test the fix done on #1531 ?

[2020-07-31 06:41] hoangtrann commented on #1636
@simahawk I applied the patch from the PR above, but this does not solve the issue. The device still heat up really fast, and I also notice that this issue does lead to a resources exhaustion server side. It fills up the connection pull very fast, and the server can't start new thread to handle other requests
[code]

[code]

[2020-07-31 06:56] hoangtrann commented on #1636
This issue seems to happen on iOS but not on Android. I tested on Chrome, Firefox and Safari with the following result:

- Chrome, Firefox on iOS: the device heats up quickly, resource exhaustion happen on both client and server side.
- Chrome, Firefox on Android: work well with no issue of resource exhaustion.
- Safari, as this only run on iOS: the device heat up, but no resource exhaustion on se

[2020-08-03 08:09] rafamarpe opened #1651 "[12.0] Advanced filter viewed vertically"
When you open the option search more in a dropdown the advanced filter appears vertically.
If you uninstall the web_responsive module this does not happen.
![Captura de pantalla de 2020-08-03 10-04-31](https://user-images.githubusercontent.com/44195162/89160369-3a0a5d80-d571-11ea-8b45-19a846c4b8e5.png)

[2020-08-04 07:07] #1651 closed, assigned to Tardo

[2020-08-05 10:57] yankinmax opened #1655 "Chatter to the bottom of the screen (normal position in Preferences) doesn't work on Enterprise"
I installed web_responsive on Odoo 13 Enterprise and several features don't work as expected.

[2020-08-05 11:04] pedrobaeza commented on #1655
`web_responsive` is incompatible with `web_enterprise`.

Closing meanwhile you are not more specific.

[2020-08-05 11:04] #1655 closed, assigned to nobody

[2020-08-07 17:34] sevate opened #1656 "[13][web_responsive]Unable to display icon"
[Ubuntu 20.04] Custom module path is../odoo/custom_addons/..
[Issue] Unable to display icon.png image located in ../static/description/
[Question] Should custom module be located only inside ../odoo/Addons default module location for icons to display in web_responsive UI

image attached
![webresp](https://user-images.githubusercontent.com/16322142/89672123-d762ea00-d901-11ea-8287-1df8f47725c8.jpg)

[2020-08-07 17:35] pedrobaeza commented on #1656
The problem is not with web_responsive not addons path, but the way you have declared the icon in the menu entry.

Please check how is done in other addons.

[2020-08-07 17:35] #1656 closed, assigned to nobody

[2020-08-08 16:17] hoangtrann commented on #1636
After some further investigation, I think that the issue happened due too the crosstab feature, which store and compare channels using local storage, as already mention in the PR above. There might be some issues with local storage while setting and getting the channels, which lead to the recursive set-get channels on the client side. These issues only happened on iOS devices (iphone in this case)

[2020-08-10 07:01] hoangtrann commented on #1636
I submit [PR](https://github.com/odoo/odoo/pull/55654) to fix this issue, as the `StorageEvent` is fired in the same tab where we add channels to poll. This behavior happened in browser running on iOS mobile devices.

[2020-08-10 21:01] gpperez commented on #1388
web_tree_duplicate will be migrated?

[2020-08-12 17:21] pedrobaeza commented on #983
Closing as 10.0 is an outdated version.

[2020-08-12 17:21] #983 closed, assigned to nobody

[2020-08-12 19:32] robyf70 opened #1659 "[12.0][web_edit_user_filter] Uncaught TypeError: groupBy is undefined when editing the filter"
I'm getting the error below when re-editing a working filter. The filter is:

![Filter-GroupBy](https://user-images.githubusercontent.com/1663021/90059237-208cb280-dce3-11ea-958c-0fa3a3d538b2.png)

And the result js is the following:

[code]

[2020-08-14 10:51] AdBotha opened #1661 "[12.0][web_notify] bus_notification hit twice"
**Description**: When calling the method to notify any user. The bus_notification method is hit twice. This results in two notifications being displayed for the user. See below:
![notify_twice](https://user-images.githubusercontent.com/51331509/90242111-b2540700-de2c-11ea-95cf-6359e74b2309.png)

[2020-08-14 16:20] hoangtrann commented on #1661
Can you provide more details about the issue,  how you are using it and could you re-produce the issue on [runbot](http://3434983-12-0-bd3f72.runbot1-2.odoo-community.org/web/login?db=3434983-12-0-bd3f72-all&login=admin&redirect=/web?debug=1) ?

[2020-08-14 16:23] flotho opened #1662 "[12.0]web_edit_user_filter not compatible with time range selection in pivot view"
![image](https://user-images.githubusercontent.com/1043935/90270876-36bd7e80-de5b-11ea-8903-a6abeb6152df.png)

[2020-08-14 16:32] hoangtrann commented on #1644
there is a new widget in odoo 14 which provides similar feature as describe above [PR](https://github.com/odoo/odoo/pull/50789). But this widget will render the avatar on read-mode but not in the edit mode nor in m2o dropdown

[2020-08-17 05:23] sudhir-erpharbor commented on #1644
Thanks for the update. I was able to develop a module in v10 to v12 having this feature. The module will work with m2o field of any object having binary field with the name "image".

[2020-08-17 05:23] #1644 closed, assigned to nobody

[2020-08-17 09:53] AdBotha commented on #1661
Could not get it going on runbot, but got it going on local. Seems like it was another web_client inherit that cause the issue. No double push notification. Closing.

[2020-08-17 09:53] #1661 closed, assigned to nobody

[2020-08-19 06:44] tirix commented on #1048
web_access_rule_buttons #1663

[2020-08-20 04:12] richard-willdooit commented on #1388
@ivantodorovich @HYROPES @sotolucas @jjscarafia Has anyone done "web_search_with_and" - if not I will tackle it now.

[2020-08-20 10:48] githubodootest opened #1665 "[web_notify] fails the web module test at Odoo.sh"
Hello!

**Description:**
After adding the web_notify module in the Github repository, one of the "web" module tests at Odoo.sh starts failing.
Odoo version: 13
Revision: latest

**Error Details:**
Error level: ERROR
Error  type: server
Error message:
[code]

[2020-08-21 13:11] quentinDupont opened #1666 "[12.0][web_responsive] Gap in pos session name"
In Odoo v12.
Installing `point_of_sale` and `web_responsive`

Got this unsightly gap because of` overflow: hidden`; line 390 in `web_responsive.css`

![image](https://user-images.githubusercontent.com/9005817/90893991-358ed300-e3c0-11ea-9c8a-d685c0cba8e9.png)

Any idea to solve it easily ?
And to avoid doing something homemade like this

[code]

[2020-08-26 16:25] source-promo opened #1669 "[BUG] Filter partner added message last x days"
Hi,
I noticed that if I am trying to filter e.g. all partner where a message was added e.g. today its not working properly.
I have no idea what result it does return, but its defintely does not retun the expected records. If I am combining this filter with another AND filter condition I expect to either return less records or the same amount or records but I think its NOT possible having a filter

[2020-08-26 16:30] pedrobaeza commented on #1669
Which module in this repo? Which version?

[2020-08-26 16:54] source-promo commented on #1669
@pedrobaeza  Sorry! It is Advanced search v. 12.0.1.1.0

Also after some testing I believe this is a general bug with all search in one2many fields.
I have the same / similar issue using this module and searching for all contacts with an opportunity created e.g. within last 2 month.

[2020-08-26 23:33] pedrobaeza commented on #1669
The problem is not with the module, but with Odoo itself and its way of processing domains. Probably fixed in upper versions.

[2020-08-27 08:09] source-promo commented on #1669
@pedrobaeza can you please specifiy in more details what the issue exactly is?
So if its Odoo code I would like to understand in which scenario this is caused (when I can trust the search an when not).
Also is there any Odoo bug ticket open?

[2020-08-27 09:42] pedrobaeza commented on #1669
I didn't remember the details, but it seems it's such problem. My colleague @Tardo investigated about it, but he's on holidays.

[2020-08-27 11:21] MicheleZak commented on #836
https://github.com/OCA/web/pull/1671

[2020-09-02 12:12] Mist3 opened #1673 "web_ckeditor4 -- missing usage note. How to enable and configure to use this module in Odoo 10."
Hi,

The usage information section  at module page (https://apps.odoo.com/apps/modules/10.0/web_ckeditor4/ ) is for sure for people who like puzzles and sandboxes ;-).

Unfortunately I am not the case - can someone, please, provide me with step by step instruction how to install, enable and configure the web_ckeeditor4 for Odoo 10.0? I would like to replace summernote with this module.

[2020-09-02 16:04] ramonrxven opened #1674 "[web_widget_image_webcam]Uncaught ReferenceError: Webcam is not defined"
after install the plugins(web_widget_image_webcam-12.0.1.0.0) in my odoo 12 instalation, i'm try to enter in a product form or any other form with image widget then explode this message:
Error:
Uncaught ReferenceError: Webcam is not defined

http://localhost:8079/web/content/630-d0ebbd3/web.assets_backend.js:3343
Rastreo de error:
ReferenceError: Webcam is not defined
    at Class._render (http://

[2020-09-03 07:29] pedrobaeza commented on #1673
It's just install and enjoy that editor instead of the summernote one.

[2020-09-03 07:29] #1673 closed, assigned to nobody

[2020-09-07 05:51] source-promo commented on #1669
@Tardo can you help me with this issue?

[2020-09-07 11:31] Mist3 commented on #1673
In my case I had to edit view by adding widget="text_ckeditor4" (as wrote in ODOO 8 instruction). Even if you only need to install extension and use it, it should be clearly written in the documentation.

[2020-09-07 11:36] pedrobaeza commented on #1673
Uhm, that sounds weird, as it was enabled by default if I don't remember bad. @hbrunn

[2020-09-09 09:59] legalsylvain opened #1678 "[RFC] web_shortcut in recent Odoo version"
Hi all, I'm looking for the ``web_shortcut`` feature in Odoo V12. i didn't found any OCA modules to reach the goal.

Is this module obsolete ? the feature native ? Did I miss something ?
I know that with web_responsive, it is possible to search by menu item name, but it requires more "clicks" for the end user who should to tip the beginning of the menu name, then to select it.

Otherwise, I'll try

[2020-09-09 10:59] Tardo commented on #1626
@pedrobaeza I can't reproduce this issue (i don't have the software). So... maybe add this issue in the roadmap? And yes, appears to be a problem in how Safari handles the 'sticky' positions.

[2020-09-09 11:02] sergiocorato opened #1679 "Update of a record in a tree inside a form trigger reload of the form resetting current record position"
The page of stock moves inside the out is reset to first, instead of remaining where the user is workig, see:

![wh_out](https://user-images.githubusercontent.com/7657311/92590376-6619ac80-f29c-11ea-830c-de05d09535e6.gif)

Is there a way to remove this behavior? Probably it happens everywhere.

[2020-09-09 12:17] #1679 closed, assigned to nobody

[2020-09-09 12:17] sergiocorato commented on #1679
moved to https://github.com/OCA/OCB/issues/943

[2020-09-09 12:21] #1626 closed, assigned to nobody

[2020-09-09 12:21] pedrobaeza commented on #1626
Added to the roadmap

[2020-09-09 13:06] legalsylvain commented on #1679
moved to https://github.com/odoo/odoo/issues/57353 ;-)

[2020-09-09 13:10] sergiocorato commented on #1679
thanks! (yeah, I put it wrong to raise some attention ;D )

[2020-09-10 09:12] adamwojt opened #1680 "[13.0][web_widget_x2many_2d_matrix] field_label_x_axis & field_label_y_axis not used."
Came across this issue and I am not entirely sure if this is behaviour that was planned for label option.

### To replicate

1. Create matrix with `field_label_x_axis` or `field_label_y_axis`, pointing to Char field.
2. Fill computed or not computed Char field with desired label text.
3. Make sure it's present in tree, example:

**_XML_**

[code]

**_PYTHON_**
[code]

### Behaviour:

Label field i

[2020-09-15 11:12] kos94ok-3D commented on #1626
@Tardo  Is https://github.com/OCA/web/pull/1082 need yet?
this PR broke the sticky header on the IOS

[2020-09-15 16:41] source-promo commented on #1669
@pedrobaeza Do you know if @Tardo is still on holidays? It would be great to get this information.

[2020-09-15 16:47] pedrobaeza commented on #1669
No, he's not, but he's busy and this a best effort thing.

[2020-09-16 14:39] mva-odoo opened #1683 "[13.0][web_widget_x2many_2d_matrix] option show_row_totals seems doesn't work"
I try to do this
[code]
but this code always return true
[code]

[2020-09-29 11:40] dynapps commented on #1388
Working on web_widget_open_tab

[2020-09-29 11:41] rven commented on #1388
Working on web_widget_open_tab https://github.com/OCA/web/pull/1687

[2020-09-30 20:29] adamwojt commented on #1680
I did [fix](https://github.com/versada/web/commit/55dc19f3b5787c2504a1aeef03007dc384b9ca71) as part of feature for one of our customers. It works but given I am not JS expert - it might not be best fix.
https://github.com/versada/web/tree/13.0-fix-web_widget_x2many_2d_matrix-label-field

[2020-10-02 05:14] simahawk commented on #1680
@adamwojt tnx for reporting. Could you open a PR?

[2020-10-04 10:36] OCA-git-bot opened #1695 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] support_branding - By @KKamaa - #1976
- [ ] web_action_conditionable
- [ ] web_advanced_search
- [x] web_calendar_slot_duration - By @victoralmau - #2119
- [ ] web_company_color
- [x] web_decimal_numpad_dot - By @joao-p-marques - #1933
- [x] web_dialog_size - By @pierre-pizzetta - #1709
- [

[2020-10-12 04:53] hacaoideas commented on #1695
Hi team, I tried install this module on Odoo 14. It installed successfully. Yet, There is no icon image in the home page (the page users see right after they login or when they click the 9-square buttons at the top left corner).

Can you help pointing out where the issue can be? I can look into it.

[2020-10-12 05:55] digitalliuzg opened #1701 "Can`t preview * .pdf"
worker_loader.js:71 Refused to execute script from 'http://localhost:8269/web/static/lib/pdfjs/src/shared/util.js' because its MIME type ('text/plain') is not executable.
(anonymous) @ worker_loader.js:71
worker_loader.js:71 Uncaught DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'http://localhost:8269/web/static/lib/pdfjs/src/shared/util.js' failed to load.

[2020-10-12 07:36] legalsylvain commented on #1701
Hi. Could you be more precise ?
- version used, and ee / ce ?
- wich oca modules are you using ?
- step to reproduce on runbot instance ?
Thanks !

[2020-10-12 09:19] pedrobaeza commented on #1695
Which module? Some of them may require huge changes for making them work.

[2020-10-13 01:22] digitalliuzg commented on #1701
odoo 12,13  community and enterprises on odoo/odoo/addons/web on Google Chrome and FireFox
![image](https://user-images.githubusercontent.com/11321237/95804813-56c3ce00-0d36-11eb-821c-b44e3c1dfbd6.png)
![image](https://user-images.githubusercontent.com/11321237/95804904-9d192d00-0d36-11eb-9ad3-45b5ffb41a69.png)
![image](https://user-images.githubusercontent.com/11321237/95804983-d356ac80-0d36-11eb

[2020-10-13 08:01] pedrobaeza commented on #1701
Sorry, but the module you mention doesn't belong to this repository. In any case, it seems your deployment problem, as that is working properly, and you can try it on runbot for seeing it.

[2020-10-13 08:01] #1701 closed, assigned to nobody

[2020-10-15 09:09] chrizzTs commented on #1669
@Tardo can you help on this?

[2020-10-16 07:28] hoangtrann commented on #1636
Close since this isn't specifically related to this module

[2020-10-16 07:28] #1636 closed, assigned to nobody

[2020-10-17 11:26] pierre-pizzetta commented on #1695
Since you probably refer to web_responsive, I have a draft PR #1711 that fixes the broken dependencies and now the icons and search app menu are working again, just seen a small bug while using the chat on mobile (the box doesn't clear after sending a message, but behavior is similar in enterprise so looks like an odoo core issue). Please give the runbot a try and see if anything else breaks.

[2020-10-21 08:15] joao-p-marques commented on #1388
Hi. I am migrating web_disable_export_group (opening https://github.com/OCA/web/pull/1714 in favour of https://github.com/OCA/web/pull/1417)

[2020-10-22 10:14] pedrobaeza opened #1715 "[RFC] web_responsive: Visual differentiation on Send message/Log note"
We all have performed any time the mistake of sending a message vs logging a note. It's not critical in one way, but it can be in the other.

One of our customers proposes to make a visual differentiation (maybe through colors). I'm not convinced of the effectiveness of this solution as our minds tend to discriminate this with the time.

But what do you think?

[2020-10-23 05:06] dsolanki-initos commented on #1695
Hi all,
I will migrate the module web_hide_db_manager_link to v14.

[2020-10-23 06:46] j-zaballa commented on #1695
Hi @dsolanki-initos,

The addon is not needed since v11.0. You can just initialize Odoo with `--no-database-list` or set `list_db` to `False` on the configuration file.

Cheers.

[2020-10-23 07:04] dsolanki-initos commented on #1695
Hi @j-zaballa ,
Thank you for letting me know about this feature.

[2020-10-23 09:40] dsolanki-initos commented on #1695
Hi all,
I will migrate the module web_m2x_options to v14.

[2020-10-26 11:31] dharaaktiv commented on #1695
Hi all,Here is PR #1717 for the module web_m2x_options to v14.

[2020-10-26 11:41] dsolanki-initos commented on #1695
Hello All,
Here is the PR #1718 for the migrated module "web_m2x_options" to v14.

[2020-10-30 15:55] MohsenWaleed commented on #739
I will work on web_shortcut

[2020-11-02 13:12] Rad0van opened #1719 "[12.0][13.0] web_advanced_search fails in some cases setting Custom Filter"
If you try to set Custom Filter in Contact to Related Company, operator "is equal to" and do search for more, when you select one the dialog is closed without applying filter. Similar to #1604 but only happens on some fields. No error in JS console though.

[2020-11-04 07:36] CarlosRoca13 commented on #1388
web_export_view https://github.com/OCA/web/pull/1720

[2020-11-08 14:24] flotho commented on #1715
Hi @pedrobaeza , not critical actually but very usefull especially when you need to inform your colleagues

[2020-11-09 17:26] sbejaoui commented on #1695
web_search_with_and #1729

[2020-11-13 10:54] Saran440 commented on #1695
web_widget_x2many_2d_matrix #1731
web_widget_x2many_2d_matrix_example https://github.com/OCA/web/pull/1730

[2020-11-17 05:48] cubells opened #1734 "[12.0] web_translate_dialog: are html fields suported?"
README information says html fields are supported but I've got this when I try to translate an html field:

![web_translate_dialog](https://user-images.githubusercontent.com/4386443/99351465-ec57fd80-28a0-11eb-89c6-2b2a3cb53f01.png)

[2020-11-18 00:44] SalouaSahnoun opened #1736 "[13.0]: [web_responsive] : Not responsive"
- I can't select an activity in mobile mode
- I can't add product on sale order line
(see screenshots attached)
![activity](https://user-images.githubusercontent.com/49914567/99467868-92f2db80-293f-11eb-9c14-7d7ea25eab81.PNG)
![product](https://user-images.githubusercontent.com/49914567/99467877-99815300-293f-11eb-9393-996fbaac88e8.PNG)

[2020-11-18 07:55] pedrobaeza commented on #1736
I don't have any problem doing the same things. Have you tried on runbot clicking on the "Try me on runbot" button in the README?

[2020-11-18 10:16] SalouaSahnoun commented on #1736
yes it works on runbot but not on my odoo server ! should i update something or install any packages?

[2020-11-18 10:18] pedrobaeza commented on #1736
Then I'm afraid you have something incorrect in your end: outdated code, third-party addons that breaks this module or bad deployment, but nothing to do with the module itself, so closing.

[2020-11-18 10:18] #1736 closed, assigned to nobody

[2020-11-18 14:31] MohsenWaleed opened #1737 "[13.0] web_responsive : Shift + Alt + I import shortcut is not working in Google Chrome."
Shift + Alt + I import shortcut is not working in Google Chrome.

[2020-11-18 14:33] pedrobaeza commented on #1737
Well, in that case, the only solution is to customize such shortcut on Chrome, as Chrome is very greedy with shortcuts and don't allow a web page to use them.

[2020-11-19 07:30] jarvil1 opened #1740 "[web_responsive] doesn't support pull to refresh on Android"
Hello,

Firefox nightly and Chrome for Android have "pull webpage to refresh it" -feature but this doesn't work with Odoo

[2020-11-19 07:55] pedrobaeza commented on #1740
Is that something that `web_responsive` should take care of or Odoo itself? Can you put more information about what is that?

[2020-11-20 06:11] jarvil1 commented on #1740
Hello,

I'm not sure where this belongs. Pull to refresh means that when you pull with your finger from the top of the page  downwards the page refreshes as if you had pressed "refresh page" -button, you should try it by installing chrome on android.

[2020-11-20 08:07] pedrobaeza commented on #1740
OK, thanks for the extra info. It can fit on web_responsive indeed.

[2020-11-23 12:36] codingforfun opened #1742 "Why restrict width of images?"
module: web_tree_image_tooltip
version: 12.0

**Steps to reproduce**
- Just use the module in tree view

**Current behavior**
There is CSS code to restrict the width of the image column to 30px.
[code]
 This overrides explicit image size settings made in the view. E.g. `<field name="image" widget="image" height="96" />`

**Expected behavior**
Only add the tooltip and don’t modify anything else in

[2020-11-23 12:40] legalsylvain commented on #1742
CC : original authors :
@nikul-serpentcs, @DonatasV

[2020-11-23 16:27] DonatasV commented on #1742
I only did one PR for this module and it's nothing to do with this `.o_image_cell .o_field_image img { width:30px; }` so I can't say why this code restrict the width of the image column.
https://github.com/OCA/web/pull/1421 - my PR limited image size, because sometimes image can be bigger than the screen

[2020-11-24 03:55] nikul-serpentcs commented on #1742
@codingforfun @legalsylvain @DonatasV
Here We added width in version11, Because the tree view looks very ugly, [Please check ](https://github.com/OCA/web/pull/1006#issuecomment-409183102) here I already commented.

And You can check here how it works https://github.com/OCA/web/pull/1006#issuecomment-422697434.

CC @JayVora-SerpentCS

[2020-11-24 09:23] codingforfun commented on #1742
@nikul-serpentcs

Yes, but this is a matter of how the tree view is defined.
This should be taken care of in the tree view definition itself.
For this you have `width` and `height` attributes available in the tree view definition.
E.g.: `<field name="image" widget="image" height="32" width="32" />`

I wouldn’t expect a module that advertises to add a tool tip to implicitly alter the appearance of

[2020-12-01 08:17] manengel commented on #1695
Hello everyone,
I will work on the migration of web_drop_target to v14.

[2020-12-02 04:35] dsolanki-initos commented on #1695
Hello All,
I'll migrate the modul web_access_rule_buttons to v14.
Here is the PR #1752

[2020-12-08 16:18] ivanopersico commented on #1695
Hi, have you any news about the web_m2x_options migration to v14?
Have a nice work

[2020-12-09 04:23] dsolanki-initos commented on #1695
Yes here is the PR #1718

[2020-12-14 20:11] Tardo commented on #1669
@chrizzTs can you reproduce it on runbot?

[2020-12-16 13:17] AN4553R opened #1764 "web_advanced_search upgrde"
There's no `web_advanced_search` module for odoo 14 yet, is there a plan when will it be available? or that when I try to upgrade it myself from odoo 13 I get the error `parent._trigger_up` not defined

[2020-12-16 15:51] pedrobaeza commented on #1764
Not yet, follow the existing migration issue for news about it.

[2020-12-16 15:51] #1764 closed, assigned to nobody

[2020-12-20 15:11] AN4553R opened #1765 "web_advanced_search trigger"
I'm trying to upgrade web_advanced_search to odoo 14

I've extended DropdownMenuItem and used listener that  opens new `DomainSelectorDialog`

When I click `Add filter `, I get an error message saying `parent._trigger_up is not a function`

![image](https://user-images.githubusercontent.com/25043234/102716656-ee6d0c00-42e5-11eb-9d59-8c414bb2613e.png)

[code]

Any hint?

[2020-12-29 17:33] nguyenductamlhp commented on #1048
Anyone migrates `web_widget_text_markdown`? Or it is removed out of this repository?

[2021-01-04 10:25] rconjour commented on #1695
Hi all,
I will migrate the module `web_copy_confirm` ( https://github.com/OCA/web/tree/8.0/web_copy_confirm ) PR: https://github.com/OCA/web/pull/1791

[2021-01-05 12:55] koenloodts commented on #1695
Hi all,
I created a PR for migration of module web_ir_actions_act_multi
[#1755](https://github.com/OCA/web/pull/1755)

[2021-01-05 12:58] koenloodts commented on #1695
Hi all,
I created a PR for migration of module web_ir_actions_act_window_message
[#1757](https://github.com/OCA/web/pull/1757)

[2021-01-05 13:01] koenloodts commented on #1695
Hi all,
I will migrate module web_decimal_numpad_dot to v14.

[2021-01-05 13:43] koenloodts commented on #1695
PR: [#1773](https://github.com/OCA/web/pull/1773)

[2021-01-05 17:22] koenloodts commented on #1695
Can module web_search_with_and be added to the list of modules to migrate?

[2021-01-05 17:40] ivanopersico commented on #1695
Can module web_m2x_options be added to the list of modules?
Thanks

Ivano Persico - Inviato da iPhone

[2021-01-05 18:04] koenloodts commented on #1695
PR: #1774(closed)

[2021-01-12 23:36] hparfr commented on #1695
web_domain_field #1778

[2021-01-13 15:38] Kev-Roche commented on #1695
Hi everyone,
I created PR for :
- web_tree_many2one_clickable #1780
- web_listview_range_select #1779 (not on the list)

[2021-01-20 15:46] MosabAwadexp commented on #882
kind of the same problem here, any help??

[2021-01-21 13:05] hitrosol opened #1783 "[13.0] Can't see all submenu for long submenu in web responsive"
I would like to report that  condition after I installed the web_responsive and try to see the sub menu of the wms: Inventory --> Configuration --> Shopfloor --> Shopfloor mobile app.

The submenus can't be displayed even hidden because it's too long.
![image](https://user-images.githubusercontent.com/5949936/105354848-bc700200-5c23-11eb-89cd-cdc75155c9cc.png)

[2021-01-21 15:55] Tardo commented on #1783
Thanks for report.

[2021-01-21 15:57] pedrobaeza commented on #1783
See #1785 for the fix. @Tardo don't forget to "link" the PR.

[2021-01-21 19:10] ozono commented on #1695
web_company_color #1786

[2021-01-22 11:36] #1783 closed, assigned to Tardo

[2021-01-23 13:30] eLBati opened #1789 "web_pwa_oca not installable on chrome if SVG pwa_icon is set"
Steps:

 - Install web_pwa_oca
 - Set an SVG file in `pwa_icon` in `res.config.settings`

Google Chrome reports

![image](https://user-images.githubusercontent.com/1033131/105579495-64521080-5d87-11eb-9f66-6cc1eb8ef99b.png)

and the "add to home screen" banner does not appear.

By the way, about icons, `apple-touch-icon` should be configurable too.

[2021-01-23 13:38] pedrobaeza commented on #1789
That's very weird, as I'm using SVG icons for this without problem. Maybe the SVG itself is not reporting a default size in its content?

[2021-01-25 17:26] eLBati commented on #1789
Actually I don't know how to check this.
What requirements should the SVG follow to be correcly used in `web_pwa_oca`?

[2021-01-25 17:32] pedrobaeza commented on #1789
I generate/save them with Inkscape and have no problem.

[2021-01-27 04:53] dsolanki-initos commented on #1695
I'll Work on the migration of web_drop_target to v14.

[2021-01-28 07:38] dsolanki-initos commented on #1695
Here is the PR for the migrated module "web_drop_target" #1794

[2021-01-29 15:28] sergioeix opened #1796 "[13.0] Community Ubuntu 18.04 done field out of view on all picking form"
When you open a picking/delivery/return ... done qty is out of view until you enter on edit mode:
![image](https://user-images.githubusercontent.com/62206774/106292954-bd211d80-624d-11eb-87b9-732092f17cc8.png)
Expeted result view all the sheet:
![image](https://user-images.githubusercontent.com/62206774/106293154-f78aba80-624d-11eb-96fd-aeb8310363f1.png)

I know its not a great issue but is very a

[2021-02-02 05:32] quzhaojing commented on #957
https://github.com/OCA/web/pull/1738#issuecomment-771371950

i have the same problem on odoo14

[2021-02-04 06:40] 3deo-chris opened #1806 "bokeh working example?"
The documentation for the bokeh module for me is so vague I have no idea how to use it. Can someone post a fully working example (without ... in it) that shows it pulling some data from an Odoo model and fields?

[2021-02-04 07:19] JordiBForgeFlow commented on #1806
Here: https://github.com/OCA/ddmrp/tree/13.0/ddmrp

[2021-02-04 11:27] StephaneMangin commented on #1388
web_send_message_popup https://github.com/OCA/web/pull/1808

[2021-02-05 10:35] manuelcalerosolis opened #1813 "[13.0] web_pivot_computed_measure error"
Testing this module, I get the following error.

![Peek 05-02-2021 11-31](https://user-images.githubusercontent.com/3088246/107023086-7039cb80-67a6-11eb-8bea-ee024066c135.gif)

[2021-02-05 10:49] pedrobaeza commented on #1813
Operation not valid for that measures, as it contains False values.

[2021-02-05 10:49] pedrobaeza commented on #1813
It's a question of data integrity. That shouldn't happen on a regular DB, and if so, you have to fix it.

[2021-02-05 10:49] pedrobaeza commented on #1813
Closing as no directly related to the module.

[2021-02-05 10:49] #1813 closed, assigned to nobody

[2021-02-05 12:38] fshah-initos commented on #1388
Hello,

I've migrated the module web_translate_dialog to v13. Here is the PR https://github.com/OCA/web/pull/1801.

[2021-02-05 15:37] baguenth commented on #1388
Migrated web_ir_actions_close_wizard_refresh_view https://github.com/OCA/web/pull/1814

[2021-02-06 11:44] paidykumar-dreambits commented on #1695
web_ir_actions_act_view_reload #1816

[2021-02-07 09:44] phuctranfxvn commented on #1695
`web_tree_dynamic_colored_field` migrated in https://github.com/OCA/web/pull/1817

[2021-02-11 20:37] SplashS commented on #1695
`web_responsive` migrated in #1819

[2021-02-11 23:18] #1796 closed, assigned to nobody

[2021-02-11 23:26] TheDailySpank opened #1820 "web_widget_model_viewer not on migration to v13 list"
Just wondering why it's not on the migration list to v13.

I've reviewed the 12 to 13 migration notes and simply don't know enough JS to update the module myself.

It works as expected on the back end, but once it's installed, it causes JS errors on the front end. I can give more details if necessary.

I wouldn't mind paying someone to make it work.

[2021-02-12 12:53] ievgensyn opened #1821 "default_group_by: 'UNASSIGNED'"
Hello,

**Module name: project_timeline, web_timeline/**

I would like to ask you about settings for this view on web.

There is a section, placed on the left side of view, that refers to 'UNASSIGNED'. all what I did -- just installed the App Project timeline. Created a project and a task in it.
I can not find a solution to remove this field from view. Would you like to help me with this problem?

[2021-02-12 21:28] #1820 closed, assigned to nobody

[2021-02-12 21:29] TheDailySpank commented on #1820
Closing as this is not the appropriate place for this request. Reaching out to original devs.

[2021-02-15 12:19] oscars8a commented on #1517
Hi everyone,

Which one is the state of this problem, with advanced search filter, for Odoo 13.0 and 12.0?
I have this problem in a Odoo 12.0 version.

I have rebuilt the runbot 1551 and I could prove that the problem persists.
I put a git that show the problem in the runbot 1551, and this is the link http://3465288-1551-0732a9.runbot2-3.odoo-community.org/

Thanks a lot.

![Peek 2021-02-15 13-10]

[2021-02-15 12:30] pedrobaeza commented on #1517
The problem is not on the module, but on Odoo, and it won't be fixed as stated in odoo/odoo#47950, so closing.

[2021-02-15 12:30] #1517 closed, assigned to Tardo

[2021-02-16 03:19] dzungtran89 commented on #1695
- web_notify: migrated in https://github.com/OCA/web/pull/1824

[2021-02-16 09:23] SkiBY commented on #1388
Hi Folks!
I've made 12->13 port of boolean button.
Can someone look through #1822  ?
Or @pedrobaeza can mark it with tags at least

[2021-02-17 22:04] flotho opened #1826 "[12.0]PWA : 404 on service-worker.js"
Hi,

I have some strange logs when pwa module is available **but not installed** :
[code]
Is it normal, it looks like it could cause some disconnection in the client side.

Thanks for your advice

[2021-02-17 23:47] legalsylvain commented on #1826
Looks weird. Did you tried to reproduce on runbot, uninstalling web_pwa module ?

[2021-02-19 14:24] max3903 commented on #1695
`web_advanced_search_wildcard` from 12.0

[2021-02-23 09:07] SplashS opened #1830 "Keyboard accessibility problems in web_responsive"
Migrating `web_responsive` from 13 to 14 I faced some problems in keyboard accessibility.
Due to this is not migration issue I collected all my finds here.

1. Alt + Shift + A for Apps Menu doesn't work on Chrome. This is because `KeyboardNavigationMixin` does "nothing" on Chrome and lets browser process shortcuts by itself. Chrome doesn't support all acesskeys. My investigations show that combina

[2021-02-23 09:21] pedrobaeza commented on #1830
For the last question, a big NO for me. It's a pain to have Alt+number that I use for switching between tabs in Firefox to get overwritten by Odoo an avoiding me to perform it. Each time a open a runbot is like a kick in...

[2021-02-23 14:36] alexis-via commented on #1446
I confirm this bug on v10.0. Colors is always blue, whetever the colors attribute.

[2021-02-23 18:18] alexis-via commented on #1446
I understand the bug now: it doesn't work on M2O fields. In web_timeline.js, in the _each loop, the IF on this line of code https://github.com/OCA/web/blob/10.0/web_timeline/static/src/js/web_timeline.js#L248 will not match for M2O field ; for a M2O field, evt[color.field] will be an array [ID, display_name]. If you change evt[color.field] to evt[color.field][0], it will work.

[2021-02-23 18:30] alexis-via commented on #1446
A temporary workaround if you want to set a color on a M2O field: define a new field fields.Integer(related='m2o_field.id', readonly=True) and use the new integer field in the timeline view for the colors attribute.

[2021-02-24 07:56] SplashS commented on #1830
I made some realistic accesskeys transformation.
It can be implemented.
I don't know how to deal with App Menu except to leave H accesskey for it.
I can add both shortcuts A and H but it strange behavior and can affect translation strings.
All other looks good for me:
To `Alt + Shift + 'E'` from `Alt + 'A'` // Odoo Edit (I think A was used cause `Alt + E` doesn't work on Chrome)
To `Alt + Shift +

[2021-02-24 08:19] SplashS commented on #1830
I've looked other issues and found some connections.
1. When #1435 be implemented `Alt + Shift + H`  (Home) will be more consistent for Apps Menu :)
2. `Alt + Shift + I` was already reported in #1737. It affects 13.0 and earlier.
In 14.0 there is no Import accesskey.

[2021-02-26 16:25] robinhli opened #1833 "installed module web_pwa_oca did not see any new menu on install pwa"
I have odoo 13 run on my laptop, it can be accessed by my mobile at same wifi range.
I have setup the system parameters as described in readme.
I installed the module web_pwa_oca, but did not see any menu, and don't know how to install.

[2021-02-26 19:07] pedrobaeza commented on #1833
https://support.google.com/chrome/answer/9658361?co=GENIE.Platform%3DDesktop&hl=en

[2021-02-26 19:07] #1833 closed, assigned to nobody

[2021-03-01 22:15] celm1990 commented on #1388
Hi guys, anybody working on migrate `web_widget_json_graph`????

[2021-03-03 15:37] ddufresne opened #1834 "Javascript libraries nested in Odoo source code"
Hello, I have read the following discussion about managing external javascript libraries in OCA modules:
https://github.com/OCA/web/issues/842

The diverse opinions are interesting and illustrate well the problem we are facing with Odoo.

Odoo keeps outdated versions of multiple javascript libraries. Some very important libraries are outdated by more than 6 years.
https://github.com/odoo/odoo/tree

[2021-03-04 11:29] Daniel-CA opened #1835 "[12.0] web_company_color doesn't show correct company color using diferent users in same computer"
Prerequisites:

    Have more than one company, with navigation colors set for each company.
    Use diferent browser or Private/Incongito mode with diferent users in a diferent company

Reproducing steps:

    Login into any company with A user in company A
    Go to other browser or private/incognito mode and login with user B in company B

It always shows the color of the first login company, s

[2021-03-04 18:39] mileo opened #1837 "[BUG] 12.0 - web_responsive - Odoo Enterprise - Tree check box"
Hi,

I think that the last feature of web_responsive:

![image](https://user-images.githubusercontent.com/1975978/110012800-ac0d7580-7cff-11eb-812c-9d512edf8081.png)

Is not compatible with Odoo Enterprise:

![image](https://user-images.githubusercontent.com/1975978/110012861-c0ea0900-7cff-11eb-9950-1659bf922d1b.png)

[2021-03-04 18:56] pedrobaeza commented on #1837
`web_responsive` is per se incompatible with `web_enterprise`, so you mustn't install both together.

[2021-03-04 18:56] #1837 closed, assigned to nobody

[2021-03-04 19:36] legalsylvain commented on #1837
So, it is possible to add an exclude key in the manifest, don't you think ?

[2021-03-04 19:38] pedrobaeza commented on #1837
Well, it was not excluded because there was some voices saying that they want both together anyway (or due to a weird dependency chain), but as said, we can't and should provide such compatibility. Anyway, if you are able to compatibilize both, a PR is welcome.

[2021-03-06 16:03] sgheller opened #1843 "[13.0] web_decimal_numpad_dot: tax-group-custom-field widget compatibility"
**Current behavior**

Numpad dot entered in this fields is not converted to decimal separator comma.

![image](https://user-images.githubusercontent.com/50003794/110212776-dd12b500-7e7b-11eb-8f99-7b243ec68c7a.png)

[2021-03-07 15:18] pedrobaeza commented on #1834
Bundling a library in Odoo doesn't mean the vulnerability can be used, as you should know the use of such library inside Odoo. Simply having an outdated library version and checking the list of "updates" is not enough. Anyway, if you find a real security exploit, you should notify to Odoo in security at odoo dot com.

[2021-03-08 13:01] ddufresne commented on #1834
@pedrobaeza thanks for your input.

For me, these possible vulnerabilities are similar to a live virtual machine with missing updates.

Also, there is a question of compliance of the system for insurances.
I am not an expert on insurances, but it is important for our client to comply with audit reports and patch the system in order
to insure his company.

[2021-03-11 13:40] jjscarafia commented on #1843
:+1: we face same issue

[2021-03-15 13:48] pgy866 opened #1852 "web_responsive ODOO 14"
web_responsive
https://apps.odoo.com/apps/modules/14.0/sublime_web_responsive/
  You can download it here. Why doesn't GITHUB have the source code?
Haven't transplanted yet? thank you very much

[2021-03-15 13:50] pedrobaeza commented on #1852
That one has nothing to do with OCA. Check on pull requests about them one here.

[2021-03-15 13:50] #1852 closed, assigned to nobody

[2021-03-15 14:05] pgy866 commented on #1852
@pedrobaeza
Thank you；
seeing it write the project homepage as https://github.com/OCA/web,
I misunderstood

[2021-03-17 11:53] SimoRubi commented on #1695
[web_widget_many2many_tags_multi_selection](https://github.com/OCA/web/tree/b812f4c32376cd466462ff0ecfffe2a3dcda87cd/web_widget_many2many_tags_multi_selection) is native in v14 so no need for a migration here.
It's not in the list but I was trying to migrate it from v12 when I found out

[2021-03-18 14:19] SimoRubi commented on #1695
web_sheet_full_width https://github.com/OCA/web/pull/1859

[2021-03-19 11:10] olaf-wagner commented on #1261
I have this issue, too.

[2021-03-21 11:38] robinhli opened #1870 "web_responsive 14.0 issue on safari"
odoo 14.0, web_responsive 14.0 installed.
browse on android chrome, no issue
browse on apple safari, can't display. pic as follows:

Error:

Traceback:
Error: The string did not match the expected pattern.

![image](https://user-images.githubusercontent.com/34515177/111903365-ece5e800-8a7c-11eb-8c05-6f786f4aa654.png)

[2021-03-22 07:39] andreampiovesana opened #1871 "[12.0][web_notify] duplicate key value violates unique constraint "bus_presence_bus_user_presence_unique""
Using workers many error on postgres database,
disinstalling the module no more errors.
Login with any user the system logs many db error, also restarting odoo server and posgres server (ubuntu 18.04 + postgres 10)

[2021-03-22 14:13] llabusch93 opened #1872 "[12.0] web_pwa_oca - Won't be installable soon"
Hey guys,
chrome says in the logs that the pwa module will loose it's purpose soon:
Site cannot be installed: Page does not work offline. Starting in Chrome 93, the installability criteria is changing, and this site will not be installable. See https://goo.gle/improved-pwa-offline-detection for more information.
So I guess this module will not be doing anything useful after Chrome passes V93? Or i

[2021-03-22 15:08] pedrobaeza commented on #1872
There's still enough time until Chrome 93, but some kind of hack will be needed indeed.

[2021-03-24 03:39] robinhli opened #1876 "[13.0][web_responsive] pivot table col did not show up"
if the col is defined, PC can show no problem, but mobile browser can't show the default col.
you can click the "+" to add col, it's no problem. But it didn't show the default col group even it is defined.

[2021-03-24 04:15] robinhli opened #1877 "web_pivot_computed_measure how to define at xml?"
is it possible to define at xml file so the page show at the first? no need to define at web page.